Repository univention/univention-corporate-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: prepare ucslint, doc-pipeline, deb-pipeline

prepare ucslint:
  stage: prepare
  interruptible: false
  variables:
    KANIKO_BUILD_CONTEXT: packaging/ucslint
    KANIKO_ARGS: --build-arg ucs=$ucs --cache=true

doc-pipeline:
  stage: build
  needs:
  - job: generate-config
  trigger:
    include:
    - artifact: generated-config-doc.yml
      job: generate-config
    strategy: depend
    forward:
      pipeline_variables: true

deb-pipeline:
  stage: build
  needs:
  - job: generate-config
  - job: prepare aptly
  - job: prepare ucslint
    optional: true
  trigger:
    include:
    - artifact: generated-config-deb.yml
      job: generate-config
    strategy: depend
    forward:
      pipeline_variables: true

Bug #54780: reindent
  services/univention-ad-connector/modules/univention/connector/ad/mapping.py
Due: deb-pipeline

Bug #54780: get mapping with respect to configbasename
  doc/errata/staging/univention-ad-connector.yaml
  services/univention-ad-connector/debian/changelog
  services/univention-ad-connector/modules/univention/connector/ad/__init__.py
  services/univention-ad-connector/modules/univention/connector/ad/mapping.py
  services/univention-ad-connector/scripts/prepare-new-instance
Due: deb-pipeline

Bug #55077: fixed the error when renaming a share
  services/univention-samba/samba-shares.py
Due: deb-pipeline

Revert "Bug #55077: fixed the error when renaming a share"
  services/univention-samba/samba-shares.py
Due: deb-pipeline

Bug #54860: UCS 5.0-1 is out-of-maintenance
  doc/errata/staging/0security-template.yaml
Due: none

YAML Bug #54780
  doc/errata/staging/univention-ad-connector.yaml
Due: none

Bug #33224: Use for-loop to check for usable credential to reduce code duplication.
  management/univention-directory-manager-modules/modules/univention/admincli/admin.py
Due: deb-pipeline

Bug #33224: Use modern any() and tuple() containment test instead of multiple equal comparisons.
  management/univention-directory-manager-modules/modules/univention/admincli/admin.py
Due: deb-pipeline

Bug #33224: fix debug message
  management/univention-directory-manager-modules/univention-cli-server
Due: deb-pipeline

Bug #33224: refactor flags
  management/univention-directory-manager-modules/modules/univention/admincli/admin.py
Due: deb-pipeline

Bug #33224: use correct os.WNOHANG
  management/univention-directory-manager-modules/univention-cli-client
Due: deb-pipeline

Bug #33224: use True/False instead of 1/0.
  management/univention-directory-manager-modules/modules/univention/admincli/admin.py
Due: deb-pipeline

Bug #33224: stream output of UDM CLI
  management/univention-directory-manager-modules/debian/changelog
  management/univention-directory-manager-modules/modules/univention/admincli/admin.py
  management/univention-directory-manager-modules/univention-cli-server
Due: deb-pipeline

Bug #33224: Extract common implementation to get policy into separate function.
  management/univention-directory-manager-modules/modules/univention/admincli/admin.py
Due: deb-pipeline

Bug #4498: write error messages of UDM CLI to stderr
  management/univention-directory-manager-modules/debian/changelog
  management/univention-directory-manager-modules/univention-cli-server
Due: deb-pipeline

Bug #33224: pass stdout and stderr of CLI client to CLI server
  management/univention-directory-manager-modules/univention-cli-client
  management/univention-directory-manager-modules/univention-cli-server
Due: deb-pipeline

Bug #4498: write error messages of UDM REST API CLI to stderr
  doc/errata/staging/univention-directory-manager-rest.yaml
  management/univention-directory-manager-rest/debian/changelog
  management/univention-directory-manager-rest/src/univention/admin/rest/client/__main__.py
Due: deb-pipeline

Bug #54967: migrate to pytest
  test/ucs-test/tests/11_join/10join_preexisting_acc_with_multiple_macs.py
Due: deb-pipeline

YAML Bug #33224, Bug #4498
  doc/errata/staging/univention-directory-manager-modules.yaml
Due: none

Revert "Bug #54967: fix univention-server-join with multiple MAC addresses"
  management/univention-join/univention-server-join
Due: deb-pipeline

Bug #54967: filter out UDM warnings in univention-server-join
  management/univention-join/debian/changelog
  management/univention-join/univention-server-join
Due: deb-pipeline

Bug #54981: KeyError: 'objectType' when opening users/user module with OX connector app installed
  doc/errata/staging/univention-management-console-module-udm.yaml
  management/univention-management-console-module-udm/debian/changelog
  management/univention-management-console-module-udm/umc/python/udm/udm_ldap.py
Due: deb-pipeline

Bug #54981: yaml
  doc/errata/staging/univention-management-console-module-udm.yaml
Due: none

Bug #55087: Advisory to block release
  doc/errata/staging/univention-ad-connector.yaml
Due: none

Bug #54497: resolving of nested groups in /var/cache/univention-portal/groups.json
  base/univention-group-membership-cache/debian/changelog
  base/univention-group-membership-cache/debian/control
  base/univention-group-membership-cache/src/univention/ldap_cache/frontend.py
  doc/errata/staging/univention-group-membership-cache.yaml
  doc/errata/staging/univention-portal.yaml
  management/univention-portal/debian/changelog
  management/univention-portal/debian/control
  management/univention-portal/python/univention/portal/extensions/reloader.py
Due: deb-pipeline

Bug #54497: Advisory update
  doc/errata/staging/univention-group-membership-cache.yaml
  doc/errata/staging/univention-portal.yaml
Due: none

Bug #55077: fixed pickle handling in the listener when renaming a share in univention-samba
  doc/errata/staging/univention-samba.yaml
  services/univention-samba/debian/changelog
  services/univention-samba/samba-shares.py
Due: deb-pipeline

Bug #55077: fixed pickle handling in the listener when renaming a share in univention-samba4
  doc/errata/staging/univention-samba4.yaml
  services/univention-samba4/debian/changelog
  services/univention-samba4/samba-shares.py
Due: deb-pipeline

Bug #55077: yaml
  doc/errata/staging/univention-samba4.yaml
Due: none

Bug #55077: yaml
  doc/errata/staging/univention-samba.yaml
Due: none

Bug #55093: postgresql-11 11.17-0+deb10u1
  doc/errata/staging/postgresql-11.yaml
Due: none

Bug #55094: libtirpc 1.1.4-0.4+deb10u1
  doc/errata/staging/libtirpc.yaml
Due: none

Bug #55095: gnutls28 3.6.7-4+deb10u9
  doc/errata/staging/gnutls28.yaml
Due: none

Bug #53513: Test OpenAPI schema for complex syntax
  test/ucs-test/debian/changelog
  test/ucs-test/tests/73_udm-rest/03_complex_syntax_type.py
Due: deb-pipeline

Bug #53513: fix types definition for complex syntaxes without subsyntax_key_value
  doc/errata/staging/univention-directory-manager-modules.yaml
  management/univention-directory-manager-modules/debian/changelog
  management/univention-directory-manager-modules/modules/univention/admin/syntax.py
  management/univention-directory-manager-modules/modules/univention/admin/types.py
Due: deb-pipeline

Bug #55059: Replace example for Docker image
  doc/app-center/get_started.rst
Due: doc-pipeline

Bug #55097: Remove tox.ini because it differs from ucslint
  test/ucs-test/tox.ini
Due: deb-pipeline

Bug #53513: Fix pep8 E123
  test/ucs-test/tests/73_udm-rest/03_complex_syntax_type.py
Due: deb-pipeline

Path conditions:
  prepare ucslint: any of: packaging/ucslint/**/*
  doc-pipeline: any of: doc/[^e]*/**/*, doc/e[^r]*/**/*, doc/er[^r]*/**/*, doc/err[^a]*/**/*, doc/erra[^t]*/**/*, doc/errat[^a]*/**/*, doc/errata?*/**/*
  deb-pipeline: any of: [^dt]*/*/**/*, d[^o]*/*/**/*, do[^c]*/*/**/*, doc?*/*/**/*, t[^e]*/*/**/*, te[^s]*/*/**/*, tes[^t]*/*/**/*, test?*/*/**/*, test/generate-appliance/**/*, test/ucs-test/**/*, test/ucs-test-tools/**/*, test/univention-demo-configuration/**/*
