Repository univention/univention-corporate-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build ucslint, doc-pipeline, deb-pipeline, errata validation

Path conditions:
  build ucslint: any of: packaging/ucslint/**/*
  doc-pipeline: any of: doc/[^e]*/**/*, doc/e[^r]*/**/*, doc/er[^r]*/**/*, doc/err[^a]*/**/*, doc/erra[^t]*/**/*, doc/errat[^a]*/**/*, doc/errata?*/**/*
  deb-pipeline: any of: [^dt.]*/*/**/*, d[^o]*/*/**/*, do[^c]*/*/**/*, doc?*/*/**/*, t[^e]*/*/**/*, te[^s]*/*/**/*, tes[^t]*/*/**/*, test?*/*/**/*, test/generate-appliance/**/*, test/ucs-test/**/*, test/ucs-test-tools/**/*, test/univention-demo-configuration/**/*
  errata validation: any of: doc/errata/staging/*.yaml

docs(ucs-operations): add section on UCS secure boot
  doc/ucs-operation/changelog.rst
  doc/ucs-operation/deployment/install.rst
Due: doc-pipeline

docs(ucs-operation): update translation
  doc/ucs-operation/locales/de/LC_MESSAGES/changelog.po
  doc/ucs-operation/locales/de/LC_MESSAGES/deployment.po
Due: doc-pipeline

chore(kernel): import linux-4.19 for UCS 4.4-9
  doc/errata/staging/univention-kernel-image.yaml
  kernel/univention-kernel-image/debian/changelog
  kernel/univention-kernel-image/debian/control
  kernel/univention-kernel-image/debian/rules
Due: deb-pipeline, errata validation

fix(univention-dojo): broken "Select All" checkbox in UMC
  management/univention-dojo/Makefile
  management/univention-dojo/fix_dgrid_List_byId.patch
Due: deb-pipeline

chore(univention-web): advisory and changelog
  doc/errata/staging/univention-web.yaml
  management/univention-web/debian/changelog
Due: deb-pipeline, errata validation

chore(univention-dojo): advisory and changelog
  doc/errata/staging/univention-dojo.yaml
  management/univention-dojo/debian/changelog
Due: deb-pipeline, errata validation

Proposal to remove M2Crypto Newer versions no longer provides an x509 module with the functionality we need. (M2Crypto generation of SWIG files was removed)
  base/univention-errata-level/maintained-packages.txt
  base/univention-ssl/debian/control
  base/univention-ssl/make-certificates.sh
  base/univention-ssl/tests/test_host_hook
  base/univention-ssl/univention-certificate-check-validity
  management/univention-directory-manager-modules/debian/control
  management/univention-directory-manager-modules/modules/univention/admin/certificate.py
  packaging/ucslint/testframework/0010-2-3-4-5/univention-certificate-check-validity
  packaging/ucslint/testframework/0011-2-3-4-5-6-7-8/univention-certificate-check-validity
  packaging/ucslint/testframework/0013-2/univention-certificate-check-validity
  packaging/ucslint/testframework/0015-2/univention-certificate-check-validity
  pyproject.toml
  test/ucs-test/tests/01_base/101_ssl_cname_san.py
  test/ucs-test/tests/59_udm/61_test_udm_users_unittests.py
Due: build ucslint, deb-pipeline

Fix hostname return, silently verify the signature request
  base/univention-ssl/make-certificates.sh
Due: deb-pipeline

test: replace M2Crypto with python3-cryptography in tests
  packaging/ucslint/testframework/0010-2-3-4-5/univention-certificate-check-validity
  packaging/ucslint/testframework/0011-2-3-4-5-6-7-8/univention-certificate-check-validity
  packaging/ucslint/testframework/0013-2/univention-certificate-check-validity
  packaging/ucslint/testframework/0015-2/univention-certificate-check-validity
  test/ucs-test/debian/changelog
  test/ucs-test/tests/01_base/101_ssl_cname_san.py
  test/ucs-test/tests/59_udm/61_test_udm_users_unittests.py
Due: build ucslint, deb-pipeline

chore(imagemagick): create advisory for 8:6.9.10.23+dfsg-2.1+deb10u15
  doc/errata/staging/imagemagick.yaml
Due: errata validation

chore(openssl): create advisory for 1.1.1n-0+deb10u9
  doc/errata/staging/openssl.yaml
Due: errata validation

chore(imagemagick): create advisory for 8:6.9.7.4+dfsg-11+deb9u26
  doc/errata/staging/imagemagick.yaml
Due: errata validation

chore(evolution-data-server): create advisory for 3.22.7-1+deb9u3
  doc/errata/staging/evolution-data-server.yaml
Due: errata validation

chore(openssl): create advisory for 1.1.0l-1~deb9u12
  doc/errata/staging/openssl.yaml
Due: errata validation

chore(dojo): update advisory
  doc/errata/staging/univention-dojo.yaml
Due: errata validation

fix(udm-rest): Handle concurrent modification LDAP errors as HTTP 500 in UDM REST API
  management/univention-directory-manager-rest/debian/changelog
  management/univention-directory-manager-rest/src/univention/admin/rest/de.po
  management/univention-directory-manager-rest/src/univention/admin/rest/module.py
  management/univention-directory-manager-rest/unittests/test_handle_udm_errors.py
Due: deb-pipeline

chore(udm-rest): update advisory
  doc/errata/staging/univention-directory-manager-rest.yaml
Due: errata validation

docs(ucs-operation): Add announcement banner about work in progress
  doc/ucs-operation/conf.py
Due: doc-pipeline

docs(ucs-operation/lifecycle): Update introduction
  doc/ucs-operation/lifecycle/index.rst
Due: doc-pipeline

docs(ucs-operation): Add captions to table of contents
  doc/ucs-operation/deployment/index.rst
  doc/ucs-operation/domain-infrastructure/index.rst
  doc/ucs-operation/iam/index.rst
  doc/ucs-operation/iam/password-management/index.rst
  doc/ucs-operation/lifecycle/index.rst
  doc/ucs-operation/management-interface/index.rst
  doc/ucs-operation/system-administration/index.rst
Due: doc-pipeline

docs(ucs-operation/iam/auth): Conform labels to pattern
  doc/ucs-operation/lifecycle/update-strategies.rst
  doc/ucs-operation/management-interface/auth.rst
Due: doc-pipeline

docs(ucs-operation/management-interface): Add introduction
  doc/ucs-operation/management-interface/index.rst
Due: doc-pipeline

docs(ucs-operation/system-administration): Add introduction
  doc/ucs-operation/system-administration/index.rst
Due: doc-pipeline

docs(ucs-operation/iam): Add introduction
  doc/ucs-operation/iam/index.rst
Due: doc-pipeline

docs(ucs-operation/domain-infrastructure): Align introduction
  doc/ucs-operation/domain-infrastructure/index.rst
Due: doc-pipeline

docs(ucs-operation/deployment): Align introduction
  doc/ucs-operation/deployment/index.rst
Due: doc-pipeline

docs(ucs-operation/changelog): Add missing entries
  doc/ucs-operation/changelog.rst
  doc/ucs-operation/ucr-variable-reference.rst
Due: doc-pipeline

docs(ucs-operation): Update German translation
  doc/ucs-operation/locales/de/LC_MESSAGES/changelog.po
  doc/ucs-operation/locales/de/LC_MESSAGES/deployment.po
  doc/ucs-operation/locales/de/LC_MESSAGES/domain-infrastructure.po
  doc/ucs-operation/locales/de/LC_MESSAGES/glossary.po
  doc/ucs-operation/locales/de/LC_MESSAGES/iam.po
  doc/ucs-operation/locales/de/LC_MESSAGES/lifecycle.po
  doc/ucs-operation/locales/de/LC_MESSAGES/management-interface.po
  doc/ucs-operation/locales/de/LC_MESSAGES/system-administration.po
Due: doc-pipeline

ci(ucs-operation): Don't build PDF artifact for UCS Operation Manual
  .gitlab-ci/doc-builder
Due: none

docs(ucs-operation/lifecycle): Estimation for local repository mirror
  doc/ucs-operation/lifecycle/local-repository-servers.rst
Due: doc-pipeline

docs(ucs-operation/lifecycle): Update German translation
  doc/ucs-operation/locales/de/LC_MESSAGES/lifecycle.po
Due: doc-pipeline

docs(ucs-operation/deployment): Clarify update system after installation
  doc/ucs-operation/deployment/domain-setup.rst
Due: doc-pipeline

fix(pam): add local faillog count when account was locked in UDM
  base/univention-pam/faillog.py
Due: deb-pipeline

docs(ucs-operation/deployment): Add download information
  doc/ucs-operation/deployment/install.rst
Due: doc-pipeline

docs(ucs-operation/deployment): Update German translation
  doc/ucs-operation/locales/de/LC_MESSAGES/deployment.po
Due: doc-pipeline

feat(mail-postfix): allow recipient of mailAlternativeAddress in groups/group objects
  mail/univention-mail-postfix/conffiles/etc/postfix/ldap.groups.d/10_base
  mail/univention-mail-postfix/debian/changelog
Due: deb-pipeline

chore(udm): update advisory
  doc/errata/staging/univention-directory-manager-modules.yaml
  doc/errata/staging/univention-mail-postfix.yaml
Due: errata validation

test(mail): add test case for mail alternative address of groups delivery
  test/ucs-test/debian/changelog
  test/ucs-test/tests/40_mail/49_mailAlternativeAddress.py
Due: deb-pipeline

feat(udm): add mailAlternativeAddress to groups/group
  management/univention-directory-manager-modules/debian/changelog
  management/univention-directory-manager-modules/modules/univention/admin/handlers/groups/de.po
  management/univention-directory-manager-modules/modules/univention/admin/handlers/groups/group.py
Due: deb-pipeline

docs(manual): describe mailAlternativeAddress of groups/group
  doc/manual/locales/de/LC_MESSAGES/mail.po
  doc/manual/mail/management.rst
Due: doc-pipeline
