Repository univention/univention-corporate-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: prepare ucslint, doc-pipeline, deb-pipeline, errata validation

Path conditions:
  prepare ucslint: any of: packaging/ucslint/**/*
  doc-pipeline: any of: doc/[^e]*/**/*, doc/e[^r]*/**/*, doc/er[^r]*/**/*, doc/err[^a]*/**/*, doc/erra[^t]*/**/*, doc/errat[^a]*/**/*, doc/errata?*/**/*
  deb-pipeline: any of: [^dt]*/*/**/*, d[^o]*/*/**/*, do[^c]*/*/**/*, doc?*/*/**/*, t[^e]*/*/**/*, te[^s]*/*/**/*, tes[^t]*/*/**/*, test?*/*/**/*, test/generate-appliance/**/*, test/ucs-test/**/*, test/ucs-test-tools/**/*, test/univention-demo-configuration/**/*
  errata validation: any of: doc/errata/staging/*.yaml

Bug #55359: expat 2.2.0-2+deb9u7
  doc/errata/staging/expat.yaml
Due: errata validation

Bug #55369: ncurses 6.1+20181013-2+deb10u3
  doc/errata/staging/ncurses.yaml
Due: errata validation

Bug #55370: python3.7 3.7.3-2+deb10u4
  doc/errata/staging/python3.7.yaml
Due: errata validation

Bug #55371: libxml2 2.9.4+dfsg1-7+deb10u5
  doc/errata/staging/libxml2.yaml
Due: errata validation

Bug #55372: bluez 5.43-2+deb9u6
  doc/errata/staging/bluez.yaml
Due: errata validation

Bug #55373: djangorestframework 3.4.0-2+deb9u1
  doc/errata/staging/djangorestframework.yaml
Due: errata validation

Bug #55374: libxml2 2.9.4+dfsg1-2.2+deb9u9
  doc/errata/staging/libxml2.yaml
Due: errata validation

Bug #55375: freerdp 1.1.0~git20140921.1.440916e+dfsg1-13+deb9u5
  doc/errata/staging/freerdp.yaml
Due: errata validation

Issue #1328: short doc about personal environments
  test/scenarios/README.md
Due: none

fixup! Issue #1328: install group frontend package
  test/utils/ram/utils-ram.sh
Due: none

Bug #55369: ncurses ANNOUNCE
  doc/errata/published/2022-11-02_475_ncurses.yaml
Due: none

Bug #55370: python3.7 ANNOUNCE
  doc/errata/published/2022-11-02_476_python3.7.yaml
Due: none

Bug #55349: firefox-esr ANNOUNCE
  doc/errata/published/2022-11-02_473_firefox-esr.yaml
Due: none

Bug #55358: expat ANNOUNCE
  doc/errata/published/2022-11-02_472_expat.yaml
Due: none

Bug #55371: libxml2 ANNOUNCE
  doc/errata/published/2022-11-02_474_libxml2.yaml
Due: none

Bug #55359: expat ANNOUNCE
  doc/errata/published/2022-11-02_1328_expat.yaml
Due: none

Bug #55372: bluez ANNOUNCE
  doc/errata/published/2022-11-02_1326_bluez.yaml
Due: none

Bug #55375: freerdp ANNOUNCE
  doc/errata/published/2022-11-02_1329_freerdp.yaml
Due: none

Bug #55373: djangorestframework ANNOUNCE
  doc/errata/published/2022-11-02_1327_djangorestframework.yaml
Due: none

Bug #55351: pjproject ANNOUNCE
  doc/errata/published/2022-11-02_1332_pjproject.yaml
Due: none

Bug #55350: openjdk-8 ANNOUNCE
  doc/errata/published/2022-11-02_1331_openjdk-8.yaml
Due: none

Bug #55374: libxml2 ANNOUNCE
  doc/errata/published/2022-11-02_1330_libxml2.yaml
Due: none

Bug #55186: univention-directory-manager-rest 10.0.4-5A~5.0.0.202210191446
  doc/errata/published/2022-10-20_466_univention-directory-manager-rest.yaml
Due: none

Bug #55381: squid3 3.5.23-5+deb9u9A~4.4.9.202211032055
  doc/errata/staging/squid3.yaml
Due: errata validation

Bug #55383: add univention-keycloak package
  services/univention-keycloak/debian/changelog
  services/univention-keycloak/debian/compat
  services/univention-keycloak/debian/control
  services/univention-keycloak/debian/copyright
  services/univention-keycloak/debian/install
  services/univention-keycloak/debian/rules
  services/univention-keycloak/scripts/univention-keycloak
Due: deb-pipeline

Issue #34: added mapped attributes
  test/utils/ram/utils-ram.sh
Due: none

Bug #55252: Add feedback link to section titles
  doc/app-center/conf.py
  doc/architecture/conf.py
  doc/changelog/conf.py
  doc/developer-reference/conf.py
  doc/ext-domain/conf.py
  doc/ext-installation/conf.py
  doc/ext-networks/conf.py
  doc/ext-networks/index.rst
  doc/ext-performance/conf.py
  doc/ext-windows/conf.py
  doc/ext-windows/index.rst
  doc/manual/conf.py
  doc/quickstart/conf.py
  doc/release-notes/conf.py
  doc/scenarios/conf.py
Due: doc-pipeline

Bug #53538: Migrated 22_top_process_killing
  test/ucs-test/tests/60_umc/22_test_umc_top_module.py
  test/ucs-test/tests/60_umc/22_top_process_killing
  test/ucs-test/tests/60_umc/umc.py
Due: deb-pipeline

Bug #53538: Migrated 12_services_list, 20_services_autostart, 21_service_process_handling
  test/ucs-test/tests/60_umc/12_services_list
  test/ucs-test/tests/60_umc/20_services_autostart
  test/ucs-test/tests/60_umc/20_test_umc_services_module.py
  test/ucs-test/tests/60_umc/21_services_process_handling
  test/ucs-test/tests/60_umc/umc.py
Due: deb-pipeline

Bug #53538: Added new test for killing invalid pid
  test/ucs-test/tests/60_umc/22_test_umc_top_module.py
Due: deb-pipeline

Bug #53538: Added tests for top/query
  test/ucs-test/tests/60_umc/22_test_umc_top_module.py
Due: deb-pipeline

Bug #55331: Generate keycloak SSL certificate on dc_master
  doc/errata/staging/univention-saml.yaml
  saml/univention-saml/91univention-saml.inst
  saml/univention-saml/debian/changelog
  saml/univention-saml/debian/univention-saml.postinst
Due: deb-pipeline, errata validation
