Repository univention/univention-corporate-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build ucslint, doc-pipeline, deb-pipeline, errata validation

build ucslint:
  stage: prepare
  variables:
    KANIKO_BUILD_CONTEXT: packaging/ucslint
    KANIKO_ARGS: --build-arg ucs=$ucs --cache=true

doc-pipeline:
  stage: build
  needs:
  - job: generate-config
  trigger:
    include:
    - artifact: generated-config-doc.yml
      job: generate-config
    strategy: depend
    forward:
      pipeline_variables: true

deb-pipeline:
  stage: build
  needs:
  - job: generate-config
  - job: prepare aptly
  - job: select ucslint
  variables:
    UCSLINT: $UCSLINT
  trigger:
    include:
    - artifact: generated-config-deb.yml
      job: generate-config
    strategy: depend
    forward:
      pipeline_variables: true

errata validation:
  stage: prepare
  tags:
  - omar
  resource_group: omar
  needs: []
  variables:
    VAULT_AUTH_ROLE: ucs-production
  secrets:
    BUGZILLA_CFG:
      vault:
        engine:
          name: kv-v2
          path: secret
        path: dist/repo-ng/production/bugzilla
        field: cfg
  script:
  ...

fix(mail-dovecot): default mail_uid/mail_gid to dovemail when empty
  mail/univention-mail-dovecot/modules/univention/mail/dovecot.py
Due: deb-pipeline

fix(gitlab): internal -> dev/internal
  .gitlab/issue_templates/default.md
  doc/errata/staging/README.md
Due: none

chore(gsasl): create advisory for 1.8.0-8+deb10u2
  doc/errata/staging/gsasl.yaml
Due: errata validation

chore(apache2): create advisory for 2.4.59-1~deb10u8A~5.0.10.202606091638
  doc/errata/staging/apache2.yaml
Due: errata validation

chore(exim4): create advisory for 4.92-8+deb10u12
  doc/errata/staging/exim4.yaml
Due: errata validation

chore(dovecot): create advisory for 1:2.3.4.1-5+deb10u9
  doc/errata/staging/dovecot.yaml
Due: errata validation

chore(exim4): create advisory for 4.89-2+deb9u15A~4.4.9.202606091639
  doc/errata/staging/exim4.yaml
Due: errata validation

chore(apache2): create advisory for 2.4.25-3+deb9u24A~4.4.9.202606091639
  doc/errata/staging/apache2.yaml
Due: errata validation

ci(gitlab): Adjust CHANGELOG_TARGET_VERSION in .gitlab-ci/base.yml
  .gitlab-ci/base.yml
Due: none

fix(udm): strip trailing newline from base64 decoding
  management/univention-directory-manager-modules/debian/changelog
  management/univention-directory-manager-modules/modules/univention/admin/certificate.py
Due: deb-pipeline

test(browser): let pytest compare and print the whole diff
  test/ucs-test/debian/changelog
  test/ucs-test/tests/86_browser/153_udm_check_properties_of_copied_users.py
Due: deb-pipeline

test(docker): adjust UCS versions in docker tests
  test/ucs-test/tests/80_docker/59_app_center_signature.py
Due: deb-pipeline

feat(bind): add original ldapdb SDB module
  services/univention-bind/dlz/ldapdb_dlz.c
Due: deb-pipeline

trixie cython3-dbg → cython3
  base/univention-python-heimdal/debian/control
Due: deb-pipeline

fix(umc): add missing build dependencies on UDM
  management/univention-management-console/debian/control
Due: deb-pipeline

ci(jenkins): update version to UCS 5.3
  test/scenarios/kvm-templates/README.md
  test/utils/start-test.sh
Due: none

chore(errata-level): reset errata level to 0
  base/univention-errata-level/debian/univention-errata-level.postinst
Due: deb-pipeline

trixie cython3-dbg → cython3
  base/univention-licence-python/debian/control
Due: deb-pipeline

feat(dvd): UCS-5.3-0 ISO
  base/univention-dvd/data/ucs530/amd64_netinst_udeb_include
  base/univention-dvd/data/ucs530/amd64_udeb_include
  base/univention-dvd/data/ucs530/exclude-udebs
  base/univention-dvd/data/ucs530/exclude-udebs-amd64
  base/univention-dvd/data/ucs530/grub-theme.in
  base/univention-dvd/data/ucs530/hl_c.png
  base/univention-dvd/data/ucs530/udeb_exclude
  base/univention-dvd/tasks/ucs530/empty
  base/univention-dvd/tasks/ucs530/exclude
  base/univention-dvd/tasks/ucs530/forcd1
  base/univention-dvd/tasks/ucs530/task-ucs530
  base/univention-dvd/tools/boot/ucs530/boot-amd64
  base/univention-dvd/tools/boot/ucs530/boot-x86
  base/univention-dvd/tools/boot/ucs530/common.sh
  base/univention-dvd/tools/boot/ucs530/parse_isolinux
  base/univention-dvd/tools/boot/ucs530/x86-desktop.sh
  base/univention-dvd/tools/ucs530
  base/univention-dvd/ucs530.conf
Due: deb-pipeline

feat(listener): replace deprecated Python init flags with PyConfig
  management/univention-directory-listener/src/handlers.c
Due: deb-pipeline

chore(univention-ldap): fix libldap version for trixie
  management/univention-ldap/debian/control
Due: deb-pipeline

chore(univention-grub): disable splash screen for now
  base/univention-bootsplash/debian/univention-bootsplash.postinst
  base/univention-grub/conffiles/etc/default/grub
Due: deb-pipeline

feat(appcenter): Add Postgres 17 support for Docker Apps
  management/univention-appcenter/conffiles/etc/postgresql/17/main/pg_hba.conf.d/10-appcenter
  management/univention-appcenter/debian/python3-univention-appcenter.univention-config-registry
Due: deb-pipeline

chore(univention-archive-key): add univention-archive-key-ucs-53x.gpg
  base/univention-archive-key/debian/changelog
Due: deb-pipeline

chore(crudeoauth): rename packages after debian 64bit-time transition
  oidc/crudeoauth/debian/control
Due: deb-pipeline

feat(updater): set versions to UCS 5.3
  base/univention-updater/README.md
  base/univention-updater/debian/univention-updater.postinst
  base/univention-updater/doc/code.md
  base/univention-updater/doc/layout4.md
  base/univention-updater/script/check.sh
  base/univention-updater/script/postup.sh
  base/univention-updater/script/preup.sh
Due: deb-pipeline

chore(updater): UCS 5.3 archive key
  base/univention-updater/README.md
Due: deb-pipeline

fix(listener): link against Python 3.13
  management/univention-directory-listener/src/Makefile
  management/univention-directory-listener/src/handlers.c
  management/univention-directory-listener/src/handlers.h
Due: deb-pipeline

fix(updater): replace obsolete apt-key
  base/univention-updater/debian/control
  base/univention-updater/modules/univention/updater/tools.py
Due: deb-pipeline

chore(gitlab): update version to UCS 5.3
  .gitlab-ci/base.yml
  .gitlab-ci/doc-builder
Due: none

test(dockertest): Add UCS 5.3 to local appcenter
  test/ucs-test/tests/80_docker/dockertest.py
Due: deb-pipeline

feat(pkgdb): Add Postgres 17 support for pkgdb
  services/univention-pkgdb/conffiles/etc/postgresql/17/main/pg_hba.conf.d/10-pg_hba.conf
  services/univention-pkgdb/debian/univention-pkgdb.univention-config-registry
Due: deb-pipeline

feat(postgresql): upgrade PostgreSQL 15 → 17
  base/univention-errata-level/maintained-packages.txt
  doc/ucs-operation/locales/de/LC_MESSAGES/management-interface.po
  doc/ucs-operation/management-interface/auth.rst
  management/univention-management-console-module-diagnostic/umc/python/diagnostic/de.po
  management/univention-management-console-module-diagnostic/umc/python/diagnostic/plugins/67_postgresql_version.py
  services/univention-admin-diary/README.md
  services/univention-postgresql/conffiles/etc/postgresql/17/main/pg_hba.conf.d/00-pg_hba.conf
  services/univention-postgresql/conffiles/etc/postgresql/17/main/pg_hba.conf.d/99-pg_hba.conf
  services/univention-postgresql/conffiles/etc/postgresql/17/main/pg_ident.conf.d/00-pg_ident.conf
  services/univention-postgresql/conffiles/etc/postgresql/17/main/postgresql.conf
  services/univention-postgresql/debian/control
  services/univention-postgresql/debian/univention-postgresql-15.univention-config-registry
  services/univention-postgresql/debian/univention-postgresql-15.univention-config-registry-variables
  services/univention-postgresql/debian/univention-postgresql-15.univention-service
  services/univention-postgresql/debian/univention-postgresql-17.postinst
  services/univention-postgresql/debian/univention-postgresql-17.univention-config-registry
  services/univention-postgresql/debian/univention-postgresql-17.univention-config-registry-variables
  services/univention-postgresql/debian/univention-postgresql-17.univention-service
  services/univention-postgresql/debian/univention-postgresql.maintscript
  services/univention-postgresql/debian/univention-postgresql.postinst
  services/univention-postgresql/debian/univention-postgresql.univention-config-registry-variables
  test/scenarios/keycloak/keycloak-external-fqdn.cfg
  test/utils/utils.sh
Due: doc-pipeline, deb-pipeline

chore(univention-dvd): disable AppStream firmware pattern generation
  base/univention-dvd/ucs530.conf
Due: deb-pipeline

chore: replace UCS version to 5.3
  README.dev.md
  base/univention-l10n-fr/fr/management/univention-directory-manager-modules/modules/univention/admin/handlers/nagios/fr.po
  base/univention-l10n-fr/fr/management/univention-directory-manager-modules/modules/univention/admin/handlers/policies/fr.po
  base/univention-l10n-fr/fr/management/univention-directory-manager-modules/modules/univention/admin/handlers/shares/fr.po
  base/univention-l10n-fr/fr/management/univention-management-console-module-diagnostic/umc/python/diagnostic/fr.po
  base/univention-system-activation/www/ActivationWizard.js
  management/univention-appcenter/unittests/conftest.py
  management/univention-appcenter/unittests/dependencies.ldif
  management/univention-appcenter/unittests/inis/dependencies/5.0/self-service-backend_20200312115710.ini
  management/univention-appcenter/unittests/inis/dependencies/5.0/self-service_20151117.ini
  management/univention-appcenter/unittests/inis/install_checks/5.0/samba-memberserver.ini
  management/univention-appcenter/unittests/inis/install_checks/5.0/self-service-backend_20200312115710.ini
  management/univention-appcenter/unittests/inis/install_checks/5.0/self-service_20151117.ini
  management/univention-appcenter/unittests/install_checks.ldif
  management/univention-directory-listener/README.md
  management/univention-directory-manager-modules/README-authorization.md
  management/univention-directory-manager-modules/README-users-user-account-states.md
  management/univention-directory-manager-modules/modules/univention/admin/handlers/policies/de.po
  management/univention-directory-manager-modules/modules/univention/admin/handlers/policies/policy.py
  management/univention-directory-manager-modules/modules/univention/admin/handlers/shares/de.po
  management/univention-directory-manager-modules/modules/univention/admin/handlers/shares/printer.py
  management/univention-management-console-module-diagnostic/umc/python/diagnostic/de.po
  management/univention-management-console-module-diagnostic/umc/python/diagnostic/plugins/21_check_join_status.py
  packaging/univention-l10n/README.md
  test/ucs-test/tests/20_appcenter/92_update.py
  test/ucs-test/tests/80_docker/63_app_register_with_old_app_installed.py
  test/utils/utils-school-idbroker.sh
Due: deb-pipeline

feat(diagnostic): replace PyOpenSSL with python3-cryptography
  doc/errata/staging/univention-management-console-module-diagnostic.yaml
  management/univention-management-console-module-diagnostic/debian/changelog
Due: deb-pipeline, errata validation

feat(bind): rewrite ldapdb SDB module as DLZ plugin
  REUSE.toml
  services/univention-bind/debian/copyright
  services/univention-bind/dlz/ldapdb_dlz.c
Due: deb-pipeline

Path conditions:
  build ucslint: any of: packaging/ucslint/**/*
  doc-pipeline: any of: doc/[^e]*/**/*, doc/e[^r]*/**/*, doc/er[^r]*/**/*, doc/err[^a]*/**/*, doc/erra[^t]*/**/*, doc/errat[^a]*/**/*, doc/errata?*/**/*
  deb-pipeline: any of: [^dt.]*/*/**/*, d[^o]*/*/**/*, do[^c]*/*/**/*, doc?*/*/**/*, t[^e]*/*/**/*, te[^s]*/*/**/*, tes[^t]*/*/**/*, test?*/*/**/*, test/generate-appliance/**/*, test/ucs-test/**/*, test/ucs-test-tools/**/*, test/univention-demo-configuration/**/*
  errata validation: any of: doc/errata/staging/*.yaml
