Repository univention/univention-corporate-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build ucslint, doc-pipeline, deb-pipeline, errata validation

build ucslint:
  stage: prepare
  variables:
    KANIKO_BUILD_CONTEXT: packaging/ucslint
    KANIKO_ARGS: --build-arg ucs=$ucs --cache=true

doc-pipeline:
  stage: build
  needs:
  - job: generate-config
  trigger:
    include:
    - artifact: generated-config-doc.yml
      job: generate-config
    strategy: depend
    forward:
      pipeline_variables: true

deb-pipeline:
  stage: build
  needs:
  - job: generate-config
  - job: prepare aptly
  - job: select ucslint
  variables:
    UCSLINT: $UCSLINT
  trigger:
    include:
    - artifact: generated-config-deb.yml
      job: generate-config
    strategy: depend
    forward:
      pipeline_variables: true

errata validation:
  stage: prepare
  tags:
  - omar
  resource_group: omar
  needs: []
  variables:
    VAULT_AUTH_ROLE: ucs-production
  secrets:
    BUGZILLA_CFG:
      vault:
        engine:
          name: kv-v2
          path: secret
        path: dist/repo-ng/production/bugzilla
        field: cfg
  script:
  ...

feat(self-service): scan uploaded files for malware via ICAP
  doc/errata/staging/univention-self-service.yaml
  management/univention-self-service/debian/changelog
  management/univention-self-service/debian/control
  management/univention-self-service/debian/univention-self-service-passwordreset-umc.univention-config-registry-variables
  management/univention-self-service/umc/python/passwordreset/__init__.py
  management/univention-self-service/umc/python/passwordreset/de.po
  management/univention-self-service/unittests/test_malware_scan.py
  test/ucs-test/debian/changelog
  test/ucs-test/tests/83_self_service/15_test_malware_scan.py
Due: deb-pipeline, errata validation

docs(self-service): document the malware scan of uploaded files
  doc/ucs-operation/iam/password-management/user-self-service.rst
  doc/ucs-operation/locales/de/LC_MESSAGES/iam.po
  doc/ucs-operation/spelling_wordlist_de
Due: doc-pipeline

chore(libdbi-perl): announce security erratum 1494
  doc/errata/published/2026-09-30_1494_libdbi-perl.yaml
Due: none

docs(changelog): add empty changelog skeleton
  doc/changelog/index.rst
  doc/release-notes/index.rst
Due: doc-pipeline

docs(changelog): Use UCS RST builder for changelog
  doc/changelog/conf.py
Due: doc-pipeline

chore(gitlab): update version to UCS 5.3
  .gitlab-ci/base.yml
  .gitlab-ci/doc-builder
Due: none

docs(manual/user-management): Add listener reinititialization for Recycle Bin
  doc/manual/user-management/udm-recycle-bin.rst
Due: doc-pipeline

docs(manual/user-management): Update German translation
  doc/manual/locales/de/LC_MESSAGES/user-management.po
Due: doc-pipeline

docs(manual/idm-cloud): Add missing translation
  doc/manual/locales/de/LC_MESSAGES/idm-cloud.po
Due: doc-pipeline

ci(jenkins): update version to UCS 5.3
  test/scenarios/kvm-templates/README.md
  test/utils/start-test.sh
Due: none

chore: replace UCS version to 5.3
  README.dev.md
  base/univention-l10n-fr/fr/management/univention-directory-manager-modules/modules/univention/admin/handlers/nagios/fr.po
  base/univention-l10n-fr/fr/management/univention-directory-manager-modules/modules/univention/admin/handlers/policies/fr.po
  base/univention-l10n-fr/fr/management/univention-directory-manager-modules/modules/univention/admin/handlers/shares/fr.po
  base/univention-l10n-fr/fr/management/univention-management-console-module-diagnostic/umc/python/diagnostic/fr.po
  base/univention-system-activation/www/ActivationWizard.js
  management/univention-appcenter/unittests/conftest.py
  management/univention-appcenter/unittests/dependencies.ldif
  management/univention-appcenter/unittests/inis/dependencies/5.0/self-service-backend_20200312115710.ini
  management/univention-appcenter/unittests/inis/dependencies/5.0/self-service_20151117.ini
  management/univention-appcenter/unittests/inis/install_checks/5.0/samba-memberserver.ini
  management/univention-appcenter/unittests/inis/install_checks/5.0/self-service-backend_20200312115710.ini
  management/univention-appcenter/unittests/inis/install_checks/5.0/self-service_20151117.ini
  management/univention-appcenter/unittests/install_checks.ldif
  management/univention-directory-listener/README.md
  management/univention-directory-manager-modules/README-authorization.md
  management/univention-directory-manager-modules/README-users-user-account-states.md
  management/univention-directory-manager-modules/modules/univention/admin/handlers/policies/de.po
  management/univention-directory-manager-modules/modules/univention/admin/handlers/policies/policy.py
  management/univention-directory-manager-modules/modules/univention/admin/handlers/shares/de.po
  management/univention-directory-manager-modules/modules/univention/admin/handlers/shares/printer.py
  management/univention-management-console-module-diagnostic/umc/python/diagnostic/de.po
  management/univention-management-console-module-diagnostic/umc/python/diagnostic/plugins/21_check_join_status.py
  packaging/univention-l10n/README.md
  test/ucs-test/tests/20_appcenter/92_update.py
  test/ucs-test/tests/80_docker/63_app_register_with_old_app_installed.py
  test/utils/utils-school-idbroker.sh
Due: deb-pipeline

feat(updater): set versions to UCS 5.3
  base/univention-updater/README.md
  base/univention-updater/debian/univention-updater.postinst
  base/univention-updater/doc/code.md
  base/univention-updater/doc/layout4.md
  base/univention-updater/script/check.sh
  base/univention-updater/script/postup.sh
  base/univention-updater/script/preup.sh
Due: deb-pipeline

test(dockertest): Drop UCS 4.4 from local appcenter
  test/ucs-test/tests/80_docker/dockertest.py
Due: deb-pipeline

chore(i18n): drop deprecated gettext --sort-output option
  management/univention-web/Makefile
  packaging/univention-l10n/univention/l10n/message_catalogs.py
  packaging/univention-l10n/univention/l10n/umc.py
Due: deb-pipeline

fix(listener): link against Python 3.13
  doc/changelog/staged/changelog-domain-openldap-replication.59531.rst
  management/univention-directory-listener/src/Makefile
  management/univention-directory-listener/src/handlers.c
  management/univention-directory-listener/src/handlers.h
Due: doc-pipeline, deb-pipeline

feat(appcenter): add more debug output to appcenter logs
  management/univention-appcenter/python/appcenter/app_cache.py
Due: deb-pipeline

refactor(apache): fix DNS deprecation warning
  doc/changelog/staged/base.59539.rst
  services/univention-apache/univention-add-vhost
Due: doc-pipeline, deb-pipeline

feat(appcenter): Add Postgres 17 support for Docker Apps
  management/univention-appcenter/conffiles/etc/postgresql/17/main/pg_hba.conf.d/10-appcenter
  management/univention-appcenter/debian/python3-univention-appcenter.univention-config-registry
Due: deb-pipeline

feat(join): require UCS 5.2-5 to join into UCS 5.3-0 domain
  management/univention-join/ensure-minmum-ucs-version
Due: deb-pipeline

fix(system-setup): restart slapd after the Primary certificate is created
  base/univention-system-setup/usr/lib/univention-system-setup/scripts/setup-join.sh
Due: deb-pipeline

feat(updater): require all systems in the domain to >=UCS 5.2-5 to update system to UCS 5.3-0
  base/univention-updater/script/check.sh
Due: deb-pipeline

feat(pkgdb): Add Postgres 17 support for pkgdb
  services/univention-pkgdb/conffiles/etc/postgresql/17/main/pg_hba.conf.d/10-pg_hba.conf
  services/univention-pkgdb/debian/univention-pkgdb.univention-config-registry
Due: deb-pipeline

refactor(lib): fix DNS deprecation warning
  base/univention-lib/python/admember.py
Due: deb-pipeline

fix(ucr): report failure when template destination is a directory
  base/univention-config-registry/python/univention/config_registry/handler.py
  base/univention-config-registry/tests/test_handler.py
Due: deb-pipeline

feat(listener): replace deprecated Python init flags with PyConfig
  management/univention-directory-listener/src/handlers.c
Due: deb-pipeline

chore(errata-level): reset errata level to 0
  base/univention-errata-level/debian/univention-errata-level.postinst
Due: deb-pipeline

feat(appcenter): replace apt-key usage
  doc/changelog/staged/changelog-umc-appcenter.59513.rst
  management/univention-appcenter/debian/control
  management/univention-appcenter/python/appcenter/utils.py
Due: doc-pipeline, deb-pipeline

fix(updater): replace obsolete apt-key with sqv
  base/univention-updater/README.md
  base/univention-updater/debian/control
  base/univention-updater/modules/univention/updater/tools.py
  doc/changelog/staged/changelog-deployment.59512.rst
  doc/developer-reference/updater.rst
  doc/release-notes/index.rst
  doc/release-notes/locales/de/LC_MESSAGES/index.po
  test/ucs-test/debian/control
  test/ucs-test/tests/00_checks/01_univention_system_check
Due: doc-pipeline, deb-pipeline

test(s4connector): replace deprecated timezone API
  test/ucs-test/tests/52_s4connector/506test_timezone_userexpiry_loop
Due: deb-pipeline

refactor(appcenter): adjust to ruamel API changes
  doc/changelog/staged/changelog-umc-appcenter.59521.rst
Due: doc-pipeline

feat(dvd): UCS-5.3-0 ISO
  base/univention-dvd/data/ucs530/amd64_netinst_udeb_include
  base/univention-dvd/data/ucs530/amd64_udeb_include
  base/univention-dvd/data/ucs530/exclude-udebs
  base/univention-dvd/data/ucs530/exclude-udebs-amd64
  base/univention-dvd/data/ucs530/grub-theme.in
  base/univention-dvd/data/ucs530/hl_c.png
  base/univention-dvd/data/ucs530/udeb_exclude
  base/univention-dvd/tasks/ucs530/empty
  base/univention-dvd/tasks/ucs530/exclude
  base/univention-dvd/tasks/ucs530/forcd1
  base/univention-dvd/tasks/ucs530/task-ucs530
  base/univention-dvd/tools/boot/ucs530/boot-amd64
  base/univention-dvd/tools/boot/ucs530/boot-x86
  base/univention-dvd/tools/boot/ucs530/common.sh
  base/univention-dvd/tools/boot/ucs530/parse_isolinux
  base/univention-dvd/tools/boot/ucs530/x86-desktop.sh
  base/univention-dvd/tools/ucs530
  base/univention-dvd/ucs530.conf
Due: deb-pipeline

feat(appcenter): add debug information
  management/univention-appcenter/python/appcenter-docker/actions/docker_upgrade.py
Due: deb-pipeline

refactor(system-setup): fix DNS deprecation warning
  base/univention-system-setup/umc/python/setup/util.py
Due: deb-pipeline

test(installation_test): fix en and fr translation for setting up root user
  test/utils/installation_test/languages.yaml
Due: none

chore: require UCS 5.2-5 to join into UCS 5.3-0 domain
  mail/univention-fetchmail/92univention-fetchmail-schema.inst
  management/univention-appcenter/30univention-appcenter.inst
  management/univention-join/20univention-join.inst
  management/univention-portal/33univention-portal.inst
  management/univention-self-service/univention-self-service-register-acl
  monitoring/univention-monitoring-client/30univention-monitoring-client.inst
  services/univention-radius/80univention-radius.inst
  services/univention-s4-connector/97univention-s4-connector.inst
Due: deb-pipeline

feat(squid): replace patched squid with the regular squid-openssl package
  doc/changelog/staged/changelog-service-proxy.59530.rst
  services/univention-squid/debian/control
  services/univention-squid/debian/univention-squid.postinst
  services/univention-squid/debian/univention-squid.univention-service
Due: doc-pipeline, deb-pipeline

refactor(umc-diagnostic): fix DNS deprecation warning
  management/univention-management-console-module-diagnostic/umc/python/diagnostic/plugins/11_nameserver.py
  management/univention-management-console-module-diagnostic/umc/python/diagnostic/plugins/22_kdc_service.py
Due: deb-pipeline

Path conditions:
  build ucslint: any of: packaging/ucslint/**/*
  doc-pipeline: any of: doc/[^e]*/**/*, doc/e[^r]*/**/*, doc/er[^r]*/**/*, doc/err[^a]*/**/*, doc/erra[^t]*/**/*, doc/errat[^a]*/**/*, doc/errata?*/**/*
  deb-pipeline: any of: [^dt.]*/*/**/*, d[^o]*/*/**/*, do[^c]*/*/**/*, doc?*/*/**/*, t[^e]*/*/**/*, te[^s]*/*/**/*, tes[^t]*/*/**/*, test?*/*/**/*, test/generate-appliance/**/*, test/ucs-test/**/*, test/ucs-test-tools/**/*, test/univention-demo-configuration/**/*
  errata validation: any of: doc/errata/staging/*.yaml
