Repository univention/univention-corporate-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build ucslint, doc-pipeline, deb-pipeline, errata validation

Path conditions:
  build ucslint: any of: packaging/ucslint/**/*
  doc-pipeline: any of: doc/[^e]*/**/*, doc/e[^r]*/**/*, doc/er[^r]*/**/*, doc/err[^a]*/**/*, doc/erra[^t]*/**/*, doc/errat[^a]*/**/*, doc/errata?*/**/*
  deb-pipeline: any of: [^dt.]*/*/**/*, d[^o]*/*/**/*, do[^c]*/*/**/*, doc?*/*/**/*, t[^e]*/*/**/*, te[^s]*/*/**/*, tes[^t]*/*/**/*, test?*/*/**/*, test/generate-appliance/**/*, test/ucs-test/**/*, test/ucs-test-tools/**/*, test/univention-demo-configuration/**/*
  errata validation: any of: doc/errata/staging/*.yaml

fix(umc): Add root-path support
  management/univention-management-console/src/univention/management/console/resource.py
  management/univention-management-console/src/univention/management/console/server.py
Due: deb-pipeline

ci(jenkins): add SCOPE parameter
  test/scenarios/base/ucs-master-slave-joined.cfg
Due: none

revert: Revert changes to 5.2-3 regarding Bug 58802
  doc/errata/staging/univention-directory-manager-modules.yaml
  management/univention-directory-manager-modules/debian/changelog
  management/univention-directory-manager-modules/debian/python3-univention-directory-manager.postinst
Due: deb-pipeline, errata validation

fix(udm-rest-api): Add support for root_path
  management/univention-directory-manager-rest/debian/changelog
  management/univention-directory-manager-rest/src/univention/admin/rest/__main__.py
  management/univention-directory-manager-rest/src/univention/admin/rest/module.py
  test/ucs-test/debian/changelog
  test/ucs-test/tests/73_udm-rest/22_test_udm_rest_api_root_path.py
Due: deb-pipeline

chore(udm-rest-api): Update advisory
  doc/errata/staging/univention-directory-manager-rest.yaml
Due: errata validation

chore(udm-rest-api): Update advisory
  doc/errata/staging/univention-directory-manager-rest.yaml
  management/univention-directory-manager-rest/debian/changelog
Due: deb-pipeline, errata validation

chore(ucs-test): Bump version
  test/ucs-test/debian/changelog
Due: deb-pipeline

chore(imagemagick): announce security erratum 1787
  doc/errata/published/2026-02-04_1787_imagemagick.yaml
Due: none

chore(apache2): announce security erratum 1785
  doc/errata/published/2026-02-04_1785_apache2.yaml
Due: none

chore(ceph): announce security erratum 1786
  doc/errata/published/2026-02-04_1786_ceph.yaml
Due: none

chore(pyasn1): announce security erratum 1788
  doc/errata/published/2026-02-04_1788_pyasn1.yaml
Due: none

chore(python-django): announce security erratum 1789
  doc/errata/published/2026-02-04_1789_python-django.yaml
Due: none

chore(imagemagick): announce security erratum 1380
  doc/errata/published/2026-02-04_1380_imagemagick.yaml
Due: none

chore(apache2): announce security erratum 1379
  doc/errata/published/2026-02-04_1379_apache2.yaml
Due: none

chore(pyasn1): announce security erratum 1383
  doc/errata/published/2026-02-04_1383_pyasn1.yaml
Due: none

chore(python-tornado): announce security erratum 1385
  doc/errata/published/2026-02-04_1385_python-tornado.yaml
Due: none

chore(openjdk-11): announce security erratum 1382
  doc/errata/published/2026-02-04_1382_openjdk-11.yaml
Due: none

chore(libsodium): announce security erratum 1381
  doc/errata/published/2026-02-04_1381_libsodium.yaml
Due: none

chore(python-django): announce security erratum 1384
  doc/errata/published/2026-02-04_1384_python-django.yaml
Due: none

chore(openssl): announce security erratum 348
  doc/errata/published/2026-02-04_348_openssl.yaml
Due: none

chore(pyasn1): announce security erratum 349
  doc/errata/published/2026-02-04_349_pyasn1.yaml
Due: none

chore(imagemagick): announce security erratum 347
  doc/errata/published/2026-02-04_347_imagemagick.yaml
Due: none

chore(zvbi): announce security erratum 1386
  doc/errata/published/2026-02-04_1386_zvbi.yaml
Due: none

fix(umc): Normalize root_path to include leading slash
  management/univention-management-console/src/univention/management/console/server.py
Due: deb-pipeline

fix(umc): Normalize root_path to include leading slash
  doc/errata/staging/univention-management-console.yaml
  management/univention-management-console/debian/changelog
  management/univention-management-console/src/univention/management/console/server.py
Due: deb-pipeline, errata validation

chore(umc): Bump version
  management/univention-management-console/debian/changelog
Due: deb-pipeline

ci: remove kelvin before installing it again, to avoid errors
  test/utils/utils-school.sh
Due: none

docs(ucs-operation): Rework package repositories
  doc/ucs-operation/lifecycle/repository-management.rst
Due: doc-pipeline

docs(ucs-operation/lifecycle/versioning): Add reference labels
  doc/ucs-operation/lifecycle/versioning.rst
Due: doc-pipeline

docs(ucs-operation): Add UCR variables for repository configuration
  doc/ucs-operation/ucr-variable-reference.rst
Due: doc-pipeline

docs(ucs-operation): Update German translation
  doc/ucs-operation/locales/de/LC_MESSAGES/lifecycle.po
  doc/ucs-operation/locales/de/LC_MESSAGES/ucr-variable-reference.po
  doc/ucs-operation/spelling_wordlist_de
Due: doc-pipeline

docs(ucs-operation): Original content for Installation of further software
  doc/ucs-operation/lifecycle/repository-management.rst
Due: doc-pipeline

docs(ucs-operation): Add images for installion of further software
  doc/ucs-operation/images/appcenter_overview-de.png
  doc/ucs-operation/images/appcenter_overview.png
  doc/ucs-operation/images/software_install-de.png
  doc/ucs-operation/images/software_install.png
Due: doc-pipeline

Bug #58874: Advisory - again
  doc/errata/staging/cups.yaml
Due: errata validation

docs(ucs-operation): Rework custom package sources
  doc/ucs-operation/lifecycle/repository-management.rst
Due: doc-pipeline

ci(doc-builder): Add debian-admins as dependency to ucs-operation
  .gitlab-ci/doc-builder
Due: none

docs(ucs-operation): Add debian-admins to intersphinx mapping
  doc/ucs-operation/conf.py
Due: doc-pipeline

docs(ucs-operation): Update screenshot for App Center overview
  doc/ucs-operation/images/appcenter_overview-de.png
  doc/ucs-operation/images/appcenter_overview.png
  doc/ucs-operation/lifecycle/repository-management.rst
Due: doc-pipeline

docs(ucs-operation): Move local repository into separate section one level up
  doc/ucs-operation/lifecycle/local-repository-servers.rst
  doc/ucs-operation/lifecycle/repository-management.rst
Due: doc-pipeline

docs(ucs-operation): Move custom package source in separate file one level up
  doc/ucs-operation/lifecycle/local-repository-servers.rst
  doc/ucs-operation/lifecycle/package-installation-management.rst
  doc/ucs-operation/lifecycle/repository-management.rst
  doc/ucs-operation/ucr-variable-reference.rst
Due: doc-pipeline
