Repository univention/univention-corporate-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build ucslint, doc-pipeline, deb-pipeline, errata validation

build ucslint:
  stage: prepare
  variables:
    KANIKO_BUILD_CONTEXT: packaging/ucslint
    KANIKO_ARGS: --build-arg ucs=$ucs --cache=true

doc-pipeline:
  stage: build
  needs:
  - job: generate-config
  trigger:
    include:
    - artifact: generated-config-doc.yml
      job: generate-config
    strategy: depend
    forward:
      pipeline_variables: true

deb-pipeline:
  stage: build
  needs:
  - job: generate-config
  - job: prepare aptly
  - job: select ucslint
  variables:
    UCSLINT: $UCSLINT
  trigger:
    include:
    - artifact: generated-config-deb.yml
      job: generate-config
    strategy: depend
    forward:
      pipeline_variables: true

errata validation:
  stage: prepare
  tags:
  - omar
  resource_group: omar
  needs: []
  variables:
    VAULT_AUTH_ROLE: ucs-production
  secrets:
    BUGZILLA_CFG:
      vault:
        engine:
          name: kv-v2
          path: secret
        path: dist/repo-ng/production/bugzilla
        field: cfg
  script:
  ...

Bug #57267: Advisories
  doc/errata/staging/openldap.yaml
  doc/errata/staging/univention-ldap.yaml
  doc/errata/staging/univention-python.yaml
Due: errata validation

Bug #57267: register UCRV for subfile
  management/univention-ldap/debian/univention-ldap-server.univention-config-registry
Due: deb-pipeline

Bug #57267: Adjust slapd version in pre-depends
  management/univention-ldap/debian/control
Due: deb-pipeline

Bug #57267: Advisory update
  doc/errata/staging/openldap.yaml
Due: errata validation

Bug #57267: Feature flag: prepostread
  base/univention-python/debian/changelog
  base/univention-python/debian/python3-univention.univention-config-registry-variables
  base/univention-python/modules/uldap.py
Due: deb-pipeline

Bug #57267: Make uldap delete pass serverctrls too
  base/univention-python/debian/changelog
  base/univention-python/modules/uldap.py
Due: deb-pipeline

Bug #57267: Fix general spelling issues in release changelog
  doc/changelog/index.rst
Due: doc-pipeline

Bug #57267: Merge errata advisory content into release changelog
  doc/changelog/index.rst
  doc/errata/staging/openldap.yaml
  doc/errata/staging/univention-ldap.yaml
  doc/errata/staging/univention-python.yaml
Due: doc-pipeline, errata validation

Bug #57267: Adjust slapd-sock path for better isolation in k8s
  management/univention-ldap/conffiles/etc/ldap/slapd.conf.d/40univention-ldap-server_database
  management/univention-ldap/debian/univention-ldap-server.univention-config-registry-variables
Due: deb-pipeline

Bug #57267: Remove obsolete entry from release changelog
  doc/changelog/index.rst
Due: doc-pipeline

Issue #2189: Replace invoke-rc.d in 10_ldap/25reconnect_uldap.py
  test/ucs-test/debian/changelog
  test/ucs-test/tests/10_ldap/25reconnect_uldap.py
Due: deb-pipeline

fixup! Issue #2189: Replace invoke-rc.d in 10_ldap/25reconnect_uldap.py
  test/ucs-test/tests/10_ldap/26reconnect_univention_ldapsearch.py
Due: deb-pipeline

chore(ucs): switch product logos
  base/univention-system-activation/debian/changelog
  base/univention-system-activation/www/favicon.ico
  management/univention-portal/debian/changelog
  management/univention-portal/debian/univention-portal.postinst
  management/univention-portal/univention-management-console.svg
  management/univention-web/css/images/login_logo.png
  management/univention-web/css/images/login_logo.svg
  management/univention-web/css/images/univention_u.svg
  management/univention-web/debian/changelog
  management/univention-web/icons/univention-management-console.svg
  services/univention-apache/debian/changelog
  services/univention-apache/www/favicon.ico
Due: deb-pipeline

docs(changelog): switch product logos
  doc/changelog/index.rst
Due: doc-pipeline

test(kvm-templates): use "Others" section for kvm templates
  test/scenarios/kvm-templates/joined-kvm-templates.cfg
Due: none

Issue univention/ucs#2279: Disable dnssec in scenario with external fqdn
  test/scenarios/keycloak/keycloak-external-fqdn.cfg
Due: none

docs(changelog): Add univention-archive-key-ucs-52x.gpg
  doc/changelog/index.rst
Due: doc-pipeline

fix(errata): maintained package list
  base/univention-errata-level/README.md
  base/univention-errata-level/maintained-packages.txt
Due: deb-pipeline

Bug #57379: MS 365: Document how to create multiple portal tiles for multiple Azure AD connections (Keycloak)
  doc/Makefile
  doc/manual/idm-cloud/office-365.rst
  doc/manual/locales/de/LC_MESSAGES/idm-cloud.po
Due: doc-pipeline

Bug #57118: Fix typo
  doc/Makefile
Due: none

docs(changelog): cleanup
  doc/changelog/index.rst
Due: doc-pipeline

Issue univention/ucs#2308: Add 5.2 apptests
  test/scenarios/app-testing/autotest-100-app-master-no-samba.cfg
  test/scenarios/app-testing/autotest-101-app-master-s4.cfg
  test/scenarios/app-testing/autotest-102-app-backup-no-samba.cfg
  test/scenarios/app-testing/autotest-103-app-backup-s4.cfg
  test/scenarios/app-testing/autotest-104-app-slave-no-samba.cfg
  test/scenarios/app-testing/autotest-105-app-slave-s4.cfg
  test/scenarios/app-testing/autotest-106-app-member-no-samba.cfg
  test/scenarios/app-testing/autotest-107-app-member-s4.cfg
  test/scenarios/app-testing/autotest-110-release-appupdate-master-no-samba.cfg
  test/scenarios/app-testing/autotest-111-release-appupdate-master-s4.cfg
  test/scenarios/app-testing/autotest-112-release-appupdate-backup-no-samba.cfg
  test/scenarios/app-testing/autotest-113-release-appupdate-backup-s4.cfg
  test/scenarios/app-testing/autotest-114-release-appupdate-slave-no-samba.cfg
  test/scenarios/app-testing/autotest-115-release-appupdate-slave-s4.cfg
  test/scenarios/app-testing/autotest-116-release-appupdate-member-no-samba.cfg
  test/scenarios/app-testing/autotest-117-release-appupdate-member-s4.cfg
  test/scenarios/app-testing/autotest-120-appupdate-master-no-samba.cfg
  test/scenarios/app-testing/autotest-121-appupdate-master-s4.cfg
  test/scenarios/app-testing/autotest-122-appupdate-backup-no-samba.cfg
  test/scenarios/app-testing/autotest-123-appupdate-backup-s4.cfg
  test/scenarios/app-testing/autotest-124-appupdate-slave-no-samba.cfg
  test/scenarios/app-testing/autotest-125-appupdate-slave-s4.cfg
  test/scenarios/app-testing/autotest-126-appupdate-member-no-samba.cfg
  test/scenarios/app-testing/autotest-127-appupdate-member-s4.cfg
Due: none

Bug #57267: Support configuring the LDAP overlay slapd-sock
  management/univention-ldap/conffiles/etc/ldap/slapd.conf.d/31modules
  management/univention-ldap/conffiles/etc/ldap/slapd.conf.d/40univention-ldap-server_database
  management/univention-ldap/debian/changelog
  management/univention-ldap/debian/univention-ldap-server.univention-config-registry-variables
Due: deb-pipeline

Issue univention/ucs#2285: Update ucs-sso-ng record
  test/utils/utils.sh
Due: none

Bug #57379: Change wording in German translation
  doc/manual/idm-cloud/office-365.rst
  doc/manual/locales/de/LC_MESSAGES/idm-cloud.po
Due: doc-pipeline

Path conditions:
  build ucslint: any of: packaging/ucslint/**/*
  doc-pipeline: any of: doc/[^e]*/**/*, doc/e[^r]*/**/*, doc/er[^r]*/**/*, doc/err[^a]*/**/*, doc/erra[^t]*/**/*, doc/errat[^a]*/**/*, doc/errata?*/**/*
  deb-pipeline: any of: [^dt.]*/*/**/*, d[^o]*/*/**/*, do[^c]*/*/**/*, doc?*/*/**/*, t[^e]*/*/**/*, te[^s]*/*/**/*, tes[^t]*/*/**/*, test?*/*/**/*, test/generate-appliance/**/*, test/ucs-test/**/*, test/ucs-test-tools/**/*, test/univention-demo-configuration/**/*
  errata validation: any of: doc/errata/staging/*.yaml
