Repository univention/univention-corporate-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build ucslint, doc-pipeline, deb-pipeline, errata validation

build ucslint:
  stage: prepare
  variables:
    KANIKO_BUILD_CONTEXT: packaging/ucslint
    KANIKO_ARGS: --build-arg ucs=$ucs --cache=true

doc-pipeline:
  stage: build
  needs:
  - job: generate-config
  trigger:
    include:
    - artifact: generated-config-doc.yml
      job: generate-config
    strategy: depend
    forward:
      pipeline_variables: true

deb-pipeline:
  stage: build
  needs:
  - job: generate-config
  - job: prepare aptly
  - job: select ucslint
  variables:
    UCSLINT: $UCSLINT
  trigger:
    include:
    - artifact: generated-config-deb.yml
      job: generate-config
    strategy: depend
    forward:
      pipeline_variables: true

errata validation:
  stage: prepare
  tags:
  - omar
  resource_group: omar
  needs: []
  variables:
    VAULT_AUTH_ROLE: ucs-production
  secrets:
    BUGZILLA_CFG:
      vault:
        engine:
          name: kv-v2
          path: secret
        path: dist/repo-ng/production/bugzilla
        field: cfg
  script:
  ...

fixup!
  base/univention-pam/debian/univention-pam.univention-config-registry-variables
  doc/changelog/staged/changelog-service-pam.56793.rst
Due: doc-pipeline, deb-pipeline

fixup! changelogs
  base/univention-pam/debian/changelog
  mail/univention-mail-dovecot/debian/changelog
  mail/univention-mail-postfix/debian/changelog
  management/univention-management-console/debian/changelog
Due: deb-pipeline

fix(test): roles tests
  test/ucs-test/debian/changelog
  test/ucs-test/tests/59_udm/78_test_in_big_environment.py
Due: deb-pipeline

fixup! fix(test): roles tests
  test/ucs-test/debian/changelog
Due: deb-pipeline

Bug #56793: Add changelog details
  doc/changelog/staged/changelog-service-pam.56793.rst
Due: doc-pipeline

Bug #56793: Keep pam_succeed_if only for umc account
  base/univention-pam/conffiles/etc/pam.d/common-account
  base/univention-pam/conffiles/etc/pam.d/common-auth-nowrite
  base/univention-pam/conffiles/etc/pam.d/common-auth.d/50univention-pam_general
  base/univention-pam/conffiles/etc/pam.d/common-password
  base/univention-pam/debian/changelog
  base/univention-pam/debian/univention-pam.univention-config-registry
  mail/univention-mail-dovecot/conffiles/etc/pam.d/50_dovecot
  mail/univention-mail-dovecot/debian/changelog
  mail/univention-mail-dovecot/debian/univention-mail-dovecot.univention-config-registry
  mail/univention-mail-postfix/conffiles/etc/pam.d/smtp
  mail/univention-mail-postfix/debian/changelog
  mail/univention-mail-postfix/debian/univention-mail-postfix.univention-config-registry
  management/univention-management-console/conffiles/etc/pam.d/univention-management-console.d/50_base
  management/univention-management-console/conffiles/etc/pam.d/univention-management-console.d/80_password
  management/univention-management-console/debian/changelog
  management/univention-management-console/debian/univention-management-console-server.univention-config-registry
Due: deb-pipeline

fixup! Bug #56793: Add changelog details
  base/univention-pam/debian/univention-pam.univention-config-registry-variables
  doc/changelog/staged/changelog-service-pam.56793.rst
Due: doc-pipeline, deb-pipeline

fix(radius): preserver custom configuration
  doc/errata/staging/univention-radius.yaml
  services/univention-radius/debian/changelog
  services/univention-radius/debian/univention-radius.links
  services/univention-radius/debian/univention-radius.postinst
  services/univention-radius/debian/univention-radius.preinst
Due: deb-pipeline, errata validation

fixup! fix(radius): preserver custom configuration
  doc/errata/staging/univention-radius.yaml
Due: errata validation

fix(radius): preserver custom configuration
  services/univention-radius/debian/changelog
  services/univention-radius/debian/univention-radius.links
  services/univention-radius/debian/univention-radius.postinst
  services/univention-radius/debian/univention-radius.preinst
Due: deb-pipeline

fixup! feat(portal): further improvements of the portal for UCS 5.2
  management/univention-portal/debian/changelog
  management/univention-portal/frontend/src/store/modules/modal/index.ts
Due: deb-pipeline

fixup! fix(test): roles tests
  test/ucs-test/debian/changelog
  test/ucs-test/tests/59_udm/78_test_in_big_environment.py
Due: deb-pipeline

fixup! Issue #2189: Migrate 10_ldap/26reconnect_univention_ldapsearch.py to pytest
  test/ucs-test/debian/changelog
  test/ucs-test/tests/10_ldap/26reconnect_univention_ldapsearch.py
Due: deb-pipeline

ci(jenkins): kelvin upgrade job
  test/scenarios/autotest-241-ucsschool-kelvin-API-update.cfg
  test/utils/utils-school.sh
Due: none

fixup!
  services/univention-keycloak/debian/univention-keycloak-client.postinst
  test/ucs-test/tests/81_keycloak/04_misc.py
Due: deb-pipeline

fix(univention-keycloak): require uid in LDAP filter
  doc/errata/staging/univention-keycloak.yaml
  services/univention-keycloak/debian/changelog
  services/univention-keycloak/debian/univention-keycloak-client.postinst
  services/univention-keycloak/scripts/univention-keycloak
  test/ucs-test/debian/changelog
  test/ucs-test/tests/81_keycloak/04_misc.py
Due: deb-pipeline, errata validation

fix(univention-keycloak): require uid in LDAP filter
  services/univention-keycloak/debian/changelog
  services/univention-keycloak/debian/univention-keycloak-client.postinst
  services/univention-keycloak/scripts/univention-keycloak
  test/ucs-test/debian/changelog
  test/ucs-test/tests/81_keycloak/04_misc.py
Due: deb-pipeline

fix(test): create roles in big env
  test/utils/200.000-users.py
Due: none

test(browser): add logout_with_fallback to sidemenu.py
  test/ucs-test/debian/changelog
  test/ucs-test/tests/86_browser/10_product_test_password_change.py
  test/ucs-test/univention/testing/browser/sidemenu.py
Due: deb-pipeline

Bug #56793: Remove the pam_if_succeed hack entirely
  base/univention-pam/conffiles/etc/sssd/sssd.conf
  base/univention-pam/debian/changelog
  base/univention-pam/debian/univention-pam.univention-config-registry-variables
  management/univention-management-console/conffiles/etc/pam.d/univention-management-console.d/60_account
  management/univention-management-console/debian/changelog
  management/univention-management-console/debian/univention-management-console-server.univention-config-registry
Due: deb-pipeline

fixup! test(keycloak): Migrate Keycloak tests to playwright
  test/ucs-test/debian/changelog
  test/ucs-test/tests/81_keycloak/02_test_portal_login.py
  test/ucs-test/tests/81_keycloak/conftest.py
  test/ucs-test/tests/81_keycloak/utils.py
Due: deb-pipeline

fix(test): fix SAML tests for 5.2
  test/ucs-test/debian/changelog
  test/ucs-test/tests/82_saml/20_ucs_sso.py
Due: deb-pipeline

test(browser): replace deprecated locator.type
  test/ucs-test/debian/changelog
  test/ucs-test/tests/86_browser/10_product_test_password_change.py
  test/ucs-test/tests/86_browser/15_favorite_modules.py
  test/ucs-test/univention/testing/browser/lib.py
  test/ucs-test/univention/testing/browser/packagemanagement.py
  test/ucs-test/univention/testing/browser/sidemenu.py
Due: deb-pipeline

fixup! feat(appcenter): get networks from docker loop not managed by the appcenter
  management/univention-appcenter/debian/changelog
  management/univention-appcenter/python/appcenter-docker/docker.py
Due: deb-pipeline

fix(test): get the correct subnet when there are already other networks created in docker.
  test/ucs-test/debian/changelog
  test/ucs-test/tests/80_docker/85_docker_compose.py
Due: deb-pipeline

Bug #57193: Add index for sOARecord
  doc/errata/staging/univention-ldap.yaml
  management/univention-ldap/debian/changelog
  management/univention-ldap/debian/univention-ldap-server.postinst
  management/univention-ldap/scripts/ldap_setup_index
Due: deb-pipeline, errata validation

fix(test): use new templates in update tests
  test/scenarios/install-testing/ad-member.cfg
  test/scenarios/update-testing/update-from-1.2-backup2master.cfg
  test/scenarios/update-testing/update-from-4.2-4.cfg
Due: none

Bug #57223: xorg-server 2:1.19.2-1+deb9u19
  doc/errata/staging/xorg-server.yaml
Due: errata validation

Bug #57224: xorg-server 2:1.20.4-1+deb10u14
  doc/errata/staging/xorg-server.yaml
Due: errata validation

Bug #57225: pillow 5.4.1-2+deb10u6
  doc/errata/staging/pillow.yaml
Due: errata validation

fix(test): use new templates in update tests
  test/scenarios/update-testing/update-from-4.2-4.cfg
Due: none

ci(jenkins): remove commetn in kelvin upgrade job
  test/scenarios/autotest-241-ucsschool-kelvin-API-update.cfg
Due: none

fix(test): disable fetchmail during update
  test/scenarios/update-testing/update-from-4.2-4.cfg
Due: none

Path conditions:
  build ucslint: any of: packaging/ucslint/**/*
  doc-pipeline: any of: doc/[^e]*/**/*, doc/e[^r]*/**/*, doc/er[^r]*/**/*, doc/err[^a]*/**/*, doc/erra[^t]*/**/*, doc/errat[^a]*/**/*, doc/errata?*/**/*
  deb-pipeline: any of: [^dt.]*/*/**/*, d[^o]*/*/**/*, do[^c]*/*/**/*, doc?*/*/**/*, t[^e]*/*/**/*, te[^s]*/*/**/*, tes[^t]*/*/**/*, test?*/*/**/*, test/generate-appliance/**/*, test/ucs-test/**/*, test/ucs-test-tools/**/*, test/univention-demo-configuration/**/*
  errata validation: any of: doc/errata/staging/*.yaml
