Repository univention/univention-corporate-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build ucslint, doc-pipeline, deb-pipeline, errata validation

Path conditions:
  build ucslint: any of: packaging/ucslint/**/*
  doc-pipeline: any of: doc/[^e]*/**/*, doc/e[^r]*/**/*, doc/er[^r]*/**/*, doc/err[^a]*/**/*, doc/erra[^t]*/**/*, doc/errat[^a]*/**/*, doc/errata?*/**/*
  deb-pipeline: any of: [^dt.]*/*/**/*, d[^o]*/*/**/*, do[^c]*/*/**/*, doc?*/*/**/*, t[^e]*/*/**/*, te[^s]*/*/**/*, tes[^t]*/*/**/*, test?*/*/**/*, test/generate-appliance/**/*, test/ucs-test/**/*, test/ucs-test-tools/**/*, test/univention-demo-configuration/**/*
  errata validation: any of: doc/errata/staging/*.yaml

test(docker): adjust UCS versions in docker tests
  test/ucs-test/tests/80_docker/59_app_center_signature.py
Due: deb-pipeline

docs(changelog): add empty changelog skeleton
  doc/changelog/index.rst
  doc/release-notes/index.rst
Due: doc-pipeline

docs(changelog): Use UCS RST builder for changelog
  doc/changelog/conf.py
Due: doc-pipeline

ci(jenkins): update version to UCS 5.3
  test/scenarios/kvm-templates/README.md
  test/utils/start-test.sh
Due: none

chore(updater): UCS 5.3 archive key
  base/univention-updater/README.md
Due: deb-pipeline

feat(updater): set versions to UCS 5.3
  base/univention-updater/README.md
  base/univention-updater/debian/univention-updater.postinst
  base/univention-updater/doc/code.md
  base/univention-updater/doc/layout4.md
  base/univention-updater/script/check.sh
  base/univention-updater/script/postup.sh
  base/univention-updater/script/preup.sh
Due: deb-pipeline

test(dockertest): Add UCS 5.3 to local appcenter
  test/ucs-test/tests/80_docker/dockertest.py
Due: deb-pipeline

chore: remove advisories
  doc/errata/published/2026-06-17_484_apache2.yaml
  doc/errata/published/2026-06-17_485_ceph.yaml
  doc/errata/published/2026-06-17_486_libdbi-perl.yaml
  doc/errata/published/2026-06-17_487_libinput.yaml
  doc/errata/published/2026-06-17_488_openssl.yaml
  doc/errata/published/2026-06-17_489_poppler.yaml
  doc/errata/published/2026-06-17_490_univention-lib.yaml
  doc/errata/published/2026-06-17_491_univention-management-console-module-diagnostic.yaml
  doc/errata/published/2026-06-17_492_univention-ssh.yaml
  doc/errata/staging/firefox-esr.yaml
  doc/errata/staging/libconfig-inifiles-perl.yaml
  doc/errata/staging/libhttp-daemon-perl.yaml
  doc/errata/staging/univention-directory-manager-rest.yaml
  doc/errata/staging/univention-web.yaml
Due: errata validation

chore(gitlab): update version to UCS 5.3
  .gitlab-ci/base.yml
  .gitlab-ci/doc-builder
Due: none

chore(errata-level): reset errata level to 0
  base/univention-errata-level/debian/univention-errata-level.postinst
Due: deb-pipeline

chore: replace UCS version to 5.3
  README.dev.md
  base/univention-l10n-fr/fr/management/univention-directory-manager-modules/modules/univention/admin/handlers/nagios/fr.po
  base/univention-l10n-fr/fr/management/univention-directory-manager-modules/modules/univention/admin/handlers/policies/fr.po
  base/univention-l10n-fr/fr/management/univention-directory-manager-modules/modules/univention/admin/handlers/shares/fr.po
  base/univention-l10n-fr/fr/management/univention-management-console-module-diagnostic/umc/python/diagnostic/fr.po
  base/univention-system-activation/www/ActivationWizard.js
  management/univention-appcenter/unittests/conftest.py
  management/univention-appcenter/unittests/dependencies.ldif
  management/univention-appcenter/unittests/inis/dependencies/5.0/self-service-backend_20200312115710.ini
  management/univention-appcenter/unittests/inis/dependencies/5.0/self-service_20151117.ini
  management/univention-appcenter/unittests/inis/install_checks/5.0/samba-memberserver.ini
  management/univention-appcenter/unittests/inis/install_checks/5.0/self-service-backend_20200312115710.ini
  management/univention-appcenter/unittests/inis/install_checks/5.0/self-service_20151117.ini
  management/univention-appcenter/unittests/install_checks.ldif
  management/univention-directory-listener/README.md
  management/univention-directory-manager-modules/README-authorization.md
  management/univention-directory-manager-modules/README-users-user-account-states.md
  management/univention-directory-manager-modules/modules/univention/admin/handlers/policies/de.po
  management/univention-directory-manager-modules/modules/univention/admin/handlers/policies/policy.py
  management/univention-directory-manager-modules/modules/univention/admin/handlers/shares/de.po
  management/univention-directory-manager-modules/modules/univention/admin/handlers/shares/printer.py
  management/univention-management-console-module-diagnostic/umc/python/diagnostic/de.po
  management/univention-management-console-module-diagnostic/umc/python/diagnostic/plugins/21_check_join_status.py
  packaging/univention-l10n/README.md
  test/ucs-test/tests/20_appcenter/92_update.py
  test/ucs-test/tests/80_docker/63_app_register_with_old_app_installed.py
  test/utils/utils-school-idbroker.sh
Due: deb-pipeline

feat(updater): switch to https://updates-test.software-univention.de/
  base/univention-updater/debian/univention-updater.postinst
Due: deb-pipeline

feat(updater): require all systems in the domain to >=UCS 5.2-5 to update system to UCS 5.3-0
  base/univention-updater/script/check.sh
Due: deb-pipeline

feat(dvd): UCS-5.3-0 ISO
  base/univention-dvd/data/ucs530/amd64_netinst_udeb_include
  base/univention-dvd/data/ucs530/amd64_udeb_include
  base/univention-dvd/data/ucs530/exclude-udebs
  base/univention-dvd/data/ucs530/exclude-udebs-amd64
  base/univention-dvd/data/ucs530/grub-theme.in
  base/univention-dvd/data/ucs530/hl_c.png
  base/univention-dvd/data/ucs530/udeb_exclude
  base/univention-dvd/tasks/ucs530/empty
  base/univention-dvd/tasks/ucs530/exclude
  base/univention-dvd/tasks/ucs530/forcd1
  base/univention-dvd/tasks/ucs530/task-ucs530
  base/univention-dvd/tools/boot/ucs530/boot-amd64
  base/univention-dvd/tools/boot/ucs530/boot-x86
  base/univention-dvd/tools/boot/ucs530/common.sh
  base/univention-dvd/tools/boot/ucs530/parse_isolinux
  base/univention-dvd/tools/boot/ucs530/x86-desktop.sh
  base/univention-dvd/tools/ucs530
  base/univention-dvd/ucs530.conf
Due: deb-pipeline

feat(join): require UCS 5.2-5 to join into UCS 5.3-0 domain
  management/univention-join/ensure-minmum-ucs-version
Due: deb-pipeline

feat(listener): replace deprecated Python init flags with PyConfig
  management/univention-directory-listener/src/handlers.c
Due: deb-pipeline

feat(replication): Add missing builtin OIDs from OpenLDAP 2.6
  doc/changelog/staged/changelog-domain-openldap-replication.59532.rst
  management/univention-directory-replication/oid_skip.txt
Due: doc-pipeline, deb-pipeline

fix(updater): replace obsolete apt-key
  base/univention-updater/debian/control
  base/univention-updater/modules/univention/updater/tools.py
  doc/changelog/staged/changelog-deployment.59512.rst
Due: doc-pipeline, deb-pipeline

chore: require UCS 5.2-5 to join into UCS 5.3-0 domain
  mail/univention-fetchmail/92univention-fetchmail-schema.inst
  management/univention-appcenter/30univention-appcenter.inst
  management/univention-join/20univention-join.inst
  management/univention-portal/33univention-portal.inst
  management/univention-self-service/univention-self-service-register-acl
  monitoring/univention-monitoring-client/30univention-monitoring-client.inst
  services/univention-radius/80univention-radius.inst
  services/univention-s4-connector/97univention-s4-connector.inst
Due: deb-pipeline

fix(listener): link against Python 3.13
  doc/changelog/staged/changelog-domain-openldap-replication.59531.rst
  management/univention-directory-listener/src/Makefile
  management/univention-directory-listener/src/handlers.c
  management/univention-directory-listener/src/handlers.h
Due: doc-pipeline, deb-pipeline

fix(listener): improve Python 3.13 C-API compatibility
  management/univention-directory-listener/src/handlers.c
Due: deb-pipeline

feat(udm): set '*' as default search value when auto_substring_search is disabled
  doc/errata/staging/univention-management-console-module-udm.yaml
  management/univention-management-console-module-udm/debian/changelog
  management/univention-management-console-module-udm/umc/js/udm.js
Due: deb-pipeline, errata validation

fix(bind): enable allow-transfer
  services/univention-bind/conffiles/etc/bind/named.conf
Due: deb-pipeline

fix(bind): stop legacy SDB zone stanzas from shadowing the DLZ backend
  services/univention-bind/README.md
  services/univention-bind/bind.py
  services/univention-bind/conffiles/etc/bind/named.conf
  services/univention-bind/debian/univention-bind.postinst
Due: deb-pipeline

feat(bind): add DLZ section in named.conf
  services/univention-bind/conffiles/etc/bind/named.conf
  services/univention-bind/usr/lib/univention-server/server_password_change.d/univention-bind
Due: deb-pipeline

chore(crudeoauth): rename packages after Debian 64bit-time transition
  doc/changelog/staged/changelog-service-oidc.59504.rst
  oidc/crudeoauth/debian/control
Due: doc-pipeline, deb-pipeline

feat(bind): add original ldapdb SDB module
  services/univention-bind/dlz/ldapdb_dlz.c
Due: deb-pipeline

fix(bind): drop dead backend zone reload from listener
  services/univention-bind/bind.py
Due: deb-pipeline

feat(bind): rewrite ldapdb SDB module as DLZ plugin
  REUSE.toml
  services/univention-bind/debian/copyright
  services/univention-bind/dlz/ldapdb_dlz.c
Due: deb-pipeline

feat(appcenter): Add Postgres 17 support for Docker Apps
  management/univention-appcenter/conffiles/etc/postgresql/17/main/pg_hba.conf.d/10-appcenter
  management/univention-appcenter/debian/python3-univention-appcenter.univention-config-registry
Due: deb-pipeline

chore(monitoring): drop dependency on obsolete dpt-i2o-raidutils
  doc/changelog/staged/changelog-service-nagios.59505.rst
  monitoring/univention-monitoring-client/debian/control
  monitoring/univention-nagios/debian/control
Due: doc-pipeline, deb-pipeline

refactor(appcenter): adjust to ruamel API changes
  doc/changelog/staged/changelog-umc-appcenter.59521.rst
  management/univention-appcenter/python/appcenter-docker/docker.py
  management/univention-appcenter/python/appcenter/app.py
Due: doc-pipeline, deb-pipeline

feat(pkgdb): Add Postgres 17 support for pkgdb
  services/univention-pkgdb/conffiles/etc/postgresql/17/main/pg_hba.conf.d/10-pg_hba.conf
  services/univention-pkgdb/debian/univention-pkgdb.univention-config-registry
Due: deb-pipeline

feat(apache): fix DNS deprecation warning
  doc/changelog/staged/changelog-service-www.59539.rst
  services/univention-apache/univention-add-vhost
Due: doc-pipeline, deb-pipeline

fix(bind): remove old db files for RFC zones
  services/univention-bind/conffiles/etc/bind/named.conf.proxy
Due: deb-pipeline

fixup! fix(updater): replace obsolete apt-key
  base/univention-updater/debian/control
  base/univention-updater/modules/univention/updater/tools.py
  doc/changelog/staged/changelog-deployment.59512.rst
Due: doc-pipeline, deb-pipeline

feat(docker): remove dependency on obsolete cgroupfs-mount
  base/univention-dvd/tasks/ucs530/task-ucs530
  container/univention-docker/debian/control
  doc/changelog/staged/changelog-service-docker.59506.rst
Due: doc-pipeline, deb-pipeline

fix(bind): retransfer secondary zones after LDAP DNS changes
  services/univention-bind/bind.py
Due: deb-pipeline
