Repository univention/univention-corporate-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: prepare ucslint, doc-pipeline, deb-pipeline

prepare ucslint:
  stage: prepare
  interruptible: false
  variables:
    KANIKO_BUILD_CONTEXT: packaging/ucslint
    KANIKO_ARGS: --build-arg ucs=$ucs --cache=true

doc-pipeline:
  stage: build
  needs:
  - job: generate-config
  trigger:
    include:
    - artifact: generated-config-doc.yml
      job: generate-config
    strategy: depend
    forward:
      pipeline_variables: true

deb-pipeline:
  stage: build
  needs:
  - job: generate-config
  - job: prepare aptly
  - job: prepare ucslint
    optional: true
  trigger:
    include:
    - artifact: generated-config-deb.yml
      job: generate-config
    strategy: depend
    forward:
      pipeline_variables: true

Bug #54780: univention-ad-connector 14.0.10-5A~5.0.0.202208301031
  doc/errata/staging/univention-ad-connector.yaml
Due: none

Bug #55156: fix country search during system setup
  base/univention-system-setup/debian/changelog
  base/univention-system-setup/umc/python/setup/__init__.py
  doc/errata/staging/univention-system-setup.yaml
Due: deb-pipeline

Bug #55141: developer-reference: code-block line continuation
  doc/developer-reference/conf.py
  doc/developer-reference/join/write-join.rst
  doc/developer-reference/listener/details.rst
  doc/developer-reference/packaging.rst
  doc/developer-reference/sso.rst
  doc/developer-reference/translation/umc.rst
  doc/developer-reference/ucr/usage.rst
  doc/developer-reference/udm/package-extended-attributes.rst
  doc/developer-reference/udm/rest-api.rst
  doc/developer-reference/udm/syntax.rst
Due: doc-pipeline

Bug #55141: Make here documents consistent
  doc/developer-reference/conf.py
  doc/developer-reference/udm/index.rst
  doc/ext-domain/conf.py
  doc/ext-domain/ubuntu.rst
  doc/ext-installation/appliance.rst
  doc/ext-installation/conf.py
  doc/manual/conf.py
  doc/manual/locales/de/LC_MESSAGES/user-management.po
  doc/manual/locales/de/LC_MESSAGES/windows.po
  doc/manual/user-management/user-lockout.rst
  doc/manual/windows/trust.rst
Due: doc-pipeline

Bug #55141: ext-performance: code-block line continuation
  doc/ext-performance/conf.py
  doc/ext-performance/index.rst
Due: doc-pipeline

Bug #55141: Fix indents and code-block line continuations
  doc/developer-reference/udm/package-extended-attributes.rst
  doc/developer-reference/udm/rest-api.rst
  doc/ext-installation/appliance.rst
  doc/ext-installation/profile.rst
  doc/manual/central-management-umc/udm-command.rst
  doc/manual/domain-ldap/oidc.rst
  doc/manual/locales/de/LC_MESSAGES/central-management-umc.po
  doc/manual/locales/de/LC_MESSAGES/domain-ldap.po
  doc/manual/locales/de/LC_MESSAGES/user-management.po
  doc/manual/user-management/last-bind-overlay.rst
  doc/manual/user-management/user-lockout.rst
  doc/manual/user-management/user-self-service.rst
Due: doc-pipeline

Bug #55141: ext-installation: code-block line continuation
  doc/ext-installation/appliance.rst
  doc/ext-installation/conf.py
  doc/ext-installation/profile.rst
Due: doc-pipeline

Bug #55141: ext-domain: code-block line continuation
  doc/ext-domain/conf.py
  doc/ext-domain/ssl.rst
Due: doc-pipeline

Bug #54141: manual: code-block line continuation
  doc/manual/central-management-umc/portal.rst
  doc/manual/central-management-umc/udm-command.rst
  doc/manual/computers/ucr.rst
  doc/manual/conf.py
  doc/manual/domain-ldap/backup2master.rst
  doc/manual/domain-ldap/domain-join.rst
  doc/manual/domain-ldap/oidc.rst
  doc/manual/locales/de/LC_MESSAGES/central-management-umc.po
  doc/manual/locales/de/LC_MESSAGES/computers.po
  doc/manual/locales/de/LC_MESSAGES/domain-ldap.po
  doc/manual/locales/de/LC_MESSAGES/groups.po
  doc/manual/locales/de/LC_MESSAGES/user-management.po
  doc/manual/locales/de/LC_MESSAGES/windows.po
  doc/manual/user-management/last-bind-overlay.rst
  doc/manual/user-management/user-self-service.rst
  doc/manual/windows/trust.rst
Due: doc-pipeline

Bug #55141: ext-windows: code-block line continuation
  doc/ext-windows/conf.py
  doc/ext-windows/index.rst
Due: doc-pipeline

Bug #55127: 4G memory, keycloak app is hungry
  test/scenarios/autotest-248-ram-rankine.cfg
Due: none

Bug #55150: check it property_type is "windowscomputer" before check _ignore_object
  services/univention-ad-connector/modules/univention/connector/__init__.py
Due: deb-pipeline

Bug #55150: Update changelog and advisory
  doc/errata/staging/univention-ad-connector.yaml
  services/univention-ad-connector/debian/changelog
Due: deb-pipeline

Bug #55150: Update changelog
  test/ucs-test/debian/changelog
Due: deb-pipeline

Bug #55150: Create new ucs-test to check this bug
  test/ucs-test/tests/55_adconnector/508test_filter_ignore.py
Due: deb-pipeline

Bug #55150: Update advisory
  doc/errata/staging/univention-ad-connector.yaml
Due: none

Bug #55165: Add dcd specific product tests
  test/product-tests/component/dcd_all_roles.cfg
  test/product-tests/component/dcd_redis_primary_change.cfg
Due: none

fixup! Bug #55165: Add dcd specific product tests
  test/product-tests/component/dcd_all_roles.cfg
Due: none

Bug #55155: Create a MR template
  .gitlab/merge_request_templates/Default.md
Due: deb-pipeline

fixup! fixup! Bug #55165: Add dcd specific product tests
  test/product-tests/component/dcd_all_roles.cfg
  test/product-tests/component/dcd_redis_primary_change.cfg
Due: none

Bug #55127: added frontend packages
  test/scenarios/autotest-248-ram-rankine.cfg
  test/utils/ram/utils-ram.sh
Due: none

Bug #55127: remove unneeded variables in start-kvm.sh script
  test/utils/ram/start-kvm.sh
Due: none

Bug #55165: Add specific tag to be able to filter for that special test
  test/ucs-test/tests/20_appcenter/21_app_specific_test
Due: deb-pipeline

Bug #55165: Only execute app specific test
  test/product-tests/component/dcd_all_roles.cfg
  test/product-tests/component/dcd_redis_primary_change.cfg
Due: none

fixup! Bug #55165: Only execute app specific test
  test/product-tests/component/dcd_all_roles.cfg
Due: none

Bug #52230: Create user with password
  test/ucs-test/tests/55_adconnector/402sync_test_ignore_attribute_performance
Due: deb-pipeline

Bug #12345: In Ad membermode displayName is shown in UMC
  test/ucs-test/tests/86_selenium/153_udm_check_properties_of_copied_users.py
  test/ucs-test/tests/86_selenium/18_overview_false.py
Due: deb-pipeline

Bug #47722: 66_udm_computers takes longer than an hour on ad/member machines
  test/ucs-test/tests/59_udm/66_test_udm_computers.py
Due: deb-pipeline

Bug #46727: Ignore docker overlay and __pycache__ directory in permission check
  test/ucs-test/tests/01_base/25check-permissions
Due: deb-pipeline

Bug #52875: Skip groupmembership-cache on s4, they do not relate to samba at all and are just way to flaky.
  test/ucs-test/tests/13_ldap_cache/10_ldap_cache_create.py
  test/ucs-test/tests/13_ldap_cache/20_ldap_cache_frontend.py
  test/ucs-test/tests/13_ldap_cache/30_ldap_cache_custom.py
  test/ucs-test/tests/13_ldap_cache/40_listener_integration.py
Due: deb-pipeline

Bug #55165: Fetch results
  test/product-tests/component/dcd_all_roles.cfg
  test/product-tests/component/dcd_redis_primary_change.cfg
Due: none

Bug #55167: qemu 1:3.1+dfsg-8+deb10u9
  doc/errata/staging/qemu.yaml
Due: none

Bug #55168: ghostscript 9.27~dfsg-2+deb10u6
  doc/errata/staging/ghostscript.yaml
Due: none

Bug #55169: flac 1.3.2-3+deb10u2
  doc/errata/staging/flac.yaml
Due: none

Bug #54780: univention-ad-connector 14.0.10-6A~5.0.0.202209021201
  doc/errata/staging/univention-ad-connector.yaml
Due: none

Bug #52263: univention-ad-connector 13.0.0-68A~4.4.0.202208310742
  doc/errata/staging/univention-ad-connector.yaml
Due: none

Path conditions:
  prepare ucslint: any of: packaging/ucslint/**/*
  doc-pipeline: any of: doc/[^e]*/**/*, doc/e[^r]*/**/*, doc/er[^r]*/**/*, doc/err[^a]*/**/*, doc/erra[^t]*/**/*, doc/errat[^a]*/**/*, doc/errata?*/**/*
  deb-pipeline: any of: [^dt]*/*/**/*, d[^o]*/*/**/*, do[^c]*/*/**/*, doc?*/*/**/*, t[^e]*/*/**/*, te[^s]*/*/**/*, tes[^t]*/*/**/*, test?*/*/**/*, test/generate-appliance/**/*, test/ucs-test/**/*, test/ucs-test-tools/**/*, test/univention-demo-configuration/**/*
