Repository univention/univention-corporate-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build ucslint, doc-pipeline, deb-pipeline, errata validation

Path conditions:
  build ucslint: any of: packaging/ucslint/**/*
  doc-pipeline: any of: doc/[^e]*/**/*, doc/e[^r]*/**/*, doc/er[^r]*/**/*, doc/err[^a]*/**/*, doc/erra[^t]*/**/*, doc/errat[^a]*/**/*, doc/errata?*/**/*
  deb-pipeline: any of: [^dt.]*/*/**/*, d[^o]*/*/**/*, do[^c]*/*/**/*, doc?*/*/**/*, t[^e]*/*/**/*, te[^s]*/*/**/*, tes[^t]*/*/**/*, test?*/*/**/*, test/generate-appliance/**/*, test/ucs-test/**/*, test/ucs-test-tools/**/*, test/univention-demo-configuration/**/*
  errata validation: any of: doc/errata/staging/*.yaml

forgot to add category to demo-portal
  test/univention-demo-configuration/portal/register_portal_entries.sh
Due: deb-pipeline

forgot to add category to demo-portal
  test/univention-demo-configuration/debian/changelog
Due: deb-pipeline

docs(ucs-operation): German translation for installation
  doc/ucs-operation/locales/de/LC_MESSAGES/deployment.po
  doc/ucs-operation/spelling_wordlist_de
Due: doc-pipeline

docs(ucs-operation): Continue rework installation
  doc/ucs-operation/deployment/index.rst
  doc/ucs-operation/deployment/install.rst
  doc/ucs-operation/deployment/vmware.rst
Due: doc-pipeline

chore(rsync): create advisory for 3.2.7-1+deb12u4A~5.2.4.202601200758
  doc/errata/staging/rsync.yaml
Due: errata validation

chore(libidn2): create advisory for 2.0.5-1+deb10u2
  doc/errata/staging/libidn2.yaml
Due: errata validation

chore(postgresql-11): create advisory for 11.22-0+deb10u6
  doc/errata/staging/postgresql-11.yaml
Due: errata validation

fix: Restart UCS@school HTTP-API on upgrade
  doc/errata/staging/univention-directory-manager-modules.yaml
  management/univention-directory-manager-modules/debian/changelog
  management/univention-directory-manager-modules/debian/python3-univention-directory-manager.postinst
Due: deb-pipeline, errata validation

chore(udm): update advisory
  doc/errata/staging/univention-directory-manager-modules.yaml
Due: errata validation

fix(udm): fix UnboundLocalError in logging in syntax.py
  management/univention-directory-manager-modules/debian/changelog
  management/univention-directory-manager-modules/modules/univention/admin/syntax.py
Due: deb-pipeline

set password without kerberos
  management/univention-management-console/src/univention/management/console/session.py
Due: deb-pipeline

disable license check
  management/univention-directory-manager-modules/modules/univention/admin/license.py
Due: deb-pipeline

disable "suffixed_cookie_name"
  management/univention-management-console/src/univention/management/console/resource.py
Due: deb-pipeline

support un/authenticated memcached
  management/univention-self-service/umc/python/passwordreset/__init__.py
Due: deb-pipeline

provide domainname to email templates
  management/univention-self-service/umc/python/passwordreset/sending/send_email.py
Due: deb-pipeline

smtp authentication for self service emails
  management/univention-self-service/umc/python/passwordreset/sending/send_email.py
Due: deb-pipeline

remove UDM import
  management/univention-management-console/src/univention/management/console/server.py
Due: deb-pipeline

umc-server non-root
  management/univention-management-console/scripts/univention-management-console-module
Due: deb-pipeline

replace PAM login with UDM login for password change
  management/univention-management-console/src/univention/management/console/auth.py
Due: deb-pipeline

test(jenkins): reorder setup steps in "s4,backup" scenario
  test/scenarios/autotest-093-backup-s4.cfg
Due: none

fix: disabling structured logging restores original formatter
  base/univention-debug-python/python/univention/logging.py
Due: deb-pipeline

fix(udm-rest): load extended attributes in unmap-ldap-attributes endpoint
  management/univention-directory-manager-rest/debian/changelog
  management/univention-directory-manager-rest/src/univention/admin/rest/module.py
Due: deb-pipeline

test(udm-rest): test udm-rest unmap-ldap-attributes with ext attributes
  test/ucs-test/debian/changelog
  test/ucs-test/tests/73_udm-rest/21_test_udm_rest_api_unmap_ldap_attributes.py
Due: deb-pipeline

chore(udm-rest): update advisory
  doc/errata/staging/univention-directory-manager-rest.yaml
Due: errata validation

docs(ucs-operation): Move initial system configuration to separate file
  doc/ucs-operation/deployment/initial-system-configuration.rst
  doc/ucs-operation/deployment/install.rst
Due: doc-pipeline

feat(udm-rest): add log message in udm_rest_reload.py listener handler
  management/univention-directory-manager-rest/debian/changelog
  management/univention-directory-manager-rest/listener/udm_rest_reload.py
Due: deb-pipeline

chore(postgresql-9.6): announce security erratum 1781
  doc/errata/published/2026-01-21_1781_postgresql-9.6.yaml
Due: none

chore(gnupg2): announce security erratum 1780
  doc/errata/published/2026-01-21_1780_gnupg2.yaml
Due: none

chore(libidn2): announce security erratum 1372
  doc/errata/published/2026-01-21_1372_libidn2.yaml
Due: none

chore(postgresql-11): announce security erratum 1373
  doc/errata/published/2026-01-21_1373_postgresql-11.yaml
Due: none

chore(gnupg2): announce security erratum 1371
  doc/errata/published/2026-01-21_1371_gnupg2.yaml
Due: none

chore(postgresql-15): announce security erratum 1374
  doc/errata/published/2026-01-21_1374_postgresql-15.yaml
Due: none

chore(clamav): announce security erratum 334
  doc/errata/published/2026-01-21_334_clamav.yaml
Due: none

chore(python-urllib3): announce security erratum 336
  doc/errata/published/2026-01-21_336_python-urllib3.yaml
Due: none

chore(rsync): announce security erratum 337
  doc/errata/published/2026-01-21_337_rsync.yaml
Due: none

chore(firefox-esr): announce security erratum 335
  doc/errata/published/2026-01-21_335_firefox-esr.yaml
Due: none
