Repository univention/univention-corporate-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build ucslint, doc-pipeline, deb-pipeline, errata validation

build ucslint:
  stage: prepare
  variables:
    KANIKO_BUILD_CONTEXT: packaging/ucslint
    KANIKO_ARGS: --build-arg ucs=$ucs --cache=true

doc-pipeline:
  stage: build
  needs:
  - job: generate-config
  trigger:
    include:
    - artifact: generated-config-doc.yml
      job: generate-config
    strategy: depend
    forward:
      pipeline_variables: true

deb-pipeline:
  stage: build
  needs:
  - job: generate-config
  - job: prepare aptly
  - job: select ucslint
  variables:
    UCSLINT: $UCSLINT
  trigger:
    include:
    - artifact: generated-config-deb.yml
      job: generate-config
    strategy: depend
    forward:
      pipeline_variables: true

errata validation:
  stage: prepare
  tags:
  - omar
  resource_group: omar
  needs: []
  variables:
    VAULT_AUTH_ROLE: ucs-production
  secrets:
    BUGZILLA_CFG:
      vault:
        engine:
          name: kv-v2
          path: secret
        path: dist/repo-ng/production/bugzilla
        field: cfg
  script:
  ...

fixup! Issue univention/ucs#2078: fix product tests
  test/product-tests/samba/multi-server.sh
Due: none

fixup! fixup! Issue univention/ucs#2338: Only activate updates-test during installation
  test/scenarios/install-testing/school-dev.cfg
  test/scenarios/install-testing/school-scope.cfg
  test/scenarios/install-testing/school.cfg
Due: none

Bug #57690: Adjust test to modified samba SDDL output
  test/ucs-test/debian/changelog
  test/ucs-test/tests/51_samba4/52replication_sysvol_acls
Due: deb-pipeline

fixup! fix(test): re-tag docker images when we whan to install docker app from branch
  test/utils/utils.sh
Due: none

Bug #57696: libsepol 2.8-1+deb10u1
  doc/errata/staging/libsepol.yaml
Due: errata validation

Bug #57697: python-cryptography 2.6.1-3+deb10u5
  doc/errata/staging/python-cryptography.yaml
Due: errata validation

Bug #57698: openjdk-11 11.0.25+9-1~deb10u1
  doc/errata/staging/openjdk-11.yaml
Due: errata validation

Bug #57699: libheif 1.3.2-2+deb10u2
  doc/errata/staging/libheif.yaml
Due: errata validation

Bug #57699: fix yaml format
  doc/errata/staging/libheif.yaml
  doc/errata/staging/libsepol.yaml
  doc/errata/staging/openjdk-11.yaml
  doc/errata/staging/python-cryptography.yaml
Due: errata validation

Bug #57700: libsepol 2.6-2+deb9u1
  doc/errata/staging/libsepol.yaml
Due: errata validation

Bug #57701: asterisk 1:13.14.1~dfsg-2+deb9u10
  doc/errata/staging/asterisk.yaml
Due: errata validation

chore: convert type hints (Python 3.7+); fix type hints (Bug #57204)
  management/univention-directory-manager-rest/src/univention/admin/rest/async_client.py
Due: deb-pipeline

chore: make sync and async client as similar as possible (Bug #57204)
  management/univention-directory-manager-rest/src/univention/admin/rest/client/__init__.py
Due: deb-pipeline

chore: convert type hints (Python 3.7+); fix type hints (Bug #57204)
  management/univention-directory-manager-rest/pyproject.toml
  management/univention-directory-manager-rest/src/univention/admin/rest/client/__init__.py
Due: deb-pipeline

build: configuration, readme and Makefile to build and publish to PyPI (Bug #57204)
  management/univention-directory-manager-rest/Makefile.PyPI
  management/univention-directory-manager-rest/PYPI_README.md
  management/univention-directory-manager-rest/README.md
  management/univention-directory-manager-rest/pyproject.toml
Due: deb-pipeline

refactor: merge common code (Bug #57204)
  management/univention-directory-manager-rest/src/univention/admin/rest/async_client.py
  management/univention-directory-manager-rest/src/univention/admin/rest/client/__init__.py
Due: deb-pipeline

Issue univention/ucs#2338: Fix school DVD installation
  test/utils/utils-school.sh
Due: none

Bug #57700: fix yaml
  doc/errata/staging/asterisk.yaml
  doc/errata/staging/libsepol.yaml
Due: errata validation

Issue univention/ucs#1975: Improve automatic letsencrypt job
  test/scenarios/keycloak/keycloak-ec2-letsencrypt-different-path.cfg
  test/scenarios/keycloak/keycloak-ec2-letsencrypt-external-fqdn.cfg
  test/utils/start-test.sh
Due: none

Issue univention/ucs#2338: Fix shadow tests for openstack
  test/ucs-test/debian/changelog
  test/ucs-test/tests/59_udm/61_test_udm_users_unittests.py
Due: deb-pipeline

Issue univention/ucs#2338: Fix shadow tests for openstack
  test/ucs-test/debian/changelog
  test/ucs-test/tests/59_udm/61_test_udm_users_password_expire_date.py
Due: deb-pipeline

Bug #57700: libsepol ANNOUNCE
  doc/errata/published/2024-10-30_1634_libsepol.yaml
Due: none

Bug #57701: asterisk ANNOUNCE
  doc/errata/published/2024-10-30_1633_asterisk.yaml
Due: none

Bug #57699: libheif ANNOUNCE
  doc/errata/published/2024-10-30_1150_libheif.yaml
Due: none

Bug #57697: python-cryptography ANNOUNCE
  doc/errata/published/2024-10-30_1153_python-cryptography.yaml
Due: none

Bug #57696: libsepol ANNOUNCE
  doc/errata/published/2024-10-30_1151_libsepol.yaml
Due: none

Bug #57698: openjdk-11 ANNOUNCE
  doc/errata/published/2024-10-30_1152_openjdk-11.yaml
Due: none

Bug #57680: univention-management-console ANNOUNCE
  doc/errata/published/2024-10-30_1154_univention-management-console.yaml
Due: none

Bug #57715: ffmpeg 7:4.1.11-0+deb10u2
  doc/errata/staging/ffmpeg.yaml
Due: errata validation

Bug #57716: perl 5.28.1-6+deb10u2
  doc/errata/staging/perl.yaml
Due: errata validation

Bug #57718: linux-5.10 5.10.226-1~deb10u1
  doc/errata/staging/linux-5.10.yaml
Due: errata validation

Bug #57719: linux-signed-5.10-amd64 5.10.226+1~deb10u1
  doc/errata/staging/linux-signed-5.10-amd64.yaml
Due: errata validation

Bug #57720: shadow 1:4.5-1.1+deb10u1
  doc/errata/staging/shadow.yaml
Due: errata validation

Bug #57721: xorg-server 2:1.20.4-1+deb10u15
  doc/errata/staging/xorg-server.yaml
Due: errata validation

Bug #57722: libxml2 2.9.4+dfsg1-7+deb10u9
  doc/errata/staging/libxml2.yaml
Due: errata validation

Revert "Bug #57715: ffmpeg 7:4.1.11-0+deb10u2"
  doc/errata/staging/ffmpeg.yaml
Due: errata validation

Bug #57723: ffmpeg 7:3.2.19-0+deb9u5
  doc/errata/staging/ffmpeg.yaml
Due: errata validation

Bug #57724: shadow 1:4.4-4.1+deb9u2
  doc/errata/staging/shadow.yaml
Due: errata validation

Bug #57725: xorg-server 2:1.19.2-1+deb9u20
  doc/errata/staging/xorg-server.yaml
Due: errata validation

Path conditions:
  build ucslint: any of: packaging/ucslint/**/*
  doc-pipeline: any of: doc/[^e]*/**/*, doc/e[^r]*/**/*, doc/er[^r]*/**/*, doc/err[^a]*/**/*, doc/erra[^t]*/**/*, doc/errat[^a]*/**/*, doc/errata?*/**/*
  deb-pipeline: any of: [^dt.]*/*/**/*, d[^o]*/*/**/*, do[^c]*/*/**/*, doc?*/*/**/*, t[^e]*/*/**/*, te[^s]*/*/**/*, tes[^t]*/*/**/*, test?*/*/**/*, test/generate-appliance/**/*, test/ucs-test/**/*, test/ucs-test-tools/**/*, test/univention-demo-configuration/**/*
  errata validation: any of: doc/errata/staging/*.yaml
