Repository univention/univention-corporate-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: prepare ucslint, doc-pipeline, deb-pipeline, errata validation

prepare ucslint:
  stage: prepare
  interruptible: false
  variables:
    KANIKO_BUILD_CONTEXT: packaging/ucslint
    KANIKO_ARGS: --build-arg ucs=$ucs --cache=true

doc-pipeline:
  stage: build
  needs:
  - job: generate-config
  trigger:
    include:
    - artifact: generated-config-doc.yml
      job: generate-config
    strategy: depend
    forward:
      pipeline_variables: true

deb-pipeline:
  stage: build
  needs:
  - job: generate-config
  - job: prepare aptly
  - job: prepare ucslint
    optional: true
  trigger:
    include:
    - artifact: generated-config-deb.yml
      job: generate-config
    strategy: depend
    forward:
      pipeline_variables: true

errata validation:
  stage: build
  tags:
  - omar
  resource_group: omar
  needs: []
  variables:
    VAULT_AUTH_ROLE: ucs-production
  secrets:
    BUGZILLA_CFG:
      vault:
        engine:
          name: kv-v2
          path: secret
        path: dist/repo-ng/production/bugzilla
        field: cfg
  script:
  ...

Bug #55519: Update yaml
  doc/errata/staging/univention-keycloak.yaml
Due: errata validation

Bug #55127: fix mixed tabs and spaces (only tabs now)
  test/utils/ram/utils-ram.sh
Due: none

Bug #55511: skip mandatory CVE description in Advisory
  doc/errata/staging/samba.yaml
Due: errata validation

Bug #55435: UCR template can by Python3 only
  test/ucs-test/tests/03_ucr/37check-ucr-templates-py3-migration-status.py
Due: deb-pipeline

Issue #206: setup haproxy
  test/utils/ram/utils-ram.sh
Due: none

Bug #55435: Make UCS template Python2 compatible
  services/univention-samba4/conffiles/etc/logrotate.d/samba
  test/ucs-test/tests/03_ucr/37check-ucr-templates-py3-migration-status.py
Due: deb-pipeline

Bug #55435: Make UCS template Python2 compatible
  services/univention-samba/conffiles/etc/logrotate.d/samba
Due: deb-pipeline

Bug #55435: Advisory update
  doc/errata/staging/univention-samba.yaml
  doc/errata/staging/univention-samba4.yaml
Due: errata validation

Bug #55264: univention-printserver None
  doc/errata/staging/univention-printserver.yaml
Due: errata validation

Bug #54156: univention-samba4 9.0.8-10A~5.0.0.202301181637
  doc/errata/staging/univention-samba4.yaml
Due: errata validation

Bug #55486,Bug #55511: samba ANNOUNCE
  doc/errata/published/2023-01-18_543_samba.yaml
Due: none

Bug #55572: net-snmp ANNOUNCE
  doc/errata/published/2023-01-18_542_net-snmp.yaml
Due: none

Bug #54156,Bug #55435: univention-samba4 ANNOUNCE
  doc/errata/published/2023-01-18_547_univention-samba4.yaml
Due: none

Bug #55435: univention-samba ANNOUNCE
  doc/errata/published/2023-01-18_546_univention-samba.yaml
Due: none

Bug #55513,Bug #55519,Bug #55569: univention-keycloak ANNOUNCE
  doc/errata/published/2023-01-18_544_univention-keycloak.yaml
Due: none

Bug #55468,Bug #55548: univention-management-console-module-diagnostic ANNOUNCE
  doc/errata/published/2023-01-18_545_univention-management-console-module-diagnostic.yaml
Due: none

test(ucr): Rework pytest invocation
  base/univention-config-registry/setup.cfg
Due: deb-pipeline

Bug #55510: convert /etc/pam.d/dovecot template to multifile to support extending the configuration
  mail/univention-mail-dovecot/conffiles/etc/pam.d/00-dovecot-warning
  mail/univention-mail-dovecot/conffiles/etc/pam.d/dovecot
  mail/univention-mail-dovecot/debian/univention-mail-dovecot.univention-config-registry
Due: deb-pipeline

Bug #55510: changelog and advisory
  doc/errata/staging/univention-mail-dovecot.yaml
  mail/univention-mail-dovecot/debian/changelog
Due: deb-pipeline, errata validation

Bug #55510: Update advisory
  doc/errata/staging/univention-mail-dovecot.yaml
Due: errata validation

Bug #45058: Domain join now also works when the username has a zero in it
  base/univention-system-setup/debian/changelog
  base/univention-system-setup/umc/python/setup/util.py
  doc/errata/staging/univention-system-setup.yaml
Due: deb-pipeline, errata validation

Bug #55573: update advisory and changelog
  base/univention-config-registry/debian/changelog
  doc/errata/staging/univention-config-registry.yaml
  doc/errata/staging/univention-management-console-module-ucr.yaml
  management/univention-management-console-module-ucr/debian/changelog
Due: deb-pipeline, errata validation

Bug #55573: Update ucr info to show UCR type
  base/univention-config-registry/python/univention/config_registry/frontend.py
  base/univention-config-registry/python/univention/config_registry/validation.py
  base/univention-config-registry/tests/test_frontend.py
Due: deb-pipeline

Bug #55573: modify handler_set to return validation type check and integrate it in umc
  base/univention-config-registry/python/univention/config_registry/frontend.py
  management/univention-management-console-module-ucr/umc/python/ucr/__init__.py
  management/univention-management-console-module-ucr/umc/python/ucr/de.po
Due: deb-pipeline

Bug #55573: univention-config-registry 15.0.7-23A~5.0.0.202301191345
  doc/errata/staging/univention-config-registry.yaml
Due: errata validation

Bug #55573: univention-management-console-module-ucr 9.0.0-9A~5.0.0.202301191336
  doc/errata/staging/univention-management-console-module-ucr.yaml
Due: errata validation

Bug #45058: YAML
  doc/errata/staging/univention-system-setup.yaml
Due: errata validation

Issue #1418: new RAM branch test
  test/scenarios/autotest-248-ram-rankine-performance.cfg
Due: none

Issue #206: retry run-join-scriptf on failure
  test/scenarios/autotest-248-ram-rankine.cfg
Due: none

Bug #55585: firefox-esr 102.7.0esr-1~deb10u1
  doc/errata/staging/firefox-esr.yaml
Due: errata validation

Bug #55586: sudo 1.8.27-1+deb10u5
  doc/errata/staging/sudo.yaml
Due: errata validation

Bug #55587: pjproject 2.5.5~dfsg-6+deb9u8
  doc/errata/staging/pjproject.yaml
Due: errata validation

Bug #55588: sudo 1.8.19p1-2.1+deb9u5
  doc/errata/staging/sudo.yaml
Due: errata validation

fix[test]: change IP Address of updates-test.software... to fix kvm templates
  test/scenarios/ad-membermode/autotest-221-admember-w2019-english.cfg
  test/scenarios/ad-membermode/autotest-222-admember-w2k8r2-german.cfg
  test/scenarios/ad-membermode/autotest-223-admember-w2k12-german-slave.cfg
  test/scenarios/ad-membermode/autotest-224-admember-w2k12-german-other-join-user.cfg
  test/scenarios/ad-membermode/autotest-225-admember-w2k12r2-france.cfg
Due: none

fix(ldap): Unlimited search for DC Backup and Replica
  doc/errata/staging/univention-ldap.yaml
  management/univention-ldap/conffiles/etc/ldap/slapd.conf.d/40univention-ldap-server_database
  management/univention-ldap/conffiles/etc/ldap/slapd.conf.d/99translog
  management/univention-ldap/debian/changelog
Due: deb-pipeline, errata validation

style(ldap): Move UCRV defaults to default layer
  management/univention-ldap/conffiles/etc/ldap/slapd.conf.d/30univention-ldap-server_head
  management/univention-ldap/conffiles/etc/ldap/slapd.conf.d/40univention-ldap-server_database
  management/univention-ldap/debian/univention-ldap-client.postinst
  management/univention-ldap/debian/univention-ldap-client.univention-config-registry-variables
  management/univention-ldap/debian/univention-ldap-server.postinst
  management/univention-ldap/debian/univention-ldap-server.univention-config-registry-variables
Due: deb-pipeline

refactor(ldap): Simplify code for `index`
  management/univention-ldap/conffiles/etc/ldap/slapd.conf.d/40univention-ldap-server_database
Due: deb-pipeline

fix(ldap): UCRV ldap/translog-ignore-temporary
  doc/errata/staging/univention-ldap.yaml
  management/univention-ldap/conffiles/etc/ldap/slapd.conf.d/40univention-ldap-server_database
  management/univention-ldap/debian/changelog
Due: deb-pipeline, errata validation

Bug #34877: univention-ldap 16.0.7-26A~5.0.0.202301201745
  doc/errata/staging/univention-ldap.yaml
Due: errata validation

fix(appliance): Make AppID optional again
  test/utils/base_appliance.sh
Due: none

Path conditions:
  prepare ucslint: any of: packaging/ucslint/**/*
  doc-pipeline: any of: doc/[^e]*/**/*, doc/e[^r]*/**/*, doc/er[^r]*/**/*, doc/err[^a]*/**/*, doc/erra[^t]*/**/*, doc/errat[^a]*/**/*, doc/errata?*/**/*
  deb-pipeline: any of: [^dt]*/*/**/*, d[^o]*/*/**/*, do[^c]*/*/**/*, doc?*/*/**/*, t[^e]*/*/**/*, te[^s]*/*/**/*, tes[^t]*/*/**/*, test?*/*/**/*, test/generate-appliance/**/*, test/ucs-test/**/*, test/ucs-test-tools/**/*, test/univention-demo-configuration/**/*
  errata validation: any of: doc/errata/staging/*.yaml
