Repository univention/univention-corporate-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: prepare ucslint, doc-pipeline, deb-pipeline, errata validation

prepare ucslint:
  stage: prepare
  interruptible: false
  variables:
    KANIKO_BUILD_CONTEXT: packaging/ucslint
    KANIKO_ARGS: --build-arg ucs=$ucs --cache=true

doc-pipeline:
  stage: build
  needs:
  - job: generate-config
  trigger:
    include:
    - artifact: generated-config-doc.yml
      job: generate-config
    strategy: depend
    forward:
      pipeline_variables: true

deb-pipeline:
  stage: build
  needs:
  - job: generate-config
  - job: prepare aptly
  - job: prepare ucslint
    optional: true
  trigger:
    include:
    - artifact: generated-config-deb.yml
      job: generate-config
    strategy: depend
    forward:
      pipeline_variables: true

errata validation:
  stage: build
  tags:
  - omar
  resource_group: omar
  needs: []
  variables:
    VAULT_AUTH_ROLE: ucs-production
  secrets:
    BUGZILLA_CFG:
      vault:
        engine:
          name: kv-v2
          path: secret
        path: dist/repo-ng/production/bugzilla
        field: cfg
  script:
  ...

Bug #55420: pixman 0.34.0-1+deb9u1
  doc/errata/staging/pixman.yaml
Due: errata validation

Bug #55421: ffmpeg 7:3.2.19-0+deb9u1
  doc/errata/staging/ffmpeg.yaml
Due: errata validation

Bug #55422: sysstat 11.4.3-2+deb9u1
  doc/errata/staging/sysstat.yaml
Due: errata validation

fixup! feat(udm-rest openapi): describe nested properties / subsyntaxes in OpenAPI schema
  test/ucs-test/tests/73_udm-rest/03_complex_syntax_type.py
Due: deb-pipeline

Bug #55410: added remove_a_record
  management/univention-directory-manager-modules/univention-dnsedit
Due: deb-pipeline

Bug #55410: changelog
  management/univention-directory-manager-modules/debian/changelog
Due: deb-pipeline

feat(umc saml): make SAML identity cache configurable
  doc/errata/staging/univention-management-console.yaml
  management/univention-management-console/debian/changelog
  management/univention-management-console/debian/univention-management-console-web-server.postinst
  management/univention-management-console/debian/univention-management-console-web-server.univention-config-registry-variables
  management/univention-management-console/univention-management-console-web-server
Due: deb-pipeline, errata validation

fix(umc-saml): handle duplicated SAML messages as one
  doc/errata/staging/univention-management-console.yaml
  management/univention-management-console/debian/changelog
  management/univention-management-console/univention-management-console-web-server
Due: deb-pipeline, errata validation

fix(umc): log internal exception traces again
  doc/errata/staging/univention-management-console.yaml
  management/univention-management-console/debian/changelog
  management/univention-management-console/univention-management-console-web-server
Due: deb-pipeline, errata validation

Bug #55413: Fix parse in emailAddressValidDomain
  management/univention-directory-manager-modules/debian/changelog
  management/univention-directory-manager-modules/modules/univention/admin/syntax.py
Due: deb-pipeline

Bug #55413: YAML
  doc/errata/staging/univention-directory-manager-modules.yaml
Due: errata validation

Bug #55413: Typo in UCR default
  management/univention-directory-manager-modules/debian/python3-univention-directory-manager.univention-config-registry-variables
Due: deb-pipeline

chore(udm-simple): increase API version to 3
  management/univention-directory-manager-modules/modules/univention/udm/modules/appcenter_app.py
  management/univention-directory-manager-modules/modules/univention/udm/modules/computers_all.py
  management/univention-directory-manager-modules/modules/univention/udm/modules/container_cn.py
  management/univention-directory-manager-modules/modules/univention/udm/modules/container_dc.py
  management/univention-directory-manager-modules/modules/univention/udm/modules/container_ou.py
  management/univention-directory-manager-modules/modules/univention/udm/modules/generic.py
  management/univention-directory-manager-modules/modules/univention/udm/modules/groups_group.py
  management/univention-directory-manager-modules/modules/univention/udm/modules/mail_all.py
  management/univention-directory-manager-modules/modules/univention/udm/modules/mail_all.pyi
  management/univention-directory-manager-modules/modules/univention/udm/modules/nagios_service.py
  management/univention-directory-manager-modules/modules/univention/udm/modules/policies_registry.py
  management/univention-directory-manager-modules/modules/univention/udm/modules/policies_share_userquota.py
  management/univention-directory-manager-modules/modules/univention/udm/modules/policies_umc.py
  management/univention-directory-manager-modules/modules/univention/udm/modules/saml_serviceprovider.py
  management/univention-directory-manager-modules/modules/univention/udm/modules/settings_data.py
  management/univention-directory-manager-modules/modules/univention/udm/modules/settings_directory.py
  management/univention-directory-manager-modules/modules/univention/udm/modules/settings_portal.py
  management/univention-directory-manager-modules/modules/univention/udm/modules/settings_portal_category.py
  management/univention-directory-manager-modules/modules/univention/udm/modules/settings_portal_entry.py
  management/univention-directory-manager-modules/modules/univention/udm/modules/users_ldap_v1.py
  management/univention-directory-manager-modules/modules/univention/udm/modules/users_user.py
Due: deb-pipeline

feat(udm-simple): change list of policy DNs to mapping of policy type to list of policy DNs
  doc/errata/staging/univention-directory-manager-modules.yaml
  management/univention-directory-manager-modules/debian/changelog
  management/univention-directory-manager-modules/modules/univention/udm/encoders.py
  management/univention-directory-manager-modules/modules/univention/udm/modules/generic.py
Due: deb-pipeline, errata validation

Bug #55383: install keycloak from backup first
  test/product-tests/component/keycloak_2backups.cfg
Due: none

perf(udm-rest): prevent duplicated LDAP get
  management/univention-directory-manager-rest/src/univention/admin/rest/module.py
Due: deb-pipeline

Bug #55407: Updated advisory
  doc/errata/staging/samba.yaml
Due: errata validation

Bug #55184: updated readme
  test/scenarios/kvm-templates/README.md
Due: none

Bug #55184: create license for 300000 users
  test/scenarios/autotest-248-ram-rankine-performance.cfg
  test/scenarios/autotest-248-ram-rankine.cfg
Due: none

Bug #55184: added install_apps_via_cmdline
  test/scenarios/autotest-248-ram-rankine-performance.cfg
  test/scenarios/autotest-248-ram-rankine.cfg
  test/utils/utils.sh
Due: none

Bug #55423: YAML
  doc/errata/staging/univention-management-console.yaml
Due: errata validation

Bug #55406: update Advisory
  doc/errata/staging/samba.yaml
Due: errata validation

chore(univention-directory-manager-rest): update advisory
  doc/errata/staging/univention-directory-manager-rest.yaml
Due: errata validation

chore(univention-directory-manager-modules): update advisory
  doc/errata/staging/univention-directory-manager-modules.yaml
Due: errata validation

chore(univention-support-info): update advisory
  doc/errata/staging/univention-support-info.yaml
Due: errata validation

Bug #55406: samba ANNOUNCE
  doc/errata/published/2022-11-15_480_samba.yaml
Due: none

Bug #26684: univention-support-info ANNOUNCE
  doc/errata/published/2022-11-15_481_univention-support-info.yaml
Due: none

Bug #54451: univention-web ANNOUNCE
  doc/errata/published/2022-11-15_482_univention-web.yaml
Due: none

Bug #55383: univention-server ANNOUNCE
  doc/errata/published/2022-11-15_484_univention-server.yaml
Due: none

Bug #55383: univention-keycloak ANNOUNCE
  doc/errata/published/2022-11-15_483_univention-keycloak.yaml
Due: none

Bug #55348: Advisory wording
  doc/errata/staging/univention-saml.yaml
Due: errata validation

Bug #55407: samba ANNOUNCE
  doc/errata/published/2022-11-15_1334_samba.yaml
Due: none

Bug #55184: rotate log files in kvm templates
  test/scenarios/kvm-templates/primary-with-200000-users-kvm-template.cfg
  test/scenarios/kvm-templates/ucs-school-performance-env1.cfg
Due: none

Bug #55428: vim 2:8.0.0197-4+deb9u8
  doc/errata/staging/vim.yaml
Due: errata validation

Bug #55418: xorg-server 2:1.19.2-1+deb9u11
  doc/errata/staging/xorg-server.yaml
Due: errata validation

Bug #55419: sudo 1.8.19p1-2.1+deb9u4
  doc/errata/staging/sudo.yaml
Due: errata validation

Path conditions:
  prepare ucslint: any of: packaging/ucslint/**/*
  doc-pipeline: any of: doc/[^e]*/**/*, doc/e[^r]*/**/*, doc/er[^r]*/**/*, doc/err[^a]*/**/*, doc/erra[^t]*/**/*, doc/errat[^a]*/**/*, doc/errata?*/**/*
  deb-pipeline: any of: [^dt]*/*/**/*, d[^o]*/*/**/*, do[^c]*/*/**/*, doc?*/*/**/*, t[^e]*/*/**/*, te[^s]*/*/**/*, tes[^t]*/*/**/*, test?*/*/**/*, test/generate-appliance/**/*, test/ucs-test/**/*, test/ucs-test-tools/**/*, test/univention-demo-configuration/**/*
  errata validation: any of: doc/errata/staging/*.yaml
