Repository univention/univention-corporate-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build ucslint, doc-pipeline, deb-pipeline, errata validation

build ucslint:
  stage: prepare
  variables:
    KANIKO_BUILD_CONTEXT: packaging/ucslint
    KANIKO_ARGS: --build-arg ucs=$ucs --cache=true

doc-pipeline:
  stage: build
  needs:
  - job: generate-config
  trigger:
    include:
    - artifact: generated-config-doc.yml
      job: generate-config
    strategy: depend
    forward:
      pipeline_variables: true

deb-pipeline:
  stage: build
  needs:
  - job: generate-config
  - job: prepare aptly
  - job: select ucslint
  variables:
    UCSLINT: $UCSLINT
  trigger:
    include:
    - artifact: generated-config-deb.yml
      job: generate-config
    strategy: depend
    forward:
      pipeline_variables: true

errata validation:
  stage: prepare
  tags:
  - omar
  resource_group: omar
  needs: []
  variables:
    VAULT_AUTH_ROLE: ucs-production
  secrets:
    BUGZILLA_CFG:
      vault:
        engine:
          name: kv-v2
          path: secret
        path: dist/repo-ng/production/bugzilla
        field: cfg
  script:
  ...

chore(univention-directory-manager-modules): announce erratum 409
  doc/errata/published/2026-04-15_409_univention-directory-manager-modules.yaml
Due: none

chore(openssl): announce security erratum 405
  doc/errata/published/2026-04-15_405_openssl.yaml
Due: none

chore(univention-s4-connector): announce erratum 408
  doc/errata/published/2026-04-15_408_univention-s4-connector.yaml
Due: none

chore(postgresql-11): announce security erratum 1408
  doc/errata/published/2026-04-15_1408_postgresql-11.yaml
Due: none

chore(ffmpeg): announce security erratum 1407
  doc/errata/published/2026-04-15_1407_ffmpeg.yaml
Due: none

chore(bind9): announce security erratum 1406
  doc/errata/published/2026-04-15_1406_bind9.yaml
Due: none

chore(postgresql-9.6): announce security erratum 1808
  doc/errata/published/2026-04-15_1808_postgresql-9.6.yaml
Due: none

style: fix ruff issues
  management/univention-directory-listener/examples/complex_handler.py
  management/univention-directory-manager-modules/modules/univention/udm/encoders.py
  management/univention-management-console/dev/dh-umc-module-install
  services/univention-ad-connector/univention-adconnector-list-rejected
  services/univention-printserver/univention-lpadmin
  services/univention-s4-connector/univention-s4connector-list-rejected
  test/ucs-test/tests/21_appcenter-uninstall/25_app_uninstall.py
  test/ucs-test/tests/42_authorization/06_default_roles_linux_client_manager_udm_rest.py
  test/ucs-test/tests/81_keycloak/05_univention-keycloak.py
Due: deb-pipeline

ci(pre-commit): update to ruff 0.15.10
  .pre-commit-config.yaml
Due: none

style(umc): fix ruff issues
  management/univention-management-console/dev/dh-umc-module-install
Due: deb-pipeline

test(keycloak): raise on keycloak error if not 404
  test/ucs-test/debian/changelog
  test/ucs-test/tests/81_keycloak/05_univention-keycloak.py
Due: deb-pipeline

fix(test): Handle HTTP 400 invalid_grant response for failed authentication
  test/ucs-test/debian/changelog
  test/ucs-test/tests/81_keycloak/06_keycloak_connection.py
  test/ucs-test/tests/81_keycloak/18_audit_event_log_levels.py
Due: deb-pipeline

docs(operation/domain-infrastructure): Add structure for domain join
  doc/ucs-operation/domain-infrastructure/domain-join.rst
  doc/ucs-operation/domain-infrastructure/index.rst
Due: doc-pipeline

docs(operation/images): Domain join on macOS
  doc/ucs-operation/images/macosx-bind-de.png
  doc/ucs-operation/images/macosx-bind.png
Due: doc-pipeline

docs(operation/domain-infrastructure): Original content for domain join
  doc/ucs-operation/domain-infrastructure/domain-join.rst
Due: doc-pipeline

docs(operation/domain-infrastructure): Rework Domain Join
  doc/ucs-operation/domain-infrastructure/domain-join.rst
Due: doc-pipeline

docs(operation/deployment): Add naming constraint for domain name
  doc/ucs-operation/deployment/domain-setup.rst
Due: doc-pipeline

docs(operation): Update internal cross-references
  doc/ucs-operation/domain-infrastructure/system-roles.rst
  doc/ucs-operation/lifecycle/update-strategies.rst
Due: doc-pipeline

docs(operation/changelog): Add entry
  doc/ucs-operation/changelog.rst
Due: doc-pipeline

docs(operation): Update German translation
  doc/ucs-operation/locales/de/LC_MESSAGES/changelog.po
  doc/ucs-operation/locales/de/LC_MESSAGES/deployment.po
  doc/ucs-operation/locales/de/LC_MESSAGES/domain-infrastructure.po
  doc/ucs-operation/locales/de/LC_MESSAGES/lifecycle.po
  doc/ucs-operation/spelling_wordlist_de
Due: doc-pipeline

docs(manual/domain-ldap): Update German translation
  doc/manual/locales/de/LC_MESSAGES/domain-ldap.po
Due: doc-pipeline

docs(manual/domain-ldap): Replace domain join content with references to UCS Operation Manual
  doc/manual/domain-ldap/domain-join.rst
Due: doc-pipeline

fix(udn): validate DN in univention-replicate-one
  doc/errata/staging/univention-directory-notifier.yaml
  management/univention-directory-notifier/debian/changelog
  management/univention-directory-notifier/univention-replicate-one
Due: deb-pipeline, errata validation

feat(udm): provide mapping for GeneralizedTime to ISO8601
  management/univention-directory-manager-modules/modules/univention/admin/mapping.py
Due: deb-pipeline

refactor(udm): don't overwrite builtin name "list"
  management/univention-directory-manager-modules/modules/univention/admin/mapping.py
Due: deb-pipeline

refactor(udm): adjust AttributeHook to use builtin map/unmap functionality
  management/univention-directory-manager-modules/modules/univention/admin/hook.py
Due: deb-pipeline

feat(udm): add map and unmap functionatlity for extended attributes
  doc/errata/staging/univention-directory-manager-modules.yaml
  management/univention-directory-manager-modules/debian/changelog
  management/univention-directory-manager-modules/modules/univention/admin/hook.py
  management/univention-directory-manager-modules/modules/univention/admin/mapping.py
  management/univention-directory-manager-modules/modules/univention/admin/modules.py
Due: deb-pipeline, errata validation

docs(developer-reference): describe map/unmap of UDM hooks
  doc/developer-reference/udm/package-extended-attributes.rst
Due: doc-pipeline

feat(udm): add mapISO8601DateTimeToGeneralizedTime
  doc/errata/staging/univention-directory-manager-modules.yaml
  management/univention-directory-manager-modules/debian/changelog
  management/univention-directory-manager-modules/modules/univention/admin/mapping.py
Due: deb-pipeline, errata validation

docs(operation/conf): Add Nubus Customization for cross-references
  doc/ucs-operation/conf.py
Due: doc-pipeline

docs(operation/iam): Structure for HTTP API
  doc/ucs-operation/iam/http-api.rst
  doc/ucs-operation/iam/index.rst
Due: doc-pipeline

docs(operation/iam): Original content for HTTP API
  doc/ucs-operation/iam/http-api.rst
Due: doc-pipeline

docs(operation/iam): Rework HTTP API content
  doc/ucs-operation/iam/http-api.rst
Due: doc-pipeline

docs(operation/iam): Update German translation
  doc/ucs-operation/locales/de/LC_MESSAGES/iam.po
Due: doc-pipeline

docs(manual/central-management-umc): Update German translation
  doc/manual/locales/de/LC_MESSAGES/central-management-umc.po
Due: doc-pipeline

docs(manual/central-management-umc): Replace HTTP API content with cross-reference to UCS Operation Manual
  doc/manual/central-management-umc/http-api-domain-management.rst
Due: doc-pipeline

docs(operation/changelog): Add entry for HTTP API
  doc/ucs-operation/changelog.rst
Due: doc-pipeline

docs(operation/changelog): Update German translation
  doc/ucs-operation/locales/de/LC_MESSAGES/changelog.po
Due: doc-pipeline

ci(sonarqube): update sonar-project.properties
  sonar-project.properties
Due: none

chore(imagemagick): create advisory for 8:6.9.11.60+dfsg-1.6+deb12u8
  doc/errata/staging/imagemagick.yaml
Due: errata validation

Path conditions:
  build ucslint: any of: packaging/ucslint/**/*
  doc-pipeline: any of: doc/[^e]*/**/*, doc/e[^r]*/**/*, doc/er[^r]*/**/*, doc/err[^a]*/**/*, doc/erra[^t]*/**/*, doc/errat[^a]*/**/*, doc/errata?*/**/*
  deb-pipeline: any of: [^dt.]*/*/**/*, d[^o]*/*/**/*, do[^c]*/*/**/*, doc?*/*/**/*, t[^e]*/*/**/*, te[^s]*/*/**/*, tes[^t]*/*/**/*, test?*/*/**/*, test/generate-appliance/**/*, test/ucs-test/**/*, test/ucs-test-tools/**/*, test/univention-demo-configuration/**/*
  errata validation: any of: doc/errata/staging/*.yaml
