Repository univention/univention-corporate-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build ucslint, doc-pipeline, deb-pipeline, errata validation

build ucslint:
  stage: prepare
  variables:
    KANIKO_BUILD_CONTEXT: packaging/ucslint
    KANIKO_ARGS: --build-arg ucs=$ucs --cache=true

doc-pipeline:
  stage: build
  needs:
  - job: generate-config
  trigger:
    include:
    - artifact: generated-config-doc.yml
      job: generate-config
    strategy: depend
    forward:
      pipeline_variables: true

deb-pipeline:
  stage: build
  needs:
  - job: generate-config
  - job: prepare aptly
  - job: select ucslint
  variables:
    UCSLINT: $UCSLINT
  trigger:
    include:
    - artifact: generated-config-deb.yml
      job: generate-config
    strategy: depend
    forward:
      pipeline_variables: true

errata validation:
  stage: prepare
  tags:
  - omar
  resource_group: omar
  needs: []
  variables:
    VAULT_AUTH_ROLE: ucs-production
  secrets:
    BUGZILLA_CFG:
      vault:
        engine:
          name: kv-v2
          path: secret
        path: dist/repo-ng/production/bugzilla
        field: cfg
  script:
  ...

docs(ucs-operation): add security hardening introduction
  doc/ucs-operation/security-hardening/index.rst
Due: doc-pipeline

docs(ucs-operation): add Kerberos security hardening guide
  doc/ucs-operation/contents.rst
  doc/ucs-operation/security-hardening/index.rst
  doc/ucs-operation/security-hardening/kerberos.rst
Due: doc-pipeline

docs(changelog): fix references
  doc/changelog/README.md
Due: doc-pipeline

docs(changelog): add changelog entry
  doc/changelog/index.rst
Due: doc-pipeline

docs(changelog): merge changelog entry
  doc/changelog/index.rst
Due: doc-pipeline

chore(start-test): Use new EC2 and KVM images for UCS 5.2-7
  test/utils/start-test.sh
Due: none

feat(ucr): add rust library
  base/univention-config-registry/Cargo.toml
  base/univention-config-registry/build.rs
  base/univention-config-registry/debian/cargo-checksum.json
  base/univention-config-registry/debian/changelog
  base/univention-config-registry/debian/control
  base/univention-config-registry/debian/rules
  base/univention-config-registry/src/lib.rs
Due: deb-pipeline

chore: remove python implementation
  services/univention-radius/.gitignore
  services/univention-radius/debian/control
  services/univention-radius/debian/rules
  services/univention-radius/modules/univention/__init__.py
  services/univention-radius/modules/univention/radius/__init__.py
  services/univention-radius/modules/univention/radius/networkaccess.py
  services/univention-radius/modules/univention/radius/pyMsChapV2.py
  services/univention-radius/modules/univention/radius/utils.py
  services/univention-radius/pytest.ini
  services/univention-radius/setup.py
  services/univention-radius/tests/test_mschapv2.py
  services/univention-radius/tests/test_utils.py
  services/univention-radius/usr/bin/univention-radius-check-access
Due: deb-pipeline

fix(radius): use absolute path for libraries as we run with setuid flag
  services/univention-radius/modules/univention/radius/pyMsChapV2.py
Due: deb-pipeline

docs(radius): describe Rust development
  services/univention-radius/README-dev.md
Due: deb-pipeline

test(radius): migrate the pytest to rust unittests
  services/univention-radius/src/mschapv2.rs
  services/univention-radius/src/utils.rs
Due: deb-pipeline

feat(policy): add rust library
  base/univention-policy/Cargo.toml
  base/univention-policy/build.rs
  base/univention-policy/debian/cargo-checksum.json
  base/univention-policy/debian/changelog
  base/univention-policy/debian/control
  base/univention-policy/debian/rules
  base/univention-policy/src/lib.rs
Due: deb-pipeline

feat(ucr): provide methods to iterate over UCR variables
  base/univention-config-registry/debian/libunivention-config0.symbols
  base/univention-config-registry/include/univention/config.h
  base/univention-config-registry/lib/config.c
Due: deb-pipeline

revert: "Bug #55996: replace the non-default enabled md4 from hashlib with md4_hash_blob from samba4.crypto"
  services/univention-radius/debian/control
  services/univention-radius/modules/univention/radius/pyMsChapV2.py
Due: deb-pipeline

perf(radius): univention-radius-ntlm-auth rewrite in rust
  services/univention-radius/Cargo.toml
  services/univention-radius/Makefile
  services/univention-radius/conffiles/etc/freeradius/3.0/mods-available/mschap
  services/univention-radius/debian/cargo-checksum.json
  services/univention-radius/debian/changelog
  services/univention-radius/debian/control
  services/univention-radius/debian/rules
  services/univention-radius/debian/univention-radius.install
  services/univention-radius/debian/univention-radius.postinst
  services/univention-radius/debian/univention-radius.univention-config-registry-variables
  services/univention-radius/rustfmt.toml
  services/univention-radius/src/check_access.rs
  services/univention-radius/src/logger.rs
  services/univention-radius/src/main.rs
  services/univention-radius/src/mschapv2.rs
  services/univention-radius/src/networkaccess.rs
  services/univention-radius/src/school_networkaccess.rs
  services/univention-radius/src/utils.rs
  services/univention-radius/univention-radius-ntlm-auth-suidwrapper.c
  services/univention-radius/usr/bin/univention-radius-ntlm-auth
Due: deb-pipeline

build(debian): stop using dh-cargo for mixed-language package
  base/univention-config-registry/debian/changelog
  base/univention-config-registry/debian/control
  base/univention-config-registry/debian/rules
Due: deb-pipeline

build(policy): stop using dh-cargo for mixed-language package
  base/univention-policy/debian/changelog
  base/univention-policy/debian/control
  base/univention-policy/debian/rules
Due: deb-pipeline

chore(start-script): Revert the OLD_AMI and update the CURRENT_AMI
  test/utils/start-test.sh
Due: none

build(radius): avoid patching dh-cargo during build
  services/univention-radius/debian/changelog
  services/univention-radius/debian/control
  services/univention-radius/debian/rules
Due: deb-pipeline

test(ox8): Update failing install_ox8 script
  test/utils/install_ox8.sh
Due: none

test(dockertest): Drop UCS 4.4 from local appcenter
  test/ucs-test/tests/80_docker/dockertest.py
Due: deb-pipeline

chore(errata-level): reset errata level to 0
  base/univention-errata-level/debian/univention-errata-level.postinst
Due: deb-pipeline

chore: replace UCS version to 5.3
  README.dev.md
  base/univention-l10n-fr/fr/management/univention-directory-manager-modules/modules/univention/admin/handlers/nagios/fr.po
  base/univention-l10n-fr/fr/management/univention-directory-manager-modules/modules/univention/admin/handlers/policies/fr.po
  base/univention-l10n-fr/fr/management/univention-directory-manager-modules/modules/univention/admin/handlers/shares/fr.po
  base/univention-l10n-fr/fr/management/univention-management-console-module-diagnostic/umc/python/diagnostic/fr.po
  base/univention-system-activation/www/ActivationWizard.js
  management/univention-appcenter/unittests/conftest.py
  management/univention-appcenter/unittests/dependencies.ldif
  management/univention-appcenter/unittests/inis/dependencies/5.0/self-service-backend_20200312115710.ini
  management/univention-appcenter/unittests/inis/dependencies/5.0/self-service_20151117.ini
  management/univention-appcenter/unittests/inis/install_checks/5.0/samba-memberserver.ini
  management/univention-appcenter/unittests/inis/install_checks/5.0/self-service-backend_20200312115710.ini
  management/univention-appcenter/unittests/inis/install_checks/5.0/self-service_20151117.ini
  management/univention-appcenter/unittests/install_checks.ldif
  management/univention-directory-listener/README.md
  management/univention-directory-manager-modules/README-authorization.md
  management/univention-directory-manager-modules/README-users-user-account-states.md
  management/univention-directory-manager-modules/modules/univention/admin/handlers/policies/de.po
  management/univention-directory-manager-modules/modules/univention/admin/handlers/policies/policy.py
  management/univention-directory-manager-modules/modules/univention/admin/handlers/shares/de.po
  management/univention-directory-manager-modules/modules/univention/admin/handlers/shares/printer.py
  management/univention-management-console-module-diagnostic/umc/python/diagnostic/de.po
  management/univention-management-console-module-diagnostic/umc/python/diagnostic/plugins/21_check_join_status.py
  packaging/univention-l10n/README.md
  test/ucs-test/tests/20_appcenter/92_update.py
  test/ucs-test/tests/80_docker/63_app_register_with_old_app_installed.py
  test/utils/utils-school-idbroker.sh
Due: deb-pipeline

feat(updater): set versions to UCS 5.3
  base/univention-updater/README.md
  base/univention-updater/debian/univention-updater.postinst
  base/univention-updater/doc/code.md
  base/univention-updater/doc/layout4.md
  base/univention-updater/script/check.sh
  base/univention-updater/script/postup.sh
  base/univention-updater/script/preup.sh
Due: deb-pipeline

feat(updater): switch to https://updates-test.software-univention.de/
  base/univention-updater/debian/univention-updater.postinst
Due: deb-pipeline

feat(dvd): UCS-5.3-0 ISO
  base/univention-dvd/data/ucs530/amd64_netinst_udeb_include
  base/univention-dvd/data/ucs530/amd64_udeb_include
  base/univention-dvd/data/ucs530/exclude-udebs
  base/univention-dvd/data/ucs530/exclude-udebs-amd64
  base/univention-dvd/data/ucs530/grub-theme.in
  base/univention-dvd/data/ucs530/hl_c.png
  base/univention-dvd/data/ucs530/udeb_exclude
  base/univention-dvd/tasks/ucs530/empty
  base/univention-dvd/tasks/ucs530/exclude
  base/univention-dvd/tasks/ucs530/forcd1
  base/univention-dvd/tasks/ucs530/task-ucs530
  base/univention-dvd/tools/boot/ucs530/boot-amd64
  base/univention-dvd/tools/boot/ucs530/boot-x86
  base/univention-dvd/tools/boot/ucs530/common.sh
  base/univention-dvd/tools/boot/ucs530/parse_isolinux
  base/univention-dvd/tools/boot/ucs530/x86-desktop.sh
  base/univention-dvd/tools/ucs530
  base/univention-dvd/ucs530.conf
Due: deb-pipeline

refactor(umc-diagnostic): fix DNS deprecation warning
  management/univention-management-console-module-diagnostic/umc/python/diagnostic/plugins/11_nameserver.py
  management/univention-management-console-module-diagnostic/umc/python/diagnostic/plugins/22_kdc_service.py
Due: deb-pipeline

docs(changelog): Use UCS RST builder for changelog
  doc/changelog/conf.py
Due: doc-pipeline

ci(jenkins): update version to UCS 5.3
  test/scenarios/kvm-templates/README.md
  test/utils/start-test.sh
Due: none

refactor(appcenter): adjust to ruamel API changes
  doc/changelog/staged/changelog-umc-appcenter.59521.rst
Due: doc-pipeline

refactor(umc-join): fix DNS deprecation warning
  management/univention-management-console-module-join/umc/python/join/__init__.py
Due: deb-pipeline

refactor(apache): fix DNS deprecation warning
  doc/changelog/staged/base.59539.rst
  services/univention-apache/univention-add-vhost
Due: doc-pipeline, deb-pipeline

refactor(lib): fix DNS deprecation warning
  base/univention-lib/python/admember.py
Due: deb-pipeline

chore(gitlab): update version to UCS 5.3
  .gitlab-ci/base.yml
  .gitlab-ci/doc-builder
Due: none

docs(changelog): add empty changelog skeleton
  doc/changelog/index.rst
  doc/release-notes/index.rst
Due: doc-pipeline

Path conditions:
  build ucslint: any of: packaging/ucslint/**/*
  doc-pipeline: any of: doc/[^e]*/**/*, doc/e[^r]*/**/*, doc/er[^r]*/**/*, doc/err[^a]*/**/*, doc/erra[^t]*/**/*, doc/errat[^a]*/**/*, doc/errata?*/**/*
  deb-pipeline: any of: [^dt.]*/*/**/*, d[^o]*/*/**/*, do[^c]*/*/**/*, doc?*/*/**/*, t[^e]*/*/**/*, te[^s]*/*/**/*, tes[^t]*/*/**/*, test?*/*/**/*, test/generate-appliance/**/*, test/ucs-test/**/*, test/ucs-test-tools/**/*, test/univention-demo-configuration/**/*
  errata validation: any of: doc/errata/staging/*.yaml
