Repository univention/univention-corporate-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build ucslint, doc-pipeline, deb-pipeline, errata validation

Path conditions:
  build ucslint: any of: packaging/ucslint/**/*
  doc-pipeline: any of: doc/[^e]*/**/*, doc/e[^r]*/**/*, doc/er[^r]*/**/*, doc/err[^a]*/**/*, doc/erra[^t]*/**/*, doc/errat[^a]*/**/*, doc/errata?*/**/*
  deb-pipeline: any of: [^dt.]*/*/**/*, d[^o]*/*/**/*, do[^c]*/*/**/*, doc?*/*/**/*, t[^e]*/*/**/*, te[^s]*/*/**/*, tes[^t]*/*/**/*, test?*/*/**/*, test/generate-appliance/**/*, test/ucs-test/**/*, test/ucs-test-tools/**/*, test/univention-demo-configuration/**/*
  errata validation: any of: doc/errata/staging/*.yaml

feat(error-handling): Issue univention/dev/projects/open-xchange/connector#135: Test error handling
  test/product-tests/component/ox-connector-with-ox8.cfg
Due: none

ci(gitlab): fix quoting error
  .gitlab-ci/base-deb.yml
Due: none

remove obsolete python_paths
  management/univention-directory-manager-modules/setup.cfg
  packaging/ucslint/setup.cfg
  services/univention-radius/pytest.ini
Due: build ucslint, deb-pipeline

try to get clean and latest git cache
  .gitlab-ci.yml
Due: none

perf(authorization): re-use TCP connection via request.Session
  management/univention-authorization/modules/univention/authorization/management.py
Due: deb-pipeline

ci(utils): support BASE_SCOPE
  test/scenarios/delegated-administration-testing/primary-with-guardian.cfg
  test/scenarios/delegated-administration-testing/primary-without-delegated-administration.cfg
  test/scenarios/delegated-administration-testing/primary.cfg
  test/utils/utils.sh
Due: none

build(debug): fix compiler warnings about tv.tv_usec being "long"
  base/univention-debug/debian/changelog
  base/univention-debug/lib/Makefile.am
  base/univention-debug/lib/debug.c
  doc/errata/staging/univention-debug.yaml
Due: deb-pipeline, errata validation

feat(ad-connector): fix logger in well-known-sid-object-rename
  doc/errata/staging/univention-ad-connector.yaml
  services/univention-ad-connector/debian/changelog
  services/univention-ad-connector/scripts/well-known-sid-object-rename
Due: deb-pipeline, errata validation

feat(ad-connector): fix regression for windowscomputer
  doc/errata/staging/univention-ad-connector.yaml
  services/univention-ad-connector/debian/changelog
  services/univention-ad-connector/modules/univention/connector/ad/__init__.py
Due: deb-pipeline, errata validation

fix(univention-keycloak): Add all bugs into the changelog
  doc/errata/staging/univention-keycloak.yaml
  services/univention-keycloak/debian/changelog
Due: deb-pipeline, errata validation

fix(univention-keycloak): fix regression on `2fa enable` operation
  services/univention-keycloak/scripts/univention-keycloak
Due: deb-pipeline

feat(univention-keycloak): Add support for standard token exchange
  services/univention-keycloak/scripts/univention-keycloak
  test/ucs-test/tests/81_keycloak/05_univention-keycloak.py
Due: deb-pipeline

fix: create oidc client scope
  doc/errata/staging/univention-keycloak.yaml
  services/univention-keycloak/scripts/univention-keycloak
Due: deb-pipeline, errata validation

fix(univention-keycloak): Only check the Keycloak version if on a UCS system
  services/univention-keycloak/scripts/univention-keycloak
Due: deb-pipeline

fix: added test for client scope creation
  services/univention-keycloak/scripts/univention-keycloak
  test/ucs-test/debian/changelog
  test/ucs-test/tests/81_keycloak/05_univention-keycloak.py
  test/ucs-test/tests/81_keycloak/12_test_migration.py
  test/ucs-test/tests/81_keycloak/DATA.py
Due: deb-pipeline

test(ucs-test): execute test case with english locale
  test/ucs-test/debian/changelog
  test/ucs-test/tests/60_umc/17_traceback_handling.py
Due: deb-pipeline

test(umc): remove unnecessary workaround
  test/ucs-test/tests/60_umc/17_traceback_handling.py
Due: deb-pipeline

test(ucs-test): new logging format
  test/ucs-test/debian/changelog
  test/ucs-test/tests/55_adconnector/402sync_test_ignore_attribute_performance
Due: deb-pipeline

Revert "try to get clean and latest git cache"
  .gitlab-ci.yml
Due: none

feat(udm): new udm type users/federated_account
  management/univention-directory-manager-modules/modules/univention/admin/handlers/users/de.po
  management/univention-directory-manager-modules/modules/univention/admin/handlers/users/federated_account.py
Due: deb-pipeline

feat(ldap): LDAP schema/acl for federated accounts
  management/univention-ldap/conffiles/etc/ldap/slapd.conf.d/10univention-ldap-server_schema
  management/univention-ldap/conffiles/etc/ldap/slapd.conf.d/60univention-ldap-server_acl-master
  management/univention-ldap/conffiles/etc/ldap/slapd.conf.d/60univention-ldap-server_acl-slave
  management/univention-ldap/conffiles/etc/ldap/slapd.conf.d/70univention-ldap-server_acl-master-end
  management/univention-ldap/conffiles/etc/ldap/slapd.conf.d/70univention-ldap-server_acl-slave-end
  management/univention-ldap/debian/univention-ldap-acl-master.univention-config-registry
  management/univention-ldap/debian/univention-ldap-acl-master.univention-config-registry-variables
  management/univention-ldap/debian/univention-ldap-acl-slave.univention-config-registry
  management/univention-ldap/schema/federated_account.schema
Due: deb-pipeline

fix(umc-acl): get user DN from session object
  management/univention-management-console/src/univention/management/console/acl.py
  management/univention-management-console/src/univention/management/console/session.py
Due: deb-pipeline

feat(umc-oidc): federated account for OIDC auth
  management/univention-management-console/src/univention/management/console/message.py
  management/univention-management-console/src/univention/management/console/modserver.py
  management/univention-management-console/src/univention/management/console/oidc.py
  management/univention-management-console/src/univention/management/console/resources.py
  management/univention-management-console/src/univention/management/console/session.py
Due: deb-pipeline

feat(udm-authz): get roles from connection object
  management/univention-directory-manager-modules/modules/univention/admin/authorization/__init__.py
Due: deb-pipeline

feat(umc-udm): get guardian roles from request
  management/univention-management-console-module-udm/umc/python/udm/__init__.py
Due: deb-pipeline

test(management-domain): test setup for external management domain
  .gitignore
  test/scenarios/delegated-administration-testing/primary.cfg
  test/ucs-test/tests/42_authorization/10_management_domain.py
  test/ucs-test/tests/42_authorization/example-group-mapping.json
  test/ucs-test/tests/42_authorization/keycloak-mapping-tool.md
  test/ucs-test/tests/42_authorization/keycloak-mapping-tool.py
  test/ucs-test/tests/42_authorization/keycloak_mapping_tool_config.yaml
  test/ucs-test/tests/42_authorization/setup-external-management-domain.py
Due: deb-pipeline

chore(udm): update advisory
  doc/errata/staging/univention-directory-manager-modules.yaml
Due: errata validation

chore(diagnostic): remove advisory to publish package independently
  doc/errata/staging/univention-management-console-module-diagnostic.yaml
Due: errata validation

chore(updater): update advisory
  doc/errata/staging/univention-updater.yaml
Due: errata validation

Bug #58644: univention-s4-connector ANNOUNCE
  doc/errata/published/2025-09-25_220_univention-s4-connector.yaml
Due: none
