Repository univention/univention-corporate-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build ucslint, doc-pipeline, deb-pipeline, errata validation

build ucslint:
  stage: prepare
  variables:
    KANIKO_BUILD_CONTEXT: packaging/ucslint
    KANIKO_ARGS: --build-arg ucs=$ucs --cache=true

doc-pipeline:
  stage: build
  needs:
  - job: generate-config
  trigger:
    include:
    - artifact: generated-config-doc.yml
      job: generate-config
    strategy: depend
    forward:
      pipeline_variables: true

deb-pipeline:
  stage: build
  needs:
  - job: generate-config
  - job: prepare aptly
  - job: select ucslint
  variables:
    UCSLINT: $UCSLINT
  trigger:
    include:
    - artifact: generated-config-deb.yml
      job: generate-config
    strategy: depend
    forward:
      pipeline_variables: true

errata validation:
  stage: prepare
  tags:
  - omar
  resource_group: omar
  needs: []
  variables:
    VAULT_AUTH_ROLE: ucs-production
  secrets:
    BUGZILLA_CFG:
      vault:
        engine:
          name: kv-v2
          path: secret
        path: dist/repo-ng/production/bugzilla
        field: cfg
  script:
  ...

test(grep-traceback): ignore traceback
  test/ucs-test/tests/99_end/grep_traceback.py
Due: deb-pipeline

try I think the joinscript should fail if the user could not be created
  services/univention-admin-diary/create-database
Due: deb-pipeline

test(udm-rest): migrate to native Debian Package
  test/ucs-test/debian/control
  test/ucs-test/tests/73_udm-rest/01_openapi_validation
Due: deb-pipeline

feat(s4-connector): convert to native systemd unit
  management/univention-join/univention-join
  management/univention-management-console-module-adtakeover/umc/python/adtakeover/takeover.py
  monitoring/univention-monitoring-client/alerts-s4-connector/check_univention_s4_connector
  monitoring/univention-nagios-s4-connector/check_univention_s4_connector
  services/univention-s4-connector/97univention-s4-connector.inst
  services/univention-s4-connector/conffiles/etc/logrotate.d/univention-s4-connector
  services/univention-s4-connector/debian/rules
  services/univention-s4-connector/debian/univention-s4-connector.init
  services/univention-s4-connector/debian/univention-s4-connector.maintscript
  services/univention-s4-connector/debian/univention-s4-connector.postinst
  services/univention-s4-connector/debian/univention-s4-connector.prerm
  services/univention-s4-connector/debian/univention-s4-connector.service
  services/univention-s4-connector/debian/univention-s4-connector.univention-service
  services/univention-s4-connector/etc/network/if-post-down.d/univention-s4-connector
  services/univention-s4-connector/server_password_change.d/univention-s4-connector
  services/univention-s4-connector/univention-s4-connector
  services/univention-samba4/lib/base.sh
  test/product-tests/samba/bigenv.sh
  test/ucs-test/tests/01_base/45license_v2
  test/ucs-test/tests/52_s4connector/002_multiple_s4_connector_instances
  test/ucs-test/tests/52_s4connector/022_concurrent_deletion_in_ucs
  test/ucs-test/tests/52_s4connector/100sync_gpo_ntsecurity_descriptor.py
  test/ucs-test/tests/52_s4connector/s4connector.sh
  test/ucs-test/tests/59_udm/66_20_computer_password
  test/ucs-test/univention/testing/internal.py
  test/ucs-test/univention/testing/utils.py
Due: deb-pipeline

ci(jenkins): clean up upgrade artifacts in 2.4masterinstallation template
  test/scenarios/kvm-templates/2.4masterinstallation-kvm-template.cfg
Due: none

refactor(umc): replace deprecated defusedxml.lxml
  management/univention-management-console/conffiles/setup_saml_sp.py
Due: deb-pipeline

feat(firewall): convert to native systemd unit
  base/univention-base-files/debian/univention-base-files.postinst
  base/univention-firewall/debian/rules
  base/univention-firewall/debian/univention-firewall.init
  base/univention-firewall/debian/univention-firewall.install
  base/univention-firewall/debian/univention-firewall.service
  base/univention-firewall/etc/security/packetfilter.d/50_local.sh
  base/univention-firewall/univention-firewall-start
  base/univention-firewall/univention-firewall-stop
  base/univention-heimdal/debian/univention-heimdal-common.postinst
  base/univention-heimdal/debian/univention-heimdal-kdc.postinst
  mail/univention-mail-dovecot/debian/univention-mail-dovecot.postinst
  mail/univention-mail-dovecot/debian/univention-mail-dovecot.postrm
  mail/univention-mail-postfix/debian/univention-mail-server.postinst
  management/univention-directory-notifier/debian/univention-directory-notifier.postinst
  management/univention-ldap/debian/univention-ldap-server.postinst
  management/univention-management-console/debian/univention-management-console-server.postinst
  monitoring/univention-nagios/debian/univention-nagios-client.postinst
  services/univention-admin-diary/debian/univention-admin-diary-backend.postinst
  services/univention-apache/debian/univention-apache.postinst
  services/univention-bind/debian/univention-bind.postinst
  services/univention-nfs/debian/univention-nfs-server.postinst
  services/univention-postgresql/debian/univention-postgresql-17.postinst
  services/univention-printserver/debian/univention-printserver.postinst
  services/univention-printserver/debian/univention-printserver.postrm
  services/univention-radius/debian/univention-radius.postinst
  services/univention-radius/debian/univention-radius.postrm
  services/univention-samba/debian/univention-samba.postinst
  services/univention-samba/debian/univention-samba.postrm
  services/univention-samba4/debian/univention-samba4.postinst
  services/univention-samba4/debian/univention-samba4.postrm
  services/univention-squid/debian/univention-squid.postinst
  services/univention-squid/debian/univention-squid.postrm
  services/univention-tftp/debian/univention-tftp.postinst
  test/ucs-test/univention/testing/utils.py
Due: deb-pipeline

test(udm): add more test verbosity
  test/ucs-test/tests/00_checks/81_diagnostic_checks.py
  test/ucs-test/tests/01_base/111ticktet_lifetime.py
  test/ucs-test/tests/03_ucr/68check_univention-service.py
  test/ucs-test/tests/03_ucr/72ucr_register_api.py
  test/ucs-test/tests/04_univention-lib/020_password_complexity_checks.py
  test/ucs-test/tests/10_ldap/110_univention_lastbind.py
  test/ucs-test/tests/10_ldap/115_cn_internal.py
  test/ucs-test/tests/10_ldap/122_dds_integration_entryTtl.py
  test/ucs-test/tests/10_ldap/123_dds_refresh_integration.py
  test/ucs-test/tests/10_ldap/25reconnect_uldap.py
  test/ucs-test/tests/10_ldap/26reconnect_univention_ldapsearch.py
  test/ucs-test/tests/10_ldap/42replication_memberof.py
  test/ucs-test/tests/10_ldap/60failedldif-restore.py
  test/ucs-test/tests/10_ldap/79ucs_registerLDAPExtension_credentials.py
  test/ucs-test/tests/13_ldap_cache/10_ldap_cache_create.py
  test/ucs-test/tests/13_ldap_cache/20_ldap_cache_frontend.py
  test/ucs-test/tests/13_ldap_cache/30_ldap_cache_custom.py
  test/ucs-test/tests/13_ldap_cache/40_listener_integration.py
  test/ucs-test/tests/20_appcenter/101_ini_parser.py
  test/ucs-test/tests/42_authorization/04_udm.py
  test/ucs-test/tests/42_authorization/06_default_roles_linux_client_manager.py
  test/ucs-test/tests/42_authorization/06_default_roles_linux_client_manager_udm_rest.py
  test/ucs-test/tests/42_authorization/20_school_singleserver.py
  test/ucs-test/tests/45_radius/14_eap_tlsv3.py
  test/ucs-test/tests/51_samba4/43access_sysvol.py
  test/ucs-test/tests/52_s4connector/200_sync_rename_container.py
  test/ucs-test/tests/52_s4connector/518_sync_password_history.py
  test/ucs-test/tests/52_s4connector/519_sync_user_locked.py
  test/ucs-test/tests/52_s4connector/520_restore.py
  test/ucs-test/tests/53_samba-common/61_share_hacking.py
  test/ucs-test/tests/59_udm/82_test_recyclebin.py
Due: deb-pipeline

test(grep-traceback): ignore Bug #53278
  test/ucs-test/tests/99_end/grep_traceback.py
Due: deb-pipeline

refactor: replace deprecated argparse.FileType
  base/univention-base-files/univention-directory-policy/univention-policy-update-config-registry.py
  base/univention-config-registry/python/univention/ldif.py
  base/univention-system-setup/city-data/create_city_data.py
  base/univention-system-setup/city-data/create_country_codes.py
  base/univention-system-setup/city-data/create_country_data.py
  base/univention-system-setup/city-data/create_localized_country_labels.py
  base/univention-updater/modules/univention/updater/scripts/list_installed_unmaintained_packages.py
  base/univention-updater/modules/univention/updater/scripts/upgrade.py
  management/univention-directory-manager-modules/scripts/univention-configure-udm-authorization
  management/univention-directory-manager-modules/univention-dnsedit
  management/univention-directory-manager-rest/src/univention/admin/rest/client/__main__.py
  management/univention-management-console/scripts/univention-management-console-client
  monitoring/univention-monitoring-client/migrate-nagios-services-to-alerts
  packaging/ucslint/ucslint-sort-output.py
  packaging/ucslint/univention/ucslint/main.py
  services/univention-dhcp/import-dhcpd.conf
  services/univention-dhcp/usr/lib/univention-dhcp/create-subnets
  test/generate-appliance/generate_appliance/main.py
  test/ucs-gui-tests/installation/vminstall/virtual_machine.py
  test/ucs-test/bin/runner
  test/ucs-test/tests/81_keycloak/legacy-auth-config.py
  test/ucs-test/tests/99_end/grep_traceback.py
Due: build ucslint, deb-pipeline

chore(umc): drop transitional dummy package
  management/univention-management-console/debian/control
Due: deb-pipeline

test(grep-traceback): ignore
  test/ucs-test/tests/99_end/grep_traceback.py
Due: deb-pipeline

refactor(ad-connector): replace forking daemon with exec service type
  services/univention-ad-connector/debian/univention-ad-connector.univention-service
  services/univention-ad-connector/debian/univention-ad-connector@.service
  services/univention-ad-connector/univention-ad-connector
Due: deb-pipeline

build(reports): change to pyproject.toml
  management/univention-directory-reports/debian/control
  management/univention-directory-reports/debian/rules
  management/univention-directory-reports/pyproject.toml
Due: deb-pipeline

feat(udm-rest): upgrade swaggerui to 5.32.8
  management/univention-directory-manager-rest/var/www/univention/udm/schema/index.html
  management/univention-directory-manager-rest/var/www/univention/udm/swaggerui/README.md
  management/univention-directory-manager-rest/var/www/univention/udm/swaggerui/index.css
  management/univention-directory-manager-rest/var/www/univention/udm/swaggerui/oauth2-redirect.html
  management/univention-directory-manager-rest/var/www/univention/udm/swaggerui/oauth2-redirect.js
  management/univention-directory-manager-rest/var/www/univention/udm/swaggerui/swagger-ui-bundle.js
  management/univention-directory-manager-rest/var/www/univention/udm/swaggerui/swagger-ui-bundle.js.map
  management/univention-directory-manager-rest/var/www/univention/udm/swaggerui/swagger-ui-es-bundle-core.js
  management/univention-directory-manager-rest/var/www/univention/udm/swaggerui/swagger-ui-es-bundle-core.js.map
  management/univention-directory-manager-rest/var/www/univention/udm/swaggerui/swagger-ui-es-bundle.js
  management/univention-directory-manager-rest/var/www/univention/udm/swaggerui/swagger-ui-es-bundle.js.map
  management/univention-directory-manager-rest/var/www/univention/udm/swaggerui/swagger-ui-standalone-preset.js
  management/univention-directory-manager-rest/var/www/univention/udm/swaggerui/swagger-ui-standalone-preset.js.map
  management/univention-directory-manager-rest/var/www/univention/udm/swaggerui/swagger-ui.css
  management/univention-directory-manager-rest/var/www/univention/udm/swaggerui/swagger-ui.css.map
  management/univention-directory-manager-rest/var/www/univention/udm/swaggerui/swagger-ui.js
  management/univention-directory-manager-rest/var/www/univention/udm/swaggerui/swagger-ui.js.map
Due: deb-pipeline

feat(demo-configuration): convert to native systemd unit
  test/univention-demo-configuration/debian/rules
  test/univention-demo-configuration/debian/univention-demo-configuration.init
  test/univention-demo-configuration/debian/univention-demo-configuration.install
  test/univention-demo-configuration/debian/univention-demo-configuration.service
  test/univention-demo-configuration/demo-upgrade
Due: deb-pipeline

DROPME: ignore traceback for now
  test/ucs-test/tests/99_end/grep_traceback.py
Due: deb-pipeline

chore(lib): remove license_tool
  base/univention-lib/python/license_tools.py
  base/univention-lib/shell/license.sh
Due: deb-pipeline

drop legacy package
  management/univention-management-console/debian/control
  management/univention-management-console/debian/univention-management-console-web-server-fix.postinst
Due: deb-pipeline

test(grep-traceback): ignore Bug #59577
  test/ucs-test/tests/99_end/grep_traceback.py
Due: deb-pipeline

test(grep-traceback): ignore Bug #58873
  test/ucs-test/tests/99_end/grep_traceback.py
Due: deb-pipeline

feat(updater): migrate to native systemd unit
  base/univention-updater/debian/rules
  base/univention-updater/debian/ucslint.overrides
  base/univention-updater/debian/univention-updater.install
  base/univention-updater/debian/univention-updater.univention-maintenance.init
  base/univention-updater/debian/univention-updater.univention-maintenance.service
  base/univention-updater/univention-maintenance
Due: deb-pipeline

fix(umc): fix OIDC backchannel logout
  management/univention-management-console/src/univention/management/console/oidc.py
  management/univention-management-console/src/univention/management/console/session_dict.py
Due: deb-pipeline

test(grep-traceback): ignore Bug #59646
  test/ucs-test/tests/99_end/grep_traceback.py
Due: deb-pipeline

test(scenarios): clone OLD_VERSION template in autotest-07* update tests
  test/scenarios/autotest-070-update-master-no-samba.cfg
  test/scenarios/autotest-070-update-master-part-II-no-samba.cfg
  test/scenarios/autotest-071-update-master-part-II-s4.cfg
  test/scenarios/autotest-071-update-master-s4.cfg
  test/scenarios/autotest-072-update-backup-no-samba.cfg
  test/scenarios/autotest-073-update-backup-s4.cfg
  test/scenarios/autotest-074-update-slave-no-samba.cfg
  test/scenarios/autotest-075-update-slave-s4.cfg
  test/scenarios/autotest-076-update-member-no-samba.cfg
  test/scenarios/autotest-077-update-member-s4.cfg
Due: none

fix(postfix): drop /etc/init.d/postfix UCR template
  mail/univention-antivir-mail/debian/univention-antivir-mail.postinst
  mail/univention-mail-postfix/conffiles/etc/init.d/postfix
  mail/univention-mail-postfix/debian/ucslint.overrides
  mail/univention-mail-postfix/debian/univention-mail-postfix.maintscript
  mail/univention-mail-postfix/debian/univention-mail-postfix.univention-config-registry
  mail/univention-mail-postfix/debian/univention-mail-server.postinst
  mail/univention-mail-postfix/usr/lib/univention-server/server_password_change.d/50univention-mail-server
Due: deb-pipeline

fix(udm): fix Python import
  management/univention-directory-manager-modules/modules/univention/admin/recyclebin.py
Due: deb-pipeline

ci(utils): replace resize2fs init script with systemd service unit
  test/utils/base_appliance.sh
Due: none

test(utils): wait for the updater's deferred restart before running ucs-test
  test/utils/utils.sh
Due: none

fix(umc): adjust to SQLAlchemy 2
  management/univention-management-console/src/univention/management/console/session_db.py
Due: deb-pipeline

chore(maintained-packages): update list of maintained packages for 5.3
  base/univention-errata-level/maintained-packages.txt
Due: deb-pipeline

test(update-scenarios): fix old-template data failing diagnostics
  test/scenarios/update-testing/update-from-1.2-backup2master.cfg
  test/scenarios/update-testing/update-from-2.4.cfg
Due: none

test(grep-traceback): re-ignore known rndc reconfig traceback
  test/ucs-test/tests/99_end/grep_traceback.py
Due: deb-pipeline

fix(admindiary): handle concurrent creation of the same event
  services/univention-admin-diary/python/admindiary/backend.py
Due: deb-pipeline

ci(jenkins): do not ship dhclient leases in kvm templates and appliances
  test/utils/base_appliance.sh
Due: none

ci(jenkins): use 5.0-10 2.4masterinstallation template
  test/scenarios/kvm-templates/2.4masterinstallation-kvm-template.cfg
  test/scenarios/update-testing/update-from-2.4.cfg
Due: none

ci(jenkins): Fix jenkins personal environments on Proxmox
  test/scenarios/base/ucs-master-backup-joined.cfg
  test/scenarios/base/ucs-master-slave-joined.cfg
  test/scenarios/keycloak/keycloak-2backups.cfg
  test/scenarios/keycloak/keycloak-different-path.cfg
  test/scenarios/keycloak/keycloak-external-fqdn.cfg
  test/scenarios/keycloak/keycloak-mariadb.cfg
  test/scenarios/keycloak/keycloak-mixed.cfg
  test/scenarios/keycloak/keycloak-simple.cfg
  test/scenarios/keycloak/keycloak-upgrade.cfg
  test/scenarios/ox-connector/ox-connector-ox8.cfg
  test/scenarios/ox-connector/ox-connector-single.cfg
Due: none

build(policy): update rust library dependencies
  base/univention-policy/Cargo.toml
  base/univention-policy/build.rs
  base/univention-policy/debian/control
Due: deb-pipeline

refactor(base-files): drop /etc/init.d/networking UCR template
  base/univention-base-files/conffiles/etc/init.d/networking
  base/univention-base-files/debian/ucslint.overrides
  base/univention-base-files/debian/univention-base-files.maintscript
  base/univention-base-files/debian/univention-base-files.univention-config-registry
Due: deb-pipeline

Path conditions:
  build ucslint: any of: packaging/ucslint/**/*
  doc-pipeline: any of: doc/[^e]*/**/*, doc/e[^r]*/**/*, doc/er[^r]*/**/*, doc/err[^a]*/**/*, doc/erra[^t]*/**/*, doc/errat[^a]*/**/*, doc/errata?*/**/*
  deb-pipeline: any of: [^dt.]*/*/**/*, d[^o]*/*/**/*, do[^c]*/*/**/*, doc?*/*/**/*, t[^e]*/*/**/*, te[^s]*/*/**/*, tes[^t]*/*/**/*, test?*/*/**/*, test/generate-appliance/**/*, test/ucs-test/**/*, test/ucs-test-tools/**/*, test/univention-demo-configuration/**/*
  errata validation: any of: doc/errata/staging/*.yaml
