Repository univention/univention-corporate-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build ucslint, doc-pipeline, deb-pipeline, errata validation

Path conditions:
  build ucslint: any of: packaging/ucslint/**/*
  doc-pipeline: any of: doc/[^e]*/**/*, doc/e[^r]*/**/*, doc/er[^r]*/**/*, doc/err[^a]*/**/*, doc/erra[^t]*/**/*, doc/errat[^a]*/**/*, doc/errata?*/**/*
  deb-pipeline: any of: [^dt.]*/*/**/*, d[^o]*/*/**/*, do[^c]*/*/**/*, doc?*/*/**/*, t[^e]*/*/**/*, te[^s]*/*/**/*, tes[^t]*/*/**/*, test?*/*/**/*, test/generate-appliance/**/*, test/ucs-test/**/*, test/ucs-test-tools/**/*, test/univention-demo-configuration/**/*
  errata validation: any of: doc/errata/staging/*.yaml

chore(expat): announce security erratum 620
  doc/errata/published/2026-10-07_620_expat.yaml
Due: none

chore(firefox-esr): announce security erratum 621
  doc/errata/published/2026-10-07_621_firefox-esr.yaml
Due: none

chore(libdbi-perl): announce security erratum 622
  doc/errata/published/2026-10-07_622_libdbi-perl.yaml
Due: none

chore(samba): announce erratum 628
  doc/errata/published/2026-10-07_628_samba.yaml
Due: none

chore(xen): announce security erratum 630
  doc/errata/published/2026-10-07_630_xen.yaml
Due: none

chore(unzip): announce security erratum 629
  doc/errata/published/2026-10-07_629_unzip.yaml
Due: none

chore(libpng1.6): announce security erratum 623
  doc/errata/published/2026-10-07_623_libpng1.6.yaml
Due: none

chore(lxml): announce security erratum 624
  doc/errata/published/2026-10-07_624_lxml.yaml
Due: none

chore(open-iscsi): announce security erratum 625
  doc/errata/published/2026-10-07_625_open-iscsi.yaml
Due: none

chore(perl): announce security erratum 627
  doc/errata/published/2026-10-07_627_perl.yaml
Due: none

chore(pcre2): announce security erratum 626
  doc/errata/published/2026-10-07_626_pcre2.yaml
Due: none

chore(xz-utils): announce security erratum 631
  doc/errata/published/2026-10-07_631_xz-utils.yaml
Due: none

fix(updater): fail the release update if the package lists cannot be updated
  base/univention-updater/debian/changelog
  base/univention-updater/modules/univention/updater/scripts/updater.py
Due: deb-pipeline

fix(updater): abort postup if the role package cannot be installed
  base/univention-updater/script/postup.sh
Due: deb-pipeline

fix(updater): block the update if the role packages are missing
  base/univention-updater/script/check.sh
Due: deb-pipeline

fix(umc): fix audience mapper config
  management/univention-management-console/92univention-management-console-web-server.inst
  management/univention-management-console/debian/changelog
  management/univention-management-console/debian/control
Due: deb-pipeline

chore(umc): update advisory
  doc/errata/staging/univention-management-console.yaml
Due: errata validation

chore(crudeoauth): update advisory
  doc/errata/staging/crudeoauth.yaml
Due: errata validation

fix(ci): don't add SCOPE if set to current UCS version
  test/utils/utils.sh
Due: none

chore(samba): announce erratum 632
  doc/errata/published/2026-10-08_632_samba.yaml
Due: none

chore(crudeoauth): announce erratum 633
  doc/errata/published/2026-10-08_633_crudeoauth.yaml
Due: none

chore(rust-sasl2-sys): announce erratum 634
  doc/errata/published/2026-10-08_634_rust-sasl2-sys.yaml
Due: none

docs(architecture): simplify ArchiMate notation guidance
  doc/architecture/appendix/architecture-notation.rst
  doc/architecture/archimate.txt
Due: doc-pipeline

chore(docs): remove obsolete ArchiMate images
  doc/architecture/images/ArchiMate-application-layer.svg
  doc/architecture/images/ArchiMate-business-layer.svg
  doc/architecture/images/ArchiMate-motivation-layer.svg
  doc/architecture/images/ArchiMate-strategy-layer.svg
  doc/architecture/images/ArchiMate-technology-layer.svg
  doc/architecture/images/Screenshot-ArchiMate-relations-summary.png
Due: doc-pipeline

docs(architecture): centralize ArchiMate notation guidance
  doc/architecture/concepts/app-center.rst
  doc/architecture/index.rst
  doc/architecture/links.txt
  doc/architecture/services/udm-rest-api.rst
Due: doc-pipeline

test(keycloak): fix SNI handling problem in haproxy test
  test/scenarios/keycloak/keycloak-external-fqdn.cfg
  test/utils/utils-keycloak.sh
Due: none

test(ucs-test): fix keycloak tests
  .pre-commit-config.yaml
  test/ucs-test/debian/changelog
  test/ucs-test/tests/81_keycloak/06_keycloak_connection.py
  test/ucs-test/tests/81_keycloak/10_legacy_authorization.py
  test/ucs-test/tests/81_keycloak/15_conditional_kerberos.py
  test/ucs-test/tests/81_keycloak/utils.py
Due: deb-pipeline

chore(crudeoauth): add GHSA information into advisory
  doc/errata/published/2026-10-08_633_crudeoauth.yaml
Due: none

test(ucs-test): fix keycloak tests
  test/ucs-test/debian/changelog
  test/ucs-test/tests/81_keycloak/ad_hoc.py
Due: deb-pipeline

test(ucs-test): check disabled and userexpiry
  test/ucs-test/debian/changelog
  test/ucs-test/tests/59_udm/61_test_udm_users_unittests.py
Due: deb-pipeline

fix(udm): ensure disabled user accounts remain disabled when userexpiry is set
  management/univention-directory-manager-modules/debian/changelog
  management/univention-directory-manager-modules/modules/univention/admin/handlers/users/user.py
Due: deb-pipeline

chore(udm): update advisory
  doc/errata/staging/univention-directory-manager-modules.yaml
Due: errata validation

test(ucs-test): fix keycloak tests
  test/ucs-test/debian/changelog
  test/ucs-test/tests/81_keycloak/04_misc.py
  test/ucs-test/tests/81_keycloak/14_oidc_umc_udm_module.py
Due: deb-pipeline

fix(univention-directory-manager-rest): Handle malformed auth cache entries gracefully
  doc/errata/staging/univention-directory-manager-rest.yaml
  management/univention-directory-manager-rest/debian/changelog
  management/univention-directory-manager-rest/src/univention/admin/rest/module.py
Due: deb-pipeline, errata validation

fix(univention-directory-manager-rest): resolve race condition in DictProxy
  doc/errata/staging/univention-directory-manager-rest.yaml
  management/univention-directory-manager-rest/debian/changelog
  management/univention-directory-manager-rest/src/univention/admin/rest/module.py
Due: deb-pipeline, errata validation
