Repository univention/univention-corporate-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build ucslint, doc-pipeline, deb-pipeline, errata validation

Path conditions:
  build ucslint: any of: packaging/ucslint/**/*
  doc-pipeline: any of: doc/[^e]*/**/*, doc/e[^r]*/**/*, doc/er[^r]*/**/*, doc/err[^a]*/**/*, doc/erra[^t]*/**/*, doc/errat[^a]*/**/*, doc/errata?*/**/*
  deb-pipeline: any of: [^dt.]*/*/**/*, d[^o]*/*/**/*, do[^c]*/*/**/*, doc?*/*/**/*, t[^e]*/*/**/*, te[^s]*/*/**/*, tes[^t]*/*/**/*, test?*/*/**/*, test/generate-appliance/**/*, test/ucs-test/**/*, test/ucs-test-tools/**/*, test/univention-demo-configuration/**/*
  errata validation: any of: doc/errata/staging/*.yaml

tests: Fix 'upgrade singleserver scenario'
  test/scenarios/autotest-206-ucsschool-update-singleserver-s4.cfg
Due: none

fixup! fixup! Bug #57320: Fix keycloak tests
  test/ucs-test/tests/81_keycloak/DATA.py
Due: deb-pipeline

Bug #57427: Add SCOPE parameter to upgrade tests
  test/scenarios/update-testing/update-from-4.2-4.cfg
Due: none

Issue univention/ucs#2279: Disable test, just too flaky
  test/ucs-test/debian/changelog
  test/ucs-test/tests/55_adconnector/156sync_ad_user_group_membership_in_special_OU_and_timing
Due: deb-pipeline

fixup! tests: Fix 'upgrade singleserver scenario'
  test/scenarios/autotest-206-ucsschool-update-singleserver-s4.cfg
Due: none

fixup! fixup! tests: Fix 'upgrade singleserver scenario'
  test/scenarios/autotest-206-ucsschool-update-singleserver-s4.cfg
Due: none

fixup! fixup! fixup! tests: Fix 'upgrade singleserver scenario'
  test/scenarios/autotest-206-ucsschool-update-singleserver-s4.cfg
Due: none

fixup! fixup! fixup! fixup! tests: Fix 'upgrade singleserver scenario'
  test/scenarios/autotest-206-ucsschool-update-singleserver-s4.cfg
Due: none

tests: Fix 'upgrade singleserver' scenario
  test/scenarios/autotest-206-ucsschool-update-singleserver-s4.cfg
Due: none

fix(univention-keycloak): check if mapper exists that maps uid
  doc/errata/staging/univention-keycloak.yaml
  services/univention-keycloak/debian/changelog
  services/univention-keycloak/debian/install
  services/univention-keycloak/debian/univention-keycloak-client.postinst
  services/univention-keycloak/scripts/fix-duplicate-uid-mappers
  services/univention-keycloak/scripts/univention-keycloak
  test/scenarios/autotest-091-master-s4.cfg
  test/ucs-test/debian/changelog
  test/ucs-test/tests/01_base/95rename_administrator.py
  test/ucs-test/tests/03_ucr/37check-ucr-templates-py3-migration-status.py
  test/ucs-test/tests/82_saml/04_saml_login.py
  test/ucs-test/tests/82_saml/06_with_existing_session.py
  test/ucs-test/tests/82_saml/07_umc_session_timeout.py
  test/ucs-test/tests/82_saml/08_saml_session_ldap_after_restart.py
  test/ucs-test/tests/82_saml/09_saml_umc_server.py
  test/ucs-test/tests/82_saml/10_saml_password_expire.py
  test/ucs-test/tests/82_saml/11_saml_user_expire.py
  test/ucs-test/tests/82_saml/12_saml_no_user.py
  test/ucs-test/tests/82_saml/13_saml_wrong_password.py
  test/ucs-test/tests/82_saml/21_download_metadata.py
  test/ucs-test/tests/82_saml/25_broken_idp_metadata.py
  test/ucs-test/tests/82_saml/26_saml_umc_sp_server.py
  test/ucs-test/tests/82_saml/30_umc_cert_chain.py
  test/ucs-test/tests/82_saml/31_umc_wrong_cert.py
  test/ucs-test/tests/82_saml/32_umc_upgrade_session.py
  test/ucs-test/tests/82_saml/33_change_expired_password.py
  test/ucs-test/tests/82_saml/conftest.py
  test/ucs-test/tests/82_saml/samltest.py
Due: deb-pipeline, errata validation

Issue #2338: Fix 73_udm-rest.05_async_client.test_create_modify_move_remove for AD member mode
  test/ucs-test/debian/changelog
  test/ucs-test/tests/73_udm-rest/05_async_client.py
Due: deb-pipeline

Issue univention/components/keycloak-app#218: Start Keycloak product tests with DEBUG level, because 04_misc.test_rest_api_endpoints keeps failing
  test/scenarios/keycloak/keycloak-2backups.cfg
  test/scenarios/keycloak/keycloak-different-path.cfg
  test/scenarios/keycloak/keycloak-external-fqdn.cfg
  test/scenarios/keycloak/keycloak-mariadb.cfg
  test/scenarios/keycloak/keycloak-upgrade.cfg
Due: none

Bug #57427: Make univention-prune-kernels keep linux-image-5.10*
  base/univention-updater/debian/changelog
  base/univention-updater/modules/univention/updater/scripts/kernel.py
Due: deb-pipeline

Bug #57427: YAML
  doc/errata/staging/univention-updater.yaml
Due: errata validation

tests: Fix installation of package
  test/scenarios/autotest-206-ucsschool-update-singleserver-s4.cfg
Due: none

Bug #57320: CLI options should have precedence over XML file
  services/univention-keycloak/scripts/univention-keycloak
Due: deb-pipeline

fix(univention-keycloak): check if mapper exists that maps uid
  services/univention-keycloak/debian/changelog
  services/univention-keycloak/debian/univention-keycloak-client.install
  services/univention-keycloak/debian/univention-keycloak-client.postinst
  services/univention-keycloak/scripts/fix-duplicate-uid-mappers
  services/univention-keycloak/scripts/univention-keycloak
Due: deb-pipeline

Revert "Issue univention/components/keycloak-app#218: Start Keycloak product tests with DEBUG level, because 04_misc.test_rest_api_endpoints keeps failing"
  test/scenarios/keycloak/keycloak-2backups.cfg
  test/scenarios/keycloak/keycloak-different-path.cfg
  test/scenarios/keycloak/keycloak-external-fqdn.cfg
  test/scenarios/keycloak/keycloak-mariadb.cfg
  test/scenarios/keycloak/keycloak-upgrade.cfg
Due: none

test(saml): remove argument type from fixture
  test/ucs-test/debian/changelog
  test/ucs-test/tests/82_saml/conftest.py
Due: deb-pipeline

fix(test): skip allowsubtree tests in admember mode
  test/ucs-test/debian/changelog
  test/ucs-test/tests/55_adconnector/509test_allow_subtree.py
Due: deb-pipeline

Issue #2338: Fix 81_keycloak/04_misc.py failing if a recently added and used client got deleted, left open sessions which cause problems for Keycloaks REST API (/sessions/)
  test/ucs-test/debian/changelog
  test/ucs-test/tests/81_keycloak/04_misc.py
  test/ucs-test/tests/81_keycloak/utils.py
Due: deb-pipeline

Bug #57394: feat(ad-connector): add allowlist feature
  services/univention-ad-connector/debian/changelog
  services/univention-ad-connector/debian/univention-ad-connector.univention-config-registry-variables
  services/univention-ad-connector/modules/univention/connector/__init__.py
  services/univention-ad-connector/modules/univention/connector/ad/__init__.py
  services/univention-ad-connector/modules/univention/connector/ad/mapping.py
  test/ucs-test/tests/55_adconnector/509test_allow_subtree.py
Due: deb-pipeline

Bug #57394: feat(ad-connector): add allowlist feature
  doc/errata/staging/univention-ad-connector.yaml
  doc/manual/locales/de/LC_MESSAGES/windows.po
  doc/manual/spelling_wordlist
  doc/manual/windows/ad-connection.rst
  services/univention-ad-connector/debian/changelog
  services/univention-ad-connector/debian/univention-ad-connector.univention-config-registry-variables
  services/univention-ad-connector/modules/univention/connector/__init__.py
  services/univention-ad-connector/modules/univention/connector/ad/__init__.py
  services/univention-ad-connector/modules/univention/connector/ad/mapping.py
  test/ucs-test/tests/55_adconnector/509test_allow_subtree.py
Due: doc-pipeline, deb-pipeline, errata validation

Bug #57394: No YAML in 5.2 needed
  doc/errata/staging/univention-ad-connector.yaml
Due: errata validation

Bug #57394: Fixed changelog version
  services/univention-ad-connector/debian/changelog
Due: deb-pipeline

Issue univention/ucs#2341 Change from vault to gitlab secret
  .gitlab-ci.yml
Due: none

Bug #57435: Reformat YAML
  doc/errata/staging/ffmpeg.yaml
Due: errata validation

Bug #57438: emacs24 ANNOUNCE
  doc/errata/published/2024-07-10_1589_emacs24.yaml
Due: none

Bug #57437: exim4 ANNOUNCE
  doc/errata/published/2024-07-10_1590_exim4.yaml
Due: none

Bug #57435: ffmpeg ANNOUNCE
  doc/errata/published/2024-07-10_1591_ffmpeg.yaml
Due: none

Bug #57436: sendmail ANNOUNCE
  doc/errata/published/2024-07-10_1592_sendmail.yaml
Due: none

Bug #57434: linux-5.10 ANNOUNCE
  doc/errata/published/2024-07-10_1081_linux-5.10.yaml
Due: none

Bug #57434: linux-signed-5.10-amd64 ANNOUNCE
  doc/errata/published/2024-07-10_1082_linux-signed-5.10-amd64.yaml
Due: none

Revert "fix(univention-keycloak): check if mapper exists that maps uid"
  test/scenarios/autotest-091-master-s4.cfg
  test/ucs-test/debian/changelog
  test/ucs-test/tests/01_base/95rename_administrator.py
  test/ucs-test/tests/03_ucr/37check-ucr-templates-py3-migration-status.py
  test/ucs-test/tests/82_saml/04_saml_login.py
  test/ucs-test/tests/82_saml/06_with_existing_session.py
  test/ucs-test/tests/82_saml/07_umc_session_timeout.py
  test/ucs-test/tests/82_saml/08_saml_session_ldap_after_restart.py
  test/ucs-test/tests/82_saml/09_saml_umc_server.py
  test/ucs-test/tests/82_saml/10_saml_password_expire.py
  test/ucs-test/tests/82_saml/11_saml_user_expire.py
  test/ucs-test/tests/82_saml/12_saml_no_user.py
  test/ucs-test/tests/82_saml/13_saml_wrong_password.py
  test/ucs-test/tests/82_saml/21_download_metadata.py
  test/ucs-test/tests/82_saml/25_broken_idp_metadata.py
  test/ucs-test/tests/82_saml/26_saml_umc_sp_server.py
  test/ucs-test/tests/82_saml/30_umc_cert_chain.py
  test/ucs-test/tests/82_saml/31_umc_wrong_cert.py
  test/ucs-test/tests/82_saml/32_umc_upgrade_session.py
  test/ucs-test/tests/82_saml/33_change_expired_password.py
  test/ucs-test/tests/82_saml/conftest.py
  test/ucs-test/tests/82_saml/samltest.py
Due: deb-pipeline

fix(join): remove shell glob from rsync command
  doc/errata/staging/univention-join.yaml
  management/univention-join/debian/changelog
  management/univention-join/univention-join
Due: deb-pipeline, errata validation

fix(join): remove shell glob from rsync command
  management/univention-join/debian/changelog
  management/univention-join/univention-join
Due: deb-pipeline

fix(yaml): fix yaml indentation
  doc/errata/staging/univention-join.yaml
  doc/errata/staging/univention-keycloak.yaml
Due: errata validation

Bug #57420: univention-keycloak ANNOUNCE
  doc/errata/published/2024-07-11_1083_univention-keycloak.yaml
Due: none

Bug #57427: univention-server ANNOUNCE
  doc/errata/published/2024-07-11_1084_univention-server.yaml
Due: none
