Repository univention/univention-corporate-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build ucslint, doc-pipeline, deb-pipeline, errata validation

build ucslint:
  stage: prepare
  variables:
    KANIKO_BUILD_CONTEXT: packaging/ucslint
    KANIKO_ARGS: --build-arg ucs=$ucs --cache=true

doc-pipeline:
  stage: build
  needs:
  - job: generate-config
  trigger:
    include:
    - artifact: generated-config-doc.yml
      job: generate-config
    strategy: depend
    forward:
      pipeline_variables: true

deb-pipeline:
  stage: build
  needs:
  - job: generate-config
  - job: prepare aptly
  - job: select ucslint
  variables:
    UCSLINT: $UCSLINT
  trigger:
    include:
    - artifact: generated-config-deb.yml
      job: generate-config
    strategy: depend
    forward:
      pipeline_variables: true

errata validation:
  stage: prepare
  tags:
  - omar
  resource_group: omar
  needs: []
  variables:
    VAULT_AUTH_ROLE: ucs-production
  secrets:
    BUGZILLA_CFG:
      vault:
        engine:
          name: kv-v2
          path: secret
        path: dist/repo-ng/production/bugzilla
        field: cfg
  script:
  ...

fixup! fixup! feat(udm-authorization): implement Guardian management library
  management/univention-directory-manager-modules/authorization-default-roles.acl
  management/univention-directory-manager-modules/modules/univention/authorization/udm_rules.py
Due: deb-pipeline

fixup! fixup! fixup! fixup! fixup! fixup! test(udm-authorization): update umc authz tests
  test/ucs-test/tests/42_authorization/02_organizational_unit_administrator_udm_rest.py
Due: deb-pipeline

fixup! fixup! fixup! fixup! fixup! fixup! fixup! test(udm-authorization): update umc authz tests
  management/univention-directory-manager-modules/debian/control
  management/univention-directory-manager-modules/unittests/test_authorization_udm_rules_to_yaml.d/test_multiple_positions.acl
  management/univention-directory-manager-modules/unittests/test_authorization_udm_rules_to_yaml.d/test_multiple_positions.yaml
  management/univention-directory-manager-modules/unittests/test_authorization_udm_rules_to_yaml.d/test_simple.acl
  management/univention-directory-manager-modules/unittests/test_authorization_udm_rules_to_yaml.d/test_simple.yaml
  management/univention-directory-manager-modules/unittests/test_authorization_udm_rules_to_yaml.py
Due: deb-pipeline

fixup! fixup! fixup! fixup! fixup! fixup! fixup! fixup! test(udm-authorization): update umc authz tests
  management/univention-directory-manager-modules/debian/control
Due: deb-pipeline

fixup! test(udm-authorization): update udm authz tests
  test/ucs-test/tests/42_authorization/04_udm.py
Due: deb-pipeline

fixup! test(udm-authorization): update udm authz tests
  management/univention-directory-manager-modules/unittests/test_authorization_udm_rules_to_yaml.py.disabled
Due: deb-pipeline

fixup! feat(udm): Implement guardian-like authorization engine in UDM
  management/univention-directory-manager-modules/modules/univention/admin/guardian.py
Due: deb-pipeline

fixup! feat(udm-authorization): implement Guardian management library
  management/univention-directory-manager-modules/debian/univention-directory-manager-tools.install
  management/univention-directory-manager-modules/modules/univention/authorization/guardian_management_client.py
  management/univention-directory-manager-modules/scripts/univention-configure-udm-authorization
Due: deb-pipeline

fixup! fixup! feat(udm): Implement guardian-like authorization engine in UDM
  management/univention-directory-manager-modules/authorization-default-roles.acl
Due: deb-pipeline

fixup! fixup! test(udm-authorization): update udm authz tests
  test/ucs-test/tests/42_authorization/create-delegated-administration-setup.py
Due: deb-pipeline

fix(udm): Modified authz-test ou fixtur
  test/ucs-test/tests/42_authorization/02_organizational_unit_administrator_umc.py
  test/ucs-test/tests/42_authorization/conftest.py
Due: deb-pipeline

fix(udm): Scope search for 'All Containers' queries
  base/univention-l10n-fr/fr/management/univention-management-console-module-udm/umc/js/fr.po
  management/univention-management-console-module-udm/debian/univention-management-console-module-udm.univention-config-registry-variables
  management/univention-management-console-module-udm/umc/js/de.po
  management/univention-management-console-module-udm/umc/js/udm.js
  management/univention-management-console-module-udm/umc/python/udm/__init__.py
Due: deb-pipeline

Bug #58410: python-django 1:1.11.29-1+deb10u15
  doc/errata/staging/python-django.yaml
Due: errata validation

Bug #58411: python2.7 2.7.16-2+deb10u6
  doc/errata/staging/python2.7.yaml
Due: errata validation

Bug #58412: poppler 0.71.0-5+deb10u4
  doc/errata/staging/poppler.yaml
Due: errata validation

Bug #58413: python-django 1:1.10.7-2+deb9u26
  doc/errata/staging/python-django.yaml
Due: errata validation

Bug #58414: python2.7 2.7.13-2+deb9u11
  doc/errata/staging/python2.7.yaml
Due: errata validation

Bug #58415: gst-plugins-bad1.0 1.10.4-1+deb9u6
  doc/errata/staging/gst-plugins-bad1.0.yaml
Due: errata validation

test: check/compare log file permissions after logrotate
  test/ucs-test/tests/01_base/60log_permissions_after_logrotate.py
Due: deb-pipeline

fixup! ci: add sonarqube linting
  sonar-project.properties
Due: none

feat(ldap): extend ldap schema and uldap to keep users metadata
  base/univention-python/modules/uldap.py
  management/univention-directory-manager-modules/modules/univention/admin/authorization.py
  management/univention-ldap/schema/univention-objecttype.schema
  test/ucs-test/tests/42_authorization/05_creators_modifiers_id.py
  test/ucs-test/tests/59_udm/81_test_udm_univentionObjectIdentifier.py
Due: deb-pipeline

DROPME deactivate univentionObjectModifiersID/univentionObjectCreatorsID
  base/univention-python/modules/uldap.py
Due: deb-pipeline

fixup! feat(ldap): extend ldap schema and uldap to keep users metadata
  test/ucs-test/tests/42_authorization/05_creators_modifiers_id.py
Due: deb-pipeline

Ignore me. is not a real revert just a test for sonarqube MR
  base/univention-updater/debian/changelog
  base/univention-updater/script/check.sh
Due: deb-pipeline

Bug #58410: python-django ANNOUNCE
  doc/errata/published/2025-06-25_1293_python-django.yaml
Due: none

Bug #58412: poppler ANNOUNCE
  doc/errata/published/2025-06-25_1292_poppler.yaml
Due: none

Bug #58411: python2.7 ANNOUNCE
  doc/errata/published/2025-06-25_1294_python2.7.yaml
Due: none

Bug #58415: gst-plugins-bad1.0 ANNOUNCE
  doc/errata/published/2025-06-25_1727_gst-plugins-bad1.0.yaml
Due: none

Bug #58413: python-django ANNOUNCE
  doc/errata/published/2025-06-25_1728_python-django.yaml
Due: none

Bug #58414: python2.7 ANNOUNCE
  doc/errata/published/2025-06-25_1729_python2.7.yaml
Due: none

fix: move UDM REST client to separate repo (Bug #57204)
  base/univention-errata-level/maintained-packages.txt
  doc/developer-reference/udm/rest-api.rst
  doc/errata/staging/univention-directory-manager-rest.yaml
  management/univention-directory-manager-rest/README.md
  management/univention-directory-manager-rest/debian/control
  management/univention-directory-manager-rest/debian/python3-univention-directory-manager-rest-async-client.pyinstall
  management/univention-directory-manager-rest/debian/python3-univention-directory-manager-rest-client.pyinstall
  management/univention-directory-manager-rest/debian/rules
  management/univention-directory-manager-rest/src/univention/admin/rest/async_client.py
  management/univention-directory-manager-rest/src/univention/admin/rest/client/__init__.py
  management/univention-directory-manager-rest/src/univention/admin/rest/client/__main__.py
  test/ucs-test/debian/control
  test/utils/python3-utils.sh
Due: doc-pipeline, deb-pipeline, errata validation

univention/dev/internal/team-nubus#1038: Add tests for provisioning
  test/product-tests/component/provisioning-primary.cfg
  test/ucs-test/debian/control
  test/ucs-test/debian/ucs-test-provisioning.install
  test/ucs-test/tests/26_provisioning/01_basic.py
Due: deb-pipeline

Bug #58434: xorg-server 2:1.19.2-1+deb9u22
  doc/errata/staging/xorg-server.yaml
Due: errata validation

Bug #58433: python-tornado 5.1.1-4+deb10u2A~5.0.10.202506302340
  doc/errata/staging/python-tornado.yaml
Due: errata validation

Bug #58435: sudo 1.8.27-1+deb10u7
  doc/errata/staging/sudo.yaml
Due: errata validation

Bug #58436: xorg-server 2:1.20.4-1+deb10u17
  doc/errata/staging/xorg-server.yaml
Due: errata validation

ci(gitlab): remove packages from pipelines where no changes exist
  .gitlab-ci.yml
  .gitlab-ci/aptly-remove
  .gitlab-ci/base-deb.yml
Due: none

ci(gitlab): add build timestamp to pipeline builds
  .gitlab-ci/base-deb.yml
Due: none

Path conditions:
  build ucslint: any of: packaging/ucslint/**/*
  doc-pipeline: any of: doc/[^e]*/**/*, doc/e[^r]*/**/*, doc/er[^r]*/**/*, doc/err[^a]*/**/*, doc/erra[^t]*/**/*, doc/errat[^a]*/**/*, doc/errata?*/**/*
  deb-pipeline: any of: [^dt.]*/*/**/*, d[^o]*/*/**/*, do[^c]*/*/**/*, doc?*/*/**/*, t[^e]*/*/**/*, te[^s]*/*/**/*, tes[^t]*/*/**/*, test?*/*/**/*, test/generate-appliance/**/*, test/ucs-test/**/*, test/ucs-test-tools/**/*, test/univention-demo-configuration/**/*
  errata validation: any of: doc/errata/staging/*.yaml
