Repository univention/univention-corporate-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build ucslint, doc-pipeline, deb-pipeline, errata validation

Path conditions:
  build ucslint: any of: packaging/ucslint/**/*
  doc-pipeline: any of: doc/[^e]*/**/*, doc/e[^r]*/**/*, doc/er[^r]*/**/*, doc/err[^a]*/**/*, doc/erra[^t]*/**/*, doc/errat[^a]*/**/*, doc/errata?*/**/*
  deb-pipeline: any of: [^dt.]*/*/**/*, d[^o]*/*/**/*, do[^c]*/*/**/*, doc?*/*/**/*, t[^e]*/*/**/*, te[^s]*/*/**/*, tes[^t]*/*/**/*, test?*/*/**/*, test/generate-appliance/**/*, test/ucs-test/**/*, test/ucs-test-tools/**/*, test/univention-demo-configuration/**/*
  errata validation: any of: doc/errata/staging/*.yaml

Bug #57234: openjdk-11 ANNOUNCE
  doc/errata/published/2024-04-24_1026_openjdk-11.yaml
Due: none

Bug #57232: firefox-esr ANNOUNCE
  doc/errata/published/2024-04-24_1025_firefox-esr.yaml
Due: none

Bug #57163: univention-lib ANNOUNCE
  doc/errata/published/2024-04-24_1031_univention-lib.yaml
Due: none

Bug #55007: univention-radius ANNOUNCE
  doc/errata/published/2024-04-24_1029_univention-radius.yaml
Due: none

Bug #56906,Bug #57163: univention-management-console ANNOUNCE
  doc/errata/published/2024-04-24_1032_univention-management-console.yaml
Due: none

Bug #57224: xorg-server ANNOUNCE
  doc/errata/published/2024-04-24_1030_xorg-server.yaml
Due: none

Bug #57205: univention-keycloak ANNOUNCE
  doc/errata/published/2024-04-24_1028_univention-keycloak.yaml
Due: none

fixup! fix(umc): add explict dependency to openjdk-11-jre-headless
  management/univention-web/debian/control
Due: deb-pipeline

fixup! fix(umc): add explict dependency to openjdk-11-jre-headless
  management/univention-web/Makefile
  management/univention-web/debian/control
Due: deb-pipeline

fix(test): wait for replication in 104_expired_password.py
  test/ucs-test/debian/changelog
  test/ucs-test/tests/60_umc/104_expired_password.py
Due: deb-pipeline

fixup! test: Search for missing OpenLDAP indexes
  test/ucs-test/tests/99_end/06_ldap-index-missing
Due: deb-pipeline

fixup! test: Search for missing OpenLDAP indexes
  test/ucs-test/debian/changelog
Due: deb-pipeline

Bug #57236: add job for ums in kind
  test/scenarios/base/ums-kind.cfg
  test/utils/start-ums-in-kind-on-ucs.sh
  test/utils/utils-ums.sh
Due: none

fixup! Bug #57236: add job for ums in kind
  test/scenarios/base/ums-kind.cfg
Due: none

Bug #57236: add job for ums (kind) setup
  test/scenarios/base/ums-kind.cfg
  test/utils/start-ums-in-kind-on-ucs.sh
  test/utils/utils-ums.sh
Due: none

Bug #57236: moved 5.2-0
  test/scenarios/base/ums-kind.cfg
  test/utils/start-ums-in-kind-on-ucs.sh
  test/utils/utils-ums.sh
Due: none

Bug #56457: Advisories
  doc/errata/staging/containerd.yaml
  doc/errata/staging/docker.io.yaml
  doc/errata/staging/golang-1.13.yaml
  doc/errata/staging/golang-1.18.yaml
  doc/errata/staging/runc.yaml
Due: errata validation

Bug #57236: add job for ums (kind) setup
  test/utils/utils-ums.sh
Due: none

Revert "Bug #52763: temporary hotfix"
  test/scenarios/autotest-090-master-no-samba.cfg
Due: none

refactor(ucs-test): locale_available
  test/ucs-test/debian/changelog
  test/ucs-test/debian/control
  test/ucs-test/tests/73_udm-rest/00_general_tests.py
  test/ucs-test/tests/83_self_service/11_test_frontend_translations.py
  test/ucs-test/univention/testing/conftest.py
Due: deb-pipeline

pref(test/blocklist): timeout *= 10 for OpenStack
  test/ucs-test/tests/59_udm/76_test_udm_blocklistentries_performance.py
Due: deb-pipeline

fix(test) office365
  test/product-tests/component/office365_update.cfg
Due: none

fixup! Issue #2189: Migrate 10_ldap/26reconnect_univention_ldapsearch.py to pytest
  test/ucs-test/debian/changelog
  test/ucs-test/tests/10_ldap/25reconnect_uldap.py
  test/ucs-test/tests/10_ldap/26reconnect_univention_ldapsearch.py
Due: deb-pipeline

fix(test): new selector in 83_self_service.08_service_specific_passwords
  test/ucs-test/debian/changelog
  test/ucs-test/tests/83_self_service/08_service_specific_passwords.py
Due: deb-pipeline

fix(test): skip in samba DC environment
  test/ucs-test/debian/changelog
  test/ucs-test/tests/81_keycloak/02_test_portal_login.py
Due: deb-pipeline

fix(test): close browser after test
  test/ucs-test/debian/changelog
  test/ucs-test/univention/testing/pytest_univention_playwright/fixtures.py
Due: deb-pipeline

fixup!
  doc/ext-performance/index.rst
Due: doc-pipeline

Bug #57163: support keyloak in saml setup
  base/univention-lib/debian/changelog
  base/univention-lib/python/misc.py
  base/univention-lib/shell/ldap.sh
  base/univention-lib/unittests/conftest.py
  management/univention-management-console/92univention-management-console-web-server.inst
  management/univention-management-console/debian/changelog
  management/univention-management-console/debian/control
Due: deb-pipeline

fixup!
  doc/ext-performance/index.rst
  management/univention-management-console/92univention-management-console-web-server.inst
  management/univention-management-console/usr/share/univention-management-console/saml/update_metadata
Due: doc-pipeline, deb-pipeline

fixup!
  management/univention-management-console/92univention-management-console-web-server.inst
Due: deb-pipeline

Bug #57163: support keyloak in saml setup
  base/univention-lib/debian/changelog
  base/univention-lib/python/misc.py
  base/univention-lib/shell/ldap.sh
  base/univention-lib/unittests/conftest.py
  doc/ext-performance/index.rst
  management/univention-management-console/92univention-management-console-web-server.inst
  management/univention-management-console/debian/changelog
  management/univention-management-console/debian/control
  management/univention-management-console/usr/share/univention-management-console/saml/update_metadata
Due: doc-pipeline, deb-pipeline

Bug #57163: support keyloak in saml setup
  base/univention-lib/debian/changelog
  base/univention-lib/python/misc.py
  base/univention-lib/shell/ldap.sh
  base/univention-lib/unittests/conftest.py
  management/univention-management-console/92univention-management-console-web-server.inst
  management/univention-management-console/debian/changelog
  management/univention-management-console/debian/control
  management/univention-management-console/usr/share/univention-management-console/saml/update_metadata
Due: deb-pipeline

Bug #57240: openjdk-8 8u412-ga-1~deb9u1
  doc/errata/staging/openjdk-8.yaml
Due: errata validation
