Repository univention/univention-corporate-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build ucslint, doc-pipeline, deb-pipeline, errata validation

Path conditions:
  build ucslint: any of: packaging/ucslint/**/*
  doc-pipeline: any of: doc/[^e]*/**/*, doc/e[^r]*/**/*, doc/er[^r]*/**/*, doc/err[^a]*/**/*, doc/erra[^t]*/**/*, doc/errat[^a]*/**/*, doc/errata?*/**/*
  deb-pipeline: any of: [^dt.]*/*/**/*, d[^o]*/*/**/*, do[^c]*/*/**/*, doc?*/*/**/*, t[^e]*/*/**/*, te[^s]*/*/**/*, tes[^t]*/*/**/*, test?*/*/**/*, test/generate-appliance/**/*, test/ucs-test/**/*, test/ucs-test-tools/**/*, test/univention-demo-configuration/**/*
  errata validation: any of: doc/errata/staging/*.yaml

fixup! test(udm-authorization): update umc authz tests
  test/ucs-test/tests/42_authorization/02_umc.py
Due: deb-pipeline

Bug #58391: curl 7.64.0-4+deb10u12
  doc/errata/staging/curl.yaml
Due: errata validation

Bug #58392: icu 63.1-6+deb10u4
  doc/errata/staging/icu.yaml
Due: errata validation

Bug #58393: krb5 1.17-3+deb10u9
  doc/errata/staging/krb5.yaml
Due: errata validation

Bug #58394: varnish 6.1.1-1+deb10u5
  doc/errata/staging/varnish.yaml
Due: errata validation

Bug #58396: icu 57.1-6+deb9u6
  doc/errata/staging/icu.yaml
Due: errata validation

Bug #58397: curl 7.52.1-5+deb9u24
  doc/errata/staging/curl.yaml
Due: errata validation

Bug #58398: libreoffice 1:6.1.5-3+deb9u7
  doc/errata/staging/libreoffice.yaml
Due: errata validation

fixup! fixup! test(udm-authorization): update umc authz tests
  test/ucs-test/tests/59_udm/50_test_udm_api.py
Due: deb-pipeline

fixup! fixup! fixup! test(udm-authorization): update umc authz tests
  test/ucs-test/tests/59_udm/50_test_udm_api.py
Due: deb-pipeline

feat(udm): add linux-client-manager role
  management/univention-directory-manager-modules/umc-udm-roles.json
  test/ucs-test/tests/42_authorization/06_default_roles_linux_client_manager.py
  test/ucs-test/tests/42_authorization/06_default_roles_linux_client_manager_udm_rest.py
  test/ucs-test/tests/42_authorization/create-delegated-administration-setup.py
Due: deb-pipeline

test(udm-authorization): make ucs-test section configurable
  test/scenarios/delegated-administration-testing/primary.cfg
Due: none

ci: add sonarqube linting
  .gitlab-ci.yml
  sonar-project.properties
Due: none

tests(end): ignore tracebacks
  test/ucs-test/debian/changelog
  test/ucs-test/tests/99_end/grep_traceback.py
Due: deb-pipeline

tests(end): ignore tracebacks
  test/ucs-test/tests/99_end/grep_traceback.py
Due: deb-pipeline

test(env): primary group per ou for test setup
  test/ucs-test/tests/42_authorization/create-delegated-administration-setup.py
Due: deb-pipeline

fix(udm): don't depend on number of computer containers
  management/univention-directory-manager-modules/modules/univention/udm/modules/computers_all.py
Due: deb-pipeline

ci(gitlab): try to identify apt repo via label l=…
  .gitlab-ci.yml
  .gitlab-ci/aptly-create
  .gitlab-ci/aptly-publish
  .gitlab-ci/aptly-upload
Due: none

fixup! ci(gitlab): try to identify apt repo via label l=…
  test/utils/utils.sh
Due: none

DROPME: example usage script to play with
  management/univention-directory-manager-modules/guard.py
Due: deb-pipeline

workaround broken guardian
  management/univention-directory-manager-modules/scripts/univention-configure-udm-authorization
Due: deb-pipeline

WIP: try to allow settings/cn everywhere
  management/univention-directory-manager-modules/modules/univention/admin/objects.py
Due: deb-pipeline

refactor(udm-umc): get rid of LDAP_Connection decorator
  management/univention-management-console-module-udm/umc/python/udm/__init__.py
Due: deb-pipeline

feat(udm): add configuration script to setup authorization in UDM
  management/univention-directory-manager-modules/debian/univention-directory-manager-tools.install
  management/univention-directory-manager-modules/scripts/univention-configure-udm-authorization
Due: deb-pipeline

add roles for testing purposes during package installation
  management/univention-directory-manager-modules/debian/univention-directory-manager-tools.postinst
  test/ucs-test/tests/42_authorization/create-delegated-administration-setup.py
Due: deb-pipeline

DROPME: workaround for missung RDN property
  management/univention-directory-manager-modules/modules/univention/admin/handlers/__init__.py
Due: deb-pipeline

fixup! feat(ldap): extend ldap schema and uldap to keep users metadata
  test/ucs-test/tests/42_authorization/05_creators_modifiers_id.py
Due: deb-pipeline

docs(udm): document guardian concept integration
  management/univention-directory-manager-modules/README-authorization.md
  management/univention-directory-manager-modules/README-authorization.pdf
  management/univention-directory-manager-modules/example.acl
  management/univention-directory-manager-modules/example.yaml
  management/univention-directory-manager-modules/example2.yaml
Due: deb-pipeline

DROPME: fix build pipeline
  management/univention-directory-manager-rest/debian/changelog
  management/univention-management-console-module-udm/debian/changelog
Due: deb-pipeline

perf(udm-rest): enhance resolving of relations
  management/univention-directory-manager-rest/src/univention/admin/rest/async_client.py
  management/univention-directory-manager-rest/src/univention/admin/rest/client/__init__.py
Due: deb-pipeline

feat(udm-umc): check if permissions for report creation exists
  management/univention-management-console-module-udm/umc/python/udm/__init__.py
Due: deb-pipeline

feat(udm-rest): enable delegative administration in UDM REST API
  management/univention-management-console-module-udm/umc/python/udm/udm_ldap.py
Due: deb-pipeline

fix(udm): use priviledged LDAP connection
  management/univention-management-console-module-udm/umc/python/udm/udm_ldap.py
Due: deb-pipeline

feat(udm): integrate PoC for guardian authorization checks
  management/univention-directory-manager-modules/debian/control
  management/univention-directory-manager-modules/debian/univention-directory-manager-tools.install
  management/univention-directory-manager-modules/modules/univention/admin/guardian.py
  management/univention-directory-manager-modules/scripts/conditions/target_position_in.json
  management/univention-directory-manager-modules/scripts/conditions/target_position_in.rego
  management/univention-directory-manager-modules/scripts/conditions/target_property_value_compares.json
  management/univention-directory-manager-modules/scripts/conditions/target_property_value_compares.rego
  management/univention-directory-manager-modules/scripts/conditions/target_property_value_dn_compares.json
  management/univention-directory-manager-modules/scripts/conditions/target_property_value_dn_compares.rego
Due: deb-pipeline

remove test which needs rewrite
  management/univention-directory-manager-modules/unittests/test_authorization.py
Due: deb-pipeline

DECIDE: allow empty changes
  management/univention-directory-manager-modules/modules/univention/admin/authorization.py
Due: deb-pipeline

perf(udm): enhance get syntax_choices
  management/univention-directory-manager-modules/modules/univention/admin/syntax.py
Due: deb-pipeline

docs(ext-delegative-administration): document new behavior
  doc/ext-delegative-administration/concepts.rst
  doc/ext-delegative-administration/configuration.rst
  doc/ext-delegative-administration/index.rst
  doc/ext-delegative-administration/setup.rst
  doc/ext-delegative-administration/troubleshooting.rst
Due: doc-pipeline

DROPME: find out wrong usage of access
  base/univention-python/modules/uldap.py
Due: deb-pipeline

feat(udm): Implement guardian-like authorization engine in UDM
  management/univention-directory-manager-modules/debian/python3-univention-directory-manager.install
  management/univention-directory-manager-modules/modules/univention/admin/authorization.py
  management/univention-directory-manager-modules/modules/univention/admin/guardian.py
  management/univention-directory-manager-modules/modules/univention/admin/uldap.py
  management/univention-directory-manager-modules/scripts/conditions/object_type_equals.json
  management/univention-directory-manager-modules/scripts/conditions/object_type_equals.rego
  management/univention-directory-manager-modules/umc-udm-roles.json
Due: deb-pipeline
