Repository univention/univention-corporate-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build ucslint, doc-pipeline, deb-pipeline, errata validation

Path conditions:
  build ucslint: any of: packaging/ucslint/**/*
  doc-pipeline: any of: doc/[^e]*/**/*, doc/e[^r]*/**/*, doc/er[^r]*/**/*, doc/err[^a]*/**/*, doc/erra[^t]*/**/*, doc/errat[^a]*/**/*, doc/errata?*/**/*
  deb-pipeline: any of: [^dt.]*/*/**/*, d[^o]*/*/**/*, do[^c]*/*/**/*, doc?*/*/**/*, t[^e]*/*/**/*, te[^s]*/*/**/*, tes[^t]*/*/**/*, test?*/*/**/*, test/generate-appliance/**/*, test/ucs-test/**/*, test/ucs-test-tools/**/*, test/univention-demo-configuration/**/*
  errata validation: any of: doc/errata/staging/*.yaml

fix(test): make KVM_OPERATING_SYSTEM configurable
  test/scenarios/kvm-templates/joined-kvm-templates.cfg
  test/scenarios/kvm-templates/primary-with-200000-users-kvm-template.cfg
  test/scenarios/kvm-templates/role-kvm-templates.cfg
  test/scenarios/kvm-templates/samba-primary-replica-kvm-templates.cfg
  test/scenarios/kvm-templates/ucs-school-multiserver-joined.cfg
  test/scenarios/kvm-templates/ucs-school-performance-env1.cfg
  test/scenarios/kvm-templates/ucs-school-singleserver-joined.cfg
  test/utils/start-test.sh
Due: none

Bug #55949: Apply lost change
  test/ucs-test/debian/changelog
  test/ucs-test/tests/81_keycloak/04_misc.py
Due: deb-pipeline

Bug #57380: less 487-0.1+deb10u1
  doc/errata/staging/0security-template.yaml
  doc/errata/staging/less.yaml
Due: errata validation

Bug #57375: Fix bug where all but one --set option in univention-keycloak domain-config was ignored.
  services/univention-keycloak/scripts/univention-keycloak
Due: deb-pipeline

Bug #57383: Add changelog and advisory
  doc/errata/staging/univention-keycloak.yaml
  services/univention-keycloak/debian/changelog
Due: deb-pipeline, errata validation

Bug #57383: Fix bug where all but one --set option in univention-keycloak domain-config was ignored.
  services/univention-keycloak/scripts/univention-keycloak
Due: deb-pipeline

Bug #57339: apache2 2.4.59-1~deb10u1A~5.0.7.202405270804
  doc/errata/staging/apache2.yaml
Due: errata validation

Bug Bug #57375: Publish for 5.0-7 as well
  doc/errata/staging/univention-keycloak.yaml
Due: errata validation

Bug Bug #57194: Publish for 5.0-7 as well
  doc/errata/staging/univention-management-console.yaml
Due: errata validation

Bug #57339: apache2 ANNOUNCE
  doc/errata/published/2024-06-13_1061_apache2.yaml
Due: none

Bug #57380: less ANNOUNCE
  doc/errata/published/2024-06-13_1062_less.yaml
Due: none

Issue univention/ucs#2285: COnfigure UMC against keycloak for keycloak tests
  test/scenarios/ad-membermode/autotest-221-admember-w2019-english.cfg
  test/scenarios/ad-membermode/autotest-222-admember-w2k8r2-german.cfg
  test/scenarios/ad-membermode/autotest-223-admember-w2k19-german-slave.cfg
  test/scenarios/ad-membermode/autotest-224-admember-w2k19-german-other-join-user.cfg
  test/scenarios/ad-membermode/autotest-225-admember-w2k19-french.cfg
  test/scenarios/ad-membermode/autotest-240-admember-w2019-english-forest-child.cfg
Due: none

Issue univention/ucs#2285: COnfigure UMC against keycloak for keycloak tests
  test/scenarios/ad-connector/autotest-231-adsync-w2k19-german.cfg
  test/scenarios/ad-connector/autotest-233-adsync-w2k19-french.cfg
  test/scenarios/ad-connector/autotest-234-adsync-w2k16-german.cfg
  test/scenarios/ad-connector/autotest-235-adsync-w2k19-english.cfg
  test/scenarios/ad-connector/autotest-236-adsync-w2k8r2-german.cfg
  test/scenarios/ad-connector/autotest-237-adsync-s4connector-w2k19-english.cfg
  test/scenarios/ad-connector/autotest-240-adsync-w2k19-english-forest-child.cfg
  test/scenarios/ad-connector/autotest-241-adsync-w2k19-english-two-forest-children.cfg
Due: none

Issue univention/ucs#2285: Use test domain admin password instead of univention
  test/ucs-test/tests/81_keycloak/conftest.py
Due: deb-pipeline

Issue univention/ucs#2285: Use test domain admin password instead of univention
  test/ucs-test/debian/changelog
Due: deb-pipeline

fixup! Issue univention/ucs#2285: Let keycloak tests use Others as operating system
  test/scenarios/keycloak/keycloak-mariadb.cfg
  test/scenarios/keycloak/keycloak-upgrade.cfg
Due: none

fix(test): Switch to 5.0-9
  test/utils/start-test.sh
Due: none

Bug #55184: fix broken env job
  test/scenarios/base/ucs-school-multiserver-joined-primary-school1.cfg
Due: none

Bug #57312: Add univention-archive-key-ucs-52x.gpg
  base/univention-archive-key/debian/changelog
  base/univention-archive-key/debian/univention-archive-key-udeb.install
  base/univention-archive-key/debian/univention-archive-key.install
  base/univention-archive-key/debian/univention-archive-key.postinst
  base/univention-archive-key/univention-archive-key-ucs-52x.gpg
Due: deb-pipeline

test(browser): wait for license check to complete
  test/ucs-test/debian/changelog
  test/ucs-test/tests/86_browser/10_product_test_password_change.py
Due: deb-pipeline

Bug #55184: fix broken env job
  test/utils/utils.sh
Due: none

Revert "Bug #55184: fix broken env job"
  test/scenarios/base/ucs-school-multiserver-joined-primary-school1.cfg
Due: none

Revert "Bug #55184: fix broken env job"
  test/utils/utils.sh
Due: none

Bug #57312: Remove postinst script
  base/univention-archive-key/debian/changelog
  base/univention-archive-key/debian/univention-archive-key.postinst
Due: deb-pipeline

Bug #57194: Ensure file descriptors are closed upon module process death.
  management/univention-management-console/src/univention/management/console/resources.py
Due: deb-pipeline

Bug #57194: Ensure file descriptors are closed upon module process death
  management/univention-management-console/debian/changelog
Due: deb-pipeline

Bug #56858: changelog/index.rst entry
  doc/changelog/index.rst
Due: doc-pipeline

fixup! Bug #56858: changelog/index.rst entry
  doc/changelog/index.rst
Due: doc-pipeline

Bug #57385: firefox-esr 115.12.0esr-1~deb10u1
  doc/errata/staging/firefox-esr.yaml
Due: errata validation

Bug #57386: pymongo 3.7.1-1.1+deb10u1
  doc/errata/staging/pymongo.yaml
Due: errata validation

Bug #57387: libvpx 1.7.0-3+deb10u3
  doc/errata/staging/libvpx.yaml
Due: errata validation

Bug #57388: python-django 1:1.10.7-2+deb9u22
  doc/errata/staging/python-django.yaml
Due: errata validation

Bug #57389: gst-plugins-base1.0 1.10.4-1+deb9u4
  doc/errata/staging/gst-plugins-base1.0.yaml
Due: errata validation
