Repository univention/univention-corporate-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build ucslint, doc-pipeline, deb-pipeline, errata validation

Path conditions:
  build ucslint: any of: packaging/ucslint/**/*
  doc-pipeline: any of: doc/[^e]*/**/*, doc/e[^r]*/**/*, doc/er[^r]*/**/*, doc/err[^a]*/**/*, doc/erra[^t]*/**/*, doc/errat[^a]*/**/*, doc/errata?*/**/*
  deb-pipeline: any of: [^dt.]*/*/**/*, d[^o]*/*/**/*, do[^c]*/*/**/*, doc?*/*/**/*, t[^e]*/*/**/*, te[^s]*/*/**/*, tes[^t]*/*/**/*, test?*/*/**/*, test/generate-appliance/**/*, test/ucs-test/**/*, test/ucs-test-tools/**/*, test/univention-demo-configuration/**/*
  errata validation: any of: doc/errata/staging/*.yaml

Bug #57233: expat 2.2.0-2+deb9u8
  doc/errata/staging/expat.yaml
Due: errata validation

fix(test): Do not set empty UCRV nameserverX
  test/utils/utils.sh
Due: none

Bug #57145: Increase RAM for backup scenario
  test/scenarios/autotest-092-backup-no-samba.cfg
  test/scenarios/autotest-093-backup-s4.cfg
Due: none

fix(vm): Check secure_apt=yes
  test/utils/vm-ucs-image-check
Due: none

ci(jenkins): id connector upgrade job
  test/scenarios/autotest-244-ucsschool-id-sync-update.cfg
  test/utils/utils-school.sh
Due: none

fixup! fix(umc): logrotate with copytruncate
  test/ucs-test/debian/changelog
  test/ucs-test/tests/60_umc/08_logrotate.py
Due: deb-pipeline

fix(test): remove UMC module processes before every test
  test/ucs-test/debian/changelog
  test/ucs-test/univention/testing/pytest_univention_playwright/fixtures.py
Due: deb-pipeline

fixup!
  test/ucs-test/tests/83_self_service/06_test_self_registration.py
Due: deb-pipeline

fixup!
  test/ucs-test/univention/testing/pytest_univention_playwright/fixtures.py
Due: deb-pipeline

fixup!
  test/scenarios/autotest-090-master-part-II-no-samba.cfg
Due: none

fix(test): remove UMC module processes before every test
  test/scenarios/autotest-090-master-part-II-no-samba.cfg
  test/ucs-test/debian/changelog
  test/ucs-test/tests/83_self_service/06_test_self_registration.py
  test/ucs-test/univention/testing/pytest_univention_playwright/fixtures.py
Due: deb-pipeline

doc(performance): use univention-keycloak to set SAML assertion lifetime
  doc/ext-performance/index.rst
Due: doc-pipeline

fixup!
  test/ucs-test/tests/81_keycloak/11_themes_cookie_links.py
Due: deb-pipeline

fix(test): fix keycloak tests for version 24.0.3
  test/ucs-test/tests/81_keycloak/04_misc.py
  test/ucs-test/tests/81_keycloak/10_legacy_authorization.py
  test/ucs-test/tests/81_keycloak/11_themes_cookie_links.py
  test/ucs-test/tests/81_keycloak/conftest.py
Due: deb-pipeline

fixup!
  test/ucs-test/tests/81_keycloak/11_themes_cookie_links.py
  test/ucs-test/tests/81_keycloak/conftest.py
Due: deb-pipeline

fixup!
  test/ucs-test/debian/changelog
Due: deb-pipeline

fix(test): fix keycloak tests for version 24.0.3
  test/ucs-test/debian/changelog
  test/ucs-test/tests/81_keycloak/04_misc.py
  test/ucs-test/tests/81_keycloak/10_legacy_authorization.py
  test/ucs-test/tests/81_keycloak/11_themes_cookie_links.py
  test/ucs-test/tests/81_keycloak/conftest.py
Due: deb-pipeline

Bug #57234: openjdk-11 11.0.23+9-1~deb10u1
  doc/errata/staging/openjdk-11.yaml
Due: errata validation

Bug #57232: firefox-esr 115.10.0esr-1~deb10u1
  doc/errata/staging/firefox-esr.yaml
Due: errata validation

fix(test): udm in big environment tests
  test/scenarios/performance-testing/ucs-test-big-environment.cfg
  test/ucs-test/debian/changelog
  test/ucs-test/tests/59_udm/78_test_in_big_environment.py
Due: deb-pipeline

fix(umc): fix pam template
  management/univention-management-console/conffiles/etc/pam.d/univention-management-console.d/80_password
  management/univention-management-console/debian/changelog
Due: deb-pipeline

fix(test): fix keycloak tests for version 24.0.3
  test/ucs-test/debian/changelog
  test/ucs-test/tests/81_keycloak/05_univention-keycloak.py
  test/ucs-test/tests/81_keycloak/10_legacy_authorization.py
Due: deb-pipeline

fix(yaml): fiy typos in yaml files
  doc/errata/staging/univention-keycloak.yaml
  doc/errata/staging/univention-lib.yaml
Due: errata validation

fix(test): fix keycloak tests for version 24.0.3
  test/ucs-test/debian/changelog
  test/ucs-test/tests/81_keycloak/11_themes_cookie_links.py
Due: deb-pipeline

fix(umc): add explict dependency to openjdk-11-jre-headless
  doc/errata/staging/univention-web.yaml
  management/univention-web/debian/changelog
  management/univention-web/debian/control
Due: deb-pipeline, errata validation

test: Search for missing OpenLDAP indexes
  test/ucs-test/debian/changelog
  test/ucs-test/tests/99_end/00_test_if_s4connector_loop_present.py
  test/ucs-test/tests/99_end/06_ldap-index-missing
Due: deb-pipeline

Bug #57233: expat ANNOUNCE
  doc/errata/published/2024-04-24_1565_expat.yaml
Due: none

fix(umc): add explict dependency to openjdk-11-jre-headless
  management/univention-web/debian/control
Due: deb-pipeline

Bug #57225: pillow ANNOUNCE
  doc/errata/published/2024-04-24_1027_pillow.yaml
Due: none
