Repository univention/univention-corporate-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build ucslint, doc-pipeline, deb-pipeline, errata validation

Path conditions:
  build ucslint: any of: packaging/ucslint/**/*
  doc-pipeline: any of: doc/[^e]*/**/*, doc/e[^r]*/**/*, doc/er[^r]*/**/*, doc/err[^a]*/**/*, doc/erra[^t]*/**/*, doc/errat[^a]*/**/*, doc/errata?*/**/*
  deb-pipeline: any of: [^dt.]*/*/**/*, d[^o]*/*/**/*, do[^c]*/*/**/*, doc?*/*/**/*, t[^e]*/*/**/*, te[^s]*/*/**/*, tes[^t]*/*/**/*, test?*/*/**/*, test/generate-appliance/**/*, test/ucs-test/**/*, test/ucs-test-tools/**/*, test/univention-demo-configuration/**/*
  errata validation: any of: doc/errata/staging/*.yaml

docs(ucs-operation): Rework activation license
  doc/ucs-operation/management-interface/license.rst
Due: doc-pipeline

docs(ucs-operation): Add changelog for activation license
  doc/ucs-operation/changelog.rst
  doc/ucs-operation/contents.rst
Due: doc-pipeline

docs(ucs-operation): Add images for Welcome management module
  doc/ucs-operation/images/welcome-license-de.png
  doc/ucs-operation/images/welcome-license.png
Due: doc-pipeline

docs(ucs-operation): Add hint for license in App Center section
  doc/ucs-operation/lifecycle/app-center.rst
Due: doc-pipeline

docs(ucs-operation): Reference license activation during deployment
  doc/ucs-operation/deployment/after-installation.rst
  doc/ucs-operation/deployment/domain-setup.rst
Due: doc-pipeline

docs(ucs-operation): Add German translation
  doc/ucs-operation/locales/de/LC_MESSAGES/changelog.po
  doc/ucs-operation/locales/de/LC_MESSAGES/deployment.po
  doc/ucs-operation/locales/de/LC_MESSAGES/lifecycle.po
  doc/ucs-operation/locales/de/LC_MESSAGES/management-interface.po
Due: doc-pipeline

docs(ucs-operation): Add structure for user creation wizard
  doc/ucs-operation/iam/index.rst
  doc/ucs-operation/iam/user-create-wizard.rst
Due: doc-pipeline

docs(ucs-operation): Add user creation wizard configuration
  doc/ucs-operation/iam/user-create-wizard.rst
Due: doc-pipeline

docs(ucs-operation): Add UCR variables for user creation wizard
  doc/ucs-operation/ucr-variable-reference.rst
Due: doc-pipeline

docs(ucs-operation): Add changelog for user create wizard
  doc/ucs-operation/changelog.rst
Due: doc-pipeline

docs(ucs-operation): German translation
  doc/ucs-operation/locales/de/LC_MESSAGES/changelog.po
  doc/ucs-operation/locales/de/LC_MESSAGES/iam.po
  doc/ucs-operation/locales/de/LC_MESSAGES/ucr-variable-reference.po
Due: doc-pipeline

docs(ucs-operation): Add structure for system administration chapter
  doc/ucs-operation/contents.rst
  doc/ucs-operation/system-administration/index.rst
Due: doc-pipeline

docs(ucs-operation): Add structure for kernel
  doc/ucs-operation/system-administration/index.rst
  doc/ucs-operation/system-administration/kernel.rst
Due: doc-pipeline

docs(ucs-operation): Original content kernel variants and kernel modules
  doc/ucs-operation/system-administration/kernel.rst
Due: doc-pipeline

feat(ldap): make accesslog configurable
  management/univention-ldap/conffiles/etc/ldap/slapd.conf.d/40univention-ldap-server_database
  management/univention-ldap/conffiles/etc/ldap/slapd.conf.d/93changes
  management/univention-ldap/debian/univention-ldap-server.dirs
  management/univention-ldap/debian/univention-ldap-server.univention-config-registry
Due: deb-pipeline

test(ucs-test): Adjust tests to the recyclebin S4-/AD-C changes
  test/ucs-test/debian/changelog
  test/ucs-test/tests/55_adconnector/adconnector.py
  test/ucs-test/tests/59_udm/82_test_recyclebin.py
  test/ucs-test/univention/testing/ucs_samba.py
Due: deb-pipeline

fix(udm-rest-api): Add support for root_path
  test/ucs-test/debian/changelog
  test/ucs-test/tests/73_udm-rest/22_test_udm_rest_api_root_path.py
Due: deb-pipeline

test(ucs-test): Adjust tests to the recyclebin S4-/AD-C changes
  test/ucs-test/debian/changelog
  test/ucs-test/tests/55_adconnector/520_restore.py
Due: deb-pipeline

fix(ucs-test): recyclebin test must not wait for Samba if it's not installed
  test/ucs-test/debian/changelog
  test/ucs-test/tests/59_udm/82_test_recyclebin.py
Due: deb-pipeline

fix: skip SSL hostname verification for localhost connections by default
  base/univention-lib/python/umc.py
  base/univention-lib/unittests/test_umc.py
Due: deb-pipeline

feat: improve certificate check to detect hostname mismatch
  management/univention-management-console-module-diagnostic/umc/python/diagnostic/plugins/02_certificate_check.py
  management/univention-management-console-module-diagnostic/umc/python/diagnostic/univention-run-diagnostic-checks
  management/univention-management-console-module-diagnostic/unittests/test_02_certificate_check.py
Due: deb-pipeline

chore: add changelogs
  base/univention-lib/debian/changelog
  doc/errata/staging/univention-lib.yaml
  doc/errata/staging/univention-management-console-module-diagnostic.yaml
  management/univention-management-console-module-diagnostic/debian/changelog
Due: deb-pipeline, errata validation

chore(postgresql-15): create advisory for 15.16-0+deb12u1~bpo10+1A~5.0.0.202602231206
  doc/errata/staging/postgresql-15.yaml
Due: errata validation

chore(libpng1.6): create advisory for 1.6.36-6+deb10u2
  doc/errata/staging/libpng1.6.yaml
Due: errata validation

chore(python-django): create advisory for 1:1.11.29-1+deb10u19
  doc/errata/staging/python-django.yaml
Due: errata validation

chore(libpng1.6): create advisory for 1.6.39-2+deb12u3
  doc/errata/staging/libpng1.6.yaml
Due: errata validation

chore(gnutls28): create advisory for 3.7.9-2+deb12u6
  doc/errata/staging/gnutls28.yaml
Due: errata validation

chore(libvpx): create advisory for 1.12.0-1+deb12u5
  doc/errata/staging/libvpx.yaml
Due: errata validation

docs(ucs-operation): Rework section about kernel
  doc/ucs-operation/system-administration/kernel.rst
Due: doc-pipeline

docs(ucs-operation): Add changelog for kernel section
  doc/ucs-operation/changelog.rst
Due: doc-pipeline

docs(ucs-operation): Add UCR variables for kernel
  doc/ucs-operation/ucr-variable-reference.rst
Due: doc-pipeline

docs(ucs-operation): Add glossary term for UCR variable
  doc/ucs-operation/glossary.rst
Due: doc-pipeline

docs(ucs-operation): Add German translation
  doc/ucs-operation/locales/de/LC_MESSAGES/changelog.po
  doc/ucs-operation/locales/de/LC_MESSAGES/glossary.po
  doc/ucs-operation/locales/de/LC_MESSAGES/lifecycle.po
  doc/ucs-operation/locales/de/LC_MESSAGES/system-administration.po
  doc/ucs-operation/locales/de/LC_MESSAGES/ucr-variable-reference.po
  doc/ucs-operation/spelling_wordlist_de
Due: doc-pipeline

fix(ucs-test): ad member mode
  test/ucs-test/debian/changelog
  test/ucs-test/univention/testing/fixtures_recyclebin.py
Due: deb-pipeline

fix(ucs-test): wait for listener in test case and skip the xfails in this case
  test/ucs-test/debian/changelog
  test/ucs-test/tests/59_udm/82_test_recyclebin.py
Due: deb-pipeline

docs(ucs-operation): Add structure for boot manager
  doc/ucs-operation/system-administration/boot-manager.rst
  doc/ucs-operation/system-administration/index.rst
Due: doc-pipeline

docs(ucs-operation): Add image for boot manager
  doc/ucs-operation/images/computers_grub.png
Due: doc-pipeline

docs(ucs-operation): Original content for boot manager
  doc/ucs-operation/system-administration/boot-manager.rst
Due: doc-pipeline

chore(python-django): create advisory for 1:1.10.7-2+deb9u30
  doc/errata/staging/python-django.yaml
Due: errata validation

chore(wireshark): create advisory for 2.6.20-0+deb10u9~deb9u2
  doc/errata/staging/wireshark.yaml
Due: errata validation
