Repository univention/univention-corporate-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: prepare ucslint, doc-pipeline, deb-pipeline, errata validation

prepare ucslint:
  stage: prepare
  interruptible: false
  variables:
    KANIKO_BUILD_CONTEXT: packaging/ucslint
    KANIKO_ARGS: --build-arg ucs=$ucs --cache=true

doc-pipeline:
  stage: build
  needs:
  - job: generate-config
  trigger:
    include:
    - artifact: generated-config-doc.yml
      job: generate-config
    strategy: depend
    forward:
      pipeline_variables: true

deb-pipeline:
  stage: build
  needs:
  - job: generate-config
  - job: prepare aptly
  - job: prepare ucslint
    optional: true
  trigger:
    include:
    - artifact: generated-config-deb.yml
      job: generate-config
    strategy: depend
    forward:
      pipeline_variables: true

errata validation:
  stage: build
  tags:
  - omar
  resource_group: omar
  needs: []
  variables:
    VAULT_AUTH_ROLE: ucs-production
  secrets:
    BUGZILLA_CFG:
      vault:
        engine:
          name: kv-v2
          path: secret
        path: dist/repo-ng/production/bugzilla
        field: cfg
  script:
  ...

Issue #1416: simplify ID Broker setup cfg
  test/scenarios/autotest-247-ucsschool-id-broker.cfg
  test/utils/id-broker/start-kvm.sh
  test/utils/utils-school-idbroker.sh
Due: none

Bug #55127: allow blob in CSP of frame-src
  management/univention-portal/conffiles/etc/apache2/sites-available/univention-portal.conf
Due: deb-pipeline

Issue #30: fix ucs-sso update
  test/utils/utils.sh
Due: none

Bug #55543: exempi 2.4.1-1+deb9u1
  doc/errata/staging/exempi.yaml
Due: errata validation

Bug #52330: libexif 0.6.21-2+deb9u5
  doc/errata/published/2020-11-11_799_libexif.yaml
Due: none

Bug #55566: libtasn1-6 4.13-3+deb10u1
  doc/errata/staging/libtasn1-6.yaml
Due: errata validation

Bug #55567: exiv2 0.25-3.1+deb9u4
  doc/errata/staging/exiv2.yaml
Due: errata validation

Issue #1418: run test on dedicated instance
  test/scenarios/autotest-248-ram-rankine-performance.cfg
  test/utils/ram/utils-ram.sh
Due: none

fixup! Issue #1418: run test on dedicated instance
  test/scenarios/autotest-248-ram-rankine-performance.cfg
  test/utils/ram/utils-ram.sh
Due: none

fixup! Issue #1418: run test on dedicated instance
  test/scenarios/autotest-248-ram-rankine-performance.cfg
Due: none

Bug #53328: fix update.software-univention.de ip
  test/scenarios/ad-membermode/autotest-221-admember-w2019-english.cfg
  test/scenarios/ad-membermode/autotest-222-admember-w2k8r2-german.cfg
  test/scenarios/ad-membermode/autotest-223-admember-w2k12-german-slave.cfg
  test/scenarios/ad-membermode/autotest-224-admember-w2k12-german-other-join-user.cfg
  test/scenarios/ad-membermode/autotest-225-admember-w2k12r2-france.cfg
  test/scenarios/ucs-appliance-testing/ad-member-ec2.cfg
Due: none

Issue #1418: locust in multi-process mode
  test/scenarios/autotest-248-ram-rankine-performance.cfg
Due: none

Bug #55127: configure Kelvin scheme for RAM
  test/utils/ram/utils-ram.sh
Due: none

Bug #55468: univention-management-console-module-diagnostic 6.0.2-10A~5.0.0.202301101549
  doc/errata/staging/univention-management-console-module-diagnostic.yaml
Due: errata validation

Bug #55544: proftpd-dfsg ANNOUNCE
  doc/errata/published/2023-01-13_1359_proftpd-dfsg.yaml
Due: none

Bug #55567: exiv2 ANNOUNCE
  doc/errata/published/2023-01-13_1357_exiv2.yaml
Due: none

Bug #55545: libksba ANNOUNCE
  doc/errata/published/2023-01-13_1358_libksba.yaml
Due: none

Bug #55543: exempi ANNOUNCE
  doc/errata/published/2023-01-13_1356_exempi.yaml
Due: none

Bug #55536: grub2 ANNOUNCE
  doc/errata/published/2023-01-13_1362_grub2.yaml
Due: none

Bug #55536: grub-efi-amd64-signed ANNOUNCE
  doc/errata/published/2023-01-13_1361_grub-efi-amd64-signed.yaml
Due: none

Bug #55385: univention-mail-postfix ANNOUNCE
  doc/errata/published/2023-01-13_1360_univention-mail-postfix.yaml
Due: none

Bug #55569: univention-keycloak should evaluate keycloak/sso/server/fqdn
  services/univention-keycloak/debian/changelog
  services/univention-keycloak/scripts/univention-keycloak
Due: deb-pipeline

Bug #55569: yaml
  doc/errata/staging/univention-keycloak.yaml
Due: errata validation

Bug #55378: univention-portal ANNOUNCE
  doc/errata/published/2023-01-13_537_univention-portal.yaml
Due: none

Bug #55541: emacs ANNOUNCE
  doc/errata/published/2023-01-13_529_emacs.yaml
Due: none

Bug #55540: linux-signed-amd64 ANNOUNCE
  doc/errata/published/2023-01-13_539_linux-signed-amd64.yaml
Due: none

Bug #55378: univention-web ANNOUNCE
  doc/errata/published/2023-01-13_538_univention-web.yaml
Due: none

Bug #55485: univention-server ANNOUNCE
  doc/errata/published/2023-01-13_535_univention-server.yaml
Due: none

Bug #55539: multipath-tools ANNOUNCE
  doc/errata/published/2023-01-13_532_multipath-tools.yaml
Due: none

Bug #55537: xorg-server ANNOUNCE
  doc/errata/published/2023-01-13_536_xorg-server.yaml
Due: none

Bug #55501: univention-ldap ANNOUNCE
  doc/errata/published/2023-01-13_533_univention-ldap.yaml
Due: none

Bug #55566: libtasn1-6 ANNOUNCE
  doc/errata/published/2023-01-13_531_libtasn1-6.yaml
Due: none

Bug #55542: libksba ANNOUNCE
  doc/errata/published/2023-01-13_530_libksba.yaml
Due: none

Bug #55514: univention-mail-postfix ANNOUNCE
  doc/errata/published/2023-01-13_534_univention-mail-postfix.yaml
Due: none

Bug #55540: linux ANNOUNCE
  doc/errata/published/2023-01-13_540_linux.yaml
Due: none

Bug #55540: linux-latest ANNOUNCE
  doc/errata/published/2023-01-13_541_linux-latest.yaml
Due: none

Bug #54773: write UDM type information into app JSON listener files
  doc/app-center/identity_management.rst
  management/univention-appcenter/debian/changelog
  management/univention-appcenter/debian/control
  management/univention-appcenter/scripts/univention-appcenter-listener-converter
Due: doc-pipeline, deb-pipeline

Path conditions:
  prepare ucslint: any of: packaging/ucslint/**/*
  doc-pipeline: any of: doc/[^e]*/**/*, doc/e[^r]*/**/*, doc/er[^r]*/**/*, doc/err[^a]*/**/*, doc/erra[^t]*/**/*, doc/errat[^a]*/**/*, doc/errata?*/**/*
  deb-pipeline: any of: [^dt]*/*/**/*, d[^o]*/*/**/*, do[^c]*/*/**/*, doc?*/*/**/*, t[^e]*/*/**/*, te[^s]*/*/**/*, tes[^t]*/*/**/*, test?*/*/**/*, test/generate-appliance/**/*, test/ucs-test/**/*, test/ucs-test-tools/**/*, test/univention-demo-configuration/**/*
  errata validation: any of: doc/errata/staging/*.yaml
