Repository univention/univention-corporate-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build ucslint, doc-pipeline, deb-pipeline, errata validation

build ucslint:
  stage: prepare
  variables:
    KANIKO_BUILD_CONTEXT: packaging/ucslint
    KANIKO_ARGS: --build-arg ucs=$ucs --cache=true

doc-pipeline:
  stage: build
  needs:
  - job: generate-config
  trigger:
    include:
    - artifact: generated-config-doc.yml
      job: generate-config
    strategy: depend
    forward:
      pipeline_variables: true

deb-pipeline:
  stage: build
  needs:
  - job: generate-config
  - job: prepare aptly
  - job: select ucslint
  variables:
    UCSLINT: $UCSLINT
  trigger:
    include:
    - artifact: generated-config-deb.yml
      job: generate-config
    strategy: depend
    forward:
      pipeline_variables: true

errata validation:
  stage: prepare
  tags:
  - omar
  resource_group: omar
  needs: []
  variables:
    VAULT_AUTH_ROLE: ucs-production
  secrets:
    BUGZILLA_CFG:
      vault:
        engine:
          name: kv-v2
          path: secret
        path: dist/repo-ng/production/bugzilla
        field: cfg
  script:
  ...

test(utils): explicit error message when apt sources are empty
  test/utils/utils.sh
Due: none

fix(nagios): drop /etc/init.d/nagios-nrpe-server UCR template
  monitoring/univention-nagios/conffiles/etc/init.d/nagios-nrpe-server
  monitoring/univention-nagios/debian/ucslint.overrides
  monitoring/univention-nagios/debian/univention-nagios-client.maintscript
  monitoring/univention-nagios/debian/univention-nagios-client.postinst
  monitoring/univention-nagios/debian/univention-nagios-client.univention-config-registry
  monitoring/univention-nagios/nagios-client.py
Due: deb-pipeline

test(utils): skip country remap when the tool does not exist
  test/utils/utils.sh
Due: none

fix(postgrey): drop /etc/init.d/postgrey UCR template
  mail/univention-postgrey/conffiles/etc/init.d/postgrey
  mail/univention-postgrey/debian/univention-postgrey.maintscript
  mail/univention-postgrey/debian/univention-postgrey.postinst
  mail/univention-postgrey/debian/univention-postgrey.univention-config-registry
Due: deb-pipeline

feat(heimdal): convert heimdal-kdc to native systemd units
  base/univention-heimdal/15univention-heimdal-kdc.inst
  base/univention-heimdal/conffiles/etc/init.d/heimdal-kdc
  base/univention-heimdal/debian/rules
  base/univention-heimdal/debian/ucslint.overrides
  base/univention-heimdal/debian/univention-heimdal-kdc.heimdal-kdc.service
  base/univention-heimdal/debian/univention-heimdal-kdc.heimdal-kpasswdd.service
  base/univention-heimdal/debian/univention-heimdal-kdc.maintscript
  base/univention-heimdal/debian/univention-heimdal-kdc.postinst
  base/univention-heimdal/debian/univention-heimdal-kdc.univention-config-registry
  management/univention-ldap/univention-backup2master
Due: deb-pipeline

refactor: replace univention-license
  base/univention-licence/.gitignore
  base/univention-licence/Makefile.am
  base/univention-licence/configure.ac
  base/univention-licence/debian/clean
  base/univention-licence/debian/control
  base/univention-licence/debian/libunivention-license-dev.install
  base/univention-licence/debian/libunivention-license-dev.lintian-overrides
  base/univention-licence/debian/libunivention-license0.install
  base/univention-licence/debian/libunivention-license0.lintian-overrides
  base/univention-licence/debian/libunivention-license0.symbols
  base/univention-licence/debian/not-installed
  base/univention-licence/debian/rules
  base/univention-licence/debian/ucslint.overrides
  base/univention-licence/debian/univention-license-import.install
  base/univention-licence/include/Makefile.am
  base/univention-licence/include/univention/Makefile.am
  base/univention-licence/include/univention/license.h
  base/univention-licence/lib/Makefile.am
  base/univention-licence/lib/internal.h
  base/univention-licence/lib/license.c
  base/univention-licence/lib/license_key.c
  base/univention-licence/lib/license_ldap.c
  base/univention-licence/lib/license_signature.c
  base/univention-licence/tools/Makefile.am
  base/univention-licence/tools/univention-license-import
  base/univention-licence/tools/univentionLicenseTest
Due: deb-pipeline

feat(udm): be strict on wrong uldap access instance
  base/univention-python/modules/uldap.py
  management/univention-directory-manager-modules/modules/univention/admin/handlers/__init__.py
  management/univention-directory-manager-modules/modules/univention/admin/modules.py
Due: deb-pipeline

test(checks): ignore fetchmail.service in failed-systemd-service check
  test/ucs-test/tests/00_checks/08_failed_systemd_service.py
Due: deb-pipeline

fix(passwordreset): store token timestamps with timezone
  management/univention-self-service/debian/univention-self-service-master.postinst
  management/univention-self-service/umc/python/passwordreset/__init__.py
  management/univention-self-service/umc/python/passwordreset/tokendb.py
Due: deb-pipeline

fix(dovecot): drop /etc/init.d/dovecot UCR template
  mail/univention-mail-dovecot/conffiles/etc/init.d/dovecot
  mail/univention-mail-dovecot/debian/ucslint.overrides
  mail/univention-mail-dovecot/debian/univention-mail-dovecot.maintscript
  mail/univention-mail-dovecot/debian/univention-mail-dovecot.univention-config-registry
Due: deb-pipeline

build(config-registry): update rust library dependencies
  base/univention-config-registry/Cargo.toml
  base/univention-config-registry/build.rs
  base/univention-config-registry/debian/control
Due: deb-pipeline

feat(directory-policy): convert to native systemd unit
  management/univention-directory-policy/debian/univention-directory-policy.init
  management/univention-directory-policy/debian/univention-directory-policy.install
  management/univention-directory-policy/debian/univention-directory-policy.maintscript
  management/univention-directory-policy/debian/univention-directory-policy.postinst
  management/univention-directory-policy/debian/univention-directory-policy.service
  management/univention-directory-policy/univention-directory-policy
Due: deb-pipeline

test(keycloak): reload apache after external fqdn config
  test/utils/utils-keycloak.sh
Due: none

test(proxmox): add scenario config for generating Proxmox template
  test/scenarios/proxmox-templates/generic-proxmox-template.cfg
Due: none

test(utils): reset RabbitMQ database for the school update to UCS 5.3
  test/scenarios/update-testing/update-ucs-school-multiserver.cfg
  test/utils/utils.sh
Due: none

test(scenarios): add proxmox to all autotests
  test/scenarios/autotest-070-update-master-no-samba.cfg
  test/scenarios/autotest-070-update-master-part-II-no-samba.cfg
  test/scenarios/autotest-071-update-master-part-II-s4.cfg
  test/scenarios/autotest-071-update-master-s4.cfg
  test/scenarios/autotest-072-update-backup-no-samba.cfg
  test/scenarios/autotest-073-update-backup-s4.cfg
  test/scenarios/autotest-074-update-slave-no-samba.cfg
  test/scenarios/autotest-075-update-slave-s4.cfg
  test/scenarios/autotest-076-update-member-no-samba.cfg
  test/scenarios/autotest-077-update-member-s4.cfg
  test/scenarios/autotest-090-master-no-samba.cfg
  test/scenarios/autotest-090-master-part-II-no-samba.cfg
  test/scenarios/autotest-091-master-part-II-s4.cfg
  test/scenarios/autotest-091-master-s4.cfg
  test/scenarios/autotest-092-backup-no-samba.cfg
  test/scenarios/autotest-093-backup-s4.cfg
  test/scenarios/autotest-094-slave-no-samba.cfg
  test/scenarios/autotest-095-slave-s4.cfg
  test/scenarios/autotest-096-member-no-samba.cfg
  test/scenarios/autotest-097-member-s4.cfg
  test/scenarios/s4-connector/master-only-released-errata-s4connector.cfg
  test/scenarios/s4-connector/master-s4connector.cfg
  test/scenarios/s4-connector/update-master-s4connector.cfg
Due: none

test(utils): invalidate nscd hosts cache before running ucs-test
  test/utils/utils.sh
Due: none

refactor(udm): replace univention.licence C implementation
  base/univention-licence-python/.gitignore
  base/univention-licence-python/debian/control
  base/univention-licence-python/debian/python3-univention-license.pyremove
  base/univention-licence-python/python/univention/license.py
  base/univention-licence-python/python/univention/py_license.c
  base/univention-licence-python/setup.py
  management/univention-directory-manager-modules/modules/univention/admin/handlers/__init__.py
Due: deb-pipeline

fix(tests): remove kernel purge from school update tests
  test/scenarios/update-testing/update-ucs-school-multiserver.cfg
Due: none

feat(installation-test): add qemu-guest-agent bootstrap for Proxmox
  test/utils/installation_test/bootstrap-guest-agent.py
Due: none

test(coredumps): disable ignoring Python 3
  test/ucs-test/tests/99_end/07_coredumps.py
Due: deb-pipeline

test(update-scenarios): clear stale failed units on old-template upgrades
  test/scenarios/update-testing/update-from-1.2-backup2master.cfg
  test/scenarios/update-testing/update-from-2.4.cfg
  test/scenarios/update-testing/update-from-4.2-4.cfg
Due: none

test(mail): retry IMAP login after username modrdn
  test/ucs-test/tests/40_mail/42_dovecot_rename_user.py
Due: deb-pipeline

fix(firewall): parse Docker port bindings from inspect output
  base/univention-firewall/conffiles/etc/security/packetfilter.d/20_docker.sh
  doc/changelog/staged/base.59647.rst
Due: doc-pipeline, deb-pipeline

refactor(quota): drop /etc/init.d/quotarpc UCR template
  base/univention-quota/conffiles/etc/init.d/quotarpc
  base/univention-quota/debian/ucslint.overrides
  base/univention-quota/debian/univention-quota.maintscript
  base/univention-quota/debian/univention-quota.univention-config-registry
Due: deb-pipeline

build(radius): update rust library dependencies
  services/univention-radius/Cargo.toml
  services/univention-radius/README-dev.md
  services/univention-radius/debian/control
  services/univention-radius/src/logger.rs
  services/univention-radius/src/mschapv2.rs
  services/univention-radius/src/networkaccess.rs
Due: deb-pipeline

DROPME: UCS@school 5.3
  test/scenarios/install-testing/school-dev.cfg
  test/scenarios/install-testing/school-scope.cfg
  test/scenarios/install-testing/school.cfg
  test/utils/utils.sh
Due: none

Revert "DROPME: disable dovecot auth cache in tests"
  test/ucs-test/tests/40_mail/42_dovecot_rename_mail_primary_address.py
  test/ucs-test/tests/40_mail/42_dovecot_rename_user.py
  test/ucs-test/tests/40_mail/43_dovecot_shared_folder_create_subfolder_with_acls.py
Due: deb-pipeline

DROPME: UDN abort analysis
  management/univention-directory-notifier/debian/rules
  management/univention-directory-notifier/src/notify.c
  test/ucs-test/tests/99_end/07_coredumps.py
Due: deb-pipeline

DROPME: UCS 5.3 ALPHA release
  base/univention-base-files/conffiles/etc/issue
  base/univention-base-files/conffiles/etc/issue.net
  base/univention-base-files/conffiles/etc/welcome.msg
  base/univention-base-files/debian/univention-base-files.univention-config-registry
  base/univention-system-setup/conffiles/etc/motd.setup
  base/univention-system-setup/debian/univention-system-setup-boot.univention-config-registry
  base/univention-updater/debian/univention-updater.postinst
  base/univention-updater/modules/univention/updater/tools.py
Due: deb-pipeline

DROPME: ignore non-systemd units
  test/ucs-test/tests/99_end/grep_traceback.py
Due: deb-pipeline

DROPME: ignore timing errors for now due to python license and overreached license
  test/ucs-test/tests/59_udm/76_test_udm_blocklistentries_performance.py
Due: deb-pipeline

DROPME: test(setup): update system to latest omar.knut
  test/utils/utils.sh
Due: none

DROPME: use interim UCS 5.3 KVM and EC2 templates
  test/utils/start-test.sh
Due: none

DROPME: switch to test appcenter
  base/univention-system-setup/umc/python/setup/util.py
  management/univention-appcenter/python/appcenter-dev/actions/local_appcenter.py
  management/univention-appcenter/python/appcenter/app_cache.py
  test/scenarios/autotest-090-master-no-samba.cfg
  test/scenarios/autotest-090-master-part-II-no-samba.cfg
  test/scenarios/autotest-091-master-part-II-s4.cfg
  test/scenarios/autotest-091-master-s4.cfg
  test/scenarios/autotest-092-backup-no-samba.cfg
  test/scenarios/autotest-093-backup-s4.cfg
  test/scenarios/autotest-094-slave-no-samba.cfg
  test/scenarios/autotest-095-slave-s4.cfg
  test/scenarios/autotest-096-member-no-samba.cfg
  test/scenarios/autotest-097-member-s4.cfg
  test/scenarios/delegated-administration-testing/primary-school.cfg
  test/scenarios/install-testing/school-scope.cfg
  test/scenarios/install-testing/school.cfg
  test/scenarios/s4-connector/master-only-released-errata-s4connector.cfg
  test/scenarios/s4-connector/master-s4connector.cfg
Due: deb-pipeline

docs(release-notes): Update German translation
  doc/release-notes/locales/de/LC_MESSAGES/index.po
Due: doc-pipeline

docs(release-notes): Add disabled behavior warning
  doc/release-notes/index.rst
  doc/release-notes/locales/de/LC_MESSAGES/index.po
  doc/release-notes/spelling_wordlist
Due: doc-pipeline

chore(linux-signed-amd64): create advisory for 6.1.187+1
  doc/errata/staging/linux-signed-amd64.yaml
Due: errata validation

chore(firefox-esr): create advisory for 140.16.0esr-1~deb12u1
  doc/errata/staging/firefox-esr.yaml
Due: errata validation

Path conditions:
  build ucslint: any of: packaging/ucslint/**/*
  doc-pipeline: any of: doc/[^e]*/**/*, doc/e[^r]*/**/*, doc/er[^r]*/**/*, doc/err[^a]*/**/*, doc/erra[^t]*/**/*, doc/errat[^a]*/**/*, doc/errata?*/**/*
  deb-pipeline: any of: [^dt.]*/*/**/*, d[^o]*/*/**/*, do[^c]*/*/**/*, doc?*/*/**/*, t[^e]*/*/**/*, te[^s]*/*/**/*, tes[^t]*/*/**/*, test?*/*/**/*, test/generate-appliance/**/*, test/ucs-test/**/*, test/ucs-test-tools/**/*, test/univention-demo-configuration/**/*
  errata validation: any of: doc/errata/staging/*.yaml
