Repository univention/univention-corporate-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build ucslint, doc-pipeline, deb-pipeline, errata validation

Path conditions:
  build ucslint: any of: packaging/ucslint/**/*
  doc-pipeline: any of: doc/[^e]*/**/*, doc/e[^r]*/**/*, doc/er[^r]*/**/*, doc/err[^a]*/**/*, doc/erra[^t]*/**/*, doc/errat[^a]*/**/*, doc/errata?*/**/*
  deb-pipeline: any of: [^dt.]*/*/**/*, d[^o]*/*/**/*, do[^c]*/*/**/*, doc?*/*/**/*, t[^e]*/*/**/*, te[^s]*/*/**/*, tes[^t]*/*/**/*, test?*/*/**/*, test/generate-appliance/**/*, test/ucs-test/**/*, test/ucs-test-tools/**/*, test/univention-demo-configuration/**/*
  errata validation: any of: doc/errata/staging/*.yaml

ci: increase disk size
  test/scenarios/autotest-201-ucsschool-singleserver-s4.cfg
Due: none

Bug #59665: Advisory update
  doc/errata/staging/samba.yaml
Due: errata validation

Bug #59667: Advisory update
  doc/errata/staging/samba.yaml
Due: errata validation

test(201): grow the root filesystem to the increased disk size
  test/scenarios/autotest-201-ucsschool-singleserver-s4.cfg
Due: none

chore(imagemagick): announce security erratum 559
  doc/errata/published/2026-07-29_559_imagemagick.yaml
Due: none

chore(samba): announce security erratum 561
  doc/errata/published/2026-07-29_561_samba.yaml
Due: none

chore(firefox-esr): announce security erratum 557
  doc/errata/published/2026-07-29_557_firefox-esr.yaml
Due: none

chore(nss): announce security erratum 560
  doc/errata/published/2026-07-29_560_nss.yaml
Due: none

chore(univention-directory-manager-modules): announce erratum 563
  doc/errata/published/2026-07-29_563_univention-directory-manager-modules.yaml
Due: none

chore(squid): announce security erratum 562
  doc/errata/published/2026-07-29_562_squid.yaml
Due: none

chore(hplip): announce security erratum 558
  doc/errata/published/2026-07-29_558_hplip.yaml
Due: none

chore(samba): announce security erratum 1469
  doc/errata/published/2026-07-29_1469_samba.yaml
Due: none

chore(hplip): announce security erratum 1467
  doc/errata/published/2026-07-29_1467_hplip.yaml
Due: none

chore(bind9): announce security erratum 1466
  doc/errata/published/2026-07-29_1466_bind9.yaml
Due: none

chore(nss): announce security erratum 1468
  doc/errata/published/2026-07-29_1468_nss.yaml
Due: none

chore(grub2): announce security erratum 1471
  doc/errata/published/2026-07-29_1471_grub2.yaml
Due: none

chore(grub-efi-amd64-signed): announce security erratum 1470
  doc/errata/published/2026-07-29_1470_grub-efi-amd64-signed.yaml
Due: none

fix(ad-connector): Only do bidirectional update of msds-supportedencryptiontypes if syncmode is sync
  doc/errata/staging/univention-ad-connector.yaml
  services/univention-ad-connector/debian/changelog
  services/univention-ad-connector/modules/univention/connector/ad/password.py
Due: deb-pipeline, errata validation

Bug #59668: Samba advisory
  doc/errata/staging/samba.yaml
Due: errata validation

feat(proxmox): add joined-template scenario for Proxmox
  test/scenarios/proxmox-images/joined-proxmox-templates.cfg
Due: none

fix(s4-connector): handle missing primary group
  doc/errata/staging/univention-s4-connector.yaml
  services/univention-s4-connector/debian/changelog
  services/univention-s4-connector/modules/univention/s4connector/s4/__init__.py
  test/ucs-test/tests/52_s4connector/522_primary_group_retry
  test/ucs-test/tests/99_end/grep_traceback.py
Due: deb-pipeline, errata validation

ci(utils): undo a pinned static IP before an image is built
  test/utils/base_appliance.sh
Due: none

chore(univention-ad-connector): announce erratum 564
  doc/errata/published/2026-07-30_564_univention-ad-connector.yaml
Due: none

chore(nss): announce security erratum 1868
  doc/errata/published/2026-07-30_1868_nss.yaml
Due: none

chore(imagemagick): announce security erratum 1867
  doc/errata/published/2026-07-30_1867_imagemagick.yaml
Due: none

chore(hplip): announce security erratum 1866
  doc/errata/published/2026-07-30_1866_hplip.yaml
Due: none

chore(samba): announce security erratum 1869
  doc/errata/published/2026-07-30_1869_samba.yaml
Due: none

ci(utils): drop the DHCP lease before an image is built
  test/utils/base_appliance.sh
Due: none

ci(kelvin): honour KELVIN_VERSION for the prod install
  test/utils/utils-school.sh
Due: none

ci: kelvin needs provisioning-service
  test/scenarios/autotest-244-ucsschool-id-connector.cfg
Due: none

ci(utils): force univention-register-network-address
  test/utils/utils.sh
Due: none

test(ucs-test): added s4 connector test for primary group retry
  test/ucs-test/debian/changelog
Due: deb-pipeline

fix(ad-connector): handle missing primary group
  doc/errata/staging/univention-ad-connector.yaml
  services/univention-ad-connector/debian/changelog
  services/univention-ad-connector/modules/univention/connector/ad/__init__.py
  test/ucs-test/debian/changelog
  test/ucs-test/tests/55_adconnector/523_primary_group_retry
Due: deb-pipeline, errata validation

ci(utils): rebuild ucs-sso-ng dns record from ldap
  test/utils/utils.sh
Due: none

ci(utils): drop the undo of the pinned static IP
  test/utils/base_appliance.sh
Due: none

chore(imagemagick): create advisory for 8:6.9.10.23+dfsg-2.1+deb10u21
  doc/errata/staging/imagemagick.yaml
Due: errata validation

chore(openjdk-11): create advisory for 11.0.32+9-2~deb10u1
  doc/errata/staging/openjdk-11.yaml
Due: errata validation

chore(poppler): create advisory for 22.12.0-2+deb12u3
  doc/errata/staging/poppler.yaml
Due: errata validation

chore(openjdk-17): create advisory for 17.0.20+8-1~deb12u1
  doc/errata/staging/openjdk-17.yaml
Due: errata validation
