Repository univention/univention-corporate-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build ucslint, doc-pipeline, deb-pipeline, errata validation

build ucslint:
  stage: prepare
  variables:
    KANIKO_BUILD_CONTEXT: packaging/ucslint
    KANIKO_ARGS: --build-arg ucs=$ucs --cache=true

doc-pipeline:
  stage: build
  needs:
  - job: generate-config
  trigger:
    include:
    - artifact: generated-config-doc.yml
      job: generate-config
    strategy: depend
    forward:
      pipeline_variables: true

deb-pipeline:
  stage: build
  needs:
  - job: generate-config
  - job: prepare aptly
  - job: select ucslint
  variables:
    UCSLINT: $UCSLINT
  trigger:
    include:
    - artifact: generated-config-deb.yml
      job: generate-config
    strategy: depend
    forward:
      pipeline_variables: true

errata validation:
  stage: prepare
  tags:
  - omar
  resource_group: omar
  needs: []
  variables:
    VAULT_AUTH_ROLE: ucs-production
  secrets:
    BUGZILLA_CFG:
      vault:
        engine:
          name: kv-v2
          path: secret
        path: dist/repo-ng/production/bugzilla
        field: cfg
  script:
  ...

chore(lcms2): create advisory for 2.8-4+deb9u2
  doc/errata/staging/lcms2.yaml
Due: errata validation

chore(linux-5.10): create advisory for 5.10.251-4~deb9u1
  doc/errata/staging/linux-5.10.yaml
Due: errata validation

chore(pyjwt): create advisory for 1.4.2-1+deb9u2
  doc/errata/staging/pyjwt.yaml
Due: errata validation

chore(linux-signed-5.10-amd64): create advisory for 5.10.251+4~deb10u1
  doc/errata/staging/linux-signed-5.10-amd64.yaml
Due: errata validation

chore(univention-keycloak): update advisory
  doc/errata/staging/univention-keycloak.yaml
Due: errata validation

chore(linux): create advisory for 6.1.170+3
  doc/errata/staging/linux-signed-amd64.yaml
  doc/errata/staging/linux.yaml
Due: errata validation

chore(docs): Comply to formatting style in pyproject.toml
  doc/app-center/conf.py
  doc/architecture/conf.py
  doc/changelog/conf.py
  doc/debian-admins/conf.py
  doc/developer-reference/conf.py
  doc/ext-delegative-administration/conf.py
  doc/ext-domain/conf.py
  doc/ext-installation/conf.py
  doc/ext-networks/conf.py
  doc/ext-performance/conf.py
  doc/ext-windows/conf.py
  doc/manual/conf.py
  doc/quickstart/conf.py
  doc/release-notes/conf.py
  doc/scenarios/conf.py
  doc/ucs-operation/conf.py
Due: doc-pipeline

docs(operation/ucr-variable-reference): Add missing definition for reference variables
  doc/ucs-operation/ucr-variable-reference.rst
Due: doc-pipeline

docs(operation/changelog): Entry for added UCR variables
  doc/ucs-operation/changelog.rst
Due: doc-pipeline

docs(operation/ucr-variable-reference): Add missing UCR variables mentioned in Nubus Manual
  doc/ucs-operation/ucr-variable-reference.rst
Due: doc-pipeline

docs(operation/ucr-variable-reference): Update German translation
  doc/ucs-operation/locales/de/LC_MESSAGES/changelog.po
  doc/ucs-operation/locales/de/LC_MESSAGES/ucr-variable-reference.po
Due: doc-pipeline

feat(telemetry): Add a telemetry sender that forwards UDM metrics to Univention once a day
  REUSE.toml
  base/univention-server/debian/control
  management/univention-telemetry/conffiles/etc/cron.d/univention-telemetry-sender
  management/univention-telemetry/debian/changelog
  management/univention-telemetry/debian/control
  management/univention-telemetry/debian/copyright
  management/univention-telemetry/debian/rules
  management/univention-telemetry/debian/univention-telemetry.install
  management/univention-telemetry/debian/univention-telemetry.postinst
  management/univention-telemetry/debian/univention-telemetry.univention-config-registry
  management/univention-telemetry/debian/univention-telemetry.univention-config-registry-variables
  management/univention-telemetry/debian/univention-telemetry.univention-config-registry-variables-categories
  management/univention-telemetry/scripts/univention-telemetry-sender
  pyproject.toml
Due: deb-pipeline

test(telemetry): Add unit tests for the telemetry sender
  management/univention-telemetry/unittests/test_telemetry_sender.py
Due: deb-pipeline

chore(univention-server): Add advisory and changelog
  base/univention-server/debian/changelog
  doc/errata/staging/univention-server.yaml
Due: deb-pipeline, errata validation

chore(telemetry): Add advisory
  doc/errata/staging/univention-telemetry.yaml
Due: errata validation

Bug #59200: Make position mapping apply to the positon itself
  doc/errata/staging/univention-ad-connector.yaml
  services/univention-ad-connector/debian/changelog
  services/univention-ad-connector/modules/univention/connector/__init__.py
  test/ucs-test/debian/changelog
  test/ucs-test/tests/55_adconnector/169test_custom_position_mapping.py
Due: deb-pipeline, errata validation

test(udm): Add tests for udm users/contact
  test/ucs-test/debian/changelog
  test/ucs-test/tests/59_udm/61_test_udm_users_contact.py
Due: deb-pipeline

feat(udm): allow to set users/contact cn
  doc/errata/staging/univention-directory-manager-modules.yaml
  management/univention-directory-manager-modules/debian/changelog
  management/univention-directory-manager-modules/modules/univention/admin/handlers/users/contact.py
  management/univention-directory-manager-modules/modules/univention/admin/uldap.py
Due: deb-pipeline, errata validation

chore: Terminate TLS at the reverse proxy for OX8 only export http from OX8 directly
  test/product-tests/component/ox-connector-with-ox8.cfg
  test/scenarios/ox-connector/ox-connector-ox8.cfg
  test/utils/install_ox8.sh
Due: none

chore: Allow specifying the OX8 version to use, default to OX8 >= 8.48 to support shared accounts
  test/product-tests/component/install_ox8.sh
  test/product-tests/component/ox-connector-with-ox8.cfg
  test/scenarios/ox-connector/ox-connector-ox8.cfg
  test/utils/install_ox8.sh
Due: none

Enable shared accounts
  test/utils/install_ox8.sh
Due: none

chore: add univention-telemetry to maintained packages list
  base/univention-errata-level/maintained-packages.txt
Due: deb-pipeline

docs(udm): add more security relevant notes
  management/univention-directory-manager-modules/README-authorization.md
Due: deb-pipeline

test(ucs-test): add test case for UMC header smuggling
  test/ucs-test/debian/changelog
  test/ucs-test/tests/60_umc/102_test_umc_security.py
  test/ucs-test/tests/60_umc/10_error_code_for_requests.py
  test/ucs-test/tests/60_umc/17_traceback_handling.py
  test/ucs-test/tests/60_umc/90_max_parallel_requests_to_module_processes.py
  test/ucs-test/tests/60_umc/conftest.py
  test/ucs-test/umc/python/ucstest/__init__.py
  test/ucs-test/umc/ucstest.xml
Due: deb-pipeline

fix(umc): prevent request header smuggling
  doc/errata/staging/univention-management-console.yaml
  management/univention-management-console/debian/changelog
  management/univention-management-console/src/univention/management/console/resources.py
Due: deb-pipeline, errata validation

feat(ad-connector): Add mapping for contact objects
  services/univention-ad-connector/debian/changelog
  services/univention-ad-connector/debian/univention-ad-connector.univention-config-registry-variables
  services/univention-ad-connector/modules/univention/connector/ad/mapping.py
Due: deb-pipeline

Bug #59259: Advisory
  doc/errata/staging/samba.yaml
Due: errata validation

test(ucs-test): cleanup comments
  test/ucs-test/tests/55_adconnector/169test_custom_position_mapping.py
Due: deb-pipeline

test(ucs-test): test case for UMC header smuggling
  test/ucs-test/debian/changelog
  test/ucs-test/tests/60_umc/102_test_umc_security.py
Due: deb-pipeline

chore(imagemagick): announce security erratum 1822
  doc/errata/published/2026-05-13_1822_imagemagick.yaml
Due: none

chore(pyjwt): announce security erratum 1824
  doc/errata/published/2026-05-13_1824_pyjwt.yaml
Due: none

chore(lcms2): announce security erratum 1823
  doc/errata/published/2026-05-13_1823_lcms2.yaml
Due: none

chore(linux-5.10): announce security erratum 1826
  doc/errata/published/2026-05-13_1826_linux-5.10.yaml
Due: none

chore(univention-kernel-image): announce security erratum 1825
  doc/errata/published/2026-05-13_1825_univention-kernel-image.yaml
Due: none

chore(univention-kernel-image): update ABI version to 52
  doc/errata/staging/univention-kernel-image.yaml
  kernel/univention-kernel-image/debian/changelog
  kernel/univention-kernel-image/debian/rules
Due: deb-pipeline, errata validation

chore(openjdk-11): announce security erratum 1424
  doc/errata/published/2026-05-13_1424_openjdk-11.yaml
Due: none

chore(lcms2): announce security erratum 1423
  doc/errata/published/2026-05-13_1423_lcms2.yaml
Due: none

chore(pyjwt): announce security erratum 1425
  doc/errata/published/2026-05-13_1425_pyjwt.yaml
Due: none

chore(linux-signed-5.10-amd64): announce security erratum 1427
  doc/errata/published/2026-05-13_1427_linux-signed-5.10-amd64.yaml
Due: none

Path conditions:
  build ucslint: any of: packaging/ucslint/**/*
  doc-pipeline: any of: doc/[^e]*/**/*, doc/e[^r]*/**/*, doc/er[^r]*/**/*, doc/err[^a]*/**/*, doc/erra[^t]*/**/*, doc/errat[^a]*/**/*, doc/errata?*/**/*
  deb-pipeline: any of: [^dt.]*/*/**/*, d[^o]*/*/**/*, do[^c]*/*/**/*, doc?*/*/**/*, t[^e]*/*/**/*, te[^s]*/*/**/*, tes[^t]*/*/**/*, test?*/*/**/*, test/generate-appliance/**/*, test/ucs-test/**/*, test/ucs-test-tools/**/*, test/univention-demo-configuration/**/*
  errata validation: any of: doc/errata/staging/*.yaml
