Repository univention/univention-corporate-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build ucslint, doc-pipeline, deb-pipeline, errata validation

Path conditions:
  build ucslint: any of: packaging/ucslint/**/*
  doc-pipeline: any of: doc/[^e]*/**/*, doc/e[^r]*/**/*, doc/er[^r]*/**/*, doc/err[^a]*/**/*, doc/erra[^t]*/**/*, doc/errat[^a]*/**/*, doc/errata?*/**/*
  deb-pipeline: any of: [^dt.]*/*/**/*, d[^o]*/*/**/*, do[^c]*/*/**/*, doc?*/*/**/*, t[^e]*/*/**/*, te[^s]*/*/**/*, tes[^t]*/*/**/*, test?*/*/**/*, test/generate-appliance/**/*, test/ucs-test/**/*, test/ucs-test-tools/**/*, test/univention-demo-configuration/**/*
  errata validation: any of: doc/errata/staging/*.yaml

Bug #57339: apache2 2.4.59-1~deb10u1A~5.0.7.202405270804
  doc/errata/staging/apache2.yaml
Due: errata validation

chore: remove simpleSAMLphp kerberos user
  base/univention-updater/debian/changelog
  base/univention-updater/script/postup.sh
  management/univention-directory-manager-modules/debian/changelog
  management/univention-directory-manager-modules/modules/univention/admin/license.py
Due: deb-pipeline

Issue #2274: Ignore office365 tracebacks
  test/ucs-test/tests/99_end/grep_traceback.py
Due: deb-pipeline

Issue #2274: Ignore office365 tracebacks
  test/ucs-test/debian/changelog
Due: deb-pipeline

Bug #31252: Partial revert Remove cn=backup,$ldap_base from base.ldif
  base/univention-updater/debian/changelog
  base/univention-updater/script/postup.sh
  management/univention-ldap/base.ldif
  management/univention-ldap/debian/changelog
Due: deb-pipeline

docs(manual): Cleanup password settings windows
  doc/manual/links.txt
  doc/manual/user-management/password-settings-windows-clients.rst
Due: doc-pipeline

docs(manual): Add values for password/quality variables
  doc/manual/appendix/variables.rst
Due: doc-pipeline

docs(manual): Rewrite user password management
  doc/manual/links.txt
  doc/manual/user-management/password-management.rst
Due: doc-pipeline

docs(manual): Refer to password policy from User Self Service
  doc/manual/user-management/user-self-service.rst
Due: doc-pipeline

docs(manual): Update German translation for user password management
  doc/manual/links-de.txt
  doc/manual/locales/de/LC_MESSAGES/appendix.po
  doc/manual/locales/de/LC_MESSAGES/user-management.po
Due: doc-pipeline

Bug #31252: Revert remove cn=backup,$ldap_base from base.ldif.
  doc/errata/staging/univention-ldap.yaml
  management/univention-ldap/base.ldif
  management/univention-ldap/debian/changelog
Due: deb-pipeline, errata validation

docs(manual): Add missing errata version number
  doc/manual/ip-config/radius.rst
Due: doc-pipeline

Bug #50268: fix advisory univention-ldap.yaml
  doc/errata/staging/univention-ldap.yaml
Due: errata validation

Bug #57320: Choose name_id_format by whats provided by commandline
  services/univention-keycloak/debian/changelog
  services/univention-keycloak/scripts/univention-keycloak
Due: deb-pipeline

fixup! Issue #2276: LDAP users cannot be resolved through pam_posix anymore. Therefore, adjust 01_base/47faillog_account-smb-krb to fail in case you test such a login
  test/ucs-test/debian/changelog
  test/ucs-test/tests/01_base/47faillog_account-smb-krb
Due: deb-pipeline

docs(manual): Update German translation for user password management
  doc/manual/links-de.txt
  doc/manual/locales/de/LC_MESSAGES/appendix.po
  doc/manual/locales/de/LC_MESSAGES/shares.po
  doc/manual/locales/de/LC_MESSAGES/user-management.po
Due: doc-pipeline

fixup! fixup! Issue #2276: LDAP users cannot be resolved through pam_posix anymore. Therefore, adjust 01_base/47faillog_account-smb-krb to fail in case you test such a login
  test/ucs-test/tests/01_base/47faillog_account-smb-krb
Due: deb-pipeline

Bug #56735: Fix REST tests for admembermode
  test/ucs-test/debian/changelog
  test/ucs-test/tests/73_udm-rest/05_async_client.py
Due: deb-pipeline

Bug #57247: Issue univention/ucs#2244: Pin runc package in 5.2:
  base/univention-updater/debian/changelog
  base/univention-updater/script/postup.sh
  base/univention-updater/script/preup.sh
Due: deb-pipeline

Bug #57236: add job for nubus (kind) setup
  test/utils/utils-nubus.sh
Due: none

Bug #57340: libreoffice ANNOUNCE
  doc/errata/published/2024-05-29_1578_libreoffice.yaml
Due: none

Bug #57341: apache2 ANNOUNCE
  doc/errata/published/2024-05-29_1576_apache2.yaml
Due: none

Bug #57256: emacs24 ANNOUNCE
  doc/errata/published/2024-05-29_1577_emacs24.yaml
Due: none

Bug #57132: univention-server ANNOUNCE
  doc/errata/published/2024-05-29_1055_univention-server.yaml
Due: none

Fix[test]: The id connector now uses the host certificates
  test/scenarios/autotest-244-ucsschool-id-sync-update.cfg
  test/scenarios/autotest-244-ucsschool-id-sync.cfg
  test/scenarios/autotest-247-ucsschool-id-broker.cfg
  test/utils/utils-school.sh
Due: none

Bug #57342: bluez ANNOUNCE
  doc/errata/published/2024-05-29_1056_bluez.yaml
Due: none

Bug #57311: univention-management-console ANNOUNCE
  doc/errata/published/2024-05-29_1057_univention-management-console.yaml
Due: none

Bug #57290: univention-management-console-module-ipchange ANNOUNCE
  doc/errata/published/2024-05-29_1058_univention-management-console-module-ipchange.yaml
Due: none

Bug #50268,Bug #51187: univention-ldap ANNOUNCE
  doc/errata/published/2024-05-29_1060_univention-ldap.yaml
Due: none

Bug #51187,Bug #57171: univention-directory-manager-modules ANNOUNCE
  doc/errata/published/2024-05-29_1059_univention-directory-manager-modules.yaml
Due: none

fixup! chore: remove simpleSAMLphp kerberos user
  base/univention-updater/debian/changelog
  base/univention-updater/script/postup.sh
Due: deb-pipeline

fixup! fixup! chore: remove simpleSAMLphp kerberos user
  base/univention-updater/script/postup.sh
Due: deb-pipeline

Issue #2295: Do not make the tests fail that grep for tracebacks in various log files
  test/ucs-test/debian/changelog
  test/ucs-test/tests/99_end/01_var_log_tracebacks.py
Due: deb-pipeline

Issue #2296: Create new keys in pkcs1 format (like in UCS 5.0), not in pkcs8
  base/univention-ssl/debian/changelog
  base/univention-ssl/make-certificates.sh
  base/univention-ssl/tests/test_sign_req
Due: deb-pipeline
