Repository univention/univention-corporate-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build ucslint, doc-pipeline, deb-pipeline, errata validation

Path conditions:
  build ucslint: any of: packaging/ucslint/**/*
  doc-pipeline: any of: doc/[^e]*/**/*, doc/e[^r]*/**/*, doc/er[^r]*/**/*, doc/err[^a]*/**/*, doc/erra[^t]*/**/*, doc/errat[^a]*/**/*, doc/errata?*/**/*
  deb-pipeline: any of: [^dt.]*/*/**/*, d[^o]*/*/**/*, do[^c]*/*/**/*, doc?*/*/**/*, t[^e]*/*/**/*, te[^s]*/*/**/*, tes[^t]*/*/**/*, test?*/*/**/*, test/generate-appliance/**/*, test/ucs-test/**/*, test/ucs-test-tools/**/*, test/univention-demo-configuration/**/*
  errata validation: any of: doc/errata/staging/*.yaml

feat(ad-connector): add ignorefilter feature Extend 508test_filter_ignore.py to also test groups, computers, containers
  services/univention-ad-connector/debian/changelog
  services/univention-ad-connector/debian/univention-ad-connector.univention-config-registry-variables
  services/univention-ad-connector/modules/univention/connector/ad/mapping.py
  test/ucs-test/debian/changelog
  test/ucs-test/tests/55_adconnector/508test_filter_ignore.py
  test/ucs-test/tests/55_adconnector/adconnector.py
  test/ucs-test/univention/testing/connector_common.py
  test/ucs-test/univention/testing/ldap_glue.py
Due: deb-pipeline

Bug #57465: Fix changelogs
  services/univention-ad-connector/debian/changelog
  test/ucs-test/debian/changelog
Due: deb-pipeline

Bug #57465: YAML
  doc/errata/staging/univention-ad-connector.yaml
Due: errata validation

feat(ad-connector): add ignorefilter feature Extend 508test_filter_ignore.py to also test groups, computers, containers
  doc/errata/staging/univention-ad-connector.yaml
  services/univention-ad-connector/debian/changelog
  services/univention-ad-connector/debian/univention-ad-connector.univention-config-registry-variables
  services/univention-ad-connector/modules/univention/connector/ad/mapping.py
  test/ucs-test/debian/changelog
  test/ucs-test/tests/55_adconnector/508test_filter_ignore.py
  test/ucs-test/tests/55_adconnector/adconnector.py
  test/ucs-test/univention/testing/connector_common.py
  test/ucs-test/univention/testing/ldap_glue.py
Due: deb-pipeline, errata validation

chore(yaml): fix spelling of YAML
  doc/errata/staging/univention-directory-manager-modules.yaml
Due: errata validation

Issue univention/ucs#2279: Fix tests fails due to localtime/utc conversion around midnight
  test/ucs-test/debian/changelog
  test/ucs-test/tests/55_adconnector/503test_password_change_next_logon
Due: deb-pipeline

Bug #57453: Prevent SQLite databases from being world readable
  services/univention-ad-connector/modules/univention/connector/ad/main.py
  services/univention-ad-connector/scripts/remove_ad_rejected.py
  services/univention-ad-connector/scripts/remove_ucs_rejected.py
  services/univention-ad-connector/scripts/resync_object_from_ad.py
  services/univention-ad-connector/univention-ad-connector
  services/univention-s4-connector/97univention-s4-connector.inst
  services/univention-s4-connector/modules/univention/s4connector/s4/main.py
  services/univention-s4-connector/scripts/remove_s4_rejected.py
  services/univention-s4-connector/scripts/remove_ucs_rejected.py
  services/univention-s4-connector/scripts/resync_object_from_s4.py
  services/univention-s4-connector/univention-s4-connector
  test/scenarios/base/ucs-ad-connector-w2k19.cfg
Due: deb-pipeline

Bug #57453: Prevent SQLite databases from being world readable
  management/univention-management-console-module-diagnostic/debian/changelog
  services/univention-ad-connector/debian/changelog
  services/univention-s4-connector/debian/changelog
Due: deb-pipeline

Issue univention/ucs#2279: Fix AD connector and Ad member tests
  test/scenarios/ad-membermode/autotest-240-admember-w2019-english-forest-child.cfg
  test/ucs-test/tests/52_s4connector/120sync_create_and_modify_ucs_user
  test/ucs-test/tests/52_s4connector/516_create_delete_objects_in_ucs_check_sync.py
  test/ucs-test/tests/55_adconnector/050sync_password_sync
  test/ucs-test/tests/55_adconnector/109sync_create_and_modify_ucs_to_ad
  test/ucs-test/tests/55_adconnector/156sync_ad_user_group_membership_in_special_OU_and_timing
  test/ucs-test/tests/55_adconnector/401check_posix_pwd_expiry_after_ad_pwdchange
  test/ucs-test/tests/55_adconnector/503test_password_change_next_logon
  test/ucs-test/tests/73_udm-rest/05_async_client.py
  test/ucs-test/tests/86_browser/18_overview_false.py
  test/ucs-test/tests/99_end/01_var_log_tracebacks.py
  test/ucs-test/univention/testing/browser/generic_udm_module.py
  test/ucs-test/univention/testing/browser/ldap_directory.py
  test/ucs-test/univention/testing/browser/process_overview.py
  test/utils/utils.sh
Due: deb-pipeline

Issue univention/ucs#2279: changelog
  test/ucs-test/debian/changelog
Due: deb-pipeline

test(udm): enable debug logging for univention-sync-memberuid
  test/ucs-test/debian/changelog
  test/ucs-test/tests/59_udm/79_test_udm_univention_sync_memberuid.py
  test/utils/utils-local.sh
Due: deb-pipeline

Bug #57465: Changelog
  test/ucs-test/debian/changelog
Due: deb-pipeline

fix(sync-memberuid): catch uexceptions instead of ldap exceptions
  doc/errata/staging/univention-directory-manager-modules.yaml
  management/univention-directory-manager-modules/debian/changelog
  management/univention-directory-manager-modules/univention-sync-memberuid
Due: deb-pipeline, errata validation

fix(sync-memberuid): catch uexceptions instead of ldap exceptions
  management/univention-directory-manager-modules/debian/changelog
  management/univention-directory-manager-modules/univention-sync-memberuid
Due: deb-pipeline

Bug #57476: krb5 1.17-3+deb10u7
  doc/errata/staging/krb5.yaml
Due: errata validation

Bug #57477: python3.7 3.7.3-2+deb10u8
  doc/errata/staging/python3.7.yaml
Due: errata validation

Bug #57478: imagemagick 8:6.9.10.23+dfsg-2.1+deb10u9
  doc/errata/staging/imagemagick.yaml
Due: errata validation

Bug #57479: python3.5 3.5.3-1+deb9u10
  doc/errata/staging/python3.5.yaml
Due: errata validation

Bug #57480: imagemagick 8:6.9.7.4+dfsg-11+deb9u20
  doc/errata/staging/imagemagick.yaml
Due: errata validation

Bug #57481: krb5 1.15-1+deb9u6
  doc/errata/staging/krb5.yaml
Due: errata validation

Bug #57394: Typo
  services/univention-ad-connector/debian/changelog
  services/univention-ad-connector/debian/univention-ad-connector.univention-config-registry-variables
Due: deb-pipeline

Bug #57394: Typo
  services/univention-ad-connector/debian/univention-ad-connector.univention-config-registry-variables
Due: deb-pipeline

Bug #57465: Skip new tests on ad-membermode
  test/ucs-test/tests/55_adconnector/508test_filter_ignore.py
Due: deb-pipeline

Bug #57465: Skip new tests on ad membermode
  test/ucs-test/debian/changelog
Due: deb-pipeline

Bug #57465: Skip new tests on ad-membermode
  test/ucs-test/debian/changelog
  test/ucs-test/tests/55_adconnector/508test_filter_ignore.py
Due: deb-pipeline

Issue univention/non-product-issues#102: Enable Openstack for s4 tests
  test/scenarios/s4-connector/master-only-released-errata-s4connector.cfg
  test/scenarios/s4-connector/master-s4connector.cfg
  test/scenarios/s4-connector/update-master-s4connector.cfg
Due: none

test(keycloak): test clients for keycloak migration
  test/ucs-test/debian/changelog
  test/ucs-test/tests/81_keycloak/12_test_migration.py
  test/ucs-test/tests/81_keycloak/DATA.py
  test/ucs-test/tests/81_keycloak/umc.xml
Due: deb-pipeline

Bug #57478: imagemagick ANNOUNCE
  doc/errata/published/2024-07-31_1089_imagemagick.yaml
Due: none

Bug #57476: krb5 ANNOUNCE
  doc/errata/published/2024-07-31_1090_krb5.yaml
Due: none
