Repository univention/univention-corporate-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build ucslint, doc-pipeline, deb-pipeline, errata validation

Path conditions:
  build ucslint: any of: packaging/ucslint/**/*
  doc-pipeline: any of: doc/[^e]*/**/*, doc/e[^r]*/**/*, doc/er[^r]*/**/*, doc/err[^a]*/**/*, doc/erra[^t]*/**/*, doc/errat[^a]*/**/*, doc/errata?*/**/*
  deb-pipeline: any of: [^dt.]*/*/**/*, d[^o]*/*/**/*, do[^c]*/*/**/*, doc?*/*/**/*, t[^e]*/*/**/*, te[^s]*/*/**/*, tes[^t]*/*/**/*, test?*/*/**/*, test/generate-appliance/**/*, test/ucs-test/**/*, test/ucs-test-tools/**/*, test/univention-demo-configuration/**/*
  errata validation: any of: doc/errata/staging/*.yaml

WIP
  management/univention-directory-manager-modules/modules/univention/admincli/admin.py
Due: deb-pipeline

fixup! feat(udm): add trash bin for deleted objects
  management/univention-directory-manager-modules/listener/recyclebin.py
  management/univention-directory-manager-modules/modules/univention/admin/handlers/recyclebin/deletedobject.py
Due: deb-pipeline

chore(ucs-test): Update images for 5.2-3
  test/utils/start-test.sh
Due: none

fixup! try to get clean and latest git cache
  .gitlab-ci.yml
Due: none

fixup! docs(udm): more for Guardian concept integration
  management/univention-directory-manager-modules/README-authorization.md
Due: deb-pipeline

perf(authorization): re-use TCP connection via request.Session
  management/univention-authorization/modules/univention/authorization/management.py
Due: deb-pipeline

ci(utils): support BASE_SCOPE
  test/scenarios/delegated-administration-testing/primary-with-guardian.cfg
  test/scenarios/delegated-administration-testing/primary-without-delegated-administration.cfg
  test/scenarios/delegated-administration-testing/primary.cfg
  test/utils/utils.sh
Due: none

feat(udm-reports): add authorization checks for UDM reports
  management/univention-directory-manager-modules/udm-default-authorization-roles.policy
Due: deb-pipeline

style(udm-authorization): give privileges explicit names
  management/univention-directory-manager-modules/udm-default-authorization-roles.policy
Due: deb-pipeline

try to get clean and latest git cache
  .gitlab-ci.yml
Due: none

feat(udm): integrate PoC for guardian authorization checks
  management/univention-authorization/modules/univention/authorization/authorization.py
  management/univention-directory-manager-modules/conditions/object_type_equals.json
  management/univention-directory-manager-modules/conditions/object_type_equals.rego
  management/univention-directory-manager-modules/conditions/target_position_in.json
  management/univention-directory-manager-modules/conditions/target_position_in.rego
  management/univention-directory-manager-modules/conditions/target_property_value_compares.json
  management/univention-directory-manager-modules/conditions/target_property_value_compares.rego
  management/univention-directory-manager-modules/conditions/target_property_value_dn_compares.json
  management/univention-directory-manager-modules/conditions/target_property_value_dn_compares.rego
  management/univention-directory-manager-modules/debian/control
  management/univention-directory-manager-modules/debian/univention-directory-manager-tools.install
Due: deb-pipeline

style(s4c): fix comparison type
  services/univention-ad-connector/modules/univention/connector/__init__.py
  services/univention-s4-connector/modules/univention/s4connector/__init__.py
Due: deb-pipeline

tests(guardian): Add Guardian attribute filtering tests for UMC and UI
  test/ucs-test/tests/42_authorization/09_test_minimal_required_roles_for_umc.py
  test/ucs-test/tests/42_authorization/09_test_minimal_required_roles_for_web_gui.py
  test/ucs-test/tests/42_authorization/conftest.py
Due: deb-pipeline

docs(udm): document ABAC authorization and Guardian concept integration
  management/univention-directory-manager-modules/example.acl
  management/univention-directory-manager-modules/example.yaml
  management/univention-directory-manager-modules/example2.yaml
Due: deb-pipeline

test(debug-python): add test cases for univention.logging with structural=True/False
  base/univention-debug-python/debian/control
  base/univention-debug-python/pytest.ini
  base/univention-debug-python/tests/conftest.py
  base/univention-debug-python/tests/legacy.log
  base/univention-debug-python/tests/structured.log
  base/univention-debug-python/tests/test_logging.py
Due: deb-pipeline

test(debug-python): catch PendingDeprecationWarning warning
  base/univention-debug-python/tests/test_debug.py
  base/univention-debug-python/tests/test_debug2.py
Due: deb-pipeline

feat(udm-rest): add configuration to enable structured logging
  management/univention-directory-manager-rest/debian/univention-directory-manager-rest.univention-config-registry-variables
  management/univention-directory-manager-rest/src/univention/admin/rest/__main__.py
  management/univention-directory-manager-rest/src/univention/admin/rest/module.py
  management/univention-directory-manager-rest/src/univention/admin/rest/server/__init__.py
  management/univention-directory-manager-rest/src/univention/admin/rest/utils.py
Due: deb-pipeline

style: use Python 3.11 setting for isort
  management/univention-directory-manager-modules/modules/univention/admin/handlers/users/user.py
  management/univention-directory-manager-modules/modules/univention/admin/syntax.py
  pyproject.toml
Due: deb-pipeline

refactor(udm): remove Python 2 compatible code
  management/univention-directory-manager-modules/modules/univention/admin/__init__.py
Due: deb-pipeline

feat(debug): new log level process
  base/univention-debug-python/python/univention/logging.py
  base/univention-debug-python/tests/test_logging.py
Due: deb-pipeline

feat(debug): add structured log ouptut to univention-debug
  base/univention-debug/debian/libunivention-debug1.symbols
  base/univention-debug/include/univention/debug.h
  base/univention-debug/lib/debug.c
Due: deb-pipeline

feat(debug-python): add structured logging option to univention.logging
  base/univention-debug-python/debian/control
  base/univention-debug-python/python/univention/debug.py
  base/univention-debug-python/python/univention/debug2.py
  base/univention-debug-python/python/univention/logging.py
  base/univention-debug-python/python/univention/py_debug.c
Due: deb-pipeline

feat(umc): add configuration to enable structured logging
  management/univention-management-console/debian/univention-management-console-server.univention-config-registry-variables
  management/univention-management-console/scripts/univention-management-console-module
  management/univention-management-console/src/univention/management/console/log.py
  management/univention-management-console/src/univention/management/console/server.py
Due: deb-pipeline

feat(s4-connector): add configuration for structured logging
  services/univention-s4-connector/modules/univention/s4connector/__init__.py
Due: deb-pipeline

DROPME
  .gitlab-ci/base-deb.yml
Due: none

ci(jenkins): enable structured log output by default
  test/utils/utils.sh
Due: none

feat(udm): add structured log messages
  management/univention-directory-manager-modules/modules/univention/admin/__init__.py
  management/univention-directory-manager-modules/modules/univention/admin/allocators.py
  management/univention-directory-manager-modules/modules/univention/admin/appcenter.py
  management/univention-directory-manager-modules/modules/univention/admin/certificate.py
  management/univention-directory-manager-modules/modules/univention/admin/guardian_roles.py
  management/univention-directory-manager-modules/modules/univention/admin/handlers/__init__.py
  management/univention-directory-manager-modules/modules/univention/admin/handlers/computers/__base.py
  management/univention-directory-manager-modules/modules/univention/admin/handlers/dhcp/host.py
  management/univention-directory-manager-modules/modules/univention/admin/handlers/dns/ptr_record.py
  management/univention-directory-manager-modules/modules/univention/admin/handlers/groups/group.py
  management/univention-directory-manager-modules/modules/univention/admin/handlers/mail/folder.py
  management/univention-directory-manager-modules/modules/univention/admin/handlers/nagios/service.py
  management/univention-directory-manager-modules/modules/univention/admin/handlers/networks/network.py
  management/univention-directory-manager-modules/modules/univention/admin/handlers/policies/maintenance.py
  management/univention-directory-manager-modules/modules/univention/admin/handlers/policies/repositorysync.py
  management/univention-directory-manager-modules/modules/univention/admin/handlers/settings/extended_attribute.py
  management/univention-directory-manager-modules/modules/univention/admin/handlers/settings/extended_options.py
  management/univention-directory-manager-modules/modules/univention/admin/handlers/shares/printer.py
  management/univention-directory-manager-modules/modules/univention/admin/handlers/users/contact.py
  management/univention-directory-manager-modules/modules/univention/admin/handlers/users/user.py
  management/univention-directory-manager-modules/modules/univention/admin/hook.py
  management/univention-directory-manager-modules/modules/univention/admin/license.py
  management/univention-directory-manager-modules/modules/univention/admin/log.py
  management/univention-directory-manager-modules/modules/univention/admin/mapping.py
  management/univention-directory-manager-modules/modules/univention/admin/modules.py
  management/univention-directory-manager-modules/modules/univention/admin/nagios.py
  management/univention-directory-manager-modules/modules/univention/admin/objects.py
  management/univention-directory-manager-modules/modules/univention/admin/password.py
  management/univention-directory-manager-modules/modules/univention/admin/syntax.py
  management/univention-directory-manager-modules/modules/univention/admin/types.py
Due: deb-pipeline

feat(umc): remove workaround for log level process
  management/univention-management-console/src/univention/management/console/log.py
Due: deb-pipeline

build(ipcalc): remove usr/lib/python3/dist-packages/.coverage from package
  base/univention-ipcalc/debian/python3-univention-ipcalc.clean
Due: deb-pipeline

fixup! feat(udm): add structured log messages
  management/univention-directory-manager-modules/modules/univention/admin/handlers/mail/folder.py
Due: deb-pipeline

fixup! test(debug-python): add test cases for univention.logging with structural=True/False
  base/univention-debug-python/debian/python3-univention-debug.clean
Due: deb-pipeline

tests(delegated_administration): Add Syntax Choices Tests
  test/ucs-test/tests/42_authorization/01_domain_administrator_umc.py
  test/ucs-test/tests/42_authorization/02_organizational_unit_administrator_umc.py
  test/ucs-test/tests/42_authorization/03_syntax_choices_umc.py
  test/ucs-test/tests/42_authorization/conftest.py
Due: deb-pipeline

fix(diagnostic): Fix the UMC module's CSS to be specific and to not affect the appearance of the whole of UMC
  doc/errata/staging/univention-management-console-module-diagnostic.yaml
  management/univention-management-console-module-diagnostic/debian/changelog
  management/univention-management-console-module-diagnostic/umc/js/diagnostic.css
Due: deb-pipeline, errata validation

Resolve "Fix broken button styling in UMC"
  doc/errata/staging/univention-management-console-module-diagnostic.yaml
  management/univention-management-console-module-diagnostic/debian/changelog
  management/univention-management-console-module-diagnostic/umc/js/diagnostic.css
Due: deb-pipeline, errata validation

feat(udm): Recyclebin UMC Integration: cherry pick from feature branch wip
  management/univention-directory-manager-modules/modules/univention/admin/handlers/users/user.py
  management/univention-management-console-module-udm/umc/js/udm.js
Due: deb-pipeline

feat(udm): Recyclebin UMC Integration: fix for recycle bin view, removed useless buttonts, fixed exceptions
  management/univention-directory-manager-modules/modules/univention/admin/handlers/recyclebin/deletedobject.py
  management/univention-management-console-module-udm/umc/js/udm.js
  management/univention-management-console-module-udm/umc/python/udm/__init__.py
  management/univention-management-console-module-udm/umc/python/udm/udm_ldap.py
Due: deb-pipeline

feat(udm): Recyclebin UMC Integration: fix for pipeline
  management/univention-directory-manager-modules/modules/univention/admin/handlers/recyclebin/de.po
Due: deb-pipeline

fixup! fixup! test(debug-python): add test cases for univention.logging with structural=True/False
  base/univention-debug-python/debian/python3-univention-debug.clean
Due: deb-pipeline

fixup! build(ipcalc): remove usr/lib/python3/dist-packages/.coverage from package
  base/univention-ipcalc/debian/python3-univention-ipcalc.clean
Due: deb-pipeline
