Repository univention/univention-corporate-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build ucslint, doc-pipeline, deb-pipeline, errata validation

Path conditions:
  build ucslint: any of: packaging/ucslint/**/*
  doc-pipeline: any of: doc/[^e]*/**/*, doc/e[^r]*/**/*, doc/er[^r]*/**/*, doc/err[^a]*/**/*, doc/erra[^t]*/**/*, doc/errat[^a]*/**/*, doc/errata?*/**/*
  deb-pipeline: any of: [^dt.]*/*/**/*, d[^o]*/*/**/*, do[^c]*/*/**/*, doc?*/*/**/*, t[^e]*/*/**/*, te[^s]*/*/**/*, tes[^t]*/*/**/*, test?*/*/**/*, test/generate-appliance/**/*, test/ucs-test/**/*, test/ucs-test-tools/**/*, test/univention-demo-configuration/**/*
  errata validation: any of: doc/errata/staging/*.yaml

docs(ucs-operation): Add UCR variables to appendix
  doc/ucs-operation/ucr-variable-reference.rst
Due: doc-pipeline

chore(gdk-pixbuf): create advisory for 2.42.10+dfsg-1+deb12u3
  doc/errata/staging/gdk-pixbuf.yaml
Due: errata validation

chore(gnupg2): create advisory for 2.2.40-1.1+deb12u2
  doc/errata/staging/gnupg2.yaml
Due: errata validation

chore(squid): create advisory for 5.7-2+deb12u5A~5.2.4.202601131248
  doc/errata/staging/squid.yaml
Due: errata validation

chore(libxml2): create advisory for 2.9.14+dfsg-1.3~deb12u5
  doc/errata/staging/libxml2.yaml
Due: errata validation

chore(linux): create advisory for 6.1.159-1
  doc/errata/staging/linux.yaml
Due: errata validation

chore(net-snmp): create advisory for 5.9.3+dfsg-2+deb12u1
  doc/errata/staging/net-snmp.yaml
Due: errata validation

chore(nvidia-graphics-drivers): create advisory for 535.261.03-1
  doc/errata/staging/nvidia-graphics-drivers.yaml
Due: errata validation

chore(postgresql-15): create advisory for 15.15-0+deb12u1A~5.2.4.202601131329
  doc/errata/staging/postgresql-15.yaml
Due: errata validation

feat(udm-rest): add /udm/-/reload endpoint to reload extended attributes
  management/univention-directory-manager-rest/src/univention/admin/rest/module.py
  management/univention-directory-manager-rest/src/univention/admin/rest/server/__init__.py
Due: deb-pipeline

chore(udm): changelog
  management/univention-directory-manager-rest/debian/changelog
  management/univention-management-console-module-udm/debian/changelog
  test/ucs-test/debian/changelog
Due: deb-pipeline

feat(udm-rest): reload when settings/udm_{module,syntax,hook} changes
  management/univention-directory-manager-rest/listener/udm_rest_reload.py
Due: deb-pipeline

feat(udm-rest): reload extended attributes
  management/univention-directory-manager-rest/debian/univention-directory-manager-rest.install
  management/univention-directory-manager-rest/listener/udm_rest_reload.py
  management/univention-directory-manager-rest/src/univention/admin/rest/__main__.py
  management/univention-directory-manager-rest/src/univention/admin/rest/module.py
  management/univention-management-console-module-udm/umc/python/udm/udm_ldap.py
Due: deb-pipeline

test(udm-rest): tests for reload endpoint
  test/ucs-test/tests/73_udm-rest/00_general_tests.py
Due: deb-pipeline

chore(udm-rest): update advisory
  doc/errata/staging/univention-directory-manager-rest.yaml
  doc/errata/staging/univention-management-console-module-udm.yaml
Due: errata validation

Edit changelog
  test/univention-demo-configuration/debian/changelog
Due: deb-pipeline

Fixed Summit portal tile creation
  test/univention-demo-configuration/portal/register_portal_entries.sh
Due: deb-pipeline

Debian changelog 10.4.2
  test/univention-demo-configuration/debian/changelog
Due: deb-pipeline

Murphy's typo
  test/univention-demo-configuration/debian/changelog
  test/univention-demo-configuration/portal/register_portal_entries.sh
Due: deb-pipeline

chore(linux): add a note to show a package relations
  doc/errata/staging/linux-signed-amd64.yaml
  doc/errata/staging/linux.yaml
Due: errata validation

Fixed Portal creation; append category
  test/univention-demo-configuration/debian/changelog
  test/univention-demo-configuration/portal/register_portal_entries.sh
Due: deb-pipeline

Upload New File
  test/univention-demo-configuration/portal/summit_2026.jpg
Due: deb-pipeline

Changed icon to jpg
  test/univention-demo-configuration/debian/changelog
  test/univention-demo-configuration/portal/register_portal_entries.sh
  test/univention-demo-configuration/portal/summit_icon.jpg
Due: deb-pipeline

ci(jenkins): remove net installer before upgrade to satisfy pre-update check of 5.2-4
  test/scenarios/update-testing/update-from-2.4.cfg
  test/utils/utils.sh
Due: none

Edit univention-demo-configuration.install - alsi copy jpg and png files
  test/univention-demo-configuration/debian/univention-demo-configuration.install
Due: deb-pipeline

Added image files to deb .install file
  test/univention-demo-configuration/debian/changelog
Due: deb-pipeline

Upload New File
  test/univention-demo-configuration/portal/summit_icon.png
Due: deb-pipeline

chore(ucs-test): Update docker image tag for provisioning e2e tests
  test/ucs-test/debian/changelog
  test/ucs-test/tests/26_provisioning/02_e2e_tests
Due: deb-pipeline

Removed non-existing image files from deb .install
  test/univention-demo-configuration/debian/changelog
  test/univention-demo-configuration/debian/univention-demo-configuration.install
Due: deb-pipeline

Shortened displayName
  test/univention-demo-configuration/debian/changelog
  test/univention-demo-configuration/portal/register_portal_entries.sh
Due: deb-pipeline

Version bump
  test/univention-demo-configuration/debian/changelog
Due: deb-pipeline

jpg.b64 is needed within the domain-portal.ldif
  test/univention-demo-configuration/debian/univention-demo-configuration.install
Due: deb-pipeline

chore(ucs-test): Fix provisioning tests
  test/product-tests/base/provisioning/backup.cfg
  test/product-tests/base/provisioning/backup2master.cfg
  test/product-tests/base/provisioning/primary.cfg
Due: none

chore(unbound): announce security erratum 328
  doc/errata/published/2026-01-14_328_unbound.yaml
Due: none

chore(cups-filters): announce security erratum 314
  doc/errata/published/2026-01-14_314_cups-filters.yaml
Due: none

chore(gdk-pixbuf): announce security erratum 315
  doc/errata/published/2026-01-14_315_gdk-pixbuf.yaml
Due: none

chore(libssh): announce security erratum 321
  doc/errata/published/2026-01-14_321_libssh.yaml
Due: none

chore(apache2): announce security erratum 313
  doc/errata/published/2026-01-14_313_apache2.yaml
Due: none

chore(squid): announce security erratum 327
  doc/errata/published/2026-01-14_327_squid.yaml
Due: none

chore(univention-directory-manager-modules): announce erratum 329
  doc/errata/published/2026-01-14_329_univention-directory-manager-modules.yaml
Due: none
