Repository univention/univention-corporate-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build ucslint, doc-pipeline, deb-pipeline, errata validation

build ucslint:
  stage: prepare
  variables:
    KANIKO_BUILD_CONTEXT: packaging/ucslint
    KANIKO_ARGS: --build-arg ucs=$ucs --cache=true

doc-pipeline:
  stage: build
  needs:
  - job: generate-config
  trigger:
    include:
    - artifact: generated-config-doc.yml
      job: generate-config
    strategy: depend
    forward:
      pipeline_variables: true

deb-pipeline:
  stage: build
  needs:
  - job: generate-config
  - job: prepare aptly
  - job: select ucslint
  variables:
    UCSLINT: $UCSLINT
  trigger:
    include:
    - artifact: generated-config-deb.yml
      job: generate-config
    strategy: depend
    forward:
      pipeline_variables: true

errata validation:
  stage: prepare
  tags:
  - omar
  resource_group: omar
  needs: []
  variables:
    VAULT_AUTH_ROLE: ucs-production
  secrets:
    BUGZILLA_CFG:
      vault:
        engine:
          name: kv-v2
          path: secret
        path: dist/repo-ng/production/bugzilla
        field: cfg
  script:
  ...

DROPME: allow pipeline to run
  base/univention-debug-python/pytest.ini
Due: deb-pipeline

feat(udm-rest): structured logging
  management/univention-directory-manager-rest/src/univention/admin/rest/__main__.py
  management/univention-directory-manager-rest/src/univention/admin/rest/module.py
  management/univention-directory-manager-rest/src/univention/admin/rest/server/__init__.py
Due: deb-pipeline

ci(ruff): configure logger names
  pyproject.toml
Due: none

gitignore dojo
  management/univention-dojo/.gitignore
Due: deb-pipeline

refactor(umc-modules): use canonical logger warning method
  base/univention-quota/umc/python/quota/user.py
  base/univention-system-setup/umc/python/setup/__init__.py
  base/univention-system-setup/umc/python/setup/checks/repositories.py
  base/univention-system-setup/umc/python/setup/network.py
  base/univention-system-setup/umc/python/setup/util.py
  management/univention-management-console-module-join/umc/python/join/__init__.py
  management/univention-management-console-module-services/umc/python/services/__init__.py
  management/univention-management-console-module-udm/umc/python/udm/__init__.py
  management/univention-management-console-module-udm/umc/python/udm/udm_ldap.py
  management/univention-management-console/src/univention/management/console/acl.py
  management/univention-management-console/src/univention/management/console/auth.py
  management/univention-management-console/src/univention/management/console/base.py
  management/univention-management-console/src/univention/management/console/category.py
  management/univention-management-console/src/univention/management/console/locales.py
  management/univention-management-console/src/univention/management/console/message.py
  management/univention-management-console/src/univention/management/console/modserver.py
  management/univention-management-console/src/univention/management/console/module.py
  management/univention-management-console/src/univention/management/console/oidc.py
  management/univention-management-console/src/univention/management/console/pam.py
  management/univention-management-console/src/univention/management/console/resource.py
  management/univention-management-console/src/univention/management/console/resources.py
  management/univention-management-console/src/univention/management/console/saml.py
  management/univention-management-console/src/univention/management/console/server.py
  management/univention-management-console/src/univention/management/console/session.py
  management/univention-self-service/umc/python/passwordreset/__init__.py
  services/univention-ad-connector/umc/python/adconnector/__init__.py
Due: deb-pipeline

manually fstring replacement
  services/univention-s4-connector/modules/univention/s4connector/__init__.py
  services/univention-s4-connector/modules/univention/s4connector/lockingdb.py
  services/univention-s4-connector/modules/univention/s4connector/s4/__init__.py
  services/univention-s4-connector/modules/univention/s4connector/s4/computer.py
  services/univention-s4-connector/modules/univention/s4connector/s4/dc.py
  services/univention-s4-connector/modules/univention/s4connector/s4/dns.py
  services/univention-s4-connector/modules/univention/s4connector/s4/ntsecurity_descriptor.py
  services/univention-s4-connector/modules/univention/s4connector/s4/password.py
  services/univention-s4-connector/modules/univention/s4connector/s4/sid_mapping.py
  services/univention-s4-connector/modules/univention/s4connector/s4/user.py
  services/univention-s4-connector/modules/univention/s4connector/s4cache.py
  services/univention-s4-connector/s4-connector.py
  services/univention-s4-connector/sync_krbtgt
  services/univention-s4-connector/univention-password_sync_ucs_to_s4
Due: deb-pipeline

feat(s4-connector): use univention.logging
  services/univention-s4-connector/modules/univention/s4connector/__init__.py
  services/univention-s4-connector/modules/univention/s4connector/lockingdb.py
  services/univention-s4-connector/modules/univention/s4connector/s4/__init__.py
  services/univention-s4-connector/modules/univention/s4connector/s4/computer.py
  services/univention-s4-connector/modules/univention/s4connector/s4/dc.py
  services/univention-s4-connector/modules/univention/s4connector/s4/dns.py
  services/univention-s4-connector/modules/univention/s4connector/s4/main.py
  services/univention-s4-connector/modules/univention/s4connector/s4/mapping.py
  services/univention-s4-connector/modules/univention/s4connector/s4/ntsecurity_descriptor.py
  services/univention-s4-connector/modules/univention/s4connector/s4/password.py
  services/univention-s4-connector/modules/univention/s4connector/s4/query_config.py
  services/univention-s4-connector/modules/univention/s4connector/s4/sid_mapping.py
  services/univention-s4-connector/modules/univention/s4connector/s4/user.py
  services/univention-s4-connector/modules/univention/s4connector/s4cache.py
  services/univention-s4-connector/s4-connector.py
  services/univention-s4-connector/scripts/msgpo.py
  services/univention-s4-connector/scripts/remove_s4_rejected.py
  services/univention-s4-connector/scripts/remove_ucs_rejected.py
  services/univention-s4-connector/scripts/resync_object_from_s4.py
  services/univention-s4-connector/scripts/resync_object_from_ucs.py
  services/univention-s4-connector/sync_krbtgt
  services/univention-s4-connector/univention-password_sync_ucs_to_s4
Due: deb-pipeline

feat(s4-connector): replace context log
  services/univention-s4-connector/modules/univention/s4connector/__init__.py
  services/univention-s4-connector/modules/univention/s4connector/s4/__init__.py
Due: deb-pipeline

refactor(s4-connector): traceback logging handling
  services/univention-s4-connector/modules/univention/s4connector/__init__.py
  services/univention-s4-connector/modules/univention/s4connector/s4/__init__.py
Due: deb-pipeline

style: use lazy log evaluation
  management/univention-appcenter/python/appcenter/utils.py
  management/univention-self-service/umc/python/passwordreset/__init__.py
  management/univention-self-service/umc/python/passwordreset/sending/send_email.py
  management/univention-self-service/umc/python/passwordreset/sending/verify_email.py
  packaging/ucslint/univention/ucslint/0004-CheckUCR.py
  test/ucs-test/univention/appcenter/testing/apptest.py
  test/ucs-test/univention/testing/selenium/base.py
Due: build ucslint, deb-pipeline

fixup! style: use lazy log evaluation
  doc/developer-reference/listener/obj.py
  management/univention-appcenter/python/appcenter-docker/actions/docker_update_certificates.py
  management/univention-appcenter/python/appcenter-docker/actions/logs.py
  management/univention-appcenter/python/appcenter-docker/docker.py
  management/univention-appcenter/python/appcenter/actions/install_base.py
  management/univention-appcenter/python/appcenter/actions/update_certificates.py
  management/univention-appcenter/python/appcenter/app.py
  management/univention-management-console-module-diagnostic/umc/python/diagnostic/plugins/12_proxy.py
  management/univention-management-console-module-diagnostic/umc/python/diagnostic/plugins/61_notifier_protocol_version.py
Due: doc-pipeline, deb-pipeline

fixup! fixup! style: use lazy log evaluation
  management/univention-management-console-module-ipchange/umc/python/ipchange/__init__.py
  management/univention-management-console-module-join/umc/python/join/__init__.py
  management/univention-management-console-module-services/umc/python/services/__init__.py
  management/univention-management-console/src/univention/management/console/session_db.py
  management/univention-self-service/umc/python/passwordreset/__init__.py
  management/univention-self-service/umc/python/passwordreset/sending/send_sms.py
  management/univention-self-service/umc/python/passwordreset/sending/send_with_external.py
Due: deb-pipeline

style(ucslint): use lazy log evaluation
  packaging/ucslint/univention/ucslint/0001-CheckJoinScript.py
  packaging/ucslint/univention/ucslint/0004-CheckUCR.py
  packaging/ucslint/univention/ucslint/0006-CheckPostinst.py
  packaging/ucslint/univention/ucslint/0008-Translations.py
  packaging/ucslint/univention/ucslint/0010-Copyright.py
  packaging/ucslint/univention/ucslint/0013-bashism.py
  packaging/ucslint/univention/ucslint/0014-Depends.py
  packaging/ucslint/univention/ucslint/0015-FuzzyNames.py
  packaging/ucslint/univention/ucslint/0018-Debian.py
  packaging/ucslint/univention/ucslint/base.py
Due: build ucslint, deb-pipeline

fixup! manually fstring replacement
  services/univention-s4-connector/modules/univention/s4connector/__init__.py
Due: deb-pipeline

style(ucs-test): use lazy log evaluation
  test/ucs-test/tests/42_authorization/09_test_minimal_required_roles_for_web_gui.py
  test/ucs-test/tests/81_keycloak/ad_hoc.py
  test/ucs-test/tests/91_umc-performance/01_replay_captured_login.py
  test/ucs-test/tests/91_umc-performance/02_replay_captured_login_and_umc_module_usage.py
  test/ucs-test/univention/appcenter/testing/apptest.py
  test/ucs-test/univention/testing/codes.py
  test/ucs-test/univention/testing/data.py
  test/ucs-test/univention/testing/internal.py
  test/ucs-test/univention/testing/ldif.py
  test/ucs-test/univention/testing/pytest_univention_playwright/__init__.py
  test/ucs-test/univention/testing/selenium/base.py
  test/ucs-test/univention/testing/selenium/checks_and_waits.py
  test/ucs-test/univention/testing/selenium/interactions.py
Due: deb-pipeline

Revert "ci(ruff): configure logger names"
  pyproject.toml
Due: none

feat(ucr): allow to set debug/level=5
  base/univention-updater/debian/univention-updater.univention-config-registry-variables
  management/univention-directory-listener/debian/univention-directory-listener.univention-config-registry-variables
  management/univention-directory-manager-modules/debian/python3-univention-directory-manager-cli.univention-config-registry-variables
  management/univention-directory-manager-rest/debian/univention-directory-manager-rest.univention-config-registry-variables
  management/univention-directory-notifier/debian/univention-directory-notifier.univention-config-registry-variables
  management/univention-management-console/debian/univention-management-console-server.univention-config-registry-variables
  services/univention-ad-connector/debian/univention-ad-connector.univention-config-registry-variables
  services/univention-s4-connector/debian/univention-s4-connector.univention-config-registry-variables
Due: deb-pipeline

fixup! feat(udm): add structured log messages
  management/univention-directory-manager-modules/modules/univention/admin/syntax.py
Due: deb-pipeline

fixup! fixup! feat(debug-python): add structured logging option to univention.logging
  base/univention-debug-python/python/univention/logging.py
Due: deb-pipeline

fixup! fixup! fixup! feat(debug-python): add structured logging option to univention.logging
  base/univention-debug-python/python/univention/logging.py
Due: deb-pipeline

fixup! test(debug): Add tests for delay_init and using the univention-debug levels in basicConfig
  base/univention-debug-python/tests/test_logging.py
Due: deb-pipeline

ci: images are now stored as Others
  test/scenarios/autotest-300-ucsschool-large.cfg
Due: none

ci: use KVM_UCSVERSION
  test/scenarios/autotest-249-kelvin-client.cfg
Due: none

fixup! fixup! fixup! fixup! feat(debug-python): add structured logging option to univention.logging
  base/univention-debug-python/python/univention/logging.py
Due: deb-pipeline

fixup! feat(udm): add structured log messages
  management/univention-directory-manager-modules/modules/univention/admin/handlers/__init__.py
Due: deb-pipeline

fixup! fixup! style: use lazy log evaluation
  management/univention-appcenter/python/appcenter-docker/actions/docker_update_certificates.py
  management/univention-appcenter/python/appcenter-docker/actions/logs.py
  management/univention-appcenter/python/appcenter/actions/__init__.py
  management/univention-appcenter/python/appcenter/actions/install_base.py
  management/univention-appcenter/python/appcenter/actions/update_certificates.py
Due: deb-pipeline

fixup! fixup! manually fstring replacement
  services/univention-s4-connector/modules/univention/s4connector/__init__.py
Due: deb-pipeline

chore(postgresql-15): update advisory
  doc/errata/staging/curl.yaml
  doc/errata/staging/djvulibre.yaml
  doc/errata/staging/glib2.0.yaml
  doc/errata/staging/glibc.yaml
  doc/errata/staging/jinja2.yaml
  doc/errata/staging/krb5.yaml
  doc/errata/staging/libcap2.yaml
  doc/errata/staging/mariadb.yaml
  doc/errata/staging/openssh.yaml
  doc/errata/staging/openssl.yaml
  doc/errata/staging/perl.yaml
  doc/errata/staging/postgresql-15.yaml
Due: errata validation

fixup! fixup! feat(udm): add structured log messages
  management/univention-directory-manager-modules/modules/univention/admin/allocators.py
  management/univention-directory-manager-modules/modules/univention/admin/appcenter.py
  management/univention-directory-manager-modules/modules/univention/admin/certificate.py
  management/univention-directory-manager-modules/modules/univention/admin/license.py
  management/univention-directory-manager-modules/modules/univention/admin/mapping.py
  management/univention-directory-manager-modules/modules/univention/admin/modules.py
  management/univention-directory-manager-modules/modules/univention/admin/nagios.py
  management/univention-directory-manager-modules/modules/univention/admin/objects.py
  management/univention-directory-manager-modules/modules/univention/admin/password.py
  management/univention-directory-manager-modules/modules/univention/admin/syntax.py
  management/univention-directory-manager-modules/modules/univention/admin/types.py
  management/univention-directory-manager-modules/modules/univention/admin/uldap.py
Due: deb-pipeline

fixup! style: use lazy log evaluation
  management/univention-management-console/src/univention/management/console/modserver.py
Due: deb-pipeline

fixup! fixup! fixup! feat(udm): add structured log messages
  management/univention-directory-manager-modules/modules/univention/admin/__init__.py
  management/univention-directory-manager-modules/modules/univention/admin/hook.py
  management/univention-directory-manager-modules/modules/univention/admin/license.py
  management/univention-directory-manager-modules/modules/univention/admin/syntax.py
  management/univention-directory-manager-modules/modules/univention/admin/uldap.py
Due: deb-pipeline

fixup! fixup! fixup! fixup! feat(udm): add structured log messages
  management/univention-directory-manager-modules/modules/univention/admin/__init__.py
Due: deb-pipeline

fixup! feat(s4-connector): use univention.logging
  services/univention-s4-connector/modules/univention/s4connector/__init__.py
  services/univention-s4-connector/modules/univention/s4connector/s4/__init__.py
  services/univention-s4-connector/modules/univention/s4connector/s4/computer.py
  services/univention-s4-connector/modules/univention/s4connector/s4/password.py
  services/univention-s4-connector/s4-connector.py
  services/univention-s4-connector/sync_krbtgt
  services/univention-s4-connector/univention-password_sync_ucs_to_s4
Due: deb-pipeline

fixup! feat(udm): add trash bin for deleted objects
  management/univention-directory-manager-modules/modules/univention/admin/handlers/recyclebin/deletedobject.py
Due: deb-pipeline

fixup! feat(umc-udm): adding recycle bin view
  management/univention-management-console-module-udm/umc/js/de.po
  management/univention-management-console-module-udm/umc/js/udm.js
  management/univention-management-console-module-udm/umc/python/udm/__init__.py
  management/univention-management-console-module-udm/umc/python/udm/de.po
  management/univention-management-console-module-udm/umc/python/udm/udm_ldap.py
Due: deb-pipeline

chore: add explicit versioned dependencies
  base/univention-debug-python/debian/control
  management/univention-directory-manager-modules/debian/control
  management/univention-directory-manager-rest/debian/control
  services/univention-s4-connector/debian/control
Due: deb-pipeline

fixup! feat(udm): add trash bin for deleted objects
  management/univention-directory-manager-modules/modules/univention/admincli/admin.py
Due: deb-pipeline

fixup! feat(udm): add trash bin for deleted objects
  management/univention-directory-manager-modules/listener/recyclebin.py
  management/univention-directory-manager-modules/modules/univention/admin/handlers/recyclebin/deletedobject.py
  management/univention-ldap/schema/recyclebin.schema
Due: deb-pipeline

feat(recycle bin auto purge with dds overlay) cleanup
  management/univention-directory-manager-modules/listener/recyclebin.py
  management/univention-directory-manager-modules/modules/univention/admin/handlers/recyclebin/deletedobject.py
  management/univention-directory-manager-modules/modules/univention/admin/recyclebin.py
Due: deb-pipeline

Path conditions:
  build ucslint: any of: packaging/ucslint/**/*
  doc-pipeline: any of: doc/[^e]*/**/*, doc/e[^r]*/**/*, doc/er[^r]*/**/*, doc/err[^a]*/**/*, doc/erra[^t]*/**/*, doc/errat[^a]*/**/*, doc/errata?*/**/*
  deb-pipeline: any of: [^dt.]*/*/**/*, d[^o]*/*/**/*, do[^c]*/*/**/*, doc?*/*/**/*, t[^e]*/*/**/*, te[^s]*/*/**/*, tes[^t]*/*/**/*, test?*/*/**/*, test/generate-appliance/**/*, test/ucs-test/**/*, test/ucs-test-tools/**/*, test/univention-demo-configuration/**/*
  errata validation: any of: doc/errata/staging/*.yaml
