Repository univention/univention-corporate-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build ucslint, doc-pipeline, deb-pipeline, errata validation

build ucslint:
  stage: prepare
  variables:
    KANIKO_BUILD_CONTEXT: packaging/ucslint
    KANIKO_ARGS: --build-arg ucs=$ucs --cache=true

doc-pipeline:
  stage: build
  needs:
  - job: generate-config
  trigger:
    include:
    - artifact: generated-config-doc.yml
      job: generate-config
    strategy: depend
    forward:
      pipeline_variables: true

deb-pipeline:
  stage: build
  needs:
  - job: generate-config
  - job: prepare aptly
  - job: select ucslint
  variables:
    UCSLINT: $UCSLINT
  trigger:
    include:
    - artifact: generated-config-deb.yml
      job: generate-config
    strategy: depend
    forward:
      pipeline_variables: true

errata validation:
  stage: prepare
  tags:
  - omar
  resource_group: omar
  needs: []
  variables:
    VAULT_AUTH_ROLE: ucs-production
  secrets:
    BUGZILLA_CFG:
      vault:
        engine:
          name: kv-v2
          path: secret
        path: dist/repo-ng/production/bugzilla
        field: cfg
  script:
  ...

fixup! Issue univention/components/ucsschool-api-plugins/id-broker-plugin#121: Fix ID Broker test
  test/scenarios/autotest-247-ucsschool-id-broker.cfg
Due: none

docs(changelog): fix spelling in changelog entry
  doc/changelog/index.rst
Due: doc-pipeline

docs(release-notes): fix spelling in release-notes entry
  doc/release-notes/index.rst
Due: doc-pipeline

docs(release-notes): fix spelling in release-notes entry
  doc/changelog/index.rst
Due: doc-pipeline

docs(release-notes): fix spelling in release-notes entry
  doc/release-notes/locales/de/LC_MESSAGES/index.po
Due: doc-pipeline

Issue univention/ucs#2285: Let keycloak tests use Others as operating system
  test/scenarios/keycloak/keycloak-2backups.cfg
  test/scenarios/keycloak/keycloak-different-path.cfg
  test/scenarios/keycloak/keycloak-external-fqdn.cfg
  test/scenarios/keycloak/keycloak-mariadb.cfg
  test/scenarios/keycloak/keycloak-performance.cfg
  test/scenarios/keycloak/keycloak-simple.cfg
  test/scenarios/keycloak/keycloak-upgrade.cfg
Due: none

Issue univention/ucs#2285: Don't run preup checks in fresh installation
  test/scenarios/ad-membermode/autotest-224-admember-w2k19-german-other-join-user.cfg
Due: none

docs(release-notes): highlights
  doc/release-notes/index.rst
  doc/release-notes/locales/de/LC_MESSAGES/index.po
Due: doc-pipeline

fixup! docs(release-notes): highlights
  doc/release-notes/index.rst
  doc/release-notes/locales/de/LC_MESSAGES/index.po
Due: doc-pipeline

fixup! docs(release-notes): highlights
  doc/release-notes/locales/de/LC_MESSAGES/index.po
Due: doc-pipeline

fixup! docs(release-notes): highlights
  doc/changelog/index.rst
Due: doc-pipeline

fixup! docs(release-notes): changelog
  .gitlab-ci/base.yml
  doc/changelog/index.rst
Due: doc-pipeline

fix: readd IP_traeger*.txt for 4.4 tests
  test/scenarios/autotest-244-ucsschool-id-sync.cfg
Due: none

Issue univention/ucs#2285: Use public appcenter for admember tests, they can't resolve git docker repo
  test/scenarios/ad-connector/autotest-231-adsync-w2k19-german.cfg
  test/scenarios/ad-connector/autotest-233-adsync-w2k19-french.cfg
  test/scenarios/ad-connector/autotest-234-adsync-w2k16-german.cfg
  test/scenarios/ad-connector/autotest-235-adsync-w2k19-english.cfg
  test/scenarios/ad-connector/autotest-236-adsync-w2k8r2-german.cfg
  test/scenarios/ad-connector/autotest-237-adsync-s4connector-w2k19-english.cfg
  test/scenarios/ad-connector/autotest-240-adsync-w2k19-english-forest-child.cfg
  test/scenarios/ad-connector/autotest-241-adsync-w2k19-english-two-forest-children.cfg
  test/scenarios/ad-membermode/autotest-221-admember-w2019-english.cfg
  test/scenarios/ad-membermode/autotest-222-admember-w2k8r2-german.cfg
  test/scenarios/ad-membermode/autotest-223-admember-w2k19-german-slave.cfg
  test/scenarios/ad-membermode/autotest-224-admember-w2k19-german-other-join-user.cfg
  test/scenarios/ad-membermode/autotest-225-admember-w2k19-french.cfg
  test/scenarios/ad-membermode/autotest-240-admember-w2019-english-forest-child.cfg
Due: none

ci(changelog): CHANGELOG_TARGET_VERSION not considered
  .gitlab-ci/doc-builder
Due: none

fix(umc-diagnostics): Fix LDAP schema registration
  doc/errata/staging/univention-management-console-module-diagnostic.yaml
  management/univention-management-console-module-diagnostic/debian/changelog
  management/univention-management-console-module-diagnostic/umc/python/diagnostic/plugins/60_old_schema_registration.py
  test/ucs-test/debian/changelog
  test/ucs-test/tests/60_umc/35_umc_diagnostics_old_schema_registration.py
Due: deb-pipeline, errata validation

fix(test): Switch to 5.0-8 OS image
  test/utils/start-test.sh
Due: none

fix(umc-diagnostics): Fix LDAP schema registration
  management/univention-management-console-module-diagnostic/debian/changelog
  management/univention-management-console-module-diagnostic/umc/python/diagnostic/plugins/60_old_schema_registration.py
  test/ucs-test/debian/changelog
  test/ucs-test/tests/60_umc/35_umc_diagnostics_old_schema_registration.py
Due: deb-pipeline

Bug #57194: Ensure file descriptors are closed upon module process death.
  management/univention-management-console/src/univention/management/console/resources.py
Due: deb-pipeline

Bug #57194: Add changelog and advisory
  doc/errata/staging/univention-management-console.yaml
  management/univention-management-console/debian/changelog
Due: deb-pipeline, errata validation

Bug #57194: Add version to advisory
  doc/errata/staging/univention-management-console.yaml
Due: errata validation

Bug #57375: Fix bug where all but one --set option in univention-keycloak domain-config was ignored.
  services/univention-keycloak/scripts/univention-keycloak
Due: deb-pipeline

Bug #57375: Add changelog and advisory
  doc/errata/staging/univention-keycloak.yaml
  services/univention-keycloak/debian/changelog
Due: deb-pipeline, errata validation

Bug #57380: less 487-0.1+deb10u1
  doc/errata/staging/less.yaml
Due: errata validation

Bug #57339: remove apache2.yaml this version was shipped in 5.0-8
  doc/errata/staging/apache2.yaml
Due: errata validation

docs(release-notes): Apply style guide rules
  doc/release-notes/index.rst
Due: doc-pipeline

docs(release-notes): Update German translation
  doc/release-notes/locales/de/LC_MESSAGES/index.po
Due: doc-pipeline

docs(changelog): Apply style guide rules
  doc/changelog/index.rst
Due: doc-pipeline

fixup! docs(changelog): Apply style guide rules
  doc/changelog/index.rst
Due: doc-pipeline

fixup! docs(release-notes): Update German translation
  doc/release-notes/locales/de/LC_MESSAGES/index.po
Due: doc-pipeline

Bug #55949: Adjust Keycloak SCP test; Keycloak now allows Microsoft Online
  test/ucs-test/debian/changelog
Due: deb-pipeline

Bug #57382: cups 2.2.10-6+deb10u10A~5.0.8.202406130955
  doc/errata/staging/cups.yaml
Due: errata validation

Path conditions:
  build ucslint: any of: packaging/ucslint/**/*
  doc-pipeline: any of: doc/[^e]*/**/*, doc/e[^r]*/**/*, doc/er[^r]*/**/*, doc/err[^a]*/**/*, doc/erra[^t]*/**/*, doc/errat[^a]*/**/*, doc/errata?*/**/*
  deb-pipeline: any of: [^dt.]*/*/**/*, d[^o]*/*/**/*, do[^c]*/*/**/*, doc?*/*/**/*, t[^e]*/*/**/*, te[^s]*/*/**/*, tes[^t]*/*/**/*, test?*/*/**/*, test/generate-appliance/**/*, test/ucs-test/**/*, test/ucs-test-tools/**/*, test/univention-demo-configuration/**/*
  errata validation: any of: doc/errata/staging/*.yaml
