Repository univention/univention-corporate-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build ucslint, doc-pipeline, deb-pipeline, errata validation

build ucslint:
  stage: prepare
  variables:
    KANIKO_BUILD_CONTEXT: packaging/ucslint
    KANIKO_ARGS: --build-arg ucs=$ucs --cache=true

doc-pipeline:
  stage: build
  needs:
  - job: generate-config
  trigger:
    include:
    - artifact: generated-config-doc.yml
      job: generate-config
    strategy: depend
    forward:
      pipeline_variables: true

deb-pipeline:
  stage: build
  needs:
  - job: generate-config
  - job: prepare aptly
  - job: select ucslint
  variables:
    UCSLINT: $UCSLINT
  trigger:
    include:
    - artifact: generated-config-deb.yml
      job: generate-config
    strategy: depend
    forward:
      pipeline_variables: true

errata validation:
  stage: prepare
  tags:
  - omar
  resource_group: omar
  needs: []
  variables:
    VAULT_AUTH_ROLE: ucs-production
  secrets:
    BUGZILLA_CFG:
      vault:
        engine:
          name: kv-v2
          path: secret
        path: dist/repo-ng/production/bugzilla
        field: cfg
  script:
  ...

fix(udm): restrict object classes for license upload
  management/univention-ldap/conffiles/etc/ldap/slapd.conf.d/40univention-ldap-server_database
  management/univention-management-console-module-udm/umc/python/udm/tools.py
Due: deb-pipeline

test(ucs-test): test keycloak metrics
  test/ucs-test/debian/changelog
  test/ucs-test/tests/81_keycloak/18_audit_event_log_levels.py
  test/ucs-test/tests/81_keycloak/19_metrics.py
Due: deb-pipeline

test(s4-connector): keep tombstone reanimation RIDs out of UDM's range
  test/ucs-test/debian/changelog
  test/ucs-test/tests/52_s4connector/507test_tombstone_reanimation
Due: deb-pipeline

feat(ipchange): fix adding IP address to Keycloak and Samba 4 records
  base/univention-system-setup/umc/python/setup/netconf/modules/LdapSSO.py
  doc/errata/staging/univention-management-console-module-ipchange.yaml
  management/univention-management-console-module-ipchange/debian/changelog
  management/univention-management-console-module-ipchange/umc/python/ipchange/__init__.py
Due: deb-pipeline, errata validation

test(ucs-test): test keycloak metrics
  test/ucs-test/debian/changelog
  test/ucs-test/tests/81_keycloak/19_metrics.py
Due: deb-pipeline

ci(utils): do not race the periodic logrotate run
  test/utils/utils.sh
Due: none

ci(school): make the large environment debuggable when it fails
  test/scenarios/autotest-300-ucsschool-large.cfg
Due: none

docs(operation/iam): Add section about the authorization engine
  doc/ucs-operation/iam/authorization-engine.rst
  doc/ucs-operation/iam/index.rst
  doc/ucs-operation/spelling_wordlist
Due: doc-pipeline

docs(operation/ucr-variable-reference): Add authorization engine variables
  doc/ucs-operation/ucr-variable-reference.rst
Due: doc-pipeline

docs(operation/changelog): Entry for authorization engine
  doc/ucs-operation/changelog.rst
Due: doc-pipeline

docs(operation/glossary): Add terms for policy decision and enforcement points
  doc/ucs-operation/glossary.rst
Due: doc-pipeline

docs(operation): Update German translation
  doc/ucs-operation/locales/de/LC_MESSAGES/changelog.po
  doc/ucs-operation/locales/de/LC_MESSAGES/glossary.po
  doc/ucs-operation/locales/de/LC_MESSAGES/iam.po
  doc/ucs-operation/locales/de/LC_MESSAGES/ucr-variable-reference.po
  doc/ucs-operation/spelling_wordlist_de
Due: doc-pipeline

docs(operation/iam): Add external cross-reference to authorization engine in the Nubus Manual
  doc/ucs-operation/iam/authorization-engine.rst
Due: doc-pipeline

docs(operation/iam): Update German translation
  doc/ucs-operation/locales/de/LC_MESSAGES/iam.po
Due: doc-pipeline

test(ipchange): check that foreign host records are not modified
  test/ucs-test/tests/60_umc/76_ipchange_ucs_sso.py
Due: deb-pipeline

docs(manual/mail): Add mention for Dovecot Connector
  doc/manual/mail/index.rst
Due: doc-pipeline

docs(manual/mail): Add German translation for Dovecot Connector
  doc/manual/locales/de/LC_MESSAGES/mail.po
Due: doc-pipeline

chore(python-httplib2): create advisory for 0.20.4-3+deb12u1
  doc/errata/staging/python-httplib2.yaml
Due: errata validation

chore(nvidia-graphics-drivers): create advisory for 535.309.01-0+deb12u1
  doc/errata/staging/nvidia-graphics-drivers.yaml
Due: errata validation

chore(firefox-esr): create advisory for 140.14.0esr-1~deb12u1
  doc/errata/staging/firefox-esr.yaml
Due: errata validation

feat(ipchange): fix adding IP address to Keycloak and Samba 4 records
  doc/errata/staging/univention-management-console-module-ipchange.yaml
  management/univention-management-console-module-ipchange/debian/changelog
  management/univention-management-console-module-ipchange/umc/python/ipchange/__init__.py
Due: deb-pipeline, errata validation

fix(ipchange): honor SSO autoregistration UCR variable
  base/univention-system-setup/debian/changelog
  base/univention-system-setup/umc/python/setup/netconf/modules/LdapSSO.py
  doc/errata/staging/univention-management-console-module-ipchange.yaml
  doc/errata/staging/univention-system-setup.yaml
  management/univention-management-console-module-ipchange/umc/python/ipchange/__init__.py
Due: deb-pipeline, errata validation

fix(udm-rest): fix missing authorization check for license import
  doc/errata/staging/univention-directory-manager-rest.yaml
  management/univention-directory-manager-rest/debian/changelog
  management/univention-directory-manager-rest/src/univention/admin/rest/module.py
Due: deb-pipeline, errata validation

test(ucs-test): check that foreign host records are not modified
  test/ucs-test/debian/changelog
Due: deb-pipeline

chore(bind9): create advisory for 1:9.11.37+git20260722.018aa2e+dfsg-0~deb10u1~deb9u1A~4.4.9.202608241721
  doc/errata/staging/bind9.yaml
Due: errata validation

test(ucs-test): Adjust univention-keycloak test for current App Center workflow
  test/ucs-test/debian/changelog
  test/ucs-test/tests/81_keycloak/05_univention-keycloak.py
Due: deb-pipeline

test(ucs-test): Adjust Keycloak test 10_legacy_authorization for current App Center workflow
  test/ucs-test/debian/changelog
  test/ucs-test/tests/81_keycloak/10_legacy_authorization.py
Due: deb-pipeline

test(ucs-test): Adjust Keycloak test 15_conditional_kerberos for current App Center workflow
  test/ucs-test/debian/changelog
  test/ucs-test/tests/81_keycloak/15_conditional_kerberos.py
Due: deb-pipeline

docs(operation/iam): Correct the verification example and rework the diagnosis
  doc/ucs-operation/iam/authorization-engine.rst
Due: doc-pipeline

Update file __init__.py
  management/univention-self-service/umc/python/passwordreset/__init__.py
Due: deb-pipeline

match log message formatting to most of the file
  management/univention-self-service/umc/python/passwordreset/__init__.py
Due: deb-pipeline

chore(libinput): update advisory for 1.6.3-1+deb9u1
  doc/errata/staging/libinput.yaml
Due: errata validation

Path conditions:
  build ucslint: any of: packaging/ucslint/**/*
  doc-pipeline: any of: doc/[^e]*/**/*, doc/e[^r]*/**/*, doc/er[^r]*/**/*, doc/err[^a]*/**/*, doc/erra[^t]*/**/*, doc/errat[^a]*/**/*, doc/errata?*/**/*
  deb-pipeline: any of: [^dt.]*/*/**/*, d[^o]*/*/**/*, do[^c]*/*/**/*, doc?*/*/**/*, t[^e]*/*/**/*, te[^s]*/*/**/*, tes[^t]*/*/**/*, test?*/*/**/*, test/generate-appliance/**/*, test/ucs-test/**/*, test/ucs-test-tools/**/*, test/univention-demo-configuration/**/*
  errata validation: any of: doc/errata/staging/*.yaml
