Repository univention/univention-corporate-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build ucslint, doc-pipeline, deb-pipeline, errata validation

Path conditions:
  build ucslint: any of: packaging/ucslint/**/*
  doc-pipeline: any of: doc/[^e]*/**/*, doc/e[^r]*/**/*, doc/er[^r]*/**/*, doc/err[^a]*/**/*, doc/erra[^t]*/**/*, doc/errat[^a]*/**/*, doc/errata?*/**/*
  deb-pipeline: any of: [^dt.]*/*/**/*, d[^o]*/*/**/*, do[^c]*/*/**/*, doc?*/*/**/*, t[^e]*/*/**/*, te[^s]*/*/**/*, tes[^t]*/*/**/*, test?*/*/**/*, test/generate-appliance/**/*, test/ucs-test/**/*, test/ucs-test-tools/**/*, test/univention-demo-configuration/**/*
  errata validation: any of: doc/errata/staging/*.yaml

chore(systemd): create advisory for 252.39-1~deb12u2A~5.2.5.202605180843
  doc/errata/staging/systemd.yaml
Due: errata validation

chore(xorg-server): create advisory for 2:21.1.7-3+deb12u12
  doc/errata/staging/xorg-server.yaml
Due: errata validation

chore(sudo): create advisory for 1.9.13p3-1+deb12u4
  doc/errata/staging/sudo.yaml
Due: errata validation

chore(openjpeg2): create advisory for 2.5.0-2+deb12u3
  doc/errata/staging/openjpeg2.yaml
Due: errata validation

chore(sed): create advisory for 4.9-1+deb12u1
  doc/errata/staging/sed.yaml
Due: errata validation

chore(libcap2): create advisory for 1:2.66-4+deb12u3+b1
  doc/errata/staging/libcap2.yaml
Due: errata validation

chore(linux-signed-amd64): create advisory for 6.1.172+1
  doc/errata/staging/linux-signed-amd64.yaml
Due: errata validation

chore(openssl): create advisory for 3.0.20-1~deb12u1
  doc/errata/staging/openssl.yaml
Due: errata validation

chore(grub-efi-amd64-signed): create advisory for 1+2.06+13+deb12u2
  doc/errata/staging/grub-efi-amd64-signed.yaml
Due: errata validation

chore(linux): create advisory for 6.1.172-1
  doc/errata/staging/linux.yaml
Due: errata validation

fix(udm): allow users/contact without firstname
  management/univention-directory-manager-modules/modules/univention/admin/handlers/users/contact.py
Due: deb-pipeline

feat(udm): fix printed DN after move on CLI
  doc/errata/staging/univention-directory-manager-modules.yaml
  management/univention-directory-manager-modules/debian/changelog
  management/univention-directory-manager-modules/modules/univention/admincli/admin.py
Due: deb-pipeline, errata validation

chore(linux): adjust bug
  doc/errata/staging/linux-signed-amd64.yaml
  doc/errata/staging/linux.yaml
Due: errata validation

chore(grub2): adjust bug
  doc/errata/staging/grub-efi-amd64-signed.yaml
  doc/errata/staging/grub2.yaml
Due: errata validation

chore(linux-signed-5.10-amd64): create advisory for 5.10.251+5~deb10u1
  doc/errata/staging/linux-signed-5.10-amd64.yaml
Due: errata validation

chore(linux-5.10): create advisory for 5.10.251-5~deb10u1
  doc/errata/staging/linux-5.10.yaml
Due: errata validation

chore(linux-5.10): merge bugs
  doc/errata/staging/linux-5.10.yaml
  doc/errata/staging/linux-signed-5.10-amd64.yaml
Due: errata validation

chore(linux-5.10): create advisory for 5.10.251-5~deb9u1
  doc/errata/staging/linux-5.10.yaml
Due: errata validation

fix(password): allow arc4 during password sync ucs->ad
  doc/errata/staging/univention-ad-connector.yaml
  services/univention-ad-connector/debian/changelog
  services/univention-ad-connector/modules/univention/connector/ad/password.py
  test/ucs-test/debian/changelog
  test/ucs-test/tests/55_adconnector/522_sync_msds_supportedencryptiontypes.py
Due: deb-pipeline, errata validation

doc(ad-connector): explain magic bits in msDS-SupportedEncryptionTypes
  services/univention-ad-connector/modules/univention/connector/ad/password.py
Due: deb-pipeline

chore(ad-connector): update advisory
  doc/errata/staging/univention-ad-connector.yaml
Due: errata validation

feat(ad-connector): Document msDS-SupportedEncryptionTypes
  doc/errata/staging/univention-ad-connector.yaml
  services/univention-ad-connector/debian/changelog
  services/univention-ad-connector/modules/univention/connector/ad/password.py
Due: deb-pipeline, errata validation

fix(test): Fix test that didn't restart ad-connector at the end
  test/ucs-test/debian/changelog
  test/ucs-test/tests/55_adconnector/169test_custom_position_mapping.py
Due: deb-pipeline

chore(advisory): Add temp yaml
  doc/errata/staging/samba.yaml
Due: errata validation

docs(ad-connector): add support for windows server 2025
  doc/manual/domain-ldap/domain-join.rst
Due: doc-pipeline

docs(operation/system-administration): Add structure for UCR
  doc/ucs-operation/system-administration/index.rst
  doc/ucs-operation/system-administration/ucr.rst
Due: doc-pipeline

docs(operation/system-administration): Original content for UCR
  doc/ucs-operation/system-administration/ucr.rst
Due: doc-pipeline

docs(manual/images): Move images for UCR to UCS Operation Manual
  doc/ucs-operation/images/computers_policy_apache_settings-de.png
  doc/ucs-operation/images/computers_policy_apache_settings.png
  doc/ucs-operation/images/ucr-de.png
  doc/ucs-operation/images/ucr.png
Due: doc-pipeline

docs(bibliography): Add references to Python 3.12 documentation
  doc/bibliography-de.bib
  doc/bibliography.bib
Due: none

docs(operation/conf): Add intersphinx mapping to Python 3.12 documentation
  doc/ucs-operation/conf.py
Due: doc-pipeline

docs(operation/system-administration): Rework content about UCR
  doc/ucs-operation/system-administration/index.rst
  doc/ucs-operation/system-administration/ucr.rst
Due: doc-pipeline

docs(manual/computers): Replace UCR content with cross-references to UCS Operation Manual
  doc/manual/computers/ucr.rst
Due: doc-pipeline

docs(manual/computers): Update German translation
  doc/manual/locales/de/LC_MESSAGES/computers.po
Due: doc-pipeline

docs(operation/conf): Add developer reference for cross-references
  doc/ucs-operation/conf.py
Due: doc-pipeline

docs(operation/ucr-variable-reference): Add variables for UCR configuration
  doc/ucs-operation/ucr-variable-reference.rst
Due: doc-pipeline

docs(operation): Update German translation
  doc/ucs-operation/locales/de/LC_MESSAGES/changelog.po
  doc/ucs-operation/locales/de/LC_MESSAGES/system-administration.po
  doc/ucs-operation/locales/de/LC_MESSAGES/ucr-variable-reference.po
  doc/ucs-operation/spelling_wordlist_de
Due: doc-pipeline

docs(operation/changelog): Entry for system configuration with UCR
  doc/ucs-operation/changelog.rst
Due: doc-pipeline

chore(busybox): create advisory for 1:1.35.0-4+deb12u1
  doc/errata/staging/busybox.yaml
Due: errata validation

chore(busybox): drop UCS 5.2-3
  doc/errata/staging/busybox.yaml
Due: errata validation
