Repository univention/univention-corporate-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build ucslint, doc-pipeline, deb-pipeline, errata validation

Path conditions:
  build ucslint: any of: packaging/ucslint/**/*
  doc-pipeline: any of: doc/[^e]*/**/*, doc/e[^r]*/**/*, doc/er[^r]*/**/*, doc/err[^a]*/**/*, doc/erra[^t]*/**/*, doc/errat[^a]*/**/*, doc/errata?*/**/*
  deb-pipeline: any of: [^dt.]*/*/**/*, d[^o]*/*/**/*, do[^c]*/*/**/*, doc?*/*/**/*, t[^e]*/*/**/*, te[^s]*/*/**/*, tes[^t]*/*/**/*, test?*/*/**/*, test/generate-appliance/**/*, test/ucs-test/**/*, test/ucs-test-tools/**/*, test/univention-demo-configuration/**/*
  errata validation: any of: doc/errata/staging/*.yaml

feat(udm-reports): add authorization checks for UDM reports
  management/univention-directory-manager-modules/udm-default-authorization-roles.policy
Due: deb-pipeline

perf(authorization): re-use TCP connection via request.Session
  management/univention-authorization/modules/univention/authorization/management.py
Due: deb-pipeline

style(udm-authorization): give privileges explicit names
  management/univention-directory-manager-modules/udm-default-authorization-roles.policy
Due: deb-pipeline

test: cleanup utils-school.sh
  test/utils/utils-school.sh
Due: none

fixup! docs(udm): more for Guardian concept integration
  management/univention-directory-manager-modules/README-authorization.md
Due: deb-pipeline

style(s4c): fix comparison type
  services/univention-ad-connector/modules/univention/connector/__init__.py
  services/univention-s4-connector/modules/univention/s4connector/__init__.py
Due: deb-pipeline

chore(udm): add missing translations
  management/univention-directory-manager-modules/modules/univention/admin/de.po
  management/univention-directory-manager-modules/modules/univention/admin/handlers/settings/de.po
  management/univention-directory-manager-modules/modules/univention/admin/handlers/shares/de.po
Due: deb-pipeline

test: `return: : numeric argument required`
  test/utils/utils-school.sh
Due: none

ci: create mixed (5.0 & 5.2) school authorities
  test/scenarios/autotest-247-ucsschool-id-broker.cfg
  test/utils/utils-school-idbroker.sh
Due: none

ci: forward port 5.0 changes for ID Broker tests
  test/scenarios/autotest-247-ucsschool-id-broker.cfg
  test/utils/id-broker/keycloak_ProxyPass.conf.example
  test/utils/id-broker/univention-vhosts.conf.example
  test/utils/utils-school-idbroker.sh
Due: none

ci: ucs 5.2 has no python symlink
  test/utils/utils-school-idbroker.sh
Due: none

tests: increase token leeway
  test/scenarios/autotest-247-ucsschool-id-broker.cfg
Due: none

tests: slapd was killed by OOM
  test/scenarios/autotest-247-ucsschool-id-broker.cfg
Due: none

chore: tabs to spaces
  test/utils/utils-school-idbroker.sh
Due: none

Bug #58514: python-setuptools ANNOUNCE
  doc/errata/published/2025-08-13_1739_python-setuptools.yaml
Due: none

Bug #58513: gnutls28 ANNOUNCE
  doc/errata/published/2025-08-13_1738_gnutls28.yaml
Due: none

Bug #58512: unrar-nonfree ANNOUNCE
  doc/errata/published/2025-08-13_1740_unrar-nonfree.yaml
Due: none

Bug #58510: libxml2 ANNOUNCE
  doc/errata/published/2025-08-13_1305_libxml2.yaml
Due: none

Bug #58509: gnutls28 ANNOUNCE
  doc/errata/published/2025-08-13_1304_gnutls28.yaml
Due: none

Bug #58511: openjpeg2 ANNOUNCE
  doc/errata/published/2025-08-13_1306_openjpeg2.yaml
Due: none

Bug #58507: python-setuptools ANNOUNCE
  doc/errata/published/2025-08-13_1308_python-setuptools.yaml
Due: none

Bug #58515: univention-keycloak ANNOUNCE
  doc/errata/published/2025-08-13_1309_univention-keycloak.yaml
Due: none

Bug #58508: php7.3 ANNOUNCE
  doc/errata/published/2025-08-13_1307_php7.3.yaml
Due: none

Bug #51256: univention-self-service ANNOUNCE
  doc/errata/published/2025-08-13_165_univention-self-service.yaml
Due: none

Bug #58443: openldap ANNOUNCE
  doc/errata/published/2025-08-13_166_openldap.yaml
Due: none

Bug #58443: univention-ldap ANNOUNCE
  doc/errata/published/2025-08-13_167_univention-ldap.yaml
Due: none

tests(guardian): Add Guardian attribute filtering tests for UMC and UI
  test/ucs-test/tests/42_authorization/09_test_minimal_required_roles_for_umc.py
  test/ucs-test/tests/42_authorization/09_test_minimal_required_roles_for_web_gui.py
  test/ucs-test/tests/42_authorization/conftest.py
Due: deb-pipeline

fix(UCR): Handle UCR cache signature as bytes
  base/univention-config-registry/python/univention/config_registry/handler.py
  base/univention-config-registry/tests/test_handler.py
Due: deb-pipeline

refactor(UCR): import typing
  base/univention-config-registry/python/univention-install-config-registry
  base/univention-config-registry/python/univention/config_registry/backend.py
  base/univention-config-registry/python/univention/config_registry/filters.py
  base/univention-config-registry/python/univention/config_registry/frontend.py
  base/univention-config-registry/python/univention/config_registry/handler.py
  base/univention-config-registry/python/univention/config_registry/interfaces.py
  base/univention-config-registry/python/univention/config_registry/misc.py
Due: deb-pipeline

refactor(UCR): Move .info check into directory_files()
  base/univention-config-registry/python/univention/config_registry/handler.py
  base/univention-config-registry/python/univention/config_registry/misc.py
  base/univention-config-registry/tests/test_misc.py
Due: deb-pipeline

fix(UCR): Atomic cache update
  base/univention-config-registry/python/univention/config_registry/handler.py
Due: deb-pipeline

try to get clean and latest git cache
  .gitlab-ci.yml
Due: none

fixup! try to get clean and latest git cache
  .gitlab-ci.yml
Due: none

fix(doc/manual): Remove syncrepl references
  doc/manual/domain-ldap/ldap-directory.rst
Due: doc-pipeline

feat(doc/manual): Update German translation
  doc/manual/locales/de/LC_MESSAGES/domain-ldap.po
Due: doc-pipeline

feat(monitoring) added implementation to write .prom files to s4-connector
  services/univention-s4-connector/modules/univention/s4connector/__init__.py
  services/univention-s4-connector/modules/univention/s4connector/prometheus_metrics.py
  services/univention-s4-connector/modules/univention/s4connector/s4/__init__.py
Due: deb-pipeline

test(appcenter): add test for removal of server attribute
  test/ucs-test/debian/changelog
  test/ucs-test/tests/20_appcenter/102_test_cleanup.py
Due: deb-pipeline

feat(udm): clean up app server attribute when DC deleted
  doc/errata/staging/univention-directory-manager-modules.yaml
  management/univention-directory-manager-modules/debian/changelog
  management/univention-directory-manager-modules/modules/univention/admin/appcenter.py
  management/univention-directory-manager-modules/modules/univention/admin/handlers/computers/__base.py
Due: deb-pipeline, errata validation

fix(listener): Break long lines in schema.conf
  doc/errata/staging/univention-directory-listener.yaml
  management/univention-directory-listener/debian/changelog
  management/univention-directory-listener/tools/univention-get-ldif-from-master.py
  management/univention-directory-replication/replication.py
Due: deb-pipeline, errata validation
