Repository univention/univention-corporate-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build ucslint, doc-pipeline, deb-pipeline, errata validation

build ucslint:
  stage: prepare
  variables:
    KANIKO_BUILD_CONTEXT: packaging/ucslint
    KANIKO_ARGS: --build-arg ucs=$ucs --cache=true

doc-pipeline:
  stage: build
  needs:
  - job: generate-config
  trigger:
    include:
    - artifact: generated-config-doc.yml
      job: generate-config
    strategy: depend
    forward:
      pipeline_variables: true

deb-pipeline:
  stage: build
  needs:
  - job: generate-config
  - job: prepare aptly
  - job: select ucslint
  variables:
    UCSLINT: $UCSLINT
  trigger:
    include:
    - artifact: generated-config-deb.yml
      job: generate-config
    strategy: depend
    forward:
      pipeline_variables: true

errata validation:
  stage: prepare
  tags:
  - omar
  resource_group: omar
  needs: []
  variables:
    VAULT_AUTH_ROLE: ucs-production
  secrets:
    BUGZILLA_CFG:
      vault:
        engine:
          name: kv-v2
          path: secret
        path: dist/repo-ng/production/bugzilla
        field: cfg
  script:
  ...

feat(doc): Upload objects.inv as generic package registry
  .gitlab-ci/base-doc.yml
  doc/app-center/conf.py
  doc/architecture/conf.py
  doc/debian-admins/conf.py
  doc/developer-reference/conf.py
  doc/ext-domain/conf.py
  doc/ext-installation/conf.py
  doc/ext-networks/conf.py
  doc/ext-performance/conf.py
  doc/ext-windows/conf.py
  doc/manual/conf.py
  doc/quickstart/conf.py
  doc/release-notes/conf.py
  doc/scenarios/conf.py
Due: doc-pipeline

fix(test): exec vs. trap EXIT
  test/utils/start-test.sh
Due: none

refactor(test): Remove branch test
  test/utils/start-test.sh
Due: none

fix(test): no duplicate --terminate options
  test/utils/start-test.sh
Due: none

fix(test): Switch to 5.0-7 OS image
  test/utils/start-test.sh
Due: none

refactor(test): Drop duplicate variables
  test/utils/start-test.sh
Due: none

refactor(doc): Rewrite Sphinx document build
  .gitlab-ci.yml
  .gitlab-ci/base-doc.yml
  .gitlab-ci/base.yml
  .gitlab-ci/build-ci
  .gitlab-ci/doc-builder
Due: none

feat(doc): Re-introduce local job template for overwrites
  .gitlab-ci/base-doc.yml
  .gitlab-ci/doc-builder
Due: none

style(doc): Quote commands in YAML
  .gitlab-ci/base-doc.yml
Due: none

pref(doc): Drop warning job
  .gitlab-ci/doc-builder
Due: none

fix(doc): Add missing dependencies
  .gitlab-ci/doc-builder
  doc/README.md
Due: none

fix(doc): circular dependencies
  .gitlab-ci/doc-builder
Due: none

doc(releasenote): update and spelling
  doc/release-notes/conf.py
  doc/release-notes/index.rst
  doc/release-notes/index52.rst
  doc/release-notes/locales/de/LC_MESSAGES/index.po
  doc/release-notes/release-notes-5.1-0-de.html
  doc/release-notes/release-notes-5.1-0-en.html
Due: doc-pipeline

doc(releasenote): fix release date
  doc/release-notes/index.rst
  doc/release-notes/locales/de/LC_MESSAGES/index.po
Due: doc-pipeline

fix(doc): ext-network[+s+]
  .gitlab-ci/doc-builder
Due: none

fix(test): fix SAML tests for 5.2
  test/ucs-test/debian/changelog
  test/ucs-test/tests/81_keycloak/02_test_portal_login.py
Due: deb-pipeline

fixup! fix(umc): logrotate with copytruncate
  doc/errata/staging/univention-management-console.yaml
Due: errata validation

fixup! fix(umc): logrotate with copytruncate
  test/ucs-test/debian/changelog
  test/ucs-test/tests/60_umc/08_logrotate.py
Due: deb-pipeline

feat(umc): Cookie creation now also specifies the domain
  doc/errata/staging/univention-web.yaml
  management/univention-web/debian/changelog
  management/univention-web/js/i18n/tools.js
Due: deb-pipeline, errata validation

fix(umc): add keycloak server UCR var to univention.conf
  management/univention-management-console/debian/changelog
  management/univention-management-console/debian/univention-management-console-web-server.univention-config-registry
Due: deb-pipeline

feat(umc): Cookie creation now also specifies the domain
  management/univention-web/debian/changelog
  management/univention-web/js/i18n/tools.js
Due: deb-pipeline

doc(changelog): Update section names
  doc/changelog/staged/changelog-domain-openldap-schema.55905.rst
  doc/changelog/staged/changelog-service-dovecot.56544.rst
  doc/changelog/staged/changelog-service-imap.56544.rst
  doc/changelog/staged/changelog-service-ssl.55763.rst
  doc/changelog/staged/changelog-udm.52048.rst
  doc/changelog/staged/changelog-udm.55019.rst
  doc/changelog/staged/changelog-udm.55057.rst
  doc/changelog/staged/changelog-udm.56253.rst
  doc/changelog/staged/changelog-udm.56528.rst
  doc/changelog/staged/changelog-udm.56541.rst
  doc/changelog/staged/changelog-udm.56992.rst
  doc/changelog/staged/changelog-umc-user.56601.rst
  doc/changelog/staged/relnotes-changelog.56662.rst
Due: doc-pipeline

feat(doc): Upload objects.inv as generic package registry
  .gitlab-ci/base-doc.yml
  doc/app-center/conf.py
  doc/architecture/conf.py
  doc/debian-admins/conf.py
  doc/developer-reference/conf.py
  doc/ext-domain/conf.py
  doc/ext-installation/conf.py
  doc/ext-networks/conf.py
  doc/ext-performance/conf.py
  doc/ext-windows/conf.py
  doc/manual/conf.py
  doc/quickstart/conf.py
  doc/release-notes/conf.py
  doc/scenarios/conf.py
  pyproject.toml
Due: doc-pipeline

doc(release): Fix spelling
  doc/release-notes/index.rst
  doc/release-notes/locales/de/LC_MESSAGES/index.po
Due: doc-pipeline

doc(release): Fix spelling
  doc/release-notes/locales/de/LC_MESSAGES/index.po
Due: doc-pipeline

feat(doc): Show code coverage metrics
  .gitlab-ci.yml
  .gitlab-ci/base-doc.yml
  .pre-commit-config.yaml
Due: none

Bug #57232: firefox-esr 115.10.0esr-1~deb10u1
  doc/errata/staging/firefox-esr.yaml
Due: errata validation

Path conditions:
  build ucslint: any of: packaging/ucslint/**/*
  doc-pipeline: any of: doc/[^e]*/**/*, doc/e[^r]*/**/*, doc/er[^r]*/**/*, doc/err[^a]*/**/*, doc/erra[^t]*/**/*, doc/errat[^a]*/**/*, doc/errata?*/**/*
  deb-pipeline: any of: [^dt.]*/*/**/*, d[^o]*/*/**/*, do[^c]*/*/**/*, doc?*/*/**/*, t[^e]*/*/**/*, te[^s]*/*/**/*, tes[^t]*/*/**/*, test?*/*/**/*, test/generate-appliance/**/*, test/ucs-test/**/*, test/ucs-test-tools/**/*, test/univention-demo-configuration/**/*
  errata validation: any of: doc/errata/staging/*.yaml
