Repository univention/univention-corporate-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build ucslint, doc-pipeline, deb-pipeline, errata validation

build ucslint:
  stage: prepare
  variables:
    KANIKO_BUILD_CONTEXT: packaging/ucslint
    KANIKO_ARGS: --build-arg ucs=$ucs --cache=true

doc-pipeline:
  stage: build
  needs:
  - job: generate-config
  trigger:
    include:
    - artifact: generated-config-doc.yml
      job: generate-config
    strategy: depend
    forward:
      pipeline_variables: true

deb-pipeline:
  stage: build
  needs:
  - job: generate-config
  - job: prepare aptly
  - job: select ucslint
  variables:
    UCSLINT: $UCSLINT
  trigger:
    include:
    - artifact: generated-config-deb.yml
      job: generate-config
    strategy: depend
    forward:
      pipeline_variables: true

errata validation:
  stage: prepare
  tags:
  - omar
  resource_group: omar
  needs: []
  variables:
    VAULT_AUTH_ROLE: ucs-production
  secrets:
    BUGZILLA_CFG:
      vault:
        engine:
          name: kv-v2
          path: secret
        path: dist/repo-ng/production/bugzilla
        field: cfg
  script:
  ...

fix(test): restart umc before 86_browser/132_miscellaneous_open_all_modules.py
  test/ucs-test/debian/changelog
  test/ucs-test/tests/86_browser/132_miscellaneous_open_all_modules.py
Due: deb-pipeline

Bug #57242: pillow ANNOUNCE
  doc/errata/published/2024-05-02_1567_pillow.yaml
Due: none

Bug #57240: openjdk-8 ANNOUNCE
  doc/errata/published/2024-05-02_1566_openjdk-8.yaml
Due: none

Bug #57241: util-linux ANNOUNCE
  doc/errata/published/2024-05-02_1568_util-linux.yaml
Due: none

Bug #57192: univention-web ANNOUNCE
  doc/errata/published/2024-05-02_1033_univention-web.yaml
Due: none

Bug #56793: avoid inline comments in sssd.conf
  base/univention-pam/conffiles/etc/sssd/sssd.conf
Due: deb-pipeline

Bug #54339: allow to search for dns/ptr_record ip=$address
  doc/errata/staging/univention-directory-manager-modules.yaml
  management/univention-directory-manager-modules/debian/changelog
  management/univention-directory-manager-modules/modules/univention/admin/handlers/dns/ptr_record.py
  management/univention-directory-manager-modules/unittests/test_udm_filters.py
Due: deb-pipeline, errata validation

fix(udm-dhcp): fix searching for hwaddress of dhcp/host
  management/univention-directory-manager-modules/modules/univention/admin/handlers/dhcp/host.py
Due: deb-pipeline

Bug #53807: fix search for users/user:sambaLogonHours
  management/univention-directory-manager-modules/modules/univention/admin/handlers/users/user.py
Due: deb-pipeline

Bug #53830: fix search for users/user:accountActivationDate
  management/univention-directory-manager-modules/modules/univention/admin/handlers/users/user.py
Due: deb-pipeline

test(udm): added tests for new UDM CLI filtering
  test/ucs-test/debian/changelog
  test/ucs-test/tests/59_udm/61_test_udm_users.py
  test/ucs-test/tests/59_udm/65_test_udm_dhcp.py
  test/ucs-test/tests/59_udm/67_test_udm_dns.py
Due: deb-pipeline

Bug #54339: allow to search for dns/ptr_record ip=$address
  management/univention-directory-manager-modules/debian/changelog
  management/univention-directory-manager-modules/modules/univention/admin/handlers/dns/ptr_record.py
  management/univention-directory-manager-modules/unittests/test_udm_filters.py
Due: deb-pipeline

docs(performance-guide): Improve section on provisioning with python-udm
  doc/ext-performance/index.rst
Due: doc-pipeline

docs(performance-guide): Add section about improving performance for large provisionings
  doc/ext-performance/index.rst
Due: doc-pipeline

fixup! Bug #56793: avoid inline comments in sssd.conf
  base/univention-pam/debian/changelog
Due: deb-pipeline

fix(test): fix keycloak tests for version 24.0.3
  test/ucs-test/debian/changelog
  test/ucs-test/tests/81_keycloak/04_misc.py
  test/ucs-test/tests/81_keycloak/10_legacy_authorization.py
  test/ucs-test/tests/81_keycloak/11_themes_cookie_links.py
  test/ucs-test/tests/81_keycloak/conftest.py
Due: deb-pipeline

Bug #56457: Add advisory
  doc/errata/staging/dh-golang.yaml
Due: errata validation

fix(umc-ipchange): react to keycloak/server/sso/fqdn
  management/univention-management-console-module-ipchange/debian/changelog
  management/univention-management-console-module-ipchange/umc/python/ipchange/__init__.py
Due: deb-pipeline

fix(test/utils.sh): Disable apt-daily.service
  test/utils/utils.sh
Due: none

feat(udm-rest-api): build the UDM REST API Client package using hatch
  management/univention-directory-manager-rest/pyproject.toml
Due: deb-pipeline

ci: pipeline to evaluate pyproject.toml and spawn child pipelines to build pip-packages
  .gitlab-ci.yml
  .gitlab-ci/base-pip.yml
  .gitlab-ci/base.yml
Due: none

ci: also package setup.py packages using setuptools in the pip-pipeline.
  .gitlab-ci.yml
  .gitlab-ci/base-pip.yml
Due: none

feat(udm-rest-api): build the UDM REST API Client using setup.py setuptools
  management/univention-directory-manager-rest/pyproject.toml
  management/univention-directory-manager-rest/setup_client.py
Due: deb-pipeline

feat: feature-branch pipelines need the ability to override pip-package versions
  .gitlab-ci/base-pip.yml
  base/univention-config-registry/setup.py
  base/univention-debug-python/setup.py
  base/univention-ipcalc/setup.py
  base/univention-licence-python/setup.py
  base/univention-python-heimdal/setup.py
  base/univention-python/setup.py
  base/univention-updater/setup.py
  management/univention-appcenter/packaging.py
  management/univention-directory-listener/setup.py
  management/univention-management-console/setup.py
  management/univention-portal/setup.py
  oidc/python-keycloak/setup.py
  packaging/ucslint/setup.py
  packaging/univention-debhelper/setup.py
  packaging/univention-l10n/setup.py
  packaging/univention-unittests/setup.py
  services/univention-radius/setup.py
  test/generate-appliance/setup.py
Due: build ucslint, deb-pipeline

feat(udm-rest-api): setup.py packaging for the UDM REST API Python Client
  management/univention-directory-manager-rest/setup_client.py
Due: deb-pipeline

ci(udm-rest-api): build pip package in CI
  .gitignore
  .gitlab-ci.yml
  .gitlab-ci/base-pip.yml
  .gitlab-ci/base.yml
Due: none

Path conditions:
  build ucslint: any of: packaging/ucslint/**/*
  doc-pipeline: any of: doc/[^e]*/**/*, doc/e[^r]*/**/*, doc/er[^r]*/**/*, doc/err[^a]*/**/*, doc/erra[^t]*/**/*, doc/errat[^a]*/**/*, doc/errata?*/**/*
  deb-pipeline: any of: [^dt.]*/*/**/*, d[^o]*/*/**/*, do[^c]*/*/**/*, doc?*/*/**/*, t[^e]*/*/**/*, te[^s]*/*/**/*, tes[^t]*/*/**/*, test?*/*/**/*, test/generate-appliance/**/*, test/ucs-test/**/*, test/ucs-test-tools/**/*, test/univention-demo-configuration/**/*
  errata validation: any of: doc/errata/staging/*.yaml
