Repository univention/univention-corporate-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build ucslint, doc-pipeline, deb-pipeline, errata validation

Path conditions:
  build ucslint: any of: packaging/ucslint/**/*
  doc-pipeline: any of: doc/[^e]*/**/*, doc/e[^r]*/**/*, doc/er[^r]*/**/*, doc/err[^a]*/**/*, doc/erra[^t]*/**/*, doc/errat[^a]*/**/*, doc/errata?*/**/*
  deb-pipeline: any of: [^dt.]*/*/**/*, d[^o]*/*/**/*, do[^c]*/*/**/*, doc?*/*/**/*, t[^e]*/*/**/*, te[^s]*/*/**/*, tes[^t]*/*/**/*, test?*/*/**/*, test/generate-appliance/**/*, test/ucs-test/**/*, test/ucs-test-tools/**/*, test/univention-demo-configuration/**/*
  errata validation: any of: doc/errata/staging/*.yaml

DROPME: switch to test appcenter
  base/univention-system-setup/umc/python/setup/util.py
  management/univention-appcenter/python/appcenter-dev/actions/local_appcenter.py
  management/univention-appcenter/python/appcenter/app_cache.py
  test/scenarios/autotest-090-master-no-samba.cfg
  test/scenarios/autotest-090-master-part-II-no-samba.cfg
  test/scenarios/autotest-091-master-part-II-s4.cfg
  test/scenarios/autotest-091-master-s4.cfg
  test/scenarios/autotest-092-backup-no-samba.cfg
  test/scenarios/autotest-093-backup-s4.cfg
  test/scenarios/autotest-094-slave-no-samba.cfg
  test/scenarios/autotest-095-slave-s4.cfg
  test/scenarios/autotest-096-member-no-samba.cfg
  test/scenarios/autotest-097-member-s4.cfg
  test/scenarios/delegated-administration-testing/primary-school.cfg
  test/scenarios/install-testing/school-scope.cfg
  test/scenarios/install-testing/school.cfg
  test/scenarios/s4-connector/master-only-released-errata-s4connector.cfg
  test/scenarios/s4-connector/master-s4connector.cfg
Due: deb-pipeline

build(policy): update rust library dependencies
  base/univention-policy/Cargo.toml
  base/univention-policy/build.rs
  base/univention-policy/debian/control
Due: deb-pipeline

fix(postfix): drop /etc/init.d/postfix UCR template
  mail/univention-antivir-mail/debian/univention-antivir-mail.postinst
  mail/univention-mail-postfix/conffiles/etc/init.d/postfix
  mail/univention-mail-postfix/debian/ucslint.overrides
  mail/univention-mail-postfix/debian/univention-mail-postfix.maintscript
  mail/univention-mail-postfix/debian/univention-mail-postfix.univention-config-registry
  mail/univention-mail-postfix/debian/univention-mail-server.postinst
  mail/univention-mail-postfix/usr/lib/univention-server/server_password_change.d/50univention-mail-server
Due: deb-pipeline

test(update-scenarios): fix old-template data failing diagnostics
  test/scenarios/update-testing/update-from-1.2-backup2master.cfg
  test/scenarios/update-testing/update-from-2.4.cfg
Due: none

ci(utils): replace resize2fs init script with systemd service unit
  test/utils/base_appliance.sh
Due: none

chore(maintained-packages): update list of maintained packages for 5.3
  base/univention-errata-level/maintained-packages.txt
Due: deb-pipeline

Revert "DROPME: disable dovecot auth cache in tests"
  test/ucs-test/tests/40_mail/42_dovecot_rename_mail_primary_address.py
  test/ucs-test/tests/40_mail/42_dovecot_rename_user.py
  test/ucs-test/tests/40_mail/43_dovecot_shared_folder_create_subfolder_with_acls.py
Due: deb-pipeline

DROPME: UDN abort analysis
  management/univention-directory-notifier/debian/rules
  management/univention-directory-notifier/src/notify.c
  test/ucs-test/tests/99_end/07_coredumps.py
Due: deb-pipeline

fix(nagios): drop /etc/init.d/nagios-nrpe-server UCR template
  monitoring/univention-nagios/conffiles/etc/init.d/nagios-nrpe-server
  monitoring/univention-nagios/debian/ucslint.overrides
  monitoring/univention-nagios/debian/univention-nagios-client.maintscript
  monitoring/univention-nagios/debian/univention-nagios-client.postinst
  monitoring/univention-nagios/debian/univention-nagios-client.univention-config-registry
  monitoring/univention-nagios/nagios-client.py
Due: deb-pipeline

DROPME: use interim UCS 5.3 KVM and EC2 templates
  test/utils/start-test.sh
Due: none

test(utils): explicit error message when apt sources are empty
  test/utils/utils.sh
Due: none

DROPME: test(setup): update system to latest omar.knut
  test/utils/utils.sh
Due: none

fix(passwordreset): store token timestamps with timezone
  management/univention-self-service/debian/univention-self-service-master.postinst
  management/univention-self-service/umc/python/passwordreset/__init__.py
  management/univention-self-service/umc/python/passwordreset/tokendb.py
Due: deb-pipeline

feat(directory-policy): convert to native systemd unit
  management/univention-directory-policy/debian/univention-directory-policy.init
  management/univention-directory-policy/debian/univention-directory-policy.install
  management/univention-directory-policy/debian/univention-directory-policy.maintscript
  management/univention-directory-policy/debian/univention-directory-policy.postinst
  management/univention-directory-policy/debian/univention-directory-policy.service
  management/univention-directory-policy/univention-directory-policy
Due: deb-pipeline

fix(umc): adjust to SQLAlchemy 2
  management/univention-management-console/src/univention/management/console/session_db.py
Due: deb-pipeline

refactor(quota): drop /etc/init.d/quotarpc UCR template
  base/univention-quota/conffiles/etc/init.d/quotarpc
  base/univention-quota/debian/ucslint.overrides
  base/univention-quota/debian/univention-quota.maintscript
  base/univention-quota/debian/univention-quota.univention-config-registry
Due: deb-pipeline

test(update-scenarios): clear stale failed units on old-template upgrades
  test/scenarios/update-testing/update-from-1.2-backup2master.cfg
  test/scenarios/update-testing/update-from-2.4.cfg
  test/scenarios/update-testing/update-from-4.2-4.cfg
Due: none

DROPME: ignore timing errors for now due to python license and overreached license
  test/ucs-test/tests/59_udm/76_test_udm_blocklistentries_performance.py
Due: deb-pipeline

test(utils): skip country remap when the tool does not exist
  test/utils/utils.sh
Due: none

ci(jenkins): do not ship dhclient leases in kvm templates and appliances
  test/utils/base_appliance.sh
Due: none

fix(firewall): parse Docker port bindings from inspect output
  base/univention-firewall/conffiles/etc/security/packetfilter.d/20_docker.sh
  doc/changelog/staged/base.59647.rst
Due: doc-pipeline, deb-pipeline

docs(base): note firewall restart for syslog/input/* variables
  base/univention-base-files/debian/changelog
  base/univention-base-files/debian/univention-base-files.univention-config-registry-variables
Due: deb-pipeline

fix(base): use valid rsyslog input types for remote syslog
  base/univention-base-files/conffiles/etc/rsyslog.conf
  base/univention-base-files/debian/changelog
  base/univention-base-files/tests/rsyslog58591
  doc/errata/staging/univention-base-files.yaml
Due: deb-pipeline, errata validation

test(create-large-environment): fix several ambiguities and bugs
  test/utils/create-large-environment.py
Due: none

test(ucs-test): test keycloak/environment/* UCR variables
  test/ucs-test/debian/changelog
  test/ucs-test/tests/81_keycloak/20_environment_expert_settings.py
Due: deb-pipeline

test(start-utils): Update Openstack image version
  test/utils/start-test.sh
Due: none

chore(openldap): add advisory
  doc/errata/staging/openldap.yaml
Due: errata validation

chore(openldap): update advisory
  doc/errata/staging/openldap.yaml
Due: errata validation

test(umc): add test for shadowbind with SASL OAUTHBEARER bind
  test/ucs-test/tests/60_umc/18_test_oidc_security.py
Due: deb-pipeline

docs(udm): document related bugs
  management/univention-directory-manager-modules/README-users-user-account-states.md
Due: deb-pipeline

test(udm): test shadow expire behavior
  test/ucs-test/debian/changelog
  test/ucs-test/tests/59_udm/61_test_udm_users.py
  test/ucs-test/tests/59_udm/61_test_udm_users_unittests.py
Due: deb-pipeline

test(udm): fixup test shadow expire behavior
  test/ucs-test/debian/changelog
  test/ucs-test/tests/59_udm/61_test_udm_users_unittests.py
Due: deb-pipeline

chore(advisory): samba.yaml
  doc/errata/staging/samba.yaml
Due: errata validation

chore(expat): create advisory for 2.5.0-1+deb12u4
  doc/errata/staging/expat.yaml
Due: errata validation

chore(xen): create advisory for 4.17.7-0+deb12u1
  doc/errata/staging/xen.yaml
Due: errata validation

chore(pcre2): create advisory for 10.42-1+deb12u2
  doc/errata/staging/pcre2.yaml
Due: errata validation

chore(lxml): create advisory for 4.9.2-1+deb12u1
  doc/errata/staging/lxml.yaml
Due: errata validation

chore(libdbi-perl): create advisory for 1.643-4+deb12u3
  doc/errata/staging/libdbi-perl.yaml
Due: errata validation

chore(firefox-esr): create advisory for 153.4.0esr-1~deb12u1
  doc/errata/staging/firefox-esr.yaml
Due: errata validation
