Repository univention/univention-corporate-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build ucslint, doc-pipeline, deb-pipeline, errata validation

Path conditions:
  build ucslint: any of: packaging/ucslint/**/*
  doc-pipeline: any of: doc/[^e]*/**/*, doc/e[^r]*/**/*, doc/er[^r]*/**/*, doc/err[^a]*/**/*, doc/erra[^t]*/**/*, doc/errat[^a]*/**/*, doc/errata?*/**/*
  deb-pipeline: any of: [^dt.]*/*/**/*, d[^o]*/*/**/*, do[^c]*/*/**/*, doc?*/*/**/*, t[^e]*/*/**/*, te[^s]*/*/**/*, tes[^t]*/*/**/*, test?*/*/**/*, test/generate-appliance/**/*, test/ucs-test/**/*, test/ucs-test-tools/**/*, test/univention-demo-configuration/**/*
  errata validation: any of: doc/errata/staging/*.yaml

fix(samba4): Create "Pre-Windows 2000 Compatible Access", "Windows Authorization Access Group" and "IIS_IUSRS" in UDM via joinscript
  doc/errata/staging/univention-samba4.yaml
  services/univention-samba4/96univention-samba4.inst
  services/univention-samba4/debian/changelog
Due: deb-pipeline, errata validation

Bug #58480: gnutls28 3.7.9-2+deb12u5
  doc/errata/staging/gnutls28.yaml
Due: errata validation

doc(updater): explain how to protect preup.sh
  base/univention-updater/README.md
Due: deb-pipeline

feat(appcenter): support full docker-compose 'ports' config key syntax
  management/univention-appcenter/debian/changelog
  management/univention-appcenter/python/appcenter-docker/docker.py
Due: deb-pipeline

fix(test/utils): correctly limit characters of apt/git repo names
  test/utils/utils.sh
Due: none

fix(univention-updater): run prune kernels before check which run the disk space check
  base/univention-updater/script/preup.sh
Due: deb-pipeline

fix(univention-updater): advisory + changelog
  base/univention-updater/debian/changelog
  doc/errata/staging/univention-updater.yaml
Due: deb-pipeline, errata validation

chore(univention-updater): Advisory wording
  doc/errata/staging/univention-updater.yaml
Due: errata validation

Bug #53882: univention-samba4 ANNOUNCE
  doc/errata/published/2025-07-23_151_univention-samba4.yaml
Due: none

Bug #53882: univention-s4-connector ANNOUNCE
  doc/errata/published/2025-07-23_152_univention-s4-connector.yaml
Due: none

Bug #53882: univention-management-console-module-diagnostic ANNOUNCE
  doc/errata/published/2025-07-23_153_univention-management-console-module-diagnostic.yaml
Due: none

Bug #58480: gnutls28 ANNOUNCE
  doc/errata/published/2025-07-23_154_gnutls28.yaml
Due: none

Bug #56139: univention-ad-connector ANNOUNCE
  doc/errata/published/2025-07-23_155_univention-ad-connector.yaml
Due: none

Bug #58426: univention-keycloak ANNOUNCE
  doc/errata/published/2025-07-23_156_univention-keycloak.yaml
Due: none

Bug #58386: univention-updater ANNOUNCE
  doc/errata/published/2025-07-23_157_univention-updater.yaml
Due: none

Bug #58470: univention-management-console-module-diagnostic ANNOUNCE
  doc/errata/published/2025-07-23_160_univention-management-console-module-diagnostic.yaml
Due: none

Bug #58470: univention-samba4 ANNOUNCE
  doc/errata/published/2025-07-23_159_univention-samba4.yaml
Due: none

Bug #58470: univention-s4-connector ANNOUNCE
  doc/errata/published/2025-07-23_158_univention-s4-connector.yaml
Due: none

Bug #58471: univention-samba4 ANNOUNCE
  doc/errata/published/2025-07-23_1300_univention-samba4.yaml
Due: none

Bug #58471: univention-s4-connector ANNOUNCE
  doc/errata/published/2025-07-23_1298_univention-s4-connector.yaml
Due: none

Bug #58471: univention-management-console-module-diagnostic ANNOUNCE
  doc/errata/published/2025-07-23_1299_univention-management-console-module-diagnostic.yaml
Due: none

Issue univention/dev/ucs#2338: ignore more tracebacks
  test/ucs-test/tests/99_end/grep_traceback.py
Due: deb-pipeline

Issue univention/dev/ucs#2338: ignore more tracebacks
  test/ucs-test/debian/changelog
Due: deb-pipeline

test(ucs): Add script to import ldif-testdata into ucs
  test/ucs-test/tests/42_authorization/import-testdata.sh
Due: deb-pipeline

fix(univention-adsearch): pass AD cert as samba option to ldbsearch
  services/univention-ad-connector/univention-adsearch
Due: deb-pipeline

fix(univention-adsearch): pass UCS crl as samba option to ldbsearch
  services/univention-ad-connector/univention-adsearch
Due: deb-pipeline

chore(univention-ad-connector): Advisory
  doc/errata/staging/univention-ad-connector.yaml
  services/univention-ad-connector/debian/changelog
Due: deb-pipeline, errata validation

fixup! Issue univention/dev/ucs#2338: ignore more tracebacks
  test/ucs-test/debian/changelog
  test/ucs-test/tests/99_end/grep_traceback.py
Due: deb-pipeline

ci: ucs 5.2 has no python symlink
  test/utils/utils-school-idbroker.sh
Due: none

ci: create mixed (5.0 & 5.2) school authorities
  test/scenarios/autotest-247-ucsschool-id-broker.cfg
  test/utils/utils-school-idbroker.sh
Due: none

ci: forward port 5.0 changes for ID Broker tests
  test/scenarios/autotest-247-ucsschool-id-broker.cfg
  test/utils/id-broker/keycloak_ProxyPass.conf.example
  test/utils/id-broker/univention-vhosts.conf.example
  test/utils/utils-school-idbroker.sh
Due: none

chore: tabs to spaces
  test/utils/utils-school-idbroker.sh
Due: none

test(provisioning-service): basic test for prefill feature
  test/ucs-test/debian/changelog
  test/ucs-test/tests/26_provisioning/01_basic.py
Due: deb-pipeline

Bug #58488: djvulibre 3.5.27.1-10+deb10u2
  doc/errata/staging/djvulibre.yaml
Due: errata validation

Bug #58489: openjdk-11 11.0.28+6-1~deb10u1
  doc/errata/staging/openjdk-11.yaml
Due: errata validation
