Repository univention/univention-corporate-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build ucslint, doc-pipeline, deb-pipeline, errata validation

Path conditions:
  build ucslint: any of: packaging/ucslint/**/*
  doc-pipeline: any of: doc/[^e]*/**/*, doc/e[^r]*/**/*, doc/er[^r]*/**/*, doc/err[^a]*/**/*, doc/erra[^t]*/**/*, doc/errat[^a]*/**/*, doc/errata?*/**/*
  deb-pipeline: any of: [^dt.]*/*/**/*, d[^o]*/*/**/*, do[^c]*/*/**/*, doc?*/*/**/*, t[^e]*/*/**/*, te[^s]*/*/**/*, tes[^t]*/*/**/*, test?*/*/**/*, test/generate-appliance/**/*, test/ucs-test/**/*, test/ucs-test-tools/**/*, test/univention-demo-configuration/**/*
  errata validation: any of: doc/errata/staging/*.yaml

fixup! feat(ext-delegative-administration): Review by style and content
  doc/ext-delegative-administration/conf.py
Due: doc-pipeline

feat(ext-delegative-administration): Review by style and content
  doc/ext-delegative-administration/index.rst
Due: doc-pipeline

fixup! feat(ext-delegative-administration): Restructure document
  doc/ext-delegative-administration/index.rst
Due: doc-pipeline

fixup! feat(ext-delegative-administration): Restructure document
  doc/ext-delegative-administration/troubleshooting.rst
Due: doc-pipeline

fixup!
  doc/ext-delegative-administration/index.rst
  doc/ext-delegative-administration/setup.rst
Due: doc-pipeline

feat(ext-delegative-administration): Boost content and navigation
  doc/ext-delegative-administration/concepts.rst
  doc/ext-delegative-administration/index.rst
  doc/ext-delegative-administration/setup.rst
Due: doc-pipeline

fixup!
  doc/ext-delegative-administration/index.rst
Due: doc-pipeline

fixup! feat(ext-delegative-administration): Restructure document
  doc/ext-delegative-administration/conf.py
  doc/ext-delegative-administration/contents.rst
Due: doc-pipeline

fixup!
  doc/ext-delegative-administration/setup.rst
Due: doc-pipeline

fixup!
  doc/ext-delegative-administration/contents.rst
Due: doc-pipeline

fixup!
  doc/ext-delegative-administration/conf.py
Due: doc-pipeline

fixup! feat(ext-delegative-administration): Restructure document
  doc/ext-delegative-administration/contents.rst
  doc/ext-delegative-administration/index.rst
Due: doc-pipeline

fix(ext-delegative-administration): Bibliography configuration
  doc/ext-delegative-administration/conf.py
  doc/ext-delegative-administration/index.rst
Due: doc-pipeline

fixup! feat(ext-delegative-administration): Restructure document
  doc/ext-delegative-administration/conf.py
  doc/ext-delegative-administration/index.rst
Due: doc-pipeline

Apply 2 suggestion(s) to 1 file(s)
  doc/ext-delegative-administration/contents.rst
Due: doc-pipeline

Apply suggestions and fixups
  doc/bibliography.bib
  doc/ext-delegative-administration/concepts.rst
  doc/ext-delegative-administration/configuration.rst
  doc/ext-delegative-administration/index.rst
  doc/ext-delegative-administration/setup.rst
  doc/ext-delegative-administration/troubleshooting.rst
Due: doc-pipeline

fixup! feat(ext-delegative-administration): Boost content and navigation
  doc/ext-delegative-administration/concepts.rst
  doc/ext-delegative-administration/configuration.rst
  doc/ext-delegative-administration/setup.rst
Due: doc-pipeline

fixup! feat(ext-delegative-administration): Review by style and content
  doc/ext-delegative-administration/index.rst
Due: doc-pipeline

Issue univention/ucs#2771: add documentation for delegetive administration
  doc/ext-delegative-administration/Makefile
  doc/ext-delegative-administration/conf.py
  doc/ext-delegative-administration/index.rst
  management/univention-directory-manager-modules/README-delegated-administration.md
Due: doc-pipeline, deb-pipeline

fixup!
  doc/bibliography.bib
  doc/ext-delegative-administration/conf.py
  doc/ext-delegative-administration/index.rst
Due: doc-pipeline

feat(ext-delegative-administration): Restructure document
  doc/ext-delegative-administration/bibliography.rst
  doc/ext-delegative-administration/concepts.rst
  doc/ext-delegative-administration/conf.py
  doc/ext-delegative-administration/configuration.rst
  doc/ext-delegative-administration/contents.rst
  doc/ext-delegative-administration/index.rst
  doc/ext-delegative-administration/setup.rst
  doc/ext-delegative-administration/troubleshooting.rst
Due: doc-pipeline

fixup!
  doc/ext-delegative-administration/spelling_wordlist
  doc/ext-delegative-administration/spelling_wordlist.license
Due: doc-pipeline

fixup! feat(ext-delegative-administration): Restructure document
  doc/ext-delegative-administration/intro.rst
Due: doc-pipeline

chore(tests): replace SCS-* flavors with UNIVENTION-*
  test/scenarios/autotest-090-master-no-samba.cfg
  test/scenarios/autotest-090-master-part-II-no-samba.cfg
  test/scenarios/autotest-091-master-part-II-s4.cfg
  test/scenarios/autotest-091-master-s4.cfg
  test/scenarios/autotest-092-backup-no-samba.cfg
  test/scenarios/autotest-093-backup-s4.cfg
  test/scenarios/autotest-094-slave-no-samba.cfg
  test/scenarios/autotest-095-slave-s4.cfg
  test/scenarios/autotest-096-member-no-samba.cfg
  test/scenarios/autotest-097-member-s4.cfg
  test/scenarios/autotest-201-ucsschool-singleserver-s4.cfg
  test/scenarios/autotest-203-ucsschool-multiserver-s4.cfg
  test/scenarios/autotest-206-ucsschool-update-singleserver-s4.cfg
  test/scenarios/autotest-208-ucsschool-update-multiserver-s4.cfg
  test/scenarios/autotest-300-ucsschool-large.cfg
  test/scenarios/base/backup2master.cfg
  test/scenarios/base/ucs-master.cfg
  test/scenarios/base/ucs-school-multiserver-joined-primary-school1.cfg
  test/scenarios/base/windows-system-openstack.cfg
  test/scenarios/important-apps/microsoft365connector.cfg
  test/scenarios/keycloak/keycloak-2backups.cfg
  test/scenarios/keycloak/keycloak-different-path.cfg
  test/scenarios/keycloak/keycloak-external-fqdn.cfg
  test/scenarios/keycloak/keycloak-mariadb.cfg
  test/scenarios/keycloak/keycloak-mixed.cfg
  test/scenarios/keycloak/keycloak-mixedcase-fqdn.cfg
  test/scenarios/keycloak/keycloak-simple.cfg
  test/scenarios/keycloak/keycloak-upgrade.cfg
  test/scenarios/openstack-images/joined-os-templates.cfg
  test/scenarios/openstack-images/ucs-performance-20.000-os-template.cfg
  test/scenarios/openstack-images/ucs-school-multiserver-joined.cfg
  test/scenarios/umc/umc-performance.cfg
Due: none

Bug #58169: linux-signed-5.10-amd64 5.10.234+1~deb10u1
  doc/errata/staging/linux-signed-5.10-amd64.yaml
Due: errata validation

Bug #58170: linux-5.10 5.10.234-1~deb10u1
  doc/errata/staging/linux-5.10.yaml
Due: errata validation

Bug #58171: openjpeg2 2.3.0-2+deb10u3
  doc/errata/staging/openjpeg2.yaml
Due: errata validation

Bug #58172: openjpeg2 2.1.2-1.1+deb9u8
  doc/errata/staging/openjpeg2.yaml
Due: errata validation

Bug #58173: ruby2.3 2.3.3-1+deb9u14
  doc/errata/staging/ruby2.3.yaml
Due: errata validation
