Repository univention/univention-corporate-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build ucslint, doc-pipeline, deb-pipeline, errata validation

build ucslint:
  stage: prepare
  variables:
    KANIKO_BUILD_CONTEXT: packaging/ucslint
    KANIKO_ARGS: --build-arg ucs=$ucs --cache=true

doc-pipeline:
  stage: build
  needs:
  - job: generate-config
  trigger:
    include:
    - artifact: generated-config-doc.yml
      job: generate-config
    strategy: depend
    forward:
      pipeline_variables: true

deb-pipeline:
  stage: build
  needs:
  - job: generate-config
  - job: prepare aptly
  - job: select ucslint
  variables:
    UCSLINT: $UCSLINT
  trigger:
    include:
    - artifact: generated-config-deb.yml
      job: generate-config
    strategy: depend
    forward:
      pipeline_variables: true

errata validation:
  stage: prepare
  tags:
  - omar
  resource_group: omar
  needs: []
  variables:
    VAULT_AUTH_ROLE: ucs-production
  secrets:
    BUGZILLA_CFG:
      vault:
        engine:
          name: kv-v2
          path: secret
        path: dist/repo-ng/production/bugzilla
        field: cfg
  script:
  ...

fix(test): update templates to testing during release
  test/scenarios/kvm-templates/joined-kvm-templates.cfg
Due: none

fix(test): update templates to testing during release
  test/scenarios/kvm-templates/ucs-school-multiserver-joined.cfg
Due: none

fix(test): update templates to testing during release
  test/scenarios/keycloak/keycloak-2backups.cfg
Due: none

Bug #57532: Fix OX installation routine
  test/scenarios/ox-connector/ox-connector-single.cfg
Due: none

Bug #57532: Add personal dev envs for OX Connector to Jenkins
  test/scenarios/ox-connector/ox-connector-single.cfg
  test/utils/start-ox-connector.sh
Due: none

Issue univention/ucs#2440: openstack images
  test/scenarios/keycloak/keycloak-2backups.cfg
  test/scenarios/keycloak/keycloak-different-path.cfg
  test/scenarios/keycloak/keycloak-external-fqdn.cfg
  test/scenarios/keycloak/keycloak-mariadb.cfg
  test/scenarios/keycloak/keycloak-upgrade.cfg
Due: none

Issue univention/ucs#2440: openstack images
  test/scenarios/keycloak/keycloak-2backups.cfg
  test/scenarios/keycloak/keycloak-external-fqdn.cfg
Due: none

fix(errata): maintained package list
  base/univention-errata-level/maintained-packages.txt
Due: deb-pipeline

fix: HALT parameter needs to be exported
  test/utils/start-test.sh
Due: none

Issue univention/ucs#2388: Wait longer for UMC restart
  test/ucs-test/tests/81_keycloak/02_test_portal_login.py
Due: deb-pipeline

fixup! Issue univention/ucs#2388: Wait longer for UMC restart
  test/ucs-test/debian/changelog
Due: deb-pipeline

amend! fix(test): Switch to 5.0-9 OS image
  test/utils/start-test.sh
Due: none

Issue univention/ucs#2388: make sure we are keycloak with is_keycloak
  test/ucs-test/debian/changelog
  test/ucs-test/tests/81_keycloak/02_test_portal_login.py
  test/ucs-test/tests/81_keycloak/03_self_service.py
  test/ucs-test/tests/81_keycloak/04_misc.py
  test/ucs-test/tests/81_keycloak/11_themes_cookie_links.py
  test/ucs-test/tests/81_keycloak/conftest.py
Due: deb-pipeline

Issue univention/ucs#2440: keycloak tests in openstack
  test/scenarios/keycloak/keycloak-2backups.cfg
  test/scenarios/keycloak/keycloak-different-path.cfg
  test/scenarios/keycloak/keycloak-external-fqdn.cfg
  test/scenarios/keycloak/keycloak-mariadb.cfg
  test/scenarios/keycloak/keycloak-upgrade.cfg
Due: none

Issue #245: improve Guardian branch tests
  test/scenarios/autotest-251-guardian.cfg
  test/utils/guardian/appcenter-change-compose-image.py
  test/utils/guardian/install_guardian_from_branch.sh
Due: none

Issue univention/ucs#2338: fix virt detection
  test/utils/utils.sh
Due: none

Issue univention/ucs#2375: enable udm debug in s4 tests
  test/scenarios/s4-connector/master-only-released-errata-s4connector.cfg
  test/scenarios/s4-connector/master-s4connector.cfg
  test/scenarios/s4-connector/update-master-s4connector.cfg
Due: none

Issue univention/ucs#2338: wait longer for ad to start
  test/scenarios/install-testing/ad-member.cfg
Due: none

Issue univention/ucs#2338: support openstack for keycloak tests
  test/scenarios/keycloak/keycloak-2backups.cfg
  test/scenarios/keycloak/keycloak-different-path.cfg
  test/scenarios/keycloak/keycloak-external-fqdn.cfg
  test/scenarios/keycloak/keycloak-mariadb.cfg
  test/scenarios/keycloak/keycloak-upgrade.cfg
  test/utils/start-test.sh
Due: none

Issue univention/ucs#2379: oidc documentation
  doc/manual/appendix/variables.rst
  doc/manual/central-management-umc/login.rst
Due: doc-pipeline

Bug #57482: update UMC docs with session handling info
  management/univention-management-console/README.md
  management/univention-management-console/doc/plain-login-session-refresh.png
Due: deb-pipeline

Issue univention/ucs#2338: support openstack for keycloak tests
  test/scenarios/keycloak/keycloak-2backups.cfg
  test/scenarios/keycloak/keycloak-different-path.cfg
  test/scenarios/keycloak/keycloak-external-fqdn.cfg
  test/scenarios/keycloak/keycloak-mariadb.cfg
  test/scenarios/keycloak/keycloak-simple.cfg
  test/scenarios/keycloak/keycloak-upgrade.cfg
  test/utils/start-test.sh
Due: none

Issue univention/ucs#2379: oidc documentation translation (de)
  doc/manual/central-management-umc/login.rst
  doc/manual/locales/de/LC_MESSAGES/appendix.po
  doc/manual/locales/de/LC_MESSAGES/central-management-umc.po
  doc/manual/spelling_wordlist
Due: doc-pipeline

Issue univention/ucs#2338: support openstack for keycloak tests
  test/scenarios/keycloak/keycloak-upgrade.cfg
  test/utils/start-test.sh
Due: none

Issue univention/ucs#2338: support openstack for keycloak tests
  test/scenarios/keycloak/keycloak-external-fqdn.cfg
Due: none

Issue univention/ucs#2338: don't install self service in load balancer setup
  test/scenarios/keycloak/keycloak-external-fqdn.cfg
Due: none

Bug #57547: add lusd tests
  test/scenarios/autotest-201-ucsschool-singleserver-s4.cfg
  test/utils/utils.sh
Due: none

Path conditions:
  build ucslint: any of: packaging/ucslint/**/*
  doc-pipeline: any of: doc/[^e]*/**/*, doc/e[^r]*/**/*, doc/er[^r]*/**/*, doc/err[^a]*/**/*, doc/erra[^t]*/**/*, doc/errat[^a]*/**/*, doc/errata?*/**/*
  deb-pipeline: any of: [^dt.]*/*/**/*, d[^o]*/*/**/*, do[^c]*/*/**/*, doc?*/*/**/*, t[^e]*/*/**/*, te[^s]*/*/**/*, tes[^t]*/*/**/*, test?*/*/**/*, test/generate-appliance/**/*, test/ucs-test/**/*, test/ucs-test-tools/**/*, test/univention-demo-configuration/**/*
  errata validation: any of: doc/errata/staging/*.yaml
