Repository univention/univention-corporate-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: prepare ucslint, doc-pipeline, deb-pipeline, errata validation

prepare ucslint:
  stage: prepare
  interruptible: false
  variables:
    KANIKO_BUILD_CONTEXT: packaging/ucslint
    KANIKO_ARGS: --build-arg ucs=$ucs --cache=true

doc-pipeline:
  stage: build
  needs:
  - job: generate-config
  trigger:
    include:
    - artifact: generated-config-doc.yml
      job: generate-config
    strategy: depend
    forward:
      pipeline_variables: true

deb-pipeline:
  stage: build
  needs:
  - job: generate-config
  - job: prepare aptly
  - job: prepare ucslint
    optional: true
  trigger:
    include:
    - artifact: generated-config-deb.yml
      job: generate-config
    strategy: depend
    forward:
      pipeline_variables: true

errata validation:
  stage: build
  tags:
  - omar
  resource_group: omar
  needs: []
  variables:
    VAULT_AUTH_ROLE: ucs-production
  secrets:
    BUGZILLA_CFG:
      vault:
        engine:
          name: kv-v2
          path: secret
        path: dist/repo-ng/production/bugzilla
        field: cfg
  script:
  ...

Bug #55462: vim 2:8.0.0197-4+deb9u9
  doc/errata/staging/vim.yaml
Due: errata validation

Bug #55465: vim 2:8.1.0875-5+deb10u4
  doc/errata/staging/vim.yaml
Due: errata validation

Bug #55257: Add explanation for ldap/index variables
  doc/ext-performance/index.rst
Due: doc-pipeline

Bug #55458: Modify default mappers in keycloak user federation
  doc/errata/staging/univention-keycloak.yaml
  services/univention-keycloak/debian/changelog
  services/univention-keycloak/scripts/univention-keycloak
Due: deb-pipeline, errata validation

Bug #55458: update advisory
  doc/errata/staging/univention-keycloak.yaml
Due: errata validation

chore(univention-directory-manager-rest): update advisory
  doc/errata/staging/univention-directory-manager-modules.yaml
  doc/errata/staging/univention-directory-manager-rest.yaml
Due: errata validation

Bug #55463: postgresql-9.6 ANNOUNCE
  doc/errata/published/2022-11-30_1346_postgresql-9.6.yaml
Due: none

Bug #55462: vim ANNOUNCE
  doc/errata/published/2022-11-30_1347_vim.yaml
Due: none

Bug #55458: univention-keycloak ANNOUNCE
  doc/errata/published/2022-11-30_501_univention-keycloak.yaml
Due: none

Bug #55461: heimdal ANNOUNCE
  doc/errata/published/2022-11-30_499_heimdal.yaml
Due: none

Bug #55464: libarchive ANNOUNCE
  doc/errata/published/2022-11-30_500_libarchive.yaml
Due: none

Bug #54623,Bug #55430: univention-directory-manager-rest ANNOUNCE
  doc/errata/published/2022-11-30_504_univention-directory-manager-rest.yaml
Due: none

Bug #55465: vim ANNOUNCE
  doc/errata/published/2022-11-30_502_vim.yaml
Due: none

Bug #54623: univention-management-console ANNOUNCE
  doc/errata/published/2022-11-30_505_univention-management-console.yaml
Due: none

Bug #54623,Bug #55430: univention-directory-manager-modules ANNOUNCE
  doc/errata/published/2022-11-30_503_univention-directory-manager-modules.yaml
Due: none

Bug #12345: throw me away
  test/scenarios/autotest-248-ram-rankine.cfg
  test/utils/ram/utils-ram.sh
Due: none

Bug #55044: enhance developers manual
  doc/developer-reference/repositories.rst
Due: doc-pipeline

style(ldb): Remove unused univention/config.h
  services/univention-ldb-modules/modules/univention_ldb_log.c
Due: deb-pipeline

perf(udm users/user)!: use "memberOf" instead of searching for group memberships
  management/univention-directory-manager-modules/debian/control
  management/univention-directory-manager-modules/modules/univention/admin/handlers/users/user.py
  test/ucs-test/tests/59_udm/61_test_udm_users_unittests.py
Due: deb-pipeline

perf(udm users/user)!: add UCR variable for backwards compatibility
  doc/errata/staging/univention-directory-manager-modules.yaml
  management/univention-directory-manager-modules/debian/changelog
  management/univention-directory-manager-modules/debian/python3-univention-directory-manager.univention-config-registry-variables
  management/univention-directory-manager-modules/modules/univention/admin/handlers/users/user.py
Due: deb-pipeline, errata validation

Bug #52514: fixed order of positional arguments in the help text of univention-app configure
  doc/errata/staging/univention-appcenter.yaml
  management/univention-appcenter/debian/changelog
  management/univention-appcenter/python/appcenter/actions/configure.py
Due: deb-pipeline, errata validation

Bug #52514: YAML
  doc/errata/staging/univention-appcenter.yaml
Due: errata validation

Bug #55378: Adjust CSS for cookie-banners
  doc/errata/staging/univention-portal.yaml
  management/univention-portal/debian/changelog
  management/univention-portal/frontend/src/components/globals/CookieBanner.vue
  management/univention-portal/frontend/src/components/modal/ModalDialog.vue
Due: deb-pipeline, errata validation

Bug #55378: YAML
  doc/errata/staging/univention-portal.yaml
Due: errata validation

Bug #54481: use pre-joined images, add Kelvin and UDM REST client tests
  test/scenarios/autotest-249-kelvin-client.cfg
  test/scenarios/autotest-250-udm-rest-client.cfg
Due: none

Bug #54481: add branch option, use token
  test/scenarios/autotest-241-ucsschool-kelvin-API.cfg
  test/scenarios/autotest-249-kelvin-client.cfg
  test/scenarios/autotest-250-udm-rest-client.cfg
Due: none

Bug #54481: install req packages
  test/scenarios/autotest-249-kelvin-client.cfg
  test/scenarios/autotest-250-udm-rest-client.cfg
Due: none

Bug #54481: fix test setup
  test/scenarios/autotest-249-kelvin-client.cfg
  test/scenarios/autotest-250-udm-rest-client.cfg
Due: none

Bug #54481: fix paths
  test/scenarios/autotest-249-kelvin-client.cfg
  test/scenarios/autotest-250-udm-rest-client.cfg
Due: none

Bug #54481: add test for coverage
  test/scenarios/autotest-249-kelvin-client.cfg
  test/scenarios/autotest-250-udm-rest-client.cfg
Due: none

Bug #54481: fix path and exit code
  test/scenarios/autotest-249-kelvin-client.cfg
  test/scenarios/autotest-250-udm-rest-client.cfg
Due: none

Bug #54481: show output
  test/scenarios/autotest-249-kelvin-client.cfg
  test/scenarios/autotest-250-udm-rest-client.cfg
Due: none

Issue #42905: add bsb milestone 2 kvm template
  test/scenarios/autotest-249-bsb-m2.cfg
  test/utils/ram/start-kvm-bsb-ms2.sh
  test/utils/ram/utils-ram.sh
Due: none

Bug #55473: giflib 5.1.4-3+deb10u1
  doc/errata/staging/giflib.yaml
Due: errata validation

Bug #55474: krb5 1.17-3+deb10u5
  doc/errata/staging/krb5.yaml
Due: errata validation

Bug #55475: giflib 5.1.4-0.4+deb9u1
  doc/errata/staging/giflib.yaml
Due: errata validation

Bug #55476: vlc 3.0.17.4-0+deb9u2
  doc/errata/staging/vlc.yaml
Due: errata validation

Bug #55477: libraw 0.17.2-6+deb9u4
  doc/errata/staging/libraw.yaml
Due: errata validation

Bug #55478: Configure login page
  services/univention-keycloak/debian/changelog
  services/univention-keycloak/scripts/univention-keycloak
Due: deb-pipeline

Bug #55478: yaml
  doc/errata/staging/univention-keycloak.yaml
Due: errata validation

Path conditions:
  prepare ucslint: any of: packaging/ucslint/**/*
  doc-pipeline: any of: doc/[^e]*/**/*, doc/e[^r]*/**/*, doc/er[^r]*/**/*, doc/err[^a]*/**/*, doc/erra[^t]*/**/*, doc/errat[^a]*/**/*, doc/errata?*/**/*
  deb-pipeline: any of: [^dt]*/*/**/*, d[^o]*/*/**/*, do[^c]*/*/**/*, doc?*/*/**/*, t[^e]*/*/**/*, te[^s]*/*/**/*, tes[^t]*/*/**/*, test?*/*/**/*, test/generate-appliance/**/*, test/ucs-test/**/*, test/ucs-test-tools/**/*, test/univention-demo-configuration/**/*
  errata validation: any of: doc/errata/staging/*.yaml
