Repository univention/univention-corporate-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build ucslint, doc-pipeline, deb-pipeline, errata validation

build ucslint:
  stage: prepare
  variables:
    KANIKO_BUILD_CONTEXT: packaging/ucslint
    KANIKO_ARGS: --build-arg ucs=$ucs --cache=true

doc-pipeline:
  stage: build
  needs:
  - job: generate-config
  trigger:
    include:
    - artifact: generated-config-doc.yml
      job: generate-config
    strategy: depend
    forward:
      pipeline_variables: true

deb-pipeline:
  stage: build
  needs:
  - job: generate-config
  - job: prepare aptly
  - job: select ucslint
  variables:
    UCSLINT: $UCSLINT
  trigger:
    include:
    - artifact: generated-config-deb.yml
      job: generate-config
    strategy: depend
    forward:
      pipeline_variables: true

errata validation:
  stage: prepare
  tags:
  - omar
  resource_group: omar
  needs: []
  variables:
    VAULT_AUTH_ROLE: ucs-production
  secrets:
    BUGZILLA_CFG:
      vault:
        engine:
          name: kv-v2
          path: secret
        path: dist/repo-ng/production/bugzilla
        field: cfg
  script:
  ...

docs(operation/changelog): Update German translation
  doc/ucs-operation/locales/de/LC_MESSAGES/changelog.po
Due: doc-pipeline

docs(operation/ucr-variable-reference): Add variables for directory reports
  doc/ucs-operation/ucr-variable-reference.rst
Due: doc-pipeline

docs(operation/ucr-variable-reference): Update German translation
  doc/ucs-operation/locales/de/LC_MESSAGES/ucr-variable-reference.po
  doc/ucs-operation/spelling_wordlist_de
Due: doc-pipeline

docs(operation/management-interface): Original content for delegative administration
  doc/ucs-operation/management-interface/delegated-administration.rst
Due: doc-pipeline

docs(operation/management-interface): Add structure for delegated administration
  doc/ucs-operation/management-interface/delegated-administration.rst
  doc/ucs-operation/management-interface/index.rst
Due: doc-pipeline

docs(manual/central-management-umc): Replace delegated administration with reference UCS Operation Manual
  doc/manual/central-management-umc/delegated-administration.rst
Due: doc-pipeline

docs(manual/central-management-umc): Update German translation
  doc/manual/locales/de/LC_MESSAGES/central-management-umc.po
Due: doc-pipeline

docs(operation/management-interface): Rework delegated administration
  doc/ucs-operation/management-interface/delegated-administration.rst
  doc/ucs-operation/management-interface/index.rst
Due: doc-pipeline

docs(operation/changelog): Add entry for delegated administration
  doc/ucs-operation/changelog.rst
Due: doc-pipeline

docs(operation/management-interface): Update German translation
  doc/ucs-operation/locales/de/LC_MESSAGES/management-interface.po
Due: doc-pipeline

docs(operation/management-interface): Add structure for hardware information
  doc/ucs-operation/management-interface/hardware-information.rst
  doc/ucs-operation/management-interface/index.rst
Due: doc-pipeline

docs(operation/management-interface): Original content for hardware information
  doc/ucs-operation/management-interface/hardware-information.rst
Due: doc-pipeline

docs(manual/computers): Replace hardware information content with reference to UCS Operation Manual
  doc/manual/computers/configure-hardware.rst
Due: doc-pipeline

docs(manual/computers): Update German translation
  doc/manual/locales/de/LC_MESSAGES/computers.po
Due: doc-pipeline

docs(operation/images): Add screenshots for hardware information
  doc/ucs-operation/images/umc_hardware-information-de.png
  doc/ucs-operation/images/umc_hardware-information.png
Due: doc-pipeline

docs(operation/management-interface): Rework hardware information
  doc/ucs-operation/management-interface/hardware-information.rst
  doc/ucs-operation/management-interface/index.rst
Due: doc-pipeline

docs(operation/changelog): Add entry for hardware information management module
  doc/ucs-operation/changelog.rst
Due: doc-pipeline

fix(umc): fix socket file descriptor leak after PAM authentication
  doc/errata/staging/univention-management-console.yaml
  management/univention-management-console/debian/changelog
  management/univention-management-console/src/univention/management/console/auth.py
  management/univention-management-console/src/univention/management/console/session.py
Due: deb-pipeline, errata validation

chore(libyaml-syck-perl): create advisory for 1.29-1+deb9u2
  doc/errata/staging/libyaml-syck-perl.yaml
Due: errata validation

chore(pillow): create advisory for 4.0.0-4+deb9u7
  doc/errata/staging/pillow.yaml
Due: errata validation

chore(imagemagick): create advisory for 8:6.9.7.4+dfsg-11+deb9u27
  doc/errata/staging/imagemagick.yaml
Due: errata validation

chore(tiff): create advisory for 4.0.8-2+deb9u15
  doc/errata/staging/tiff.yaml
Due: errata validation

chore(ntfs-3g): create advisory for 1:2017.3.23AR.3-4+deb11u4~deb10u2
  doc/errata/staging/ntfs-3g.yaml
Due: errata validation

chore(imagemagick): create advisory for 8:6.9.10.23+dfsg-2.1+deb10u16
  doc/errata/staging/imagemagick.yaml
Due: errata validation

chore(tiff): create advisory for 4.1.0+git191117-2~deb10u12
  doc/errata/staging/tiff.yaml
Due: errata validation

chore(libyaml-syck-perl): create advisory for 1.31-1+deb10u2
  doc/errata/staging/libyaml-syck-perl.yaml
Due: errata validation

chore(firefox-esr): create advisory for 140.10.0esr-1~deb12u1
  doc/errata/staging/firefox-esr.yaml
Due: errata validation

chore(ntfs-3g): create advisory for 1:2022.10.3-1+deb12u3
  doc/errata/staging/ntfs-3g.yaml
Due: errata validation

test(umc): added test case
  test/ucs-test/debian/changelog
  test/ucs-test/tests/60_umc/15_max_open_file_descriptors
  test/ucs-test/tests/60_umc/15_open_file_descriptors.py
Due: deb-pipeline

docs(operation/domain-infrastructure): Add structure for certificate management
  doc/ucs-operation/domain-infrastructure/index.rst
  doc/ucs-operation/domain-infrastructure/tls.rst
Due: doc-pipeline

docs(operation/domain-infrastructure): Original content for certificate management
  doc/ucs-operation/domain-infrastructure/tls.rst
Due: doc-pipeline

docs(manual/domain-ldap): Update German translation
  doc/manual/locales/de/LC_MESSAGES/domain-ldap.po
Due: doc-pipeline

docs(manual/domain-ldap): Replace certificate management with link to UCS Operation Manual
  doc/manual/domain-ldap/ssl.rst
Due: doc-pipeline

docs(manual/central-management-umc): Replace Let's Encrypt content with reference to UCS Operation Manual
  doc/manual/central-management-umc/lets-encrypt.rst
Due: doc-pipeline

docs(operation/domain-infrastructure): Rework content for certificate management
  doc/ucs-operation/domain-infrastructure/index.rst
  doc/ucs-operation/domain-infrastructure/tls.rst
Due: doc-pipeline

Path conditions:
  build ucslint: any of: packaging/ucslint/**/*
  doc-pipeline: any of: doc/[^e]*/**/*, doc/e[^r]*/**/*, doc/er[^r]*/**/*, doc/err[^a]*/**/*, doc/erra[^t]*/**/*, doc/errat[^a]*/**/*, doc/errata?*/**/*
  deb-pipeline: any of: [^dt.]*/*/**/*, d[^o]*/*/**/*, do[^c]*/*/**/*, doc?*/*/**/*, t[^e]*/*/**/*, te[^s]*/*/**/*, tes[^t]*/*/**/*, test?*/*/**/*, test/generate-appliance/**/*, test/ucs-test/**/*, test/ucs-test-tools/**/*, test/univention-demo-configuration/**/*
  errata validation: any of: doc/errata/staging/*.yaml
