Repository univention/univention-corporate-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build ucslint, doc-pipeline, deb-pipeline, errata validation

Path conditions:
  build ucslint: any of: packaging/ucslint/**/*
  doc-pipeline: any of: doc/[^e]*/**/*, doc/e[^r]*/**/*, doc/er[^r]*/**/*, doc/err[^a]*/**/*, doc/erra[^t]*/**/*, doc/errat[^a]*/**/*, doc/errata?*/**/*
  deb-pipeline: any of: [^dt.]*/*/**/*, d[^o]*/*/**/*, do[^c]*/*/**/*, doc?*/*/**/*, t[^e]*/*/**/*, te[^s]*/*/**/*, tes[^t]*/*/**/*, test?*/*/**/*, test/generate-appliance/**/*, test/ucs-test/**/*, test/ucs-test-tools/**/*, test/univention-demo-configuration/**/*
  errata validation: any of: doc/errata/staging/*.yaml

fix(udm): use priviledged LDAP connection
  management/univention-directory-manager-modules/modules/univention/admin/allocators.py
  management/univention-directory-manager-modules/modules/univention/admin/authorization.py
  management/univention-directory-manager-modules/modules/univention/admin/config.py
  management/univention-directory-manager-modules/modules/univention/admin/guardian_roles.py
  management/univention-directory-manager-modules/modules/univention/admin/handlers/__init__.py
  management/univention-directory-manager-modules/modules/univention/admin/handlers/computers/__base.py
  management/univention-directory-manager-modules/modules/univention/admin/handlers/computers/ipmanagedclient.py
  management/univention-directory-manager-modules/modules/univention/admin/handlers/computers/trustaccount.py
  management/univention-directory-manager-modules/modules/univention/admin/handlers/container/__init__.py
  management/univention-directory-manager-modules/modules/univention/admin/handlers/container/cn.py
  management/univention-directory-manager-modules/modules/univention/admin/handlers/container/dc.py
  management/univention-directory-manager-modules/modules/univention/admin/handlers/container/ou.py
  management/univention-directory-manager-modules/modules/univention/admin/handlers/dhcp/server.py
  management/univention-directory-manager-modules/modules/univention/admin/handlers/groups/group.py
  management/univention-directory-manager-modules/modules/univention/admin/handlers/nagios/service.py
  management/univention-directory-manager-modules/modules/univention/admin/handlers/networks/network.py
  management/univention-directory-manager-modules/modules/univention/admin/handlers/shares/printer.py
  management/univention-directory-manager-modules/modules/univention/admin/handlers/shares/printergroup.py
  management/univention-directory-manager-modules/modules/univention/admin/handlers/shares/share.py
  management/univention-directory-manager-modules/modules/univention/admin/handlers/users/contact.py
  management/univention-directory-manager-modules/modules/univention/admin/handlers/users/ldap.py
  management/univention-directory-manager-modules/modules/univention/admin/handlers/users/user.py
  management/univention-directory-manager-modules/modules/univention/admin/locking.py
  management/univention-directory-manager-modules/modules/univention/admin/modules.py
  management/univention-directory-manager-modules/modules/univention/admin/nagios.py
  management/univention-directory-manager-modules/modules/univention/admin/syntax.py
  management/univention-directory-manager-modules/modules/univention/admin/uldap.py
  management/univention-management-console-module-udm/umc/python/udm/udm_ldap.py
Due: deb-pipeline

fixup! use existing test ou
  test/ucs-test/tests/42_authorization/02_umc.py
Due: deb-pipeline

More handling of objects
  management/univention-directory-manager-modules/modules/univention/admin/authorization.py
Due: deb-pipeline

fixup! ouadmin can't see global groups/users container
  management/univention-directory-manager-modules/umc-udm-roles.json
  test/ucs-test/tests/42_authorization/02_umc.py
Due: deb-pipeline

fixup! added test case for mail/domain
  test/ucs-test/tests/42_authorization/02_umc.py
Due: deb-pipeline

Bug #58257: fix version number in yaml
  doc/errata/staging/wpa.yaml
Due: errata validation

Bug #58304: ghostscript ANNOUNCE
  doc/errata/published/2025-05-21_1272_ghostscript.yaml
Due: none

Bug #58302: intel-microcode ANNOUNCE
  doc/errata/published/2025-05-21_1273_intel-microcode.yaml
Due: none

Bug #58303: simplesamlphp ANNOUNCE
  doc/errata/published/2025-05-21_1275_simplesamlphp.yaml
Due: none

Bug #58308: open-vm-tools ANNOUNCE
  doc/errata/published/2025-05-21_1274_open-vm-tools.yaml
Due: none

Bug #58257: wpa ANNOUNCE
  doc/errata/published/2025-05-21_1276_wpa.yaml
Due: none

Bug #58305: libraw ANNOUNCE
  doc/errata/published/2025-05-21_1713_libraw.yaml
Due: none

Bug #58306: intel-microcode ANNOUNCE
  doc/errata/published/2025-05-21_1712_intel-microcode.yaml
Due: none

Bug #58309: open-vm-tools ANNOUNCE
  doc/errata/published/2025-05-21_1714_open-vm-tools.yaml
Due: none

fix(udm): don't store normalized DNs when parsing syntax class values
  doc/errata/staging/univention-directory-manager-modules.yaml
  management/univention-directory-manager-modules/debian/changelog
  management/univention-directory-manager-modules/modules/univention/admin/syntax.py
  test/ucs-test/tests/59_udm/63_test_udm_containers_with_special_chars.py
Due: deb-pipeline, errata validation

fixup! fix(udm): don't store normalized DNs when parsing syntax class values
  doc/errata/staging/univention-directory-manager-modules.yaml
Due: errata validation

Bug #58261: Add tests for DN normalization problems: ou=+1
  test/ucs-test/debian/changelog
Due: deb-pipeline

Bug #58261: Add tests for DN normalization problems: ou=+1
  test/ucs-test/tests/59_udm/63_test_udm_containers_with_special_chars.py
Due: deb-pipeline

Bug #58312: Fix py2 incompatible code from cherry-pick
  management/univention-directory-manager-modules/debian/changelog
  management/univention-directory-manager-modules/modules/univention/admin/syntax.py
Due: deb-pipeline

Bug #58312: New package version
  doc/errata/staging/univention-directory-manager-modules.yaml
Due: errata validation

test(ucs-test): Move import into fixture to avoid import errors in some school tests
  test/ucs-test/debian/changelog
  test/ucs-test/tests/conftest.py
Due: deb-pipeline

Bug #58312: univention-directory-manager-modules ANNOUNCE
  doc/errata/published/2025-05-22_1277_univention-directory-manager-modules.yaml
Due: none

feat: re-add load-balancer config to ID-Broker env
  test/scenarios/autotest-247-ucsschool-id-broker.cfg
  test/utils/utils-school-idbroker.sh
Due: none

fix: log OIDC backchannel logout dabatase timeouts
  management/univention-management-console/debian/changelog
  management/univention-management-console/src/univention/management/console/oidc.py
Due: deb-pipeline

fix: joining backups in parallel seems to be error-prone
  test/scenarios/autotest-247-ucsschool-id-broker.cfg
Due: none

test(environment): guardian setup for delegative administration
  test/scenarios/delegated-administration-testing/primary-with-guardian.cfg
  test/utils/utils-delegated-administration.sh
Due: none

feat(udm): new authorization config format
  doc/ext-delegative-administration/concepts.rst
  doc/ext-delegative-administration/configuration.rst
  management/univention-directory-manager-modules/modules/univention/admin/authorization.py
  management/univention-directory-manager-modules/umc-udm-roles.json
  management/univention-directory-manager-modules/unittests/test_authorization.py
Due: doc-pipeline, deb-pipeline

Issue univention/ucs#2815: fixed filtering syntax choices
  management/univention-management-console-module-udm/umc/python/udm/udm_ldap.py
  test/ucs-test/tests/60_umc/106_udm_syntax_choices_delegation.py
Due: deb-pipeline

test(environment): add guardian setup for delegated administration
  test/scenarios/delegated-administration-testing/primary-with-guardian.cfg
Due: none

Issue univention/ucs#2807: added authorization test for mail/domain
  test/ucs-test/tests/60_umc/25_authorization.py
Due: deb-pipeline

fixup! run udm umc udm-rest tests in all scenarios
  test/scenarios/delegated-administration-testing/primary-with-guardian.cfg
  test/scenarios/delegated-administration-testing/primary.cfg
Due: none

disable unit tests for now
  management/univention-directory-manager-modules/unittests/test_authorization.py
Due: deb-pipeline

test(ucs-test-authorization): move existing authorization tests into new test section 42_authorization
  test/ucs-test/debian/control
  test/ucs-test/debian/ucs-test-authorization.install
  test/ucs-test/tests/42_authorization/02_umc.py
Due: deb-pipeline

fixup! more tests
  test/ucs-test/tests/42_authorization/02_umc.py
Due: deb-pipeline

fix: fix error messages for 502/503 HTTP errors for services underneath of /univention/
  management/univention-management-console/usr/share/univention-management-console/error.py
Due: deb-pipeline

test(setup): create some groups
  test/utils/create-delegated-administration-setup.py
Due: none
