Repository univention/univention-corporate-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build ucslint, doc-pipeline, deb-pipeline, errata validation

build ucslint:
  stage: prepare
  variables:
    KANIKO_BUILD_CONTEXT: packaging/ucslint
    KANIKO_ARGS: --build-arg ucs=$ucs --cache=true

doc-pipeline:
  stage: build
  needs:
  - job: generate-config
  trigger:
    include:
    - artifact: generated-config-doc.yml
      job: generate-config
    strategy: depend
    forward:
      pipeline_variables: true

deb-pipeline:
  stage: build
  needs:
  - job: generate-config
  - job: prepare aptly
  - job: select ucslint
  variables:
    UCSLINT: $UCSLINT
  trigger:
    include:
    - artifact: generated-config-deb.yml
      job: generate-config
    strategy: depend
    forward:
      pipeline_variables: true

errata validation:
  stage: prepare
  tags:
  - omar
  resource_group: omar
  needs: []
  variables:
    VAULT_AUTH_ROLE: ucs-production
  secrets:
    BUGZILLA_CFG:
      vault:
        engine:
          name: kv-v2
          path: secret
        path: dist/repo-ng/production/bugzilla
        field: cfg
  script:
  ...

Bug #57072,Bug #57098: univention-s4-connector ANNOUNCE
  doc/errata/published/2024-03-07_984_univention-s4-connector.yaml
Due: none

Bug #55555: univention-directory-manager-rest ANNOUNCE
  doc/errata/published/2024-03-07_987_univention-directory-manager-rest.yaml
Due: none

Bug #56911: univention-config-registry ANNOUNCE
  doc/errata/published/2024-03-07_989_univention-config-registry.yaml
Due: none

Bug #56911: univention-server ANNOUNCE
  doc/errata/published/2024-03-07_988_univention-server.yaml
Due: none

Bug #56911,Bug #57098: univention-python ANNOUNCE
  doc/errata/published/2024-03-07_983_univention-python.yaml
Due: none

Bug #55555,Bug #57046: univention-management-console-module-udm ANNOUNCE
  doc/errata/published/2024-03-07_993_univention-management-console-module-udm.yaml
Due: none

Bug #56911: univention-system-setup ANNOUNCE
  doc/errata/published/2024-03-07_992_univention-system-setup.yaml
Due: none

Bug #57119 up: Adapt links and components for 5.0-7
  base/univention-updater/debian/changelog
  base/univention-updater/debian/univention-updater.postinst
  base/univention-updater/script/check.sh
  base/univention-updater/script/postup.sh
  base/univention-updater/script/preup.sh
Due: deb-pipeline

Bug #57125 ISO: UCS-5.0-7 ISO
  base/univention-dvd/data/ucs507/amd64_netinst_udeb_include
  base/univention-dvd/data/ucs507/amd64_udeb_include
  base/univention-dvd/data/ucs507/exclude-udebs
  base/univention-dvd/data/ucs507/exclude-udebs-amd64
  base/univention-dvd/data/ucs507/grub-theme.in
  base/univention-dvd/data/ucs507/hl_c.png
  base/univention-dvd/data/ucs507/udeb_exclude
  base/univention-dvd/data/ucs507/udeb_include
  base/univention-dvd/debian/changelog
  base/univention-dvd/tasks/ucs507/empty
  base/univention-dvd/tasks/ucs507/exclude
  base/univention-dvd/tasks/ucs507/forcd1
  base/univention-dvd/tasks/ucs507/task-ucs507
  base/univention-dvd/tools/boot/ucs507/boot-amd64
  base/univention-dvd/tools/boot/ucs507/boot-x86
  base/univention-dvd/tools/boot/ucs507/common.sh
  base/univention-dvd/tools/boot/ucs507/parse_isolinux
  base/univention-dvd/tools/boot/ucs507/x86-desktop.sh
  base/univention-dvd/tools/ucs507
  base/univention-dvd/ucs507.conf
Due: deb-pipeline

doc(changelog,releasenotes): 5.0-7
  doc/changelog/conf.py
  doc/changelog/index.rst
  doc/changelog/spelling_wordlist
  doc/release-notes/index.rst
  doc/release-notes/locales/de/LC_MESSAGES/index.po
  doc/release-notes/release-notes-5.0-7-de.html
  doc/release-notes/release-notes-5.0-7-en.html
Due: doc-pipeline

feat(updater): require all systems in the domain to have UCS 5.0-7 to upgrade
  base/univention-updater/debian/changelog
  base/univention-updater/script/check.sh
  management/univention-join/debian/changelog
  management/univention-join/ensure-minmum-ucs-version
Due: deb-pipeline

feat(univention-dvd): UCS 5.1-0 DVD
  base/univention-dvd/data/ucs510/amd64_netinst_udeb_include
  base/univention-dvd/data/ucs510/amd64_udeb_include
  base/univention-dvd/data/ucs510/exclude-udebs
  base/univention-dvd/data/ucs510/exclude-udebs-amd64
  base/univention-dvd/data/ucs510/grub-theme.in
  base/univention-dvd/data/ucs510/hl_c.png
  base/univention-dvd/data/ucs510/udeb_exclude
  base/univention-dvd/data/ucs510/udeb_include
  base/univention-dvd/tasks/ucs510/empty
  base/univention-dvd/tasks/ucs510/exclude
  base/univention-dvd/tasks/ucs510/forcd1
  base/univention-dvd/tasks/ucs510/task-ucs510
  base/univention-dvd/tools/boot/ucs510/boot-amd64
  base/univention-dvd/tools/boot/ucs510/boot-x86
  base/univention-dvd/tools/boot/ucs510/common.sh
  base/univention-dvd/tools/boot/ucs510/parse_isolinux
  base/univention-dvd/tools/boot/ucs510/x86-desktop.sh
  base/univention-dvd/tools/ucs510
  base/univention-dvd/ucs510.conf
Due: deb-pipeline

docs: adjust for UCS 5.1
  doc/README.md
  doc/app-center/README.md
  doc/app-center/app-provider-5.0.html
  doc/app-center/conf.py
  doc/app-center/configurations.rst
  doc/app-center/get_started.rst
  doc/app-center/lifecycle.rst
  doc/app-center/links.txt
  doc/architecture/conf.py
  doc/architecture/links.txt
  doc/bibliography-de.bib
  doc/bibliography.bib
  doc/changelog/README.md
  doc/changelog/conf.py
  doc/developer-reference/conf.py
  doc/developer-reference/developer-reference-5.0.html
  doc/developer-reference/packaging.rst
Due: doc-pipeline

feat(updater): increase version/* UCR variables for UCS 5.1
  base/univention-updater/debian/univention-updater.postinst
Due: deb-pipeline

ci(jenkins): UCS 5.1
  test/scenarios/kvm-templates/primary-with-200000-users-kvm-template.cfg
  test/utils/start-test.sh
Due: none

feat(updater): adjust preup.sh for UCS 5.1
  base/univention-updater/debian/changelog
  base/univention-updater/script/check.sh
  base/univention-updater/script/postup.sh
  base/univention-updater/script/preup.sh
Due: deb-pipeline

ci(gitlab): UCS 5.1-0
  .gitlab-ci.yml
  .gitlab-ci/base-doc.yml
  .gitlab-ci/base.yml
Due: none

feat(updater): add preup check to remove obsolete objects
  base/univention-updater/debian/changelog
  base/univention-updater/script/check.sh
  base/univention-updater/script/preup.sh
  doc/changelog/spelling_wordlist
  doc/changelog/staged/changelog-deployment.56134.rst
Due: doc-pipeline, deb-pipeline

feat(udm): register Python UDM extensions only for Python 3
  management/univention-directory-manager-modules/listener/udm_extension.py
Due: deb-pipeline

test: drop Python 2.7 references
  test/ucs-test/tests/03_ucr/37check-ucr-templates-py3-migration-status.py
  test/ucs-test/tests/59_udm/72_test_udm_extensions.py
  test/ucs-test/univention/testing/coverage.py
  test/ucs-test/univention/testing/udm_extensions.py
Due: deb-pipeline

feat(nagios): check only for Python 3 services
  monitoring/univention-monitoring-client/alerts-ad-connector/check_univention_ad_connector
  monitoring/univention-monitoring-client/alerts-s4-connector/check_univention_s4_connector
  monitoring/univention-monitoring-client/debian/changelog
  monitoring/univention-nagios-ad-connector/check_univention_ad_connector
  monitoring/univention-nagios-ad-connector/debian/changelog
  monitoring/univention-nagios-s4-connector/check_univention_s4_connector
  monitoring/univention-nagios-s4-connector/debian/changelog
Due: deb-pipeline

feat(UMC): remove compatibility for Python 2 in UMC modules
  management/univention-management-console/dev/dh-umc-module-install
  management/univention-management-console/src/univention/management/console/module.py
  management/univention-management-console/src/univention/management/console/resources.py
  packaging/univention-l10n/univention/l10n/umc.py
Due: deb-pipeline

docs(developer-reference): remove required Python 2.7 directories
  doc/developer-reference/udm/package-extended-attributes.rst
  doc/developer-reference/udm/syntax.rst
  doc/developer-reference/udm/udm-modules.rst
Due: doc-pipeline

chore(python): remove python2.7/sitecustomize
  base/univention-base-files/conffiles/etc/python2.7/sitecustomize.py.d/00header.py
  base/univention-base-files/conffiles/etc/python2.7/sitecustomize.py.d/10apport.py
  base/univention-base-files/conffiles/etc/python2.7/sitecustomize.py.d/20utf8.py
  base/univention-base-files/debian/ucslint.overrides
  base/univention-base-files/debian/univention-base-files.maintscript
  base/univention-base-files/debian/univention-base-files.univention-config-registry
Due: deb-pipeline

fix(umc): update UMC SAML metadata in Keycloak on changes
  management/univention-management-console/92univention-management-console-web-server.inst
  management/univention-management-console/debian/changelog
  management/univention-management-console/usr/share/univention-management-console/saml/update_metadata
  services/univention-keycloak/debian/univention-keycloak-client.install
Due: deb-pipeline

chore: replace UCS version to 5.1
  README.dev.md
  base/univention-system-activation/www/ActivationWizard.js
  base/univention-updater/README.md
  base/univention-updater/doc/code.md
  base/univention-updater/doc/layout4.md
  management/univention-appcenter/unittests/conftest.py
  management/univention-appcenter/unittests/dependencies.ldif
  management/univention-appcenter/unittests/inis/dependencies/5.0/self-service-backend_20200312115710.ini
  management/univention-appcenter/unittests/inis/dependencies/5.0/self-service_20151117.ini
  management/univention-appcenter/unittests/inis/install_checks/5.0/samba-memberserver.ini
  management/univention-appcenter/unittests/inis/install_checks/5.0/self-service-backend_20200312115710.ini
  management/univention-appcenter/unittests/inis/install_checks/5.0/self-service_20151117.ini
  management/univention-appcenter/unittests/install_checks.ldif
  management/univention-directory-listener/README.md
  management/univention-management-console-module-diagnostic/umc/python/diagnostic/de.po
  management/univention-management-console-module-diagnostic/umc/python/diagnostic/plugins/21_check_join_status.py
  management/univention-portal/frontend/builder/sources.list
  management/univention-self-service/debian/univention-self-service-passwordreset-umc.postinst
Due: deb-pipeline

chore(univention-errata-level): remove Python packages from unmaintained
  base/univention-errata-level/maintained-packages.txt
Due: deb-pipeline

docs(developer-reference): remove "Python 3 migration" from developer-reference
  doc/developer-reference/ucr/index.rst
  doc/developer-reference/ucr/python3.rst
  doc/developer-reference/udm/index.rst
  doc/developer-reference/udm/python3-migration.rst
  doc/developer-reference/umc/index.rst
  doc/developer-reference/umc/python-migration.rst
Due: doc-pipeline

refactor(appcenter): remove unneeded code from App Center UMC module
  doc/changelog/staged/changelog-umc-appcenter.56724.rst
  management/univention-appcenter/debian/changelog
  management/univention-appcenter/debian/univention-management-console-module-appcenter.install
  management/univention-appcenter/scripts/univention-register-apps
  management/univention-appcenter/scripts/univention-rename-app
  management/univention-appcenter/umc/python/appcenter/util.py
Due: doc-pipeline, deb-pipeline

fix(UDL): fix comparsion with pointer value intead of memory address
  management/univention-directory-listener/src/cache_entry.c
Due: deb-pipeline

refactor(grub): disable serial memtest grub entries
  base/univention-grub/conffiles/etc/default/grub
Due: deb-pipeline

fix(UDL): Migrate univention-directory-listener to Python 3.9
  doc/changelog/staged/changelog-domain-openldap-replication.56533.rst
  management/univention-directory-listener/debian/changelog
  management/univention-directory-listener/src/Makefile
  management/univention-directory-listener/src/handlers.c
  management/univention-directory-listener/src/handlers.h
Due: doc-pipeline, deb-pipeline

fix(UDL): fix listener segfault for modules using new listener API
  management/univention-directory-listener/src/handlers.c
  management/univention-directory-listener/src/handlers.h
Due: deb-pipeline

Path conditions:
  build ucslint: any of: packaging/ucslint/**/*
  doc-pipeline: any of: doc/[^e]*/**/*, doc/e[^r]*/**/*, doc/er[^r]*/**/*, doc/err[^a]*/**/*, doc/erra[^t]*/**/*, doc/errat[^a]*/**/*, doc/errata?*/**/*
  deb-pipeline: any of: [^dt.]*/*/**/*, d[^o]*/*/**/*, do[^c]*/*/**/*, doc?*/*/**/*, t[^e]*/*/**/*, te[^s]*/*/**/*, tes[^t]*/*/**/*, test?*/*/**/*, test/generate-appliance/**/*, test/ucs-test/**/*, test/ucs-test-tools/**/*, test/univention-demo-configuration/**/*
  errata validation: any of: doc/errata/staging/*.yaml
