Repository univention/univention-corporate-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build ucslint, doc-pipeline, deb-pipeline, errata validation

build ucslint:
  stage: prepare
  variables:
    KANIKO_BUILD_CONTEXT: packaging/ucslint
    KANIKO_ARGS: --build-arg ucs=$ucs --cache=true

doc-pipeline:
  stage: build
  needs:
  - job: generate-config
  trigger:
    include:
    - artifact: generated-config-doc.yml
      job: generate-config
    strategy: depend
    forward:
      pipeline_variables: true

deb-pipeline:
  stage: build
  needs:
  - job: generate-config
  - job: prepare aptly
  - job: select ucslint
  variables:
    UCSLINT: $UCSLINT
  trigger:
    include:
    - artifact: generated-config-deb.yml
      job: generate-config
    strategy: depend
    forward:
      pipeline_variables: true

errata validation:
  stage: prepare
  tags:
  - omar
  resource_group: omar
  needs: []
  variables:
    VAULT_AUTH_ROLE: ucs-production
  secrets:
    BUGZILLA_CFG:
      vault:
        engine:
          name: kv-v2
          path: secret
        path: dist/repo-ng/production/bugzilla
        field: cfg
  script:
  ...

test(ldap): add DDS integration tests for recyclebin automatic purging
  test/ucs-test/tests/10_ldap/122_dds_integration_entryTtl.py
  test/ucs-test/tests/10_ldap/123_dds_refresh_integration.py
Due: deb-pipeline

feat(udm-rest): add restore operation support
  management/univention-directory-manager-rest/src/univention/admin/rest/async_client.py
  management/univention-directory-manager-rest/src/univention/admin/rest/client/__init__.py
  management/univention-directory-manager-rest/src/univention/admin/rest/de.po
  management/univention-directory-manager-rest/src/univention/admin/rest/module.py
  management/univention-directory-manager-rest/src/univention/admin/rest/openapi.py
Due: deb-pipeline

feat(admin-diary): add RESTORED event
  services/univention-admin-diary/python/admindiary/events.py
Due: deb-pipeline

test(udm-rest): add tests for restore functionality
  test/ucs-test/tests/42_authorization/01_domain_administrator_umc.py
  test/ucs-test/tests/42_authorization/02_organizational_unit_administrator_umc.py
  test/ucs-test/tests/59_udm/82_recyclebin.py
  test/ucs-test/tests/73_udm-rest/10_test_recyclebin_restore.py
Due: deb-pipeline

feat(udm): implement automatic recyclebin purging
  management/univention-directory-manager-modules/listener/recyclebin.py
  management/univention-ldap/acl/65univention-recyclebin.acl
  management/univention-ldap/conffiles/etc/ldap/slapd.conf.d/31modules
  management/univention-ldap/conffiles/etc/ldap/slapd.conf.d/95internal
  management/univention-ldap/debian/univention-ldap-server.univention-config-registry
  management/univention-ldap/debian/univention-ldap-server.univention-config-registry-variables
Due: deb-pipeline

chore(xorg-server): create advisory for 2:1.20.4-1+deb10u18
  doc/errata/staging/xorg-server.yaml
Due: errata validation

chore(ghostscript): create advisory for 9.27~dfsg-2+deb10u12
  doc/errata/staging/ghostscript.yaml
Due: errata validation

chore(git): create advisory for 1:2.20.1-2+deb10u11
  doc/errata/staging/git.yaml
Due: errata validation

chore(openssl): create advisory for 1.1.1n-0+deb10u8
  doc/errata/staging/openssl.yaml
Due: errata validation

chore(intel-microcode): create advisory for 3.20250812.1~deb10u1
  doc/errata/staging/intel-microcode.yaml
Due: errata validation

chore(intel-microcode): create advisory for 3.20250812.1~deb9u1
  doc/errata/staging/intel-microcode.yaml
Due: errata validation

chore(xorg-server): create advisory for 2:1.19.2-1+deb9u23
  doc/errata/staging/xorg-server.yaml
Due: errata validation

chore(openssl1.0): create advisory for 1.0.2u-1~deb9u11
  doc/errata/staging/openssl1.0.yaml
Due: errata validation

chore(openssl): create advisory for 1.1.0l-1~deb9u11
  doc/errata/staging/openssl.yaml
Due: errata validation

chore(git): create advisory for 1:2.11.0-3+deb9u13
  doc/errata/staging/git.yaml
Due: errata validation

chore(squid): create advisory for 5.7-2+deb12u4A~5.2.3.202511031026
  doc/errata/staging/squid.yaml
Due: errata validation

chore(xorg-server): create advisory for 2:21.1.7-3+deb12u11
  doc/errata/staging/xorg-server.yaml
Due: errata validation

feat(ldap-overlay-memberof): index memberOf attribute
  doc/errata/staging/univention-ldap-overlay-memberof.yaml
  management/univention-ldap-overlay-memberof/conffiles/etc/ldap/slapd.conf.d/41univention-ldap-overlay-memberof
  management/univention-ldap-overlay-memberof/debian/changelog
  management/univention-ldap-overlay-memberof/debian/univention-ldap-overlay-memberof.postinst
Due: deb-pipeline, errata validation

test: provisioning: Run e2e provisioning test on ucs.
  test/ucs-test/debian/changelog
  test/ucs-test/debian/control
  test/ucs-test/tests/26_provisioning/01_basic.py
  test/ucs-test/tests/26_provisioning/02_e2e_tests
Due: deb-pipeline

chore(test): Increase number of connections in this big environment scenario
  test/scenarios/keycloak/keycloak-external-fqdn.cfg
Due: none

Bug #58774, Bug #58775, Bug #58776: YAML files for security backports
  doc/errata/staging/ffmpeg.yaml
  doc/errata/staging/libxml2.yaml
  doc/errata/staging/unbound.yaml
Due: errata validation

test: fix copy paste error s4 -> ad
  test/ucs-test/debian/changelog
  test/ucs-test/tests/55_adconnector/189sync_ad_move_container
  test/ucs-test/tests/55_adconnector/189sync_ad_remove_container
  test/ucs-test/tests/55_adconnector/189sync_ucs_move_container
  test/ucs-test/tests/55_adconnector/189sync_ucs_remove_container
  test/ucs-test/tests/55_adconnector/199sync_ad_move_ou
  test/ucs-test/tests/55_adconnector/199sync_ad_remove_ou
  test/ucs-test/tests/55_adconnector/199sync_ucs_move_ou
  test/ucs-test/tests/55_adconnector/199sync_ucs_remove_ou
  test/ucs-test/tests/55_adconnector/289read_ad_move_container
  test/ucs-test/tests/55_adconnector/289read_ad_remove_container
  test/ucs-test/tests/55_adconnector/289read_ucs_move_container
  test/ucs-test/tests/55_adconnector/289read_ucs_remove_container
  test/ucs-test/tests/55_adconnector/299read_ad_move_ou
  test/ucs-test/tests/55_adconnector/299read_ad_remove_ou
  test/ucs-test/tests/55_adconnector/299read_ucs_move_ou
  test/ucs-test/tests/55_adconnector/299read_ucs_remove_ou
  test/ucs-test/tests/55_adconnector/389write_ad_move_container
  test/ucs-test/tests/55_adconnector/389write_ad_remove_container
  test/ucs-test/tests/55_adconnector/389write_ucs_move_container
  test/ucs-test/tests/55_adconnector/389write_ucs_remove_container
  test/ucs-test/tests/55_adconnector/399write_ad_move_ou
  test/ucs-test/tests/55_adconnector/399write_ad_remove_ou
  test/ucs-test/tests/55_adconnector/399write_ucs_move_ou
  test/ucs-test/tests/55_adconnector/399write_ucs_remove_ou
Due: deb-pipeline

docs(udm-modules): fix typos in README-authorization
  management/univention-directory-manager-modules/README-authorization.md
Due: deb-pipeline

ci(pre-commit): add license for matrix.job files
  REUSE.toml
  update-reuse-toml.py
Due: none

test: provisioning: convert provisioning test into matrix jobs
  test/product-tests/provisioning/matrix.job
  test/product-tests/provisioning/provisioning-backup.cfg
  test/product-tests/provisioning/provisioning-primary.cfg
Due: none

fix(tests): Adapt Keycloak test oto 26.4.2
  test/ucs-test/debian/changelog
  test/ucs-test/tests/81_keycloak/10_legacy_authorization.py
Due: deb-pipeline

test: provisioning: fix convert provisioning test into matrix jobs
  test/product-tests/provisioning/base/backup.cfg
  test/product-tests/provisioning/base/primary.cfg
  test/product-tests/provisioning/matrix.job
Due: none

test: provisioning: fix convert provisioning test into matrix jobs
  test/product-tests/base/provisioning/backup.cfg
  test/product-tests/base/provisioning/matrix.job
  test/product-tests/base/provisioning/primary.cfg
Due: none

fixup! fix(tests): Adapt Keycloak test oto 26.4.2
  test/ucs-test/debian/changelog
  test/ucs-test/tests/81_keycloak/15_conditional_kerberos.py
Due: deb-pipeline

test: provisioning: require app provisioning-service to be installed to run provisioning tests.
  test/ucs-test/debian/changelog
  test/ucs-test/tests/26_provisioning/01_basic.py
  test/ucs-test/tests/26_provisioning/02_e2e_tests
Due: deb-pipeline

ci(pre-commit): add prepare-commit-message pre-commit hook
  .pre-commit/conventional-commit-message
  .pre-commit/prepare-commit-msg
Due: none

ci(pre-commit): backport recent pre-commit changes from UCS 5.2
  .pre-commit-config.yaml
  Makefile
  pyproject.toml
Due: none

refactor(ad-connector): let modify_in_ucs return the DN rather than a bool
  services/univention-ad-connector/modules/univention/connector/__init__.py
Due: deb-pipeline

fix(ad-connector): update cached child DNs when OU or CN are renamed
  services/univention-ad-connector/modules/univention/connector/__init__.py
  services/univention-ad-connector/modules/univention/connector/ad/__init__.py
Due: deb-pipeline

fix(ad-connector): update cached member DNs when OU or CN are renamed
  services/univention-ad-connector/modules/univention/connector/ad/__init__.py
Due: deb-pipeline

fix(ad-connector): update cached member DNs when OU or CN are renamed
  services/univention-ad-connector/modules/univention/connector/__init__.py
Due: deb-pipeline

fix(ad-connector): _update_group_member_cache should not add dn to all groups
  services/univention-ad-connector/modules/univention/connector/ad/__init__.py
Due: deb-pipeline

fix(ad-connector): update cached member DNs when OU or CN are renamed
  services/univention-ad-connector/modules/univention/connector/__init__.py
  services/univention-ad-connector/modules/univention/connector/ad/__init__.py
Due: deb-pipeline

Path conditions:
  build ucslint: any of: packaging/ucslint/**/*
  doc-pipeline: any of: doc/[^e]*/**/*, doc/e[^r]*/**/*, doc/er[^r]*/**/*, doc/err[^a]*/**/*, doc/erra[^t]*/**/*, doc/errat[^a]*/**/*, doc/errata?*/**/*
  deb-pipeline: any of: [^dt.]*/*/**/*, d[^o]*/*/**/*, do[^c]*/*/**/*, doc?*/*/**/*, t[^e]*/*/**/*, te[^s]*/*/**/*, tes[^t]*/*/**/*, test?*/*/**/*, test/generate-appliance/**/*, test/ucs-test/**/*, test/ucs-test-tools/**/*, test/univention-demo-configuration/**/*
  errata validation: any of: doc/errata/staging/*.yaml
