Repository univention/univention-corporate-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build ucslint, doc-pipeline, deb-pipeline, errata validation

Path conditions:
  build ucslint: any of: packaging/ucslint/**/*
  doc-pipeline: any of: doc/[^e]*/**/*, doc/e[^r]*/**/*, doc/er[^r]*/**/*, doc/err[^a]*/**/*, doc/erra[^t]*/**/*, doc/errat[^a]*/**/*, doc/errata?*/**/*
  deb-pipeline: any of: [^dt.]*/*/**/*, d[^o]*/*/**/*, do[^c]*/*/**/*, doc?*/*/**/*, t[^e]*/*/**/*, te[^s]*/*/**/*, tes[^t]*/*/**/*, test?*/*/**/*, test/generate-appliance/**/*, test/ucs-test/**/*, test/ucs-test-tools/**/*, test/univention-demo-configuration/**/*
  errata validation: any of: doc/errata/staging/*.yaml

test(adconnector): ruff and isort
  test/ucs-test/tests/55_adconnector/510test_allow_filter.py
Due: deb-pipeline

test(browser): increase networkidle timeout
  test/ucs-test/debian/changelog
  test/ucs-test/univention/testing/browser/lib.py
Due: deb-pipeline

Issue univention/ucs#2279: Fix french ad tests
  test/ucs-test/debian/changelog
  test/ucs-test/tests/86_browser/18_overview_false.py
  test/ucs-test/univention/testing/browser/generic_udm_module.py
  test/ucs-test/univention/testing/browser/ldap_directory.py
  test/ucs-test/univention/testing/browser/process_overview.py
Due: deb-pipeline

Bug #57460: binutils 2.28-5+deb9u1
  doc/errata/staging/binutils.yaml
Due: errata validation

Bug #57461: imagemagick 8:6.9.10.23+dfsg-2.1+deb10u8
  doc/errata/staging/imagemagick.yaml
Due: errata validation

Bug #57462: binutils 2.31.1-16+deb10u1
  doc/errata/staging/binutils.yaml
Due: errata validation

Issue univention/ucs#2279: Use correct password to fetch logfiles
  test/ucs-test/tests/99_end/01_var_log_tracebacks.py
Due: deb-pipeline

Issue univention/ucs#2279: force certificate enrollment twice, sometimes once is not enough
  test/scenarios/ad-membermode/autotest-240-admember-w2019-english-forest-child.cfg
Due: none

Issue univention/ucs#2279: Skip s4 test for ad environments
  test/ucs-test/tests/52_s4connector/516_create_delete_objects_in_ucs_check_sync.py
Due: deb-pipeline

Issue univention/ucs#2279: Changelog
  test/ucs-test/debian/changelog
Due: deb-pipeline

Issue univention/ucs#2279: smbclient seems to expect FAST kerberos
  test/ucs-test/debian/changelog
  test/ucs-test/tests/55_adconnector/050sync_password_sync
  test/ucs-test/tests/55_adconnector/109sync_create_and_modify_ucs_to_ad
Due: deb-pipeline

Bug #57453: Make sqlite tables of AD/S4-Connector only readable to root
  management/univention-management-console-module-diagnostic/debian/changelog
  management/univention-management-console-module-diagnostic/umc/python/diagnostic/plugins/31_file_permissions.py
  services/univention-ad-connector/debian/changelog
  services/univention-ad-connector/debian/univention-ad-connector.postinst
  services/univention-s4-connector/debian/changelog
  services/univention-s4-connector/debian/univention-s4-connector.postinst
Due: deb-pipeline

Bug #57453: Whitespace adjustments
  services/univention-ad-connector/debian/univention-ad-connector.postinst
  services/univention-s4-connector/debian/univention-s4-connector.postinst
Due: deb-pipeline

Bug #57453: Re-arrage touch and chmod commands
  services/univention-ad-connector/debian/univention-ad-connector.postinst
  services/univention-s4-connector/debian/univention-s4-connector.postinst
Due: deb-pipeline

Bug #57453: Prevent SQLite databases from being world readable
  management/univention-management-console-module-diagnostic/debian/changelog
  management/univention-management-console-module-diagnostic/umc/python/diagnostic/plugins/31_file_permissions.py
  services/univention-ad-connector/debian/changelog
  services/univention-ad-connector/debian/univention-ad-connector.postinst
  services/univention-s4-connector/debian/changelog
  services/univention-s4-connector/debian/univention-s4-connector.postinst
Due: deb-pipeline

Bug #57453: Added YAML files
  doc/errata/staging/univention-ad-connector.yaml
  doc/errata/staging/univention-management-console-module-diagnostic.yaml
  doc/errata/staging/univention-s4-connector.yaml
Due: errata validation

Bug #57453: Adjust changelog times
  services/univention-ad-connector/debian/changelog
Due: deb-pipeline

Bug #57449: apache2 ANNOUNCE
  doc/errata/published/2024-07-24_1593_apache2.yaml
Due: none

Bug #57460: binutils ANNOUNCE
  doc/errata/published/2024-07-24_1594_binutils.yaml
Due: none

Bug #57448: python-idna ANNOUNCE
  doc/errata/published/2024-07-24_1595_python-idna.yaml
Due: none

fix(umc): correct OIDC logout behaviour
  management/univention-management-console/conffiles/etc/apache2/sites-available/univention.conf
  management/univention-management-console/src/univention/management/console/oidc.py
Due: deb-pipeline

Bug #57453: Prevent SQLite databases from being world readable
  services/univention-ad-connector/debian/changelog
  services/univention-ad-connector/modules/univention/connector/ad/main.py
  services/univention-s4-connector/debian/changelog
  services/univention-s4-connector/modules/univention/s4connector/s4/main.py
Due: deb-pipeline

Bug #57453: Prevent SQLite databases from being world readable
  services/univention-ad-connector/debian/changelog
  services/univention-ad-connector/univention-ad-connector
  services/univention-s4-connector/debian/changelog
  services/univention-s4-connector/univention-s4-connector
Due: deb-pipeline

Bug #57462: binutils ANNOUNCE
  doc/errata/published/2024-07-25_1086_binutils.yaml
Due: none

Bug #57461: imagemagick ANNOUNCE
  doc/errata/published/2024-07-25_1087_imagemagick.yaml
Due: none

Bug #57421: univention-join ANNOUNCE
  doc/errata/published/2024-07-25_1088_univention-join.yaml
Due: none

Issue univention/ucs#2279: Fix tests fails due to localtime/utc conversion around midnight
  test/ucs-test/debian/changelog
  test/ucs-test/tests/55_adconnector/401check_posix_pwd_expiry_after_ad_pwdchange
Due: deb-pipeline

reload all logged in portal pages on logout
  management/univention-management-console/src/univention/management/console/resources.py
  management/univention-management-console/src/univention/management/console/server.py
  management/univention-management-console/src/univention/management/console/shared_memory.py
  management/univention-management-console/src/univention/management/console/sse.py
  management/univention-portal/frontend/src/App.vue
Due: deb-pipeline

fix(sync-memberuid): repair and modernize univention-sync-memberuid
  doc/errata/staging/univention-directory-manager-modules.yaml
  management/univention-directory-manager-modules/debian/changelog
  management/univention-directory-manager-modules/univention-sync-memberuid
  test/ucs-test/debian/changelog
  test/ucs-test/tests/59_udm/79_test_udm_univention_sync_memberuid.py
Due: deb-pipeline, errata validation

fix(sync-memberuid): repair and modernize univention-sync-memberuid
  management/univention-directory-manager-modules/debian/changelog
  management/univention-directory-manager-modules/univention-sync-memberuid
  test/ucs-test/debian/changelog
  test/ucs-test/tests/59_udm/79_test_udm_univention_sync_memberuid.py
Due: deb-pipeline

Bug #57453: Prevent SQLite databases from being world readable
  services/univention-ad-connector/scripts/remove_ad_rejected.py
  services/univention-ad-connector/scripts/remove_ucs_rejected.py
  services/univention-ad-connector/scripts/resync_object_from_ad.py
  services/univention-s4-connector/97univention-s4-connector.inst
  services/univention-s4-connector/scripts/remove_s4_rejected.py
  services/univention-s4-connector/scripts/remove_ucs_rejected.py
  services/univention-s4-connector/scripts/resync_object_from_s4.py
Due: deb-pipeline

Bug #57453: Prevent SQLite databases from being world readable
  services/univention-ad-connector/debian/changelog
  services/univention-ad-connector/scripts/remove_ad_rejected.py
  services/univention-ad-connector/scripts/remove_ucs_rejected.py
  services/univention-ad-connector/scripts/resync_object_from_ad.py
  services/univention-s4-connector/97univention-s4-connector.inst
  services/univention-s4-connector/debian/changelog
  services/univention-s4-connector/scripts/remove_s4_rejected.py
  services/univention-s4-connector/scripts/remove_ucs_rejected.py
  services/univention-s4-connector/scripts/resync_object_from_s4.py
  test/scenarios/base/ucs-ad-connector-w2k19.cfg
Due: deb-pipeline

Bug #57453: Yaml update
  doc/errata/staging/univention-ad-connector.yaml
  doc/errata/staging/univention-s4-connector.yaml
Due: errata validation
