Repository univention/univention-corporate-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build ucslint, doc-pipeline, deb-pipeline, errata validation

Path conditions:
  build ucslint: any of: packaging/ucslint/**/*
  doc-pipeline: any of: doc/[^e]*/**/*, doc/e[^r]*/**/*, doc/er[^r]*/**/*, doc/err[^a]*/**/*, doc/erra[^t]*/**/*, doc/errat[^a]*/**/*, doc/errata?*/**/*
  deb-pipeline: any of: [^dt.]*/*/**/*, d[^o]*/*/**/*, do[^c]*/*/**/*, doc?*/*/**/*, t[^e]*/*/**/*, te[^s]*/*/**/*, tes[^t]*/*/**/*, test?*/*/**/*, test/generate-appliance/**/*, test/ucs-test/**/*, test/ucs-test-tools/**/*, test/univention-demo-configuration/**/*
  errata validation: any of: doc/errata/staging/*.yaml

chore(libpng1.6): create advisory for 1.6.28-1+deb9u3
  doc/errata/staging/libpng1.6.yaml
Due: errata validation

docs(ucs-operation): Rework boot manager content
  doc/ucs-operation/system-administration/boot-manager.rst
Due: doc-pipeline

docs(ucs-operation): Add grub ucr variables
  doc/ucs-operation/ucr-variable-reference.rst
Due: doc-pipeline

docs(ucs-operation): Add changelog entry for boot manager
  doc/ucs-operation/changelog.rst
Due: doc-pipeline

docs(ucs-operation): Add Linux Kernel docs to intersphinx mapping
  doc/ucs-operation/conf.py
Due: doc-pipeline

docs(ucs-operation): Update screenshot for boot manager
  doc/ucs-operation/images/computers_grub.png
Due: doc-pipeline

docs(ucs-operation): Update reference from kernel to boot manager
  doc/ucs-operation/system-administration/kernel.rst
Due: doc-pipeline

docs(ucs-operation): Add German translation for grub manager
  doc/ucs-operation/locales/de/LC_MESSAGES/changelog.po
  doc/ucs-operation/locales/de/LC_MESSAGES/system-administration.po
  doc/ucs-operation/locales/de/LC_MESSAGES/ucr-variable-reference.po
  doc/ucs-operation/spelling_wordlist_de
Due: doc-pipeline

docs(ucs-operation): Add structure for proxy configuration
  doc/ucs-operation/system-administration/index.rst
  doc/ucs-operation/system-administration/proxy.rst
Due: doc-pipeline

docs(ucs-operation): Original content for proxy access configuration
  doc/ucs-operation/system-administration/proxy.rst
Due: doc-pipeline

docs(ucs-operation): Rework proxy configuration content
  doc/ucs-operation/system-administration/proxy.rst
Due: doc-pipeline

docs(ucs-operation): Add UCR variables for proxy configuration
  doc/ucs-operation/ucr-variable-reference.rst
Due: doc-pipeline

docs(ucs-operation): Add changelog for proxy configuration
  doc/ucs-operation/changelog.rst
Due: doc-pipeline

docs(ucs-operation): Add German translation for proxy configuration
  doc/ucs-operation/locales/de/LC_MESSAGES/changelog.po
  doc/ucs-operation/locales/de/LC_MESSAGES/system-administration.po
  doc/ucs-operation/locales/de/LC_MESSAGES/ucr-variable-reference.po
Due: doc-pipeline

fix: Handle concurrent modification LDAP errors as HTTP 503 in UDM REST API
  doc/errata/staging/univention-directory-manager-rest.yaml
  management/univention-directory-manager-rest/debian/changelog
  management/univention-directory-manager-rest/src/univention/admin/rest/module.py
  management/univention-directory-manager-rest/unittests/test_handle_udm_errors.py
Due: deb-pipeline, errata validation

chore(wireshark): announce security erratum 1794
  doc/errata/published/2026-02-25_1794_wireshark.yaml
Due: none

chore(python-django): announce security erratum 1793
  doc/errata/published/2026-02-25_1793_python-django.yaml
Due: none

chore(libpng1.6): announce security erratum 1792
  doc/errata/published/2026-02-25_1792_libpng1.6.yaml
Due: none

chore(postgresql-15): announce security erratum 1393
  doc/errata/published/2026-02-25_1393_postgresql-15.yaml
Due: none

chore(libpng1.6): announce security erratum 1392
  doc/errata/published/2026-02-25_1392_libpng1.6.yaml
Due: none

chore(python-django): announce security erratum 1394
  doc/errata/published/2026-02-25_1394_python-django.yaml
Due: none

chore(univention-s4-connector): announce erratum 365
  doc/errata/published/2026-02-25_365_univention-s4-connector.yaml
Due: none

chore(univention-ad-connector): announce erratum 364
  doc/errata/published/2026-02-25_364_univention-ad-connector.yaml
Due: none

chore(libpng1.6): announce security erratum 361
  doc/errata/published/2026-02-25_361_libpng1.6.yaml
Due: none

chore(univention-mail-dovecot): announce erratum 363
  doc/errata/published/2026-02-25_363_univention-mail-dovecot.yaml
Due: none

chore(univention-lib): announce erratum 366
  doc/errata/published/2026-02-25_366_univention-lib.yaml
Due: none

chore(gnutls28): announce security erratum 360
  doc/errata/published/2026-02-25_360_gnutls28.yaml
Due: none

chore(libvpx): announce security erratum 362
  doc/errata/published/2026-02-25_362_libvpx.yaml
Due: none

chore(univention-management-console-module-diagnostic): announce erratum 367
  doc/errata/published/2026-02-25_367_univention-management-console-module-diagnostic.yaml
Due: none

Revert "fix: Handle concurrent modification LDAP errors as HTTP 503 in UDM REST API"
  doc/errata/staging/univention-directory-manager-rest.yaml
  management/univention-directory-manager-rest/debian/changelog
  management/univention-directory-manager-rest/src/univention/admin/rest/module.py
  management/univention-directory-manager-rest/unittests/test_handle_udm_errors.py
Due: deb-pipeline, errata validation

docs(ucs-operation): Add structure for package maintenance policy
  doc/ucs-operation/lifecycle/index.rst
  doc/ucs-operation/lifecycle/package-maintenance-policy.rst
Due: doc-pipeline

docs(ucs-operation): Original content for package maintenance policy
  doc/ucs-operation/lifecycle/package-maintenance-policy.rst
Due: doc-pipeline

docs(ucs-operation): Update cross-references for package maintenance policy
  doc/ucs-operation/lifecycle/package-installation-management.rst
  doc/ucs-operation/lifecycle/update-strategies.rst
Due: doc-pipeline

docs(ucs-operation): Rework package maintenance policy
  doc/ucs-operation/lifecycle/package-maintenance-policy.rst
Due: doc-pipeline

docs(ucs-operation): Add German translation for package maintenance policy
  doc/ucs-operation/locales/de/LC_MESSAGES/lifecycle.po
  doc/ucs-operation/spelling_wordlist_de
Due: doc-pipeline

docs(ucs-operation): Add structure for software monitor
  doc/ucs-operation/lifecycle/index.rst
  doc/ucs-operation/lifecycle/software-monitor.rst
Due: doc-pipeline

docs(ucs-operation): Add images for software monitor
  doc/ucs-operation/images/software_softwaremonitor-de.png
  doc/ucs-operation/images/software_softwaremonitor.png
Due: doc-pipeline

docs(ucs-operation): Original content for software monitor
  doc/ucs-operation/lifecycle/software-monitor.rst
Due: doc-pipeline

docs(ucs-operation): Rework software monitor
  doc/ucs-operation/lifecycle/software-monitor.rst
Due: doc-pipeline

docs(ucs-operation): Add changelog for package maintenance policy and software monitor
  doc/ucs-operation/changelog.rst
Due: doc-pipeline
