Repository univention/univention-corporate-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: prepare ucslint, doc-pipeline, deb-pipeline, errata validation

Path conditions:
  prepare ucslint: any of: packaging/ucslint/**/*
  doc-pipeline: any of: doc/[^e]*/**/*, doc/e[^r]*/**/*, doc/er[^r]*/**/*, doc/err[^a]*/**/*, doc/erra[^t]*/**/*, doc/errat[^a]*/**/*, doc/errata?*/**/*
  deb-pipeline: any of: [^dt]*/*/**/*, d[^o]*/*/**/*, do[^c]*/*/**/*, doc?*/*/**/*, t[^e]*/*/**/*, te[^s]*/*/**/*, tes[^t]*/*/**/*, test?*/*/**/*, test/generate-appliance/**/*, test/ucs-test/**/*, test/ucs-test-tools/**/*, test/univention-demo-configuration/**/*
  errata validation: any of: doc/errata/staging/*.yaml

Bug #55331: Updated YAML for univention-saml
  doc/errata/staging/univention-saml.yaml
Due: errata validation

Bug #54354: Add bibliography
  doc/architecture/bibliography.rst
  doc/architecture/conf.py
  doc/architecture/contents.rst
Due: doc-pipeline

Bug #54354: Add introduction for components
  doc/architecture/components/index.rst
  doc/architecture/contents.rst
Due: doc-pipeline

Bug #54354: Add structure for components and services
  doc/architecture/components/app-center.rst
  doc/architecture/components/command-line.rst
  doc/architecture/components/file-print.rst
  doc/architecture/components/index.rst
  doc/architecture/components/management-system.rst
  doc/architecture/components/portal.rst
  doc/architecture/contents.rst
  doc/architecture/services/authentication.rst
  doc/architecture/services/docker.rst
  doc/architecture/services/email.rst
  doc/architecture/services/file.rst
  doc/architecture/services/hooks.rst
  doc/architecture/services/index.rst
  doc/architecture/services/ldap.rst
  doc/architecture/services/listener.rst
  doc/architecture/services/monitoring.rst
  doc/architecture/services/networking.rst
  doc/architecture/services/portal.rst
  doc/architecture/services/print.rst
  doc/architecture/services/rest-api.rst
  doc/architecture/services/samba.rst
  doc/architecture/services/ucr.rst
  doc/architecture/services/umc.rst
Due: doc-pipeline

Bug #54354: Set release to 5.0-2
  doc/architecture/conf.py
Due: doc-pipeline

Bug #54354: Use abbreviations explicitly
  doc/abbreviations.txt
  doc/architecture/conf.py
Due: doc-pipeline

Issue #1333: remove purgeDate workaround
  test/utils/ram/utils-ram.sh
Due: none

Bug #55396: pixman 0.36.0-1+deb10u1
  doc/errata/staging/pixman.yaml
Due: errata validation

Bug #55397: sudo 1.8.27-1+deb10u4
  doc/errata/staging/sudo.yaml
Due: errata validation

Bug #55398: glibc 2.24-11+deb9u5
  doc/errata/staging/glibc.yaml
Due: errata validation

Bug #55383: Add univention-keycloak to role-server-common
  base/univention-server/debian/changelog
  base/univention-server/debian/control
  services/univention-keycloak/scripts/univention-keycloak
Due: deb-pipeline

Bug #55383: Use https, use binddn for appcenter integration, require SAML metadata URL
  services/univention-keycloak/scripts/univention-keycloak
Due: deb-pipeline

test(udm-rest): add test case which checks compatibility with python-udm-rest-api-client
  test/ucs-test/tests/73_udm-rest/04_python_udm_api_client_compatibility
Due: deb-pipeline

fixup! test(udm-rest): add test case which checks compatibility with python-udm-rest-api-client
  test/ucs-test/debian/control
Due: deb-pipeline

fix(monitoring): restrict monitoring UMC flavor to necessary UDM commands
  doc/errata/staging/univention-monitoring-client.yaml
  monitoring/univention-monitoring-client/debian/changelog
  monitoring/univention-monitoring-client/umc/udm-monitoring.xml
Due: deb-pipeline, errata validation

chore(univention-monitoring-client): update advisory
  doc/errata/staging/univention-monitoring-client.yaml
Due: errata validation

fixup! fix(monitoring): restrict monitoring UMC flavor to necessary UDM commands
  test/ucs-test/debian/control
Due: deb-pipeline

fixup! Bug #53538: Added tests for top/query
  test/ucs-test/tests/60_umc/22_test_umc_top_module.py
Due: deb-pipeline

Bug #55184: added school multiserver job
  test/scenarios/base/ucs-school-multiserver-joined-primary-school1.cfg
  test/utils/start-ucs-school-multiserver-joined-kvm.sh
Due: none

fixup! Bug #55184: added school multiserver job
  test/scenarios/base/ucs-school-multiserver-joined-primary-school1.cfg
Due: none

fix(umc-saml): handle duplicated SAML messages as one
  management/univention-management-console/univention-management-console-web-server
Due: deb-pipeline

refactor[gen-app]: Cleanup implementation
  test/generate-appliance/debian/changelog
Due: deb-pipeline

Bug #55381: squid3 ANNOUNCE
  doc/errata/published/2022-11-09_1333_squid3.yaml
Due: none

Bug #55341: univention-monitoring-client ANNOUNCE
  doc/errata/published/2022-11-09_479_univention-monitoring-client.yaml
Due: none

Bug #55396: pixman ANNOUNCE
  doc/errata/published/2022-11-09_477_pixman.yaml
Due: none

Bug #55397: sudo ANNOUNCE
  doc/errata/published/2022-11-09_478_sudo.yaml
Due: none

fixup! Bug #55184: added school multiserver job
  test/scenarios/base/ucs-school-multiserver-joined-primary-school1.cfg
  test/scenarios/kvm-templates/README.md
  test/scenarios/kvm-templates/joined-kvm-templates.cfg
  test/scenarios/kvm-templates/role-kvm-templates.cfg
  test/scenarios/kvm-templates/ucs-school-multiserver-joined.cfg
  test/scenarios/kvm-templates/ucs-school-performance-env1.cfg
Due: none

Bug #55406: Advisory
  doc/errata/staging/samba.yaml
Due: errata validation

Bug #55407: Advisory
  doc/errata/staging/samba.yaml
Due: errata validation

fixup! Bug #55184: added school multiserver job
  test/scenarios/kvm-templates/joined-kvm-templates.cfg
Due: none

feat(udm-rest openapi): describe nested properties / subsyntaxes in OpenAPI schema
  management/univention-directory-manager-modules/debian/changelog
  management/univention-directory-manager-modules/modules/univention/admin/syntax.py
  management/univention-directory-manager-modules/modules/univention/admin/types.py
  test/ucs-test/tests/73_udm-rest/03_complex_syntax_type.py
Due: deb-pipeline

feat(udm-rest): enhance OpenAPI schema
  doc/errata/staging/univention-directory-manager-modules.yaml
  doc/errata/staging/univention-directory-manager-rest.yaml
  management/univention-directory-manager-rest/src/univention/admin/rest/module.py
Due: deb-pipeline, errata validation

perf(udm-rest): drop properties which are not requested
  management/univention-directory-manager-rest/src/univention/admin/rest/module.py
Due: deb-pipeline

fix(udm): add property information to email address validation
  doc/errata/staging/univention-directory-manager-modules.yaml
  management/univention-directory-manager-modules/debian/changelog
  management/univention-directory-manager-modules/modules/univention/admin/handlers/__init__.py
  management/univention-directory-manager-modules/modules/univention/admin/syntax.py
Due: deb-pipeline, errata validation

Bug #55096: enhance OpenAPI schema
  doc/errata/staging/univention-directory-manager-rest.yaml
  management/univention-directory-manager-rest/debian/changelog
Due: deb-pipeline, errata validation

fix(udm nagios/service): fix missing call to super `open()` in `nagios/service`
  doc/errata/staging/univention-directory-manager-modules.yaml
  management/univention-directory-manager-modules/debian/changelog
  management/univention-directory-manager-modules/modules/univention/admin/handlers/nagios/service.py
  management/univention-directory-manager-modules/modules/univention/admin/nagios.py
Due: deb-pipeline, errata validation

fix(udm-rest): make sure unmapping of saml LDAPAttributes always unmap a mappable value
  doc/errata/staging/univention-saml.yaml
  management/univention-management-console/92univention-management-console-web-server.inst
  saml/univention-saml/debian/changelog
  saml/univention-saml/modules/univention/admin/handlers/saml/serviceprovider.py
  test/utils/utils-school-idbroker.sh
Due: deb-pipeline, errata validation
