Repository univention/univention-corporate-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: prepare ucslint, doc-pipeline, deb-pipeline, errata validation

prepare ucslint:
  stage: prepare
  interruptible: false
  variables:
    KANIKO_BUILD_CONTEXT: packaging/ucslint
    KANIKO_ARGS: --build-arg ucs=$ucs --cache=true

doc-pipeline:
  stage: build
  needs:
  - job: generate-config
  trigger:
    include:
    - artifact: generated-config-doc.yml
      job: generate-config
    strategy: depend
    forward:
      pipeline_variables: true

deb-pipeline:
  stage: build
  needs:
  - job: generate-config
  - job: prepare aptly
  - job: prepare ucslint
    optional: true
  trigger:
    include:
    - artifact: generated-config-deb.yml
      job: generate-config
    strategy: depend
    forward:
      pipeline_variables: true

errata validation:
  stage: build
  tags:
  - omar
  resource_group: omar
  needs: []
  variables:
    VAULT_AUTH_ROLE: ucs-production
  secrets:
    BUGZILLA_CFG:
      vault:
        engine:
          name: kv-v2
          path: secret
        path: dist/repo-ng/production/bugzilla
        field: cfg
  script:
  ...

Migration 22_top_process_killing to pytest
  test/ucs-test/tests/60_umc/22_top_process_killing.py
Due: deb-pipeline

YAML Bug #54987
  doc/errata/staging/univention-directory-manager-modules.yaml
Due: errata validation

fixup! Migration 22_top_process_killing to pytest
  test/ucs-test/tests/60_umc/22_top_process_killing.py
Due: deb-pipeline

Issue #1284: school template
  test/scenarios/kvm-templates/schoolenv-with-130k-users-kvm-template.cfg
  test/utils/utils-school.sh
Due: none

fixup! fixup! Migration 22_top_process_killing to pytest
  test/ucs-test/tests/60_umc/22_top_process_killing.py
Due: deb-pipeline

fixup! Bug #54497: resolving of nested groups in /var/cache/univention-portal/groups.json
  management/univention-portal/unittests/test_reloader.py
Due: deb-pipeline

Bug #54495: unset nameserver3
  test/scenarios/autotest-076-update-member-no-samba.cfg
  test/scenarios/autotest-077-update-member-s4.cfg
Due: none

Bug #54118: ignore-traceback
  test/ucs-test/tests/99_end/grep_traceback.py
Due: deb-pipeline

Issue #9: update template
  test/utils/create-id-broker-performance-tests-template-cfg.py
Due: none

Issue #9: update template
  test/scenarios/autotest-247-ucsschool-id-broker-perf-kvm.cfg
Due: none

perf[school template]: Run in parallel
  test/scenarios/kvm-templates/schoolenv-with-130k-users-kvm-template.cfg
  test/utils/utils-school.sh
Due: none

Issue #9: update template
  test/utils/ucsschool-start-id-broker-performance-env.sh
Due: none

Bug #55253: bind9 1:9.11.5.P4+dfsg-5.1+deb10u8A~5.0.2.202210101801
  doc/errata/staging/bind9.yaml
Due: errata validation

Issue #9: update template
  test/utils/utils-school-idbroker.sh
Due: none

Issue #1284: school template
  test/utils/utils-school.sh
Due: none

fixup! Bug #54118: ignore-traceback
  test/ucs-test/tests/99_end/grep_traceback.py
Due: deb-pipeline

Bug #38887: enhance exception handling of dockertest.py
  test/ucs-test/tests/80_docker/dockertest.py
Due: deb-pipeline

fixup! Bug #51598: use python3 in tests/80_docker
  test/ucs-test/tests/80_docker/create_appcenter_json.py
Due: deb-pipeline

Bug #38887: add command ouput to texception handling in dockertest.py
  test/ucs-test/tests/80_docker/dockertest.py
Due: deb-pipeline

fixup! Bug #54381: pyupgrade --py37-plus --keep-percent-format $(python_files)
  test/ucs-test/tests/20_appcenter/12_check_apps_ini_all_fields
Due: deb-pipeline

fixup! Bug #45888 UDL: add Python 3 Migration chapter
  doc/developer-reference/listener/details.rst
Due: doc-pipeline

Bug #55224: fix translation of UDM REST API
  base/univention-lib/debian/changelog
  base/univention-lib/debian/control
  base/univention-lib/python/i18n.py
  base/univention-lib/unittests/test_i18n.py
  management/univention-directory-manager-rest/debian/changelog
  management/univention-directory-manager-rest/debian/control
  management/univention-directory-manager-rest/src/univention/admin/rest/__main__.py
  management/univention-directory-manager-rest/src/univention/admin/rest/de.po
  management/univention-directory-manager-rest/src/univention/admin/rest/server/__init__.py
Due: deb-pipeline

YAML Bug #55224
  doc/errata/staging/univention-directory-manager-rest.yaml
  doc/errata/staging/univention-lib.yaml
Due: errata validation

Bug #55224: add test case for different languages
  management/univention-directory-manager-rest/src/univention/admin/rest/client/__main__.py
  test/ucs-test/bin/udm-test-rest
  test/ucs-test/tests/73_udm-rest/00_general_tests.py
  test/ucs-test/univention/testing/udm.py
Due: deb-pipeline

WIP: experiments to implement Open Policy Agent rules
  management/univention-directory-manager-rest/src/univention/admin/rest/module.py
Due: deb-pipeline

fixup! Bug #55224: add test case for different languages
  management/univention-directory-manager-rest/src/univention/admin/rest/client/__main__.py
Due: deb-pipeline

Issue #9: update template
  test/scenarios/autotest-247-ucsschool-id-broker-perf-kvm.cfg
  test/utils/ucsschool-start-id-broker-performance-env.sh
Due: none

Bug #54527: execute 60_umc/80_udm_license with Python 3 to see test failures
  test/ucs-test/tests/60_umc/80_udm_license
  test/ucs-test/tests/60_umc/umc.py
Due: deb-pipeline

Path conditions:
  prepare ucslint: any of: packaging/ucslint/**/*
  doc-pipeline: any of: doc/[^e]*/**/*, doc/e[^r]*/**/*, doc/er[^r]*/**/*, doc/err[^a]*/**/*, doc/erra[^t]*/**/*, doc/errat[^a]*/**/*, doc/errata?*/**/*
  deb-pipeline: any of: [^dt]*/*/**/*, d[^o]*/*/**/*, do[^c]*/*/**/*, doc?*/*/**/*, t[^e]*/*/**/*, te[^s]*/*/**/*, tes[^t]*/*/**/*, test?*/*/**/*, test/generate-appliance/**/*, test/ucs-test/**/*, test/ucs-test-tools/**/*, test/univention-demo-configuration/**/*
  errata validation: any of: doc/errata/staging/*.yaml
