Repository univention/univention-corporate-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build ucslint, doc-pipeline, deb-pipeline, errata validation

build ucslint:
  stage: prepare
  variables:
    KANIKO_BUILD_CONTEXT: packaging/ucslint
    KANIKO_ARGS: --build-arg ucs=$ucs --cache=true

doc-pipeline:
  stage: build
  needs:
  - job: generate-config
  trigger:
    include:
    - artifact: generated-config-doc.yml
      job: generate-config
    strategy: depend
    forward:
      pipeline_variables: true

deb-pipeline:
  stage: build
  needs:
  - job: generate-config
  - job: prepare aptly
  - job: select ucslint
  variables:
    UCSLINT: $UCSLINT
  trigger:
    include:
    - artifact: generated-config-deb.yml
      job: generate-config
    strategy: depend
    forward:
      pipeline_variables: true

errata validation:
  stage: prepare
  tags:
  - omar
  resource_group: omar
  needs: []
  variables:
    VAULT_AUTH_ROLE: ucs-production
  secrets:
    BUGZILLA_CFG:
      vault:
        engine:
          name: kv-v2
          path: secret
        path: dist/repo-ng/production/bugzilla
        field: cfg
  script:
  ...

feat(heimdal): convert heimdal-kdc to native systemd units
  base/univention-heimdal/15univention-heimdal-kdc.inst
  base/univention-heimdal/conffiles/etc/init.d/heimdal-kdc
  base/univention-heimdal/debian/rules
  base/univention-heimdal/debian/ucslint.overrides
  base/univention-heimdal/debian/univention-heimdal-kdc.heimdal-kdc.service
  base/univention-heimdal/debian/univention-heimdal-kdc.heimdal-kpasswdd.service
  base/univention-heimdal/debian/univention-heimdal-kdc.maintscript
  base/univention-heimdal/debian/univention-heimdal-kdc.postinst
  base/univention-heimdal/debian/univention-heimdal-kdc.univention-config-registry
  management/univention-ldap/univention-backup2master
Due: deb-pipeline

test(utils): reset RabbitMQ database for the school update to UCS 5.3
  test/scenarios/update-testing/update-ucs-school-multiserver.cfg
  test/utils/utils.sh
Due: none

refactor(quota): drop /etc/init.d/quotarpc UCR template
  base/univention-quota/conffiles/etc/init.d/quotarpc
  base/univention-quota/debian/ucslint.overrides
  base/univention-quota/debian/univention-quota.maintscript
  base/univention-quota/debian/univention-quota.univention-config-registry
Due: deb-pipeline

feat(directory-policy): convert to native systemd unit
  management/univention-directory-policy/debian/univention-directory-policy.init
  management/univention-directory-policy/debian/univention-directory-policy.install
  management/univention-directory-policy/debian/univention-directory-policy.maintscript
  management/univention-directory-policy/debian/univention-directory-policy.postinst
  management/univention-directory-policy/debian/univention-directory-policy.service
  management/univention-directory-policy/univention-directory-policy
Due: deb-pipeline

fix(postgrey): drop /etc/init.d/postgrey UCR template
  mail/univention-postgrey/conffiles/etc/init.d/postgrey
  mail/univention-postgrey/debian/univention-postgrey.maintscript
  mail/univention-postgrey/debian/univention-postgrey.postinst
  mail/univention-postgrey/debian/univention-postgrey.univention-config-registry
Due: deb-pipeline

fix(firewall): parse Docker port bindings from inspect output
  base/univention-firewall/conffiles/etc/security/packetfilter.d/20_docker.sh
  doc/changelog/staged/base.59647.rst
Due: doc-pipeline, deb-pipeline

fix(dovecot): drop /etc/init.d/dovecot UCR template
  mail/univention-mail-dovecot/conffiles/etc/init.d/dovecot
  mail/univention-mail-dovecot/debian/ucslint.overrides
  mail/univention-mail-dovecot/debian/univention-mail-dovecot.maintscript
  mail/univention-mail-dovecot/debian/univention-mail-dovecot.univention-config-registry
Due: deb-pipeline

test(update-scenarios): fix old-template data failing diagnostics
  test/scenarios/update-testing/update-from-1.2-backup2master.cfg
  test/scenarios/update-testing/update-from-2.4.cfg
Due: none

test(checks): ignore fetchmail.service in failed-systemd-service check
  test/ucs-test/tests/00_checks/08_failed_systemd_service.py
Due: deb-pipeline

test(utils): invalidate nscd hosts cache before running ucs-test
  test/utils/utils.sh
Due: none

test(utils): wait for the updater's deferred restart before running ucs-test
  test/utils/utils.sh
Due: none

fix(admindiary): handle concurrent creation of the same event
  services/univention-admin-diary/python/admindiary/backend.py
Due: deb-pipeline

test(coredumps): disable ignoring Python 3
  test/ucs-test/tests/99_end/07_coredumps.py
Due: deb-pipeline

test(keycloak): reload apache after external fqdn config
  test/utils/utils-keycloak.sh
Due: none

refactor(base-files): drop /etc/init.d/networking UCR template
  base/univention-base-files/conffiles/etc/init.d/networking
  base/univention-base-files/debian/ucslint.overrides
  base/univention-base-files/debian/univention-base-files.maintscript
  base/univention-base-files/debian/univention-base-files.univention-config-registry
Due: deb-pipeline

test(utils): skip country remap when the tool does not exist
  test/utils/utils.sh
Due: none

fix(umc): adjust to SQLAlchemy 2
  management/univention-management-console/src/univention/management/console/session_db.py
Due: deb-pipeline

test(grep-traceback): re-ignore known rndc reconfig traceback
  test/ucs-test/tests/99_end/grep_traceback.py
Due: deb-pipeline

ci(utils): replace resize2fs init script with systemd service unit
  test/utils/base_appliance.sh
Due: none

fix(nagios): drop /etc/init.d/nagios-nrpe-server UCR template
  monitoring/univention-nagios/conffiles/etc/init.d/nagios-nrpe-server
  monitoring/univention-nagios/debian/ucslint.overrides
  monitoring/univention-nagios/debian/univention-nagios-client.maintscript
  monitoring/univention-nagios/debian/univention-nagios-client.postinst
  monitoring/univention-nagios/debian/univention-nagios-client.univention-config-registry
  monitoring/univention-nagios/nagios-client.py
Due: deb-pipeline

fix(passwordreset): store token timestamps with timezone
  management/univention-self-service/debian/univention-self-service-master.postinst
  management/univention-self-service/umc/python/passwordreset/__init__.py
  management/univention-self-service/umc/python/passwordreset/tokendb.py
Due: deb-pipeline

test(mail): retry IMAP login after username modrdn
  test/ucs-test/tests/40_mail/42_dovecot_rename_user.py
Due: deb-pipeline

fix(postfix): drop /etc/init.d/postfix UCR template
  mail/univention-antivir-mail/debian/univention-antivir-mail.postinst
  mail/univention-mail-postfix/conffiles/etc/init.d/postfix
  mail/univention-mail-postfix/debian/ucslint.overrides
  mail/univention-mail-postfix/debian/univention-mail-postfix.maintscript
  mail/univention-mail-postfix/debian/univention-mail-postfix.univention-config-registry
  mail/univention-mail-postfix/debian/univention-mail-server.postinst
  mail/univention-mail-postfix/usr/lib/univention-server/server_password_change.d/50univention-mail-server
Due: deb-pipeline

ci(jenkins): do not ship dhclient leases in kvm templates and appliances
  test/utils/base_appliance.sh
Due: none

test(utils): explicit error message when apt sources are empty
  test/utils/utils.sh
Due: none

fix(univention-directory-manager-rest): Handle malformed auth cache entries gracefully
  doc/errata/staging/univention-directory-manager-rest.yaml
  management/univention-directory-manager-rest/debian/changelog
  management/univention-directory-manager-rest/src/univention/admin/rest/module.py
  management/univention-directory-manager-rest/unittests/test_authenticate_cache.py
Due: deb-pipeline, errata validation

apply review suggestions
  doc/errata/staging/univention-directory-manager-rest.yaml
  management/univention-directory-manager-rest/debian/changelog
Due: deb-pipeline, errata validation

DROPME: use interim UCS 5.3 KVM and EC2 templates
  test/utils/start-test.sh
Due: none

build(policy): update rust library dependencies
  base/univention-policy/Cargo.toml
  base/univention-policy/build.rs
  base/univention-policy/debian/control
Due: deb-pipeline

DROPME: ignore timing errors for now due to python license and overreached license
  test/ucs-test/tests/59_udm/76_test_udm_blocklistentries_performance.py
Due: deb-pipeline

DROPME: switch to test appcenter
  base/univention-system-setup/umc/python/setup/util.py
  management/univention-appcenter/python/appcenter-dev/actions/local_appcenter.py
  management/univention-appcenter/python/appcenter/app_cache.py
  test/scenarios/autotest-090-master-no-samba.cfg
  test/scenarios/autotest-090-master-part-II-no-samba.cfg
  test/scenarios/autotest-091-master-part-II-s4.cfg
  test/scenarios/autotest-091-master-s4.cfg
  test/scenarios/autotest-092-backup-no-samba.cfg
  test/scenarios/autotest-093-backup-s4.cfg
  test/scenarios/autotest-094-slave-no-samba.cfg
  test/scenarios/autotest-095-slave-s4.cfg
  test/scenarios/autotest-096-member-no-samba.cfg
  test/scenarios/autotest-097-member-s4.cfg
  test/scenarios/delegated-administration-testing/primary-school.cfg
  test/scenarios/install-testing/school-scope.cfg
  test/scenarios/install-testing/school.cfg
  test/scenarios/s4-connector/master-only-released-errata-s4connector.cfg
  test/scenarios/s4-connector/master-s4connector.cfg
Due: deb-pipeline

DROPME: UDN abort analysis
  management/univention-directory-notifier/debian/rules
  management/univention-directory-notifier/src/notify.c
  test/ucs-test/tests/99_end/07_coredumps.py
Due: deb-pipeline

DROPME: ignore non-systemd units
  test/ucs-test/tests/99_end/grep_traceback.py
Due: deb-pipeline

DROPME: UCS 5.3 ALPHA release
  base/univention-base-files/conffiles/etc/issue
  base/univention-base-files/conffiles/etc/issue.net
  base/univention-base-files/conffiles/etc/welcome.msg
  base/univention-base-files/debian/univention-base-files.univention-config-registry
  base/univention-system-setup/conffiles/etc/motd.setup
  base/univention-system-setup/debian/univention-system-setup-boot.univention-config-registry
  base/univention-updater/debian/univention-updater.postinst
  base/univention-updater/modules/univention/updater/tools.py
Due: deb-pipeline

build(config-registry): update rust library dependencies
  base/univention-config-registry/Cargo.toml
  base/univention-config-registry/build.rs
  base/univention-config-registry/debian/control
Due: deb-pipeline

DROPME: UCS@school 5.3
  test/scenarios/install-testing/school-dev.cfg
  test/scenarios/install-testing/school-scope.cfg
  test/scenarios/install-testing/school.cfg
  test/utils/utils.sh
Due: none

DROPME: test(setup): update system to latest omar.knut
  test/utils/utils.sh
Due: none

ci(jenkins): Fix jenkins personal environments on Proxmox
  test/scenarios/base/ucs-master-backup-joined.cfg
  test/scenarios/base/ucs-master-slave-joined.cfg
  test/scenarios/keycloak/keycloak-2backups.cfg
  test/scenarios/keycloak/keycloak-different-path.cfg
  test/scenarios/keycloak/keycloak-external-fqdn.cfg
  test/scenarios/keycloak/keycloak-mariadb.cfg
  test/scenarios/keycloak/keycloak-mixed.cfg
  test/scenarios/keycloak/keycloak-simple.cfg
  test/scenarios/keycloak/keycloak-upgrade.cfg
  test/scenarios/ox-connector/ox-connector-ox8.cfg
  test/scenarios/ox-connector/ox-connector-single.cfg
Due: none

Revert "DROPME: disable dovecot auth cache in tests"
  test/ucs-test/tests/40_mail/42_dovecot_rename_mail_primary_address.py
  test/ucs-test/tests/40_mail/42_dovecot_rename_user.py
  test/ucs-test/tests/40_mail/43_dovecot_shared_folder_create_subfolder_with_acls.py
Due: deb-pipeline

Path conditions:
  build ucslint: any of: packaging/ucslint/**/*
  doc-pipeline: any of: doc/[^e]*/**/*, doc/e[^r]*/**/*, doc/er[^r]*/**/*, doc/err[^a]*/**/*, doc/erra[^t]*/**/*, doc/errat[^a]*/**/*, doc/errata?*/**/*
  deb-pipeline: any of: [^dt.]*/*/**/*, d[^o]*/*/**/*, do[^c]*/*/**/*, doc?*/*/**/*, t[^e]*/*/**/*, te[^s]*/*/**/*, tes[^t]*/*/**/*, test?*/*/**/*, test/generate-appliance/**/*, test/ucs-test/**/*, test/ucs-test-tools/**/*, test/univention-demo-configuration/**/*
  errata validation: any of: doc/errata/staging/*.yaml
